{% extends "layouts/main.html" %}

{% set _showFooterMVPLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Your business" %}
{% set serviceName = "Land and farm service" %}


{% if data.view == "ext" and data.release != "concept" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "SFD Home/Business Page",
"id": "bp02",
"url": "business-home?r=t&release=b1",
"release": "Buffalo 1.0 MVP",
"variants": [
{
"name": "SFD Home/Business Page (full permissions - default)",
"url": "business-home?r=t&release=b1&permissionsMVP=full"
},
{
"name": "SFD Home/Business Page (amend permissions)",
"url": "business-home?r=t&release=b1&permissionsMVP=amend"
},
{
"name": "SFD Home/Business Page (view permissions)",
"url": "business-home?r=t&release=b1&permissionsMVP=view"
}

],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [

],
"notes": [
"Conditional link text: the visible link text for 'View and update your business details' should change according to the
permission level. See variants. Note that full and amend permissions have the same link text."

]

}
%}

{% else %}

{% endif %}

{% block beforeContent %}

{% include "_common/phase-banner-2.html" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    {% if data.release == "b1" %}
    {% set _hideAccountLink = true %}
    {% endif %}
    {% include "_common/login-nav-2.html" %}

    <a class="govuk-back-link" href="businesses-list">Back to your businesses</a>

  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set _selectedBusiness = myData.selectedBusiness %}

    {% if data.access == "view" %}
    <span class="govuk-caption-xl">Tom Smyth<br></span>
    {% else %}
    <span class="govuk-caption-xl">{{data.user.name}}<br></span>
    {% endif %}

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{_selectedBusiness.name}}
    </h1>
    <p class="govuk-caption-m govuk-!-margin-bottom-7">Single business identifier (SBI): {{_selectedBusiness.sbiNumber}}
      <!-- <br>Customer reference number (CRN): {{data.user.crn}} -->
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set _schemesCards = [
    {
    "name": "Get funding to improve animal health and welfare",
    "link": "vets-manage-your-claims",
    "release": "b1"
    },
    {
    "name": "Calf housing for health and welfare grant",
    "link": "/_common/not-testing",
    "release": "concept"
    },
    {
    "name": "Sustainable farming incentive",
    "link": "/_common/not-testing",
    "release": "concept"
    },
    {
    "name": "Countryside stewardship",
    "link": "/_common/not-testing",
    "release": "concept"
    }
    ] %}

    <!--<h2 class="govuk-heading-m">Your schemes and grants</h2>

    <div class="gem-c-cards card-page">
      <ul class="gem-c-cards__list gem-c-cards__list-cards">

        {% for _schemeCard in _schemesCards %}
        {% if (data.release == "b1" and _schemeCard.release == "b1") or data.release != "b1" %}
        <li class="gem-c-cards__list-item-variant">
            <div class="gem-c-cards__list-item-wrapper-variant">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s link-style govuk-link" style="font-weight: normal"><a class="govuk-link govuk-link--no-visited-state link-style" href="{{_schemeCard.link}}">{{_schemeCard.name}}</a></h2> 
            </div>
          </a> 
        </li>
        {% endif %}
        {% endfor %}

      </ul>
    </div>-->




    <h3 class="govuk-heading-m">
      Business details
    </h3>
    {% if data.permissionsMVP == "view" %}
    <p>
      <a class="govuk-link--no-visited-state" href="details-business-details">
        View your business details
      </a>
    </p>
    {% elif data.permissionsMVP == "amend" %}
    <p>
      <a class="govuk-link--no-visited-state" href="details-business-details">
        View and update your business details
      </a>
    </p>
    {% else %}
    <p>
      <a class="govuk-link--no-visited-state" href="details-business-details">
        View and update your business details
      </a>
    </p>

    <p>
      <a class="govuk-link--no-visited-state" href="doc-upload-overview?filesUploaded=no" rel="noreferrer noopener" target="_blank">
        View and submit documents (opens in new tab)
      </a>
    </p>
    {% endif %}

    <h3 class="govuk-heading-m">
      Personal details
    </h3>
    <p>
      <a class="govuk-link--no-visited-state" href="details-personal-details">
        View and update your personal details
      </a>
    </p>



    {% if data.release != "b1" and myData.emmaserrors == "true" %}
    <p class="govuk-link"><a href="test-page" class="govuk-link">Route to test page</a></p>
    {% endif %}


  </div>

</div>

{% endblock %}