{% extends "layouts/main.html" %}

{% set pageName="Uploaded documents for" %}


{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% block beforeContent %}

{% if data.view != "int" %}

{% set serviceName = "Land and farm service" %}

{% set _hideAccountLink = true %}
{% include "_common/login-nav-3.html" %}
{% else %}
{% include "_common/login-nav-internal.html" %}
{% endif %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set _selectedBusiness = myData.selectedBusiness %}

    {% if data.filesUploaded == "yes" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          You have successfully uploaded the following documents:
        </h3>
        {% if data['doc-upload-subject'] == "Your business changes, complaints, general appeals or probate" %}
        <ul class="govuk-list govuk-list--bullet">
          <li>file.jpeg</li>
        </ul>
        {% else %}
        <ul class="govuk-list govuk-list--bullet">
          <li>fencepic1.jpeg</li>
          <li>fencereceipt1.pdf</li>
        </ul>
        {% endif %}
        {% if data['doc-upload-subject'] == "Your business changes, complaints, general appeals or probate" %}
        <p class="govuk-body govuk-!-font-weight-bold">
          Submission reference: 1743259315
        </p>
        {% else %}
        <p class="govuk-body govuk-!-font-weight-bold">
          Submission reference: 1733826312
        </p>
        {% endif %}
        <p class="govuk-body">
          We have emailed confirmation of this to you and all authorised users at the business.
        </p>
      </div>
    </div>
    {% endif %}

    <span class="govuk-caption-xl">{{data.user.name}}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Documents for {{_selectedBusiness.name}}</h1>
    <span class="govuk-caption-m">Single business identifier (SBI): {{_selectedBusiness.sbiNumber}}</span>

    <div class="govuk-inset-text">
      Keep your own copies of anything you send us.
    </div>

    <form action="doc-upload-valid-docs">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Upload one or more documents
      </button>
    </form>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If you cannot send documents online </span>
      </summary>
      <div class="govuk-details__text">
        You can also send them by email to <a class="govuk-link govuk-link--no-visited-state"
          href="#">ruralpayments@defra.gov.uk</a> or
        by post to:
        <br><br>
        Land and farm service<br>
        PO Box 352<br>
        Worksop<br>
        S80 9FG<br>
        <br>
        Please tell us your SBI which is at the top of this page.
        <br><br>
        We recommend you get proof of postage.
      </div>
    </details>
  </div>

  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Search and filters</h2>

    <div class="doc-upload--container">

      <div class="doc-upload-container--filters">
        <div class="govuk-form-group govuk-!-display-inline-block">
          <div class="govuk-date-input__item">
            <label class="govuk-label" for="width-20">
              Search
            </label>
            <input class="govuk-input govuk-input--width-20" id="width-20" name="width20" type="text">
          </div>
        </div>
        <div class="govuk-form-group govuk-!-display-inline-block">
          <label class="govuk-label" for="sort">
            Filter by subject
          </label>
          <select class="govuk-select" id="filtersubject" name="filtersubject" style="width: 10px">
            <option value="Agreement" selected="selected"> </option>
            <option value="published">Business, complaints and appeals</option>
            <option value="updated">Countryside Stewardship</option>
            <option value="comments">Delinked payments</option>
            <option value="views">Environmental Stewardship</option>
            <option value="comments">Grants</option>
            <option value="comments">Sustainable Farming Incentive</option>
          </select>
          <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Search
          </button>
        </div>
      </div>

      <p class="govuk-body"><a href="#" class="govuk-link govuk-link--no-visited-state">Clear filters</a></p>


    </div>



    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:20%">Date</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Subject</th>
          <th scope="col" class="govuk-table__header">File name</th>
          <th scope="col" class="govuk-table__header">Submission reference</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Action</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% if data['doc-upload-subject'] == "Your business changes, complaints, general appeals or probate" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 September 2025</td>
          <td class="govuk-table__cell">Business, complaints and appeals</td>
          <td class="govuk-table__cell">file.jpg</td>
          <td class="govuk-table__cell">1743259315</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
              href="doc-upload-view-file.html">View</a> | <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 September 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">fencepic1.jpg</td>
          <td class="govuk-table__cell">1733826312</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
              href="doc-upload-view-fence.html">View</a> | <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 September 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">fenccereceipt.pdf</td>
          <td class="govuk-table__cell">1733826312</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
              href="doc-upload-view-receipt.html">View</a> | <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a></td>
        </tr>
        {% elif data['doc-upload-cs-tag'] == "Capital claim" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 September 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">fencepic1.jpg</td>
          <td class="govuk-table__cell">1733826312</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
              href="doc-upload-view-fence.html">View</a> | <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 September 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">fenccereceipt.pdf</td>
          <td class="govuk-table__cell">1733826312</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
              href="doc-upload-view-receipt.html">View</a> | <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a></td>
        </tr>
        {% endif %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 August 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">tractor.xls</td>
          <td class="govuk-table__cell">1234567890</td>
          <td class="govuk-table__cell"> <a class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">22 March 2025</td>
          <td class="govuk-table__cell">Business, complaints and appeals</td>
          <td class="govuk-table__cell">complaintdetails.pdf</td>
          <td class="govuk-table__cell">1234567893</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11 December 2024</td>
          <td class="govuk-table__cell">Environmental Stewardship</td>
          <td class="govuk-table__cell">application.pdf</td>
          <td class="govuk-table__cell">1235468942</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 June 2024</td>
          <td class="govuk-table__cell">Business, complaints and appeals</td>
          <td class="govuk-table__cell">bizchange.pdf</td>
          <td class="govuk-table__cell">3694567897</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">20 January 2024</td>
          <td class="govuk-table__cell">Sustainable Farming Incentive</td>
          <td class="govuk-table__cell">amendment.pdf</td>
          <td class="govuk-table__cell">4268678971</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 October 2023</td>
          <td class="govuk-table__cell">Grants</td>
          <td class="govuk-table__cell">funding.pdf</td>
          <td class="govuk-table__cell">9652467834</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 July 2022</td>
          <td class="govuk-table__cell">Environmental Stewardship</td>
          <td class="govuk-table__cell">pilot.pdf</td>
          <td class="govuk-table__cell">4598326651</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        {% if data['doc-upload-subject'] != "Your business changes, complaints, general appeals or probate" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2021</td>
          <td class="govuk-table__cell">Environmental Stewardship</td>
          <td class="govuk-table__cell">CGA.pdf</td>
          <td class="govuk-table__cell">5478963258</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        {% endif %}
        {% if data.filesUploaded != "yes" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2021</td>
          <td class="govuk-table__cell">Delinked payments</td>
          <td class="govuk-table__cell">evidence-doc-final-v1.jpg</td>
          <td class="govuk-table__cell">5478963258</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2021</td>
          <td class="govuk-table__cell">Sustainable Farming Incentive</td>
          <td class="govuk-table__cell">amendment.pdf</td>
          <td class="govuk-table__cell">5478963258</td>
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>

</div>


{% endblock %}