{% extends "layouts/main.html" %}

<!-- Selected business -->
{% set _selectedBusiness = data.selectedBusiness %}
{% for _business in data.businesses %}
{% if data.business == _business.id %}
{% set _selectedBusiness = _business %}
{% endif %}
{% endfor %}


{% set _showEmailMeta = true %}
{% set _emailSubject = "Your Countryside Stewardship capital grant application is missing information for " + _selectedBusiness.name %}
{% set _serviceName = "Land and farm service" %}

{% set serviceName = "" %}

{% block pageTitle %}
Subject: {{_emailSubject}}
{% endblock %}

{% block content %}

{% set _selectedBusiness = myData.selectedBusiness %}

<style>
  .email-layout p,
  .email-layout h1,
  .email-layout h2,
  .email-layout table,
  .email-layout ul {
    font-family: Helvetica, Arial, sans-serif;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds email-layout">

    <p class="govuk-body">17 September 2025</p>
    <br>
    <p class="govuk-body">SBI: {{_selectedBusiness.sbiNumber}}</p>
    <p class="govuk-body">Application reference: 1457317</p>
    <p class="govuk-body">Our ref: CS cap grant miss info 1457317</p>
    <br><br>
    <p class="govuk-body">Dear {{data.user.name}},</p>

    <h2 class="govuk-heading-s">Countryside Stewardship capital grant application for Agile Farm Ltd - missing
      information</h2>

    <p class="govuk-body">Thank you for sending your Countryside Stewardship capital grant application. We need the
      following information to progress your application: evidence you have bought fencing. This could include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a photo showing the fencing on site</li>
      <li>a receipt or invoice </li>
      <li>a screenshot of your bank statement to show the payment</li>
    </ul>

    <p class="govuk-body">We need to receive this information by 27 September 2025. If we do not, or you don’t write to
      us to explain why you can’t send it by this deadline, we’ll issue your agreement offer including the eligible
      options only. If the application as a whole becomes ineligible, then we may have to reject it.</p>
    <h2 class="govuk-heading-s">What you need to do</h2>



    <p class="govuk-body">Please send us the information detailed above. The fastest way to get us the information is to <a class="govuk-link govuk-link--no-visited-state" href="doc-upload-sfd-sign-in">send it to us online using the new Land and farm service</a>.</p>

    <p class="govuk-body">If you cannot send the information online, you can attach it in a reply to this email, or post
      it to:
      <br><br>
      Rural payments agency<br>
      PO Box 324<br>
      Worksop<br>
      S95 1DF<br>
    </p>


    <p>Make sure you note your single business identifier (SBI) on anything you post us. You can find this at the top of
      this email.</p>

    <h2 class="govuk-heading-s">If you have any questions about this email</h2>

    <p class="govuk-body">You can call us on 0300 200 301 (Monday to Friday, 8:30am to 5pm) or email <a
        class="govuk-link" href="#">landandfarm@defra.gov.uk</a>.

    </p>

    <p class="govuk-body">Please tell us your SBI which is at the top of this email.</p>

    <p class="govuk-body">Yours sincerely</p>

    <p class="govuk-body">Marie Perkins</p>

    <p class="govuk-body">CS Operations</p>


  </div>

</div>

{% endblock %}

{% block footer %}

{{ govukFooter({
meta: {
items: [
{

}
],
html: [
_customFooterContent
],
visuallyHiddenTitle: "Footer links"
}
}) }}

{% endblock %}