{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% if data.view == "int" %}
{% set _showReleaseLinks = false %}
{% else %}
{% set _showReleaseLinks = false %}
{% endif %}

{% set _showIntExtLinks = true %}

{% set pageName = "fencereceipt1" %}
{% set serviceName = "Land and farm service" %}

<!--{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "Address (check) - personal details",
"id": "pd07",
"url": "personal-details-address-check?r=t&view=ext&release=b1&newChange=true",
"release": "Buffalo 1.0 MVP",
"variants": [],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
],

"notes": [
'The <strong>back</strong> link should take the user to their previous page, as described in - <a
  href="https://design-system.service.gov.uk/components/back-link/" class="govuk-link govuk-link--no-visited-state"
  rel="noreferrer noopener" target="_blank">GOV.UK Design System: Back link</a> as on the other pages within Buffalo.',
'The <strong>change</strong> link should take the user to the corresponding page that matches how they entered the
address. So, if the user entered the address with manual entry, take them to pd06. If they used the postcode lookup,
take them to pd16.'
]

}
%}
{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "Address (check) - personal details",
"id": "int-pd07",
"url": "personal-details-address-check?r=t&view=int&release=b2&newChange=true",
"release": "Buffalo 1.1 MVP",
"variants": [],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
],

"notes": [
'The <strong>back</strong> link should take the user to their previous page, as described in - <a
  href="https://design-system.service.gov.uk/components/back-link/" class="govuk-link govuk-link--no-visited-state"
  rel="noreferrer noopener" target="_blank">GOV.UK Design System: Back link</a> as on the other pages within Buffalo.',
'The <strong>change</strong> link should take the user to the corresponding page that matches how they entered the
address. So, if the user entered the address with manual entry, take them to int-pd06. If they used the postcode lookup,
take them to int-pd16.'
]

}
%}
{% else %}

{% endif %}-->


{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}
<!--{% include "_common/sub-header-2.html" %}-->
<br>
<br>
<p class="govuk-body-s" style="color: gray;">Uploaded 17 September 2025 at 10:37am by Alfred Waldron, customer reference
  number (CRN) 1101996862

  <br><br>Subject: Agile Farm Ltd evidence for Countryside Stewardship capital grant application 1457317
  <br><br>Submission reference: 1733826312
</p>
<hr>

{% set _hideAccountLink = true %}
{% include "_common/login-nav-3.html" %}
{% else %}
{% include "_common/login-nav-internal.html" %}
{% endif %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      fencereceipt1.jpg </h1>
    <img src="/public/images/fencereceipt1.png" alt="photo of a receipt" width="100% ">
  </div>

</div>
<div>  
  <br><a class="govuk-link" href="#">Download document</a>
</div>
</div>
</div>





{% endblock %}