{% extends "layouts/main.html" %}

{% set _showDefraIDFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName="Your businesses" %}

{% set serviceName = "Land and farm service" %}

{% if data.view == "ext" and data.release != "concept" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In design',
"name": "Doc upload",
"id": "xx",
"url": "xx",
"release": "Buffalo 1.1 MVP",
"variants": [
],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [

],
"notes": [

]

}
%}

{% else %}

{% endif %}

{% block beforeContent %}

{% include "_common/phase-banner-2.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% set _hideAccountLink = true %}
        {% include "_common/login-nav-3.html" %}

        <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

    </div>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <form action="/form-handler" method="post" novalidate>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                Check your uploaded files
            </h1>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    Keep your own copies of anything you send us.
                </strong>
            </div>

            <p class="govuk-body">
                You can upload up to 10 files in one batch.
            </p>
            <p class="govuk-body">
                The size of each file must be less than 10MB, and files must be in one of these formats: doc, docx, docm,
                gif, jfif, jpeg, jpg, odt, pdf, pptx, tiff, txt, xls, xlsx, xlsm. If you’ve used standard settings and
                programmes on a phone, tablet, digital camera or computer, files will likely meet these requirements.
            </p>
            <p class="govuk-body">
                Each file name must be unique, 20 characters or less, contain only letters and numbers, and contain no gaps.
            </p>
            <p class="govuk-body">
                If you're sending files in relation to a grant or funding claim, <a
                    href="https://www.gov.uk/guidance/funding-for-farmers">check if there is any other guidance to follow,
                    depending on the scheme</a>.
            </p>

            <p class="govuk-body">
                If documents do not meet the required standards, we may need to request further evidence from you, which
                could cause delays.
            </p>

            <div class="moj-multi-file__uploaded-files">
                <h2 class="govuk-heading-m">Files added</h2>
                <div class="govuk-summary-list moj-multi-file-upload__list">
                    <div class="govuk-summary-list__row moj-multi-file-upload__row">
                        <div class="govuk-summary-list__value moj-multi-file-upload__message">
                            <span class="moj-multi-file-upload__success">
                                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                                    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path>
                                </svg>
                                fencepic1.jpeg uploaded successfully
                            </span>
                        </div>
                        <div class="govuk-summary-list__actions moj-multi-file-upload__actions">
                            <button
                                class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                type="button" name="delete" value="progress-tracker.png">
                                Delete <span class="govuk-visually-hidden">progress-tracker.png</span>
                            </button>
                        </div>
                    </div>
                    <div class="govuk-summary-list__row moj-multi-file-upload__row">
                        <div class="govuk-summary-list__value moj-multi-file-upload__message">
                            <span class="moj-multi-file-upload__success">
                                <svg class="moj-banner__icon" fill="currentColor" role="presentation" focusable="false"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" height="25" width="25">
                                    <path d="M25,6.2L8.7,23.2L0,14.1l4-4.2l4.7,4.9L21,2L25,6.2z"></path>
                                </svg>
                                fencereceipt1.pdf uploaded successfully
                            </span>
                        </div>
                        <div class="govuk-summary-list__actions moj-multi-file-upload__actions">
                            <button
                                class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                                type="button" name="delete" value="upscalemedia-transformed.jpeg">
                                Delete <span class="govuk-visually-hidden">upscalemedia-transformed.jpeg</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            {% from "govuk/components/radios/macro.njk" import govukRadios %}

            {{ govukRadios({
            name: "whereDoYouLive",
            fieldset: {
                legend: {
                text: "Do you want to add more files?",
                classes: "govuk-fieldset__legend--m"
                }
            },
            items: [
                {
                value: "yes",
                text: "Yes"
                },
                {
                value: "no",
                text: "No"
                }
            ]
            }) }}

            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>
</div>


</div>

</div>




{% endblock %}