{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterMVPLinks = false %}
{% else %}
  {% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "Enter your complaint reference number" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Land and farm service" %}

<!--{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "VAT registration number (add/change) - business details",
    "id": "bd12",
    "url": "business-details-vat-change?r=t&view=ext&release=b1&newChange=true",
    "release": "Buffalo 1.0 MVP",
    "variants": [],

    "pagetitle": pageTitle,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      {
        "scenario": "Empty field / nothing entered",
        "content": "Enter a VAT registration number"
      },
      {
        "scenario": "Wrong format",
        "content": "Enter a VAT registration number in the format GB123456789 or 123456789"
      }
    ]
    
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "VAT registration number (add/change) - business details",
    "id": "int-bd12",
    "url": "business-details-vat-change?r=t&view=int&release=b2&newChange=true",
    "release": "Buffalo 1.1 MVP",
    "variants": [],

    "pagetitle": pageTitle,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      {
        "scenario": "Empty field / nothing entered",
        "content": "Enter a VAT registration number"
      },
      {
        "scenario": "Wrong format",
        "content": "Enter a VAT registration number in the format GB123456789 or 123456789"
      }
    ]
    
  }
%}

{% else %}

{% endif %}-->

{% block beforeContent %}

{% if data.view != "int" %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}
  {% else %}
  {% include "_common/login-nav-internal.html" %}
{% endif %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="doc-upload-upload-files?filesUploaded=complaint">

      <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="complaint-ref">
             Enter your complaint reference number
          </label>
        </h1>
        
        <div id="complaint-ref-hint" class="govuk-hint">
          You can find this in emails about your complaint from the Rural Payments Agency.
        </div>

      

        <input class="govuk-input" id="complaint-ref" name="complaint-ref" type="text"  value="{{ data['complaint-ref'] }}" aria-describedby="complaint-ref-hint ">
      </div>

      {{govukButton({
        text: "Continue"
      })}}

    </form>

  </div>
</div>





{% endblock %}
