<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <a style="margin: 20px;" href="#">Help</a>
  <br><br>

  <title>error scenario 2</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      border: 1px solid black;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #c4c4c4;
      /* Dark grey header */
      color: rgb(1, 1, 1);
    }

    tr:nth-child(even) {
      background-color: #f2f2f2;
      /* Light grey */
    }

    tr:nth-child(odd) {
      background-color: #ffffff;
      /* White */
    }
  </style>
</head>

<body>

  <div style="margin-left: 20px; margin-right: 80px;">

    <table>
      <tr>
        <th>Year</th>
        <th>App. number</th>
        <th>Type</th>
        <th>Active</th>
        <th>Submit Date</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tr>
        <td>2025</td>
        <td>123456 </td>
        <td>Capital Grants</td>
        <td>Yes</td>
        <td>14/08/2025 11:43:24 PM</td>

        <td>Application created</td>
        <td><button type="submit" data-module="govuk-button" style="background-color: green; color: white;">
            Open
          </button></td>

      </tr>
      <tr>
        <td>2023</td>
        <td>2345678</td>
        <td>CS Capital Grants</td>
        <td>No</td>
        <td>31/12/2023 7:15:56 AM</td>
        <td>Closed</td>

        <td> </td>
      </tr>
      <tr>
        <td>2022</td>
        <td>3456789</td>
        <td>CS Capital Grants</td>
        <td>No</td>
        <td>24/4/2022 12:122:58 PM</td>
        <td>Withdrawn</td>

        <td> </td>
      </tr>

      <tr>
        <td>2020</td>
        <td>4567890</td>
        <td>Mid-Tier application pack</td>
        <td>No</td>
        <td>1/9/2020 9:10:23 PM</td>
        <td>Closed</td>

        <td> </td>
      </tr>
      <tr>
        <td>2019</td>
        <td>5678901</td>
        <td>Mid-Tier application pack</td>
        <td>No</td>
        <td>26/11/2019 11:13:04 AM</td>
        <td>Closed</td>

        <td> </td>

      </tr>

    </table>
    <br>
    <button type="submit" style="background-color: green; color: white;" data-module="govuk-button">
      Apply for a Woodland Management Plan
    </button>
  </div>

<div style="margin-top: 40px; margin-left: 20px;">


  <table>
    <tr>
      <th>Year</th>
      <th>App. number</th>
      <th>Type</th>
      <th>Active</th>
      <th>Submit Date</th>
    </tr>
    <tr>
      <td>2025</td>
      <td>123456 </td>
      <td>Capital Grants</td>
      <td>Yes</td>
      <td>14/08/2025 11:43:24 PM</td>

    </tr>
</table>
</div>
</html>