{% extends "layouts/main.html" %}

{% set _showDefraIDFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName="Your businesses" %}

{% set serviceName = "Land and farm service" %}

{% if data.view == "ext" and data.release != "concept" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In design',
"name": "Doc upload",
"id": "xx",
"url": "xx",
"release": "Buffalo 1.1 MVP",
"variants": [
],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [

],
"notes": [

]

}
%}

{% else %}

{% endif %}

{% block beforeContent %}

{% include "_common/phase-banner-2.html" %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

        {% set _hideAccountLink = true %}
        {% include "_common/login-nav-3.html" %}

        <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

    </div>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
            Upload files
        </h1>

        <div class="govuk-warning-text">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
                <span class="govuk-visually-hidden">Warning</span>
                Keep your own copies of anything you send us.
            </strong>
        </div>

        <p class="govuk-body">
            You can upload up to 10 files in one batch.
        </p>
        <p class="govuk-body">
            The size of each file must be less than 10MB, and files must be in one of these formats: doc, docx, docm,
            gif, jfif, jpeg, jpg, odt, pdf, pptx, tiff, txt, xls, xlsx, xlsm. If you’ve used standard settings and
            programmes on a phone, tablet, digital camera or computer, files will likely meet these requirements.
        </p>
        <p class="govuk-body">
            Each file name must be unique, 20 characters or less, contain only letters and numbers, and contain no gaps.
        </p>
        <p class="govuk-body">
            If you're sending files in relation to a grant or funding claim, <a class="govuk-link govuk-link--no-visited-state"
                href="https://www.gov.uk/guidance/funding-for-farmers">check if there is any other guidance to follow,
                depending on the scheme</a>.
        </p>

        <p class="govuk-body">
            If documents do not meet the required standards, we may need to request further evidence from you, which
            could cause delays.
        </p>

        {% if data['whatToSend'] == "Complaint evidence" %}
        <div class="moj-multi-file__uploaded-files">
            <h2 class="govuk-heading-m">Files selected</h2>
            <div class="govuk-summary-list moj-multi-file-upload__list">
                <div class="govuk-summary-list__row moj-multi-file-upload__row">
                    <div class="govuk-summary-list__value moj-multi-file-upload__message">
                        file.jpeg
                    </div>
                    <div class="govuk-summary-list__actions moj-multi-file-upload__actions">
                        <button
                            class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                            type="button" name="delete" value="progress-tracker.png">
                            Remove <span class="govuk-visually-hidden">progress-tracker.png</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="moj-multi-file__uploaded-files">
            <h2 class="govuk-heading-m">Files selected</h2>
            <div class="govuk-summary-list moj-multi-file-upload__list">
                <div class="govuk-summary-list__row moj-multi-file-upload__row">
                    <div class="govuk-summary-list__value moj-multi-file-upload__message">
                        fencepic1.jpeg
                    </div>
                    <div class="govuk-summary-list__actions moj-multi-file-upload__actions">
                        <button
                            class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                            type="button" name="delete" value="progress-tracker.png">
                            Remove <span class="govuk-visually-hidden">progress-tracker.png</span>
                        </button>
                    </div>
                </div>
                <div class="govuk-summary-list__row moj-multi-file-upload__row">
                    <div class="govuk-summary-list__value moj-multi-file-upload__message">
                        fencereceipt1.pdf
                    </div>
                    <div class="govuk-summary-list__actions moj-multi-file-upload__actions">
                        <button
                            class="moj-multi-file-upload__delete govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
                            type="button" name="delete" value="upscalemedia-transformed.jpeg">
                            Remove <span class="govuk-visually-hidden">upscalemedia-transformed.jpeg</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="container--doc-upload">
            <h2 class="govuk-heading-m govuk-!-margin-top-7">
                Upload a file
            </h2>

            <div class="govuk-button-group govuk-button-group--doc-upload">
                <p class="govuk-body">Drag and drop files here or</p>
                <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                    Upload files
                </button>
            </div>
        </div>

        <form action="doc-upload-upload-success">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>
        </form>

    </div>
</div>


</div>

</div>




{% endblock %}