{% extends "layouts/main.html" %}

{% set _showFooterMVPLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Sorry, there is a problem with the service" %}
{% set serviceName = "Land and farm service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Problem with service (500/server error page)",
  "id": "se02",
  "url": "error-server?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [

  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Sorry, there is a problem with the service 
      </h1>

      <p class="govuk-body">Try again later.</p>

      <p class="govuk-body">If you were in the middle of updating your details, they may not be saved. You may need to start again when the service is available.</p>

      <h2 class="govuk-heading-m">
        Contact Rural Payments Agency for help
      </h2>

      <p class="govuk-body">Phone: 03000 200 301</p>

      <p class="govuk-body">Monday to Friday, 8.30am to 5pm (except bank holidays)</p>

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="http://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in new tab)</a>.</p>

      <p class="govuk-body">Email: <a class="govuk-link govuk-link--no-visited-state" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></p>

      <p class="govuk-body">We aim to respond to emails within 10 working days.</p>

  </div>
</div>


{% endblock %}
