{% extends "layouts/main.html" %}

<!--{% if data.view == "int" %}
  {% set _showFooterMVPLinks = false %}
{% else %}
  {% set _showFooterMVPLinks = true %}
{% endif %}

<!--{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}

{% set _showIntExtLinks = true %}

{% set pageName = "view document" %}
{% set serviceName = "Land and farm service" %}

<!--{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Address (check) - personal details",
    "id": "pd07",
    "url": "personal-details-address-check?r=t&view=ext&release=b1&newChange=true",
    "release": "Buffalo 1.0 MVP",
    "variants": [],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
    ],

    "notes": [
      'The <strong>back</strong> link should take the user to their previous page, as described in - <a href="https://design-system.service.gov.uk/components/back-link/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">GOV.UK Design System: Back link</a> as on the other pages within Buffalo.',
      'The <strong>change</strong> link should take the user to the corresponding page that matches how they entered the address. So, if the user entered the address with manual entry, take them to pd06. If they used the postcode lookup, take them to pd16.'      
    ]    
    
  }
%}
{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Address (check) - personal details",
    "id": "int-pd07",
    "url": "personal-details-address-check?r=t&view=int&release=b2&newChange=true",
    "release": "Buffalo 1.1 MVP",
    "variants": [],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
    ],

    "notes": [
      'The <strong>back</strong> link should take the user to their previous page, as described in - <a href="https://design-system.service.gov.uk/components/back-link/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">GOV.UK Design System: Back link</a> as on the other pages within Buffalo.',
      'The <strong>change</strong> link should take the user to the corresponding page that matches how they entered the address. So, if the user entered the address with manual entry, take them to int-pd06. If they used the postcode lookup, take them to int-pd16.'      
    ]    
    
  }
%}
{% else %}

{% endif %}-->


<!--{% block beforeContent %}

 {% if data.view != "int" %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header-2.html" %}

 {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}
  {% else %}
  {% include "_common/login-nav-internal.html" %}
{% endif %}-->

<hr>
<p class="govuk-body-s">Uploaded 2 October 2025 at 10:37am by Alfred Waldron, customer reference number (CRN) 1101996862</p>
<hr>
  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
 <a href="#" class="govuk-link govuk-!-margin-bottom-0" style="color: black; float:right;text-align:right;">Sign out</a>
<!--{% endblock %}-->


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!--<form method="POST" novalidate>-->

      <h1 class="govuk-heading-l">
        fencepic1.jpg
      </h1>
      <div>
      <img src="../images/fencepic1.png" alt="fence">
     <br><br>
     <a href="#">Download document</a>
      </div>
       


      <!--- {{govukButton({
        text: "Submit"
      })}}

      <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p> --->

    </form>

  </div>
 
</div>





{% endblock %}

