{% extends "layouts/rps-logged-in.html" %}

{% set pageName="Home" %}


{% set htmlClasses = 'app-width-wide' %}
{%- block beforeContent -%}
<a href="#" class="govuk-back-link" onclick="javascript:history.back()">Back to Business overview</a>
{% endblock beforeContent%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl">
      SFI applications and agreements
      <span class="govuk-caption-l">Agile Farms Ltd</span>
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">App. Number</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Active</th>
          <th scope="col" class="govuk-table__header">Submit Date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1657308</td>
          <td class="govuk-table__cell">SFI Actions</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">06/03/2024</td>
          <td class="govuk-table__cell">Agreement Live</td>
          <td class="govuk-table__cell">
            <form action="agreement-live" method="get">
            <button type="submit" class="govuk-button govuk-!-margin-bottom-0 govuk-button-custom" data-module="govuk-button">
              Open Agreement
            </button>
            </form>
          </td>

        </tr>

      </tbody>
    </table>

    <h2 class="govuk-heading-m">If interested in starting a common land application, please email RPA at ruralpayments@defra.gov.uk, with 'SFI Commons/Shared Grazing Agreements' in your subject line.</h2>

    <button type="submit" class="govuk-button" style="float: right;" data-module="govuk-button">
      Apply for SFI Actions
    </button>
  </div>
</div>






{% endblock %}
