{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<a href="/to-be/index" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <span class="govuk-caption-l">MVP - iteration 0</span>
      Version 4
    </h1>

    <p>Testing Option 1: Iteration 0, with a focus on the integration of messages. </p>


  <h2 class="govuk-heading-l">
      Flows for usability testing
    </h2>


  <div>
    <a href="start/vv-start?agent=" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start flow
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>

  <!-- <div>
    <a href="start/vv-start?agent=True" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start agent flow 
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>  -->


    <h2 class="govuk-heading-l">
      Page links
    </h2>


    <h3 class="govuk-heading-m">
      Start
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="start/vv-guidance">Guidance on gov.uk: Farmers: how to claim funding to improve animal health and welfare</a></li>
      <li><a class="govuk-link--no-visited-state" href="start/vv-start">Start page</a></li>
      <li><a class="govuk-link--no-visited-state" href="start/vv-sign-in">Sign in</a></li>
    </ul>

    <h3 class="govuk-heading-m">
      Make a claim journey
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="vet-visits/choose-a-business">Choose a business</a></li>
      <li><a class="govuk-link--no-visited-state" href="vet-visits/check-your-details">Check your details</a></li>
      <li><a class="govuk-link--no-visited-state" href="vet-visits/manage-your-claims">Manage your claims</a></li>
      <li><a class="govuk-link--no-visited-state" href="vet-visits/claiming-for">What are you claiming for beef cattle?</a></li>
      <li><a class="govuk-link--no-visited-state" href="vet-visits/date-of-review">Date of review</a></li>
      <li><a class="govuk-link--no-visited-state" href="vet-visits/date-of-review">Journey placeholder screen</a></li>
      <li><a class="govuk-link--no-visited-state" href="vet-visits/claim-confirmation">Claim confirmation</a></li>
    </ul>

    <h3 class="govuk-heading-m">
      Messages
    </h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="messages/message-history">Messages</a></li>
      <li><a class="govuk-link--no-visited-state" href="messages/msg-1">Message example</a></li>
    </ul>


  </div>
</div>

{% endblock %}
