{% extends "layouts/main-rebrand.html" %}

{% if data.view != "int" %}
  {% set _showFooterMVPLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set pageName = "" %}
{% set serviceName = "Land and Farm Service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "",
  "id": "TO DO",
  "url": "",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
  ]
  
}
%}

{% block beforeContent %}

  {% if data.view != "int" %}
    {% include "_common/phase-banner-2.html" %}
  {% endif %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Any page within the Single Front Door service
    </h1>

    <p class="govuk-body">And some page content that the user sees because they are signed in.</p>

  <meta name="hmrc-timeout-dialog" content="hmrc-timeout-dialog" data-language="en" data-timeout="300" data-countdown="299" data-keep-alive-url="?continue=true" data-sign-out-url="misc-signed-out-auto" data-timeout-url="" data-title="Do you want to stay signed in?" data-message="You have not been active for nearly 30 minutes, so we will automatically sign you out soon. This is to keep your information secure. We will sign you out in" data-message-suffix="" data-keep-alive-button-text="" data-sign-out-button-text="Sign out" data-synchronise-tabs="" data-hide-sign-out-button="" />
  </div>
</div>


{% endblock %}
