{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "What are your business phone numbers?" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Phone numbers (change) - business details",
  "id": "bd21",
  "url": "business-details-phone-change?r=t&release=b1&newChange=true",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageTitle,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
      "field": "Mobile and telephone",
      "scenario": "Both are empty fields / nothing entered",
      "content": "Enter at least one phone number"
    },
    {
      "field": "Mobile",
      "scenario": "Entry is too long",
      "content": "Business mobile phone number must be [max number] characters or less"
    },
    {
      "field": "Mobile",
      "scenario": "Entry is too short",
      "content": "Business mobile phone number must be 10 characters or more"
    },
    {
      "field": "Telephone",
      "scenario": "Entry is too long",
      "content": "Business telephone number must be [max number] characters or less"
    },
    {
      "field": "Telephone",
      "scenario": "Entry is too short",
      "content": "Business telephone number must be 10 characters or more"
    }
    
  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for name, item in myData.validationErrors %}
            <li>
              <a href="#{{item.anchor}}">{{item.message}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form method="POST" novalidate>

      <div class="govuk-form-group {% if myData.validationErrors.phoneNumbersBus %}govuk-form-group--error{% endif %}">

      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            What are your business phone numbers?
          </h1>
        </legend>

        <div id="nationality-hint" class="govuk-hint">
          Enter at least one phone number
        </div>

        {% if myData.validationErrors.phoneNumbersBus %}
          <p id="phoneNumbersBus-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.phoneNumbersBus.message}}
          </p>
        {% endif %}

        <div class="govuk-form-group {% if myData.validationErrors.telNumberBus %}govuk-form-group--error{% endif %}">

          <label class="govuk-label" for="telNumberBus">
            Business telephone number
          </label>
  
          {% if myData.validationErrors.telNumberBus %}
          <p id="telNumberBus-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.telNumberBus.message}}
          </p>
          {% endif %}

          {% set _valueNewTelNumberBus = myData.newTelNumberBus %}
          {% if _valueNewTelNumberBus == null %}
            {% set _valueNewTelNumberBus = myData.telNumberBus %}
          {% endif %}
  
          <input class="govuk-input govuk-input--width-20 {% if myData.validationErrors.telNumberBus or myData.validationErrors.phoneNumbersBus %}govuk-input--error{% endif %}" id="telNumberBus" name="telNumberBus" type="tel" autocomplete="tel" value="{{_valueNewTelNumberBus}}" {% if myData.validationErrors.telNumberBus %}aria-describedby="telNumberBus-error"{% endif %} {% if myData.validationErrors.phoneNumbersBus %}aria-describedby="phoneNumbersBus-error"{% endif %}>
        </div>

        <div class="govuk-form-group {% if myData.validationErrors.mobNumberBus %}govuk-form-group--error{% endif %}">

          <label class="govuk-label" for="mobNumberBus">
            Business mobile phone number
          </label>

          {% if myData.validationErrors.mobNumberBus %}
          <p id="mobNumberBus-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.mobNumberBus.message}}
          </p>
          {% endif %}

          {% set _valueNewMobNumberBus = myData.newMobNumberBus %}
          {% if _valueNewMobNumberBus == null %}
            {% set _valueNewMobNumberBus = myData.mobNumberBus %}
          {% endif %}

          <input class="govuk-input govuk-input--width-20 {% if myData.validationErrors.mobNumberBus or myData.validationErrors.phoneNumbersBus %}govuk-input--error{% endif %}" id="mobNumberBus" name="mobNumberBus" type="tel" autocomplete="tel" value="{{_valueNewMobNumberBus}}" {% if myData.validationErrors.mobNumberBus %}aria-describedby="mobNumberBus-error"{% endif %} {% if myData.validationErrors.phoneNumbersBus %}aria-describedby="phoneNumbersBus-error"{% endif %}>

        </div>

      </fieldset>

      </div>

      {{govukButton({
        text: "Continue"
      })}}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}
