{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Check your business mobile phone number is correct before submitting" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Mobile (check) - business details",
  "id": "bd09",
  "url": "business-details-mob-check?r=t&release=b1&newChange=true",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [

  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        Check your business mobile phone number is correct before submitting 
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Business mobile phone number"
            },
            value: {
              text: myData.newMobNumberBus or myData.mobNumberBus

            },
            actions: {
              items: [
                {
                  href: "business-details-mob-change",
                  text: "Change",
                  visuallyHiddenText: "business mobile phone number"
                }
              ]
            }
          }
        ]
      }) }}

      {{govukButton({
        text: "Submit"
      })}}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}
