{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "Choose your business address" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Address - select (change) - business details",
  "id": "bd24",
  "url": "business-details-address-select-change?r=t&release=b1&newChange=true",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageTitle,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [

    {
      "scenario": "Nothing selected",
      "content": "Choose an address"
    }

  ],

  "notes": [

    "If entering from 'business details page (bd01)' or returning from 'check address page (bd05)' page AND have known UK postcode on saved address AND no changes have been made to the entered postcode THEN pre select dropdown with previously selected/correct address ELSE do not pre-select any of the options in the dropdown"
    
  ]
  
}
%}


{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for name, item in myData.validationErrors %}
            <li>
              <a href="#{{item.anchor}}">{{item.message}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        Choose your business address
      </h1>

      <div class="govuk-form-group">
        <p class="govuk-body govuk-!-margin-bottom-">
            <span class="govuk-!-font-weight-bold">UK postcode</span><br>
            {% set _postCodeToShow = myData.newAddressPostcodeBus or myData.addressPostcodeBus %}
            {{_postCodeToShow}}<br>
            <a class="govuk-link govuk-link--no-visited-state" href="business-details-address-postcode-change">
                Change <span class="govuk-visually-hidden">postcode</span>
            </a>
        </p>
      </div>

      <div class="govuk-form-group {% if myData.validationErrors.addressBus %}govuk-form-group--error{% endif %}">
                
        <label class="govuk-label govuk-!-font-weight-bold" for="addressBus">
            Select an address
        </label>

        {% if myData.validationErrors.addressBus %}
        <p id="addressBus-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> 
            {{myData.validationErrors.addressBus.message}}
        </p>
        {% endif %}

        {% set _numberAddresses = 19 %}

        <select class="govuk-select {% if myData.validationErrors.addressBus %}govuk-input--error{%endif %}" id="addressBus" name="addressBus">
            <option value="select" selected >{{_numberAddresses}} addresses found</option>
            {% for i in range(1, _numberAddresses+1) -%}
                {% set _addressLine1 = i + ' Skirbeck Way' %}
                {% set _postcodeNotChanged = true %}
                {% if _postCodeToShow != myData.addressPostcodeBus %}
                  {% set _postcodeNotChanged = false %}
                {% endif %}
                {% set _fullAddress = i + ' Skirbeck Way, ' + myData.addressCityBus + ', ' + _postCodeToShow %}
                <option value="{{_addressLine1}}" {% if myData.address1Bus == _addressLine1 and _postcodeNotChanged %}selected{% endif %}>{{_fullAddress}}</option>
            {%- endfor %}
        </select>

      </div>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link govuk-link--no-visited-state" href="business-details-address-change">
            Enter address manually
        </a>
      </p>


      {{govukButton({
        text: "Continue"
      })}}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}
