{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Check your personal email address is correct before submitting" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Email address (check) - personal details",
  "id": "pd13",
  "url": "personal-details-email-check?r=t&release=b1&newChange=true",
  "release": "Buffalo 1.0 MVP",
  "variants": [
    
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    
  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        Check your personal email address is correct before submitting     
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Personal email address"
            },
            value: {
              text: myData.newEmailPers or myData.emailPers

            },
            actions: {
              items: [
                {
                  href: "personal-details-email-change",
                  text: "Change",
                  visuallyHiddenText: "personal email address"
                }
              ]
            }
          }
        ]
      }) }}
      
      {{govukButton({
        text: "Submit"
      })}}

      <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>


  </div>
</div>


{% endblock %}
