{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "Test page" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{#19 & 20 are hard coded #}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Test page",
  "id": "x01",
  "url": "test-page?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [
  {
    "name": "Show errors",
    "url": "test-page?r=t&release=b1&emmaserrors=true"
  }],
  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [

  ]
  
}
%}



{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        This is a test page
      </h1>

      <p class="govuk-body">Try something else.</p>

      <p class="govuk-body">This is just some pretend content. No purpose here at all.</p>

      {% set _selectedBusiness = myData.selectedBusiness %} 

    <span class="govuk-caption-xl">{{data.user.name}}<br></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{_selectedBusiness.name}}
    </h1>
    <p class="govuk-caption-m govuk-!-margin-bottom-7">
      Single business identifier (SBI): {{_selectedBusiness.sbiNumber}}
    </p>
      
    {% if _inError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for name, item in myData.validationErrors %}
            <li>
              <a href="#{{item.anchor}}">{{item.message}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form method="POST" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="emmaTest">
            What is your business name?
          </label>
        </h1>

        {% if _inError %}
        <p id="nameBus-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.nameBus.message}}
        </p>
        {% endif %}

        {% set _valueNewNameBus = myData.newNameBus or myData.nameBus %}
        {% if myData.validationErrors.nameBus %}
            {% set _valueNewNameBus = myData.newNameBus %}
        {% endif %}

        <input class="govuk-input" id="emmaTest" name="emmaTest" type="text" >
      </div>

      {{govukButton({
        text: "Continue"
      })}}

      {% if myData.emmaserrors == "true" %}

      <p class="govuk-body">Show errors?</p>

      {% endif %}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>


{% endblock %}
