//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

@import "components/sub-header";
@import "components/login-nav";
@import "components/callout-box";
@import "components/phase-banner-bottom";
@import "components/inline-link-filter";
@import "components/mobile-phone-mockups";
@import "components/filter";
@import "components/definition-list";
@import "components/tabs";

a:link, .govuk-link:link {
  color: #1d70b8;
}
.govuk-button-teeny {
  font-size: 1rem;
}

@media (min-width: 40.0625em) {
.govuk-button-teeny {
    font-size: 1rem;
}
}

.govuk-width-container--wide {
  @include govuk-width-container(1400px);
}

.app-width-wide .govuk-width-container {
  @include govuk-width-container(1400px);
}

.account-options {
    padding: 25px 0 0 15px;
  }

  .options-border {
    border-top: 8px solid #1d70b8;
  }
  
// Custom tabs

.govuk-tabs__list-item-ffd {
  background-color: #fff;
  border-bottom: 1;
}

@media (min-width: 40.0625em) {
.govuk-frontend-supported .govuk-tabs__list-item-ffd {
    background-color: #fff;
}
}

@media (min-width: 40.0625em) {
  .govuk-frontend-supported .govuk-tabs__list-item--selected {
      border-bottom: 1px solid #b1b4b6;
  }
  .govuk-frontend-supported .govuk-tabs__list-item--selected-ffd {
    border-bottom: none;
}
}

@media (min-width: 40.0625em) {
.govuk-frontend-supported .govuk-tabs__panel {
    border: none;
}
}

.govuk-tabs__tab:visited {
  color: #1d70b8;
}



.unread-message {
    padding: 0 5px;
    min-width: 24px;
    border: 1px solid #000;
    display: inline-block;
    margin-left: 5px;
    color: #fff;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: #b10e1e;
}

.read-message {
  padding: 0 5px;
  min-width: 24px;
  border: 1px solid #000;
  display: inline-block;
  margin-left: 5px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #02b100;
}

.list-item-inline {
  display: inline!important;
}



.govuk-header__navigation-item_white {
  padding: govuk-spacing(2) 0;
  border-bottom: 1px solid #b1b4b6;

  @include govuk-media-query($from: desktop) {
    display: inline-block;
    margin-right: govuk-spacing(3);
    padding: govuk-spacing(1) 0;
    border: 0;
  }

  a {
    @include govuk-typography-responsive($size: 16);
    @include govuk-typography-weight-bold;
    white-space: nowrap;
  }
}


.govuk-header__navigation-item_white--active {
  a {
    &:link,
    &:hover,
    &:visited {
      color: #ffffff !important;
    }

    // When printing, use the normal blue as this contrasts better with the
    // white printing header
    @include govuk-media-query($media-type: print) {
      color: $govuk-brand-colour;
    }

    // When focussed, the text colour needs to be darker to ensure that colour
    // contrast is still acceptable
    &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}


@media (min-width: 40.0625em) {
.contents-list__title {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}
}

.contents-list__title {
    color: #0b0c0c;
    font-family: "GDS Transport",arial,sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.5;
    margin: 0 0 12px 0;
}

@media (min-width: 40.0625em) {
.contents-list__list, .contents-list__nested-list {
    font-size: 19px;
    line-height: 1.25;
}
}

.contents-list__list, .contents-list__nested-list {
    color: #0b0c0c;
    font-family: "GDS Transport",arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.1428571429;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contents-list__list-item--dashed {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 40.0625em) {
.contents-list__list-item {
  padding-top: 7.5px;
}
}

.contents-list__list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 1.3;
  list-style-type: none;
}

.contents-list__list-item--dashed::before {
  content: "—";
  position: absolute;
  left: 0;
  width: 20px;
  overflow: hidden;
}


.overview-line {
  margin: 25px 0;
  border-width: 0.5px;
}

.govuk-table__cell_bold {
  font-weight: 700;
}

.govuk-caption-s {
  font-size: 14px;
  font-family: GDS Transport,arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.25;
  display: block;
  color: #505a5f;
}

.inline {
  display: inline;
}

.float-right {
  float: right;
}

// Messages dropdrown

.govuk-details-message {
  border-style: solid;
  padding: 10px 10px 10px 20px;
  border-top-width: thin;
  border-left-width: thick;
  border-bottom: none;
  border-right: none;
  border-color: #b1b4b6;
}

.govuk-details-message-unread {
  border-style: solid;
  padding: 10px 10px 10px 20px;
  border-top-width: thin;
  border-left-width: thick;
  border-bottom: none;
  border-right: none;
  border-top-color: #b1b4b6;
  border-left-color: #00703c;
  background-color: #eeeeee;
  font-weight: bold;
}


.govuk-details__text-message {
  border-left: none;
}

.govuk-details__summary-message {
  width: 95%;
  color: #0b0c0c;
}

.govuk-details__summary-text-message {
  text-decoration: none;
}

.govuk-details__summary-text-message2 {
  width: 29%;
  float: right;
}

.font-normal {
  font-weight: normal;
}

// Permissions dropdown

.govuk-details-permissions {
  border-style: solid;
  padding: 10px 10px 10px 20px;
  border-top-width: thin;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-color: #b1b4b6;
  margin-bottom: 5px;
}

.govuk-details__text-permissions {
  border-left: none;
}

.govuk-details__summary-permissions {
  width: 100%;
}

.govuk-details__summary-permissions::before {
  top: -30px;
}

.bold {
  font-weight: 700;
}

.govuk-details__summary-text-permissions2 {
  width: 22%;
  float: right;
}


// Permissions cards

.permissions-column {
  height: 655px;
  text-align: center;
  padding: 15px;
  background: #dee0e2;
  max-width: 200px;
  min-width: 200px;
  display: inline-table;
}


.permissions-column-xl {
  height: 890px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding: 15px;
  background: #dee0e2;
  display: inline-table;
}

.permissions-column-short {
  height: 330px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding: 15px;
  background: #dee0e2;
  display: inline-table;
}

.permissions-column-medium {
  height: 450px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding: 15px;
  background: #dee0e2;
  display: inline-table;
}


.permissions-column-selected {
  height: 655px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border: solid 0.5px;
  border-color: #000;
  outline: 2px solid gold;
  display: inline-table;
}

.permissions-column-selected-short {
  height: 330px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border: solid 0.5px;
  border-color: #000;
  outline: 2px solid gold;
  display: inline-table;
}

.permissions-column-selected-medium {
  height: 450px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border: solid 0.5px;
  border-color: #000;
  outline: 2px solid gold;
  display: inline-table;
}


.permissions-column-selected-xl {
  height: 890px;
  max-width: 200px;
  min-width: 200px;
  text-align: center;
  padding: 15px;
  background: #ffffff;
  border: solid 0.5px;
  border-color: #000;
  outline: 2px solid gold;
  display: inline-table;
}

.permission-select {
  margin: 10px;
  background: #f8f8f8;
  padding: 9px 0 9px;
}

.permission-select-selected {
  margin: 10px;
  background: #90c090;
  padding: 9px 0 9px;
}

.permission-line {
  margin-top: 30px;
  margin-bottom: 30px;
}

.permission-button-style {
  border: none;
  padding: 0;
}

@media (min-width: 40.0625em) {
.permission-button-style {
    margin-top: 15px;
}
}

.permission-button-style:hover {
  border: solid 0.5px;
  border-color: #0b0c0c;
  cursor: pointer;
}

.permission-label-style {
  font-size: 19px; 
  font-family: 'GDS Transport', arial, sans-serif;
}

.bps-width {
  width: 66.6666666667%;
  color: #505A5F;
}

// Message filter styles


.filter-unread-messages {
  border-left-color: #006435;
  background-color: #f1f1f1;
  border-width: 0 0 0 7px;
  border-style: solid;
  padding: 2px 2px 2px 10px;
  width: 170px;
  display: inline-block;
  margin-left: 10px;
}


.capd-form label {
  color: #0b0c0c;
  display: block;
  font-size: 19px;
  font-weight: 400;
  line-height: 1.31579;
  text-transform: none;
}

.filter-read-messages {
  border-left-color: #ccc;
  border-width: 0 0 0 7px;
  border-style: solid;
  padding: 2px 2px 2px 10px;
  width: 170px;
  display: inline-block;
  margin-left: 10px;
}

input[type='checkbox'] {
  accent-color: #007bff;
}

input[type="radio" i] {
  accent-color: #007bff;
}

.filter-style {
  font-family: "GDS Transport", arial, sans-serif;
  font-weight: 700;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40.0625em) {
.filter-style {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
}
}

.filter-label {
  font-family: "GDS Transport", arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 40.0625em) {
  .filter-label {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
  }
  }




  // To-be 

  .govuk-header__sign-out { 
    display: inline-block;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    float: right;
    margin-right: 4px;
  }

  @media (min-width: 40.0625em) {
    .govuk-header__sign-out {
      font-size: 14pt;
      line-height: 1.25;
    }
  }

  // gov.uk card

  .gem-c-cards__heading {
    margin: 0 0 30px 0
}

.gem-c-cards__list {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr
}


@media(min-width: 40.0625em) {
    .gem-c-cards__list {
        grid-template-columns:1fr 1fr
    }
}

@media(min-width: 48.0625em) {
    .gem-c-cards__list {
        grid-template-columns:1fr 1fr 1fr;
        width: 50%
    }

    @supports(display: grid) {
        .gem-c-cards__list {
            width:initial;
        }
    }
}

@media(min-width: 48.0625em) {
    .gem-c-cards__list--two-column-desktop {
        grid-template-columns:1fr 1fr
    }
}


.gem-c-cards__list-item {
    border-top: 1px solid #b1b4b6;
    margin: 0 15px;
    padding: 5px 0 20px 0
}

.gem-c-cards__list-item-variant {
  border: 1px solid #b1b4b6;
  margin: 0 15px 30px;
  padding: 5px 0 20px 0;
  border-bottom: 4px solid #b1b4b6;
}

@media(min-width: 48.0625em) {
  .gem-c-cards__list-item-variant {
      
  }
}


.gem-c-cards__list-item-wrapper {
    padding: 10px 30px 10px 0;
    position: relative
}

.gem-c-cards__list-item-wrapper-variant {
  padding: 10px 50px 0px 15px;
  position: relative;
}

.gem-c-cards__sub-heading {
    margin-bottom: 10px;
}

.gem-c-cards__link::after {
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0
}

.gem-c-cards__link::before {
    border-right: 3px solid #1d70b8;
    border-top: 3px solid #1d70b8;
    content: "";
    height: 7px;
    position: absolute;
    right: 5px;
    top: 15px;
    -webkit-transform: translateY(0) rotate(45deg) scale(1);
    -ms-transform: translateY(0) rotate(45deg) scale(1);
    transform: translateY(0) rotate(45deg) scale(1);
    width: 7px
}

.gem-c-cards__link:hover::before {
    border-color: #003078
}

.gem-c-cards__link:focus::before {
    border-color: #0b0c0c
}

.gem-c-cards__description {
    margin: 0 -30px 0 0
}

@media print {
    .gem-c-cards__list {
        display: block
    }

    .gem-c-cards__list-item {
        padding-bottom: 0
    }

    .gem-c-cards__sub-heading {
        margin-top: 20px;
        margin-bottom: 5px
    }

    .gem-c-cards__link::before {
        display: none
    }
}


.no-bullet {
  list-style-type: none;
  padding-inline-start: 0px;
}

// Chevron card


.homepage-services-and-info__list {
  list-style: none;
  margin: 0 -15px;
  padding-left: 0;
  padding-right: 20px;
}

.chevron-card {
  border-top: 1px solid #b1b4b6;
  margin: 0 15px;
  padding: 5px 0 20px 0
}

.chevron-card:first-child {
  border-top: none;
  padding-top: 0
}

// .chevron-card:first-child .chevron-card__wrapper {
//   padding-top: 0
// }

@media print {
  .chevron-card:first-child .chevron-card__wrapper {
      padding-top: 19px
  }
}

.chevron-card__wrapper {
  padding: 19px 0 4px;
  position: relative
}

@media(max-width: 40.0525em) {
  .chevron-card__wrapper .govuk-heading-s,.chevron-card__wrapper .chevron-card__description {
      font-size:19px;
      font-size: 1.1875rem
  }
}

.chevron-card__description {
  margin: 0 30px 0 0;
}

.chevron-card__link::after {
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0
}

.chevron-card__link::before {
  border-right: 3px solid #1d70b8;
  border-top: 3px solid #1d70b8;
  content: "";
  display: block;
  height: 7px;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: 5px;
  -webkit-transform: translateY(0) rotate(45deg) scale(1);
  -ms-transform: translateY(0) rotate(45deg) scale(1);
  transform: translateY(0) rotate(45deg) scale(1);
  width: 7px
}

.chevron-card__link:hover::before {
  border-color: #003078
}

.chevron-card__link:focus::before {
  border-color: #0b0c0c
}


@media (min-width: 40.0625em) {
  .govuk-heading-s_no-margin {
      margin-bottom: 0px;
  }
}

// Tag custom

@media (min-width: 40.0625em) {
  .govuk-tag_custom {
      font-size: 1rem;
      line-height: 1.3157894737;
  }
}

// Card styling

.link-style {
  color: #1d70b8;
  text-decoration: underline;
}

.card-page a, .p-link-style {
  text-decoration: none!important;
}

.govuk-link:hover {
  color: #003078;
  text-decoration-thickness: max(3px, .1875rem, .12em);
}

.govuk-link-hover {
  color: #003078;
  text-decoration-thickness: max(3px, .1875rem, .12em);
}


// Vet visits

.app-task-list__items_custom {
  padding-left: 0;
}


.govuk-button-custom {
  width: 100%;
}


// Line styling

// Blue version

.blue-border {
  border: 3px solid #1d70b8;
  margin-bottom: 30px;
}

.blue-border-thin {
  border: 1px solid #1d70b8;
  margin-bottom: 30px;
}

// Grey version

.grey-border {
  border: 3px solid #b1b4b6;
  margin-bottom: 30px;
}

.grey-border-thin {
  border: 1px solid #b1b4b6;
  margin-bottom: 30px;
}


// GOV Guidance Styles

.guidance-header-wrapper{
  background-color: #263135;
  margin: 0px;
  padding: 0px;
}

.guidance-header-wrapper p, .guidance-header-wrapper h1, .guidance-header-wrapper li a{
  color: #FFF !important;
}

.browse__section{
  margin-bottom: 60px;
}

.browse__list li{
  margin-bottom: 25px;
}

.browse__section--top-border{
  border-top: 1px solid #b1b4b6;
  padding-top: 15px;
}



// Interruption card

.interruption-paper {
  padding: 2em 3em;
  background: #005ea5;
}

.interruption-card h1 {
  color: #ffffff;
}

.button-dark-text {
  color: #0b0c0c;
}

.button-dark-text:hover {
  color: #0b0c0c;
}

.button-dark-text:active {
  color: #0b0c0c;
}


// HMRC nav bar custom styling

.hmrc-account-menu_sfd {
 border-bottom: none;
}


.hmrc-account-menu__link_sfd {
  color: #0b0c0c !important;
  text-decoration: underline;
}

.hmrc-account-menu__link_sfd:visited {
  color: #0b0c0c;
}

.hmrc-account-menu__link_sfd:hover {
  color: #003078 !important;
  text-decoration: none;
}

.hmrc-account-menu__link--active_sfd {
  text-decoration: none;
}

.is-smaller.hmrc-account-menu_sfd {
  border-bottom: none;
}


// Gov.uk guidance - contents list

@media (min-width: 40.0625em) {
  .gem-c-contents-list__title {
      font-size: 1rem;
      line-height: 1.5;
  }
}

.gem-c-contents-list__title {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}


@media (min-width: 40.0625em) {
  .gem-c-contents-list__list, .gem-c-contents-list__nested-list {
      font-size: 1rem;
      line-height: 1.25;
  }
}

.gem-c-contents-list__list, .gem-c-contents-list__nested-list {
  color: #0b0c0c;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (min-width: 40.0625em) {
  .gem-c-contents-list__list-item {
      padding-top: 7.5px;
  }
}

.gem-c-contents-list__list-item {
  line-height: 1.3;
  list-style-type: none;
}

.gem-c-contents-list__list-item--dashed {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
}

.gem-c-contents-list__list-item--dashed span::before {
  content: "—";
  position: absolute;
  left: 0;
  width: 20px;
  overflow: hidden;
}


// Applies to England banner - gov.uk

@media (min-width: 48.0625em) {
  .gem-c-devolved-nations {
      margin-bottom: 50px;
      padding: 20px 30px;
  }
}

.gem-c-devolved-nations {
  background: #f3f2f1;
}

// Pagination

@media (min-width: 40.0625em) {
  .govuk-pagination {
      margin-bottom: 15px;
  }
}


// Vet visits get emails about this page component

.gem-c-layout-for-public {
  font-family: "GDS Transport", arial, sans-serif;
}

.gem-c-single-page-notification-button__submit {
  padding: 10px;
  margin: 0;
  border: 1px solid #505a5f;
  color: #1d70b8;
  cursor: pointer;
  background: none;
}

.gem-c-single-page-notification-button__icon {
  color: #0b0c0c;
  vertical-align: top;
  margin-right: 5px;
}

// Vet visits print this page component


.js-enabled .gem-c-print-link {
  display: block;
}

.gem-c-print-link__button {
  border: 1px solid #505a5f;
  color: #1d70b8;
  cursor: pointer;
  margin: 0;
}

.gem-c-print-link__link, .gem-c-print-link__button {
  background: url(/public/images/print-icon.png) no-repeat 10px 50%;
  background-size: 16px 18px;
  padding: 10px 10px 10px 36px;
  text-decoration: none;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .gem-c-print-link__link, .gem-c-print-link__button {
      background-image: url(/public/images/print-icon.png);
  }
}


// Vet visits gov uk contact text styling

.contact {
  position: relative;
  border-left: 1px solid #b1b4b6;
  padding-left: 15px;
  margin-bottom: 30px;
  margin-top: 30px;
}

// Vet visits published date styling

.app-c-published-dates {
  direction: ltr;
  line-height: 1.45em;
  color: #0b0c0c;
}

@media (min-width: 40.0625em) {
  .published-dates-button-group {
      display: flex;
      flex-direction: row;
  }
}


// Vet visits contents back to top

.app-c-back-to-top__icon {
  float: left;
  margin-right: .3em;
  width: .8em;
  height: .968em;
}

.app-c-contents-list-with-body__link-wrapper {
  padding-bottom: 30px;
}

@media (min-width: 40.0625em) {
  .app-c-contents-list-with-body__link-container {
      max-width: 1024px;
  }
}


// Vet visits explore the topic 

.gem-c-related-navigation {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
  margin-bottom: 60px;
}

@media (min-width: 40.0625em) {
  .gem-c-related-navigation__sub-heading--footer {
      font-size: 1.1875rem;
      line-height: 1.3157894737;
      font-family: "GDS Transport", arial, sans-serif;
  }
}

.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}

@media (min-width: 40.0625em) {
  .gem-c-related-navigation__link {
      line-height: 1.28;
  }
}
@media (min-width: 40.0625em) {
  .gem-c-related-navigation__link {
      font-size: 1rem;
  }
}
.gem-c-related-navigation__link {
  list-style-type: none;
  margin-top: 15px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
}

.gem-c-related-navigation__section-link {
  font-weight: bold;
}

@media (min-width: 40.0625em) {
  .gem-c-cards__list-cards {
    grid-template-columns:1fr 1fr;
  }
}

// Phase banner custom styling


@media (min-width: 40.0625em) {
  .govuk-phase-banner__content_custom {
      line-height: 1.4;
  }
}

// Status/update inset text
  // background-color: #e6fff3;


.update-style {
  border-left: 5px solid #b1b4b6;
  padding: 5px;
}

// Home link style

.home-link-style:link {
  color: #0b0c0c;
  margin-top: 15px;
  display: inline-block;
}

// Internal search result blocks 

.internal-list__search header {
  border-top: 1px solid #b1b4b6;
  padding: 30px 0;
  
}

.internal-list__search li > p {
  font-weight: 600;
  color:  #505a5f ;
}

.internal-list__search li:last-of-type {
  border-bottom: 1px solid #b1b4b6;
  padding: 30px 0;
  margin: 0 0 30px 0;
}

#service-name {
  color:  govuk-colour("orange") ;
}

#service-name::before {
  content: "{{";
}

#service-name::after {
  content: "}}";
}

// Design history styling

img.design-history {
  width: 100%;
  border: solid 1px grey;
  margin: 30px 0;
}

// External user permissions styles

.govuk-table__cell_actions{
  text-align: right;
}

.user-permissions__list{
  list-style-type: none;
  padding: 0;
  margin: 0 0 40px;
}

.user-permissions__list-item{
  border: 1px solid #b1b4b6;
  margin: 0 0 30px;
  padding: 0;
  border-bottom: 4px solid #b1b4b6;
}

.user-permissions__list-item_header{
  background-color: #f3f2f1;
  display: block;
  margin: 0;
  padding: 10px 20px 0;
  border-bottom: 1px solid #b1b4b6;
}

.user-permissions__list-item_header td{
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.user-permissions__list-item_main{
  padding: 20px 20px 0;
  border-bottom: 1px solid #b1b4b6;
}

.user-permissions__list-item_footer{
  margin: 0;
  padding: 10px 20px;
}

.user-permissions__list-item_table-row{
  margin-bottom: 20px;
}

.user-permissions__list-item_header table{
  margin-bottom: 0;
  border-bottom: 0;
}

.user-permissions__list-item_footer p{
  margin-bottom: 10px;
}

.your-business-permissions_block{
  margin-bottom: 40px;
}