<!-- <div class="login-nav login-nav-border">
    <ul class="login-nav__list">
        <li class="login-nav__list-item"><a href="account-home" class="govuk-link login-nav__link" >Your account</a></li>
        <li class="login-nav__list-item"><a href="#" class="govuk-link login-nav__link" >Sign out</a></li>
    </ul>
</div> -->

<div class="login-nav login-nav-aligned {% if _loginNavClasses %} {{_loginNavClasses}} {% endif %} ">
    <ul class="login-nav__list">
        {% if _hideAccountLink %}
            <!-- dont show account link -->
        {% else %}
            <li class="login-nav__list-item"><a href="account-home" class="govuk-link login-nav__link govuk-link--no-visited-state">Your account</a></li>
        {% endif %}

        <li class="login-nav__list-item"><a href="../AHWP-v2/misc-signed-out" class="govuk-link login-nav__link govuk-link--no-visited-state login-nav-iahw__link">Sign out</a></li>
    </ul>
</div>