{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}
<!-- <div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Alpha
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service - your <a class="govuk-link" href="#">feedback</a> will help us to improve it.
    </span>
  </p>
</div> -->

<main class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Page not being tested
    </h1>

    <p class="govuk-body-l">Page not being tested as part of this user research.</p>
    <p class="govuk-body"><a href="javascript:history.back()">Click to return</a></p>
    
  </div>
</div>

</main>

{% endblock %}