<div class="govuk-phase-banner phase-banner-bottom">
<p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
    Beta
    </strong>
    <span class="govuk-phase-banner__text">
        This is a new service - you can <a class="govuk-link govuk-link--no-visited-state" href="/_common/not-testing">help improve the service with your feedback (opens in new tab)</a>.
        </br>
        You can still <a class="govuk-link govuk-link--no-visited-state" href="rps-sign-in" target="_blank">use the Rural Payments Service (opens in new tab)</a>.
    </span>
</p>
</div>