
{% set _selectedBusiness = data.selectedBusiness %} 
{% for _business in data.businesses %}
  {% if data.business == _business.id %}
    {% set _selectedBusiness = _business %} 
  {% endif %}
{% endfor %}

<div class="govuk-grid-row" style="padding-top:16px;">
  <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-s" style="margin-bottom: 4px;">{{_selectedBusiness.name}}</h3>
      <p class="govuk-body-s sbi-number" style="margin-bottom: 8px;">Single business identifier (SBI): {{_selectedBusiness.sbiNumber}}</p>
  </div>

  <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s fcp-user-name" >Alfred Waldron</h3>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-2">
