
{% set _companyName = "Agile Farms Ltd" %}
{% set _sbiNumber = "123456789" %}

{% if data['valleySFD'] == 'True' %}  
  {% set _companyName = "Valley Farm" %}
  {% set _sbiNumber = "192846125" %}
{% endif %}

<div class="govuk-grid-row" style="padding-top:16px;">
  <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-s" style="margin-bottom: 4px;">{{_companyName}}</h3>
      <p class="govuk-body-s sbi-number" style="margin-bottom: 8px;">Single business identifier (SBI): {{_sbiNumber}}</p>
  </div>

  <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-s fcp-user-name" >Alfred Waldron</h3>
  </div>

</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-0 govuk-!-margin-top-2">
