{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Single front door prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 6</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">Version 6</span>
    <h1 class="govuk-heading-xl">
      Design history
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <!-- <h2 class="govuk-heading-l">Goals of this iteration</h2> -->

    <h3 class="govuk-heading-l">Why we explored payments</h3>

    <p class="govuk-body">In the <a href="/to-be/v5/design-history" class="govuk-link govuk-link--no-visited-state">last iteration, we focused on reducing users' need to get help from the Rural Payments Service</a> (RPS). We found that many RPS users struggle to get the information they need about their payments. We tested showing the latest payment status of a claim, but found that users need much more detailed information, so they can understand the latest payment in context of the claim and other payments. The focus of version 6 was to explore giving users more detailed payment information.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-l">Pain points and user needs</h3>

    <p class="govuk-body">We did a lot of research into the known payment pain points for users. This included:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a full review of recent user research and payments prototypes done by other teams - for example, a huge amount of work had already been done by teams working on SFI, delinked payments, and the payments hub</li>
      <li>a full review of our own team’s previous user insights on payments</li>
    </ul>

    <p class="govuk-body">From this review, we identified 6 overarching user needs farmers and land managers have for payments:</p>

    <ol class="govuk-list govuk-list--number">
      <li>I need to know in advance when I will get a payment and how much I will receive</li>
      <li>I need to know what my payments are for</li>
      <li>I need to see the progress and state of my payment</li>
      <li>I need to know how my payments has been calculated and over what period</li>
      <li>I need to be told when I need to take action and how</li>
      <li>I need to analyse and query historic and current payments data</li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h3 class="govuk-heading-l">Constraints</h3>

    <p class="govuk-body">We also explored known constraints. We spoke with the payments hub and others to discover the main blockers teams have faced when trying to improve payments processes. For example there are complex operational and technical issues around:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>post-payment adjustments</li>
      <li>rounding up or down of payments</li>
      <li>how much confirmation users can get on upcoming payments and when they can get this </li>
    </ul>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-l">Design approach</h3>

    <p class="govuk-body">The UCD team was directed not to be constrained with the initial design exploration. This meant ideating as if there are no operational or technical blockers. The only focus of our design would be to meet user needs - we needed to imagine an ideal world. For example, designing with zero constraints means we could imagine simplifying and standardising complex payment information across multiple schemes, and farmers getting accurate, timely, up to date payment notifications and schedules.</p>

    <p class="govuk-body">We focused only on payments for this iteration, but in future, would need to explore how to give farmers a wider level of detail and context beyond payments - for example a way to see the progress and status of the whole claim, not just the payment-related parts.</p>

    <p class="govuk-body">The content we have prototyped for payment actions, amounts and statuses is placeholder text. In due course, when we know the real data and statuses we would need to use, we would need to test with that.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">'How might we' statements</h2>

    <ol class="govuk-list govuk-list--number">
      <li>How might we make users aware of when and how much they will be paid?</li>
      <li>How might we make it clear what each payment is for?</li>
      <li>How might we keep users up to date with the progress of their claims & payments?</li>
      <li>How might we help users to understand how their payments have been calculated and check they are correct?</li>
      <li>How might we notify users of actions that need to be completed to progress their claims & payments?</li>
      <li>How might we allow users to access and use their payments information so that they can resolve queries and complete external tasks?</li>
    </ol>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <!-- <p class="govuk-body"><strong>1. How might we make users aware of when and how much they will be paid?</strong></p>
    <p class="govuk-body"><strong>2. How might we make it clear what each payment is for?</strong></p>
    <p class="govuk-body"><strong>3. How might we keep users up to date with the progress of their claims & payments?</strong></p>
    <p class="govuk-body"><strong>4. How might we help users to understand how their payments have been calculated and check they are correct?</strong></p>
    <p class="govuk-body"><strong>5. How might we notify users of actions that need to be completed to progress their claims & payments?</strong></p> -->

    <!-- <p class="govuk-body">Across the first 5 how might we statements, we prototyped the following design ideas:</p>

    <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
      <li>list all upcoming payments, making dates and amounts prominent, and show information on the next payment on the homepage</li>
      <li>have a regular payment date (for example 5th of every month)</li>
      <li>have a consistent reference for all farming payments (for example Defra+month+year - so DEFRAJanuary25)</li>
      <li>show all payments across all schemes and actions in one place, ordered by date, allowing users to see and move between upcoming and past payments</li>
      <li>show statuses for payments and actions needed</li>
      <li>notify users when action is needed to avoid an issue with payment, and make calls to action prominent, including a new ‘Your tasks’ section on homepage</li>
      <li>give users a high level amount of payment information on the homepage, then an overview of payments page showing payments grouped by scheme, then a payment details page showing payments grouped by action, then the option to go into each scheme to see detailed calculations</li>
      <li>include a 'get help' link at the top of every screen in the portal</li>
      <li>give information on payments and actions not only in the portal but by email, text and letter, to avoid the need to log in</li>
      <li>make clear:
        <ul class="govuk-list govuk-list--bullet ">
          <li>reference numbers for payment</li>
          <li>any deductions</li>
          <li>the bank account being paid into</li>
          <li>when the payment will be in the bank account</li>
          <li>what period the payment covers</li>
          <li>which payment is for what action and scheme</li>
          <li>links to schemes for agreements and detailed calculations</li>
        </ul>
      </li>
    </ul> -->
      
    <!-- <p class="govuk-body">6. How might we allow users to access and use their payments information so that they can resolve queries and complete external tasks?</p> -->

    <!-- <p class="govuk-body">For the 6th how might we statement we prototyped the following ideas:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>show past payment information dating back 7 years</li>
      <li>show past payment information grouped by calendar year</li>
    </ul> -->

      

    <h2 class="govuk-heading-l">
      Outcomes and decisions
    </h2>

    <h3 class="govuk-heading-m govuk-!-margin-bottom-2">Design ticket</h3>
    <p class="govuk-body govuk-!-margin-bottom-8"><a href="https://eaflood.atlassian.net/browse/SFDE-119" class="govuk-link govuk-link--no-visited-state">SFDE-119 - Payments iterations [UR December 2024 on version 6]</a></p>

    <span class="govuk-caption-m">Statement 1:</span>
    <h3 class="govuk-heading-m">We could list all upcoming payments, making date and amount prominent, and show information on the next payment on the homepage.</h3>

    <p class="govuk-body"> 
      <strong>If</strong> we give users a payment schedule listing all upcoming payments, with a focus on dates and amounts <br>
      <strong>Then</strong> users will be able to anticipate when and how much they will be paid <br>
      <strong>We’ll know this works when</strong> most users can easily understand the amount they will be paid and when it will be in their account
    </p>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">All users found the upcoming payments page useful and comprehensible. All users understood what and when they would be paid.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Continue to give users information about their upcoming payments, with prominent dates and amounts.</p>


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 2:</span>
    <h3 class="govuk-heading-m"> We could have a regular payment date (for example 5th of every month).</h3>
    <p class="govuk-body"> 
      <strong>If</strong> we use standardised, consistent payment dates (for example payment on 5th of every month)  <br>
      <strong>Then</strong> users will know when they’re getting paid and it will reduce payment related queries into the RPA <br>
      <strong>We’ll know this works when</strong> users tell us it would be helpful to be paid on the same date every period, and what that period would be 
    </p>

    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">All users understood what and when they would be paid, but all were confused by the idea of monthly payments, because this is different to the current quarterly, annual or ad hoc systems for SFI, AHWP and other schemes. Some users say quarterly payments would be less admin for them than monthly. We still do not know whether users would be in favour of regular payments in principle.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body"> A future iteration could change the schedule to quarterly, but we still need to know:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>whether users would like payments from different schemes and actions combined into regular payments</li>
      <li>how frequently users would want regular payments and why</li>
    </ul>
    <p class="govuk-body">We could put detail in the payment breakdown to explain what the payment covers, for example '£1500 - this is your annual AHWP payment for 2024 to 2025'.</p>



    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 3:</span>
    <h3 class="govuk-heading-m">We could have a consistent reference for all farming payments (for example, Defra+month+year - DEFRAJanuary25).
    </h3>
    <p class="govuk-body"> 
      <strong>If</strong> we have an easily identifiable, consistent reference linked to farming payments <br>
      <strong>Then</strong> farmers will recognise their farming payment when it appears in their bank account and this will reduce confusion  <br>
      <strong>We’ll know this works when</strong> users tell us an easily identifiable, consistent reference would make their lives easier 
    </p>
     
    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">It was proven that the right reference is helpful, but disproven that this specific reference worked. All users understood it was a payment from Defra but 4 out of 6 could not identify what the payment was for - one scheme or multiple schemes. </p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">We need to weigh these findings up with the fact users are not expecting a monthly reference number due to the current system, and they would have details in the service on what each payment is for. We can try to add more detail to a reference about what scheme or action it is for, but it would be hard to add more specifics to the reference without using too many characters and making it harder to read. We need to do more UR into users' preferences for payment references. Iteration will also depend on whether Defra decides to combine payments across schemes into a single payment, or not.</p>
    


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 4:</span>
    <h3 class="govuk-heading-m">We could notify users in the portal, by email, text and letter when action is needed to avoid an issue with payment, and make calls to action prominent,  including a new ‘Your tasks’ section on homepage.
    </h3>
    <p class="govuk-body"> 
      <strong>If</strong> we give users information about upcoming payments and actions needed in the portal, by email, by text message and by letter<br>
      <strong>Then</strong> users will be able to find out about payments and actions needed in a way that suits them<br>
      <strong>We’ll know this works when</strong> most users tell us they would be able to find out about payments and actions needed in a way that is easy for them. And when they don't have to log in to get the payment information, if they don't want to.
    </p>
    <p class="govuk-body"> 
      <strong>If</strong> we highlight to users when action is needed by text, email and letter, as well as in the portal<br>
      <strong>Then</strong> users will be able to take action when needed and avoid delays to their payments and claims<br>
      <strong>We’ll know this works when</strong> users understand action is needed and why, when to do it and where to go to do it
    </p>


    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">‘Action needed’ in the text and portal got all users' attention and 5 out of 6 users knew what scheme the action related to. All users expressed a preference for email communication. However, all users needed more detail on what action is required (for example, do you need to provide hedgerow photos). 5 out of 6 need to be clearer on how they can provide evidence. 4 users wanted the link to take them directly to upload evidence (which would be within the scheme) rather than clicking through via SFD. One user wanted to text back with a photo as evidence. </p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Continue with calls to action. Iterate ‘action needed’ wording to add more specifics on what you need to do (for example, not just ‘provide evidence’ but ‘send us a photo of your hedgerow’). Make the sign in link easier to find in the email. The link to provide action needs to go direct to the scheme place to submit evidence, rather than via SFD, to avoid wasting users' time. Iterate an email as default form of communication in future. If iterating an email or a text, allow users to reply directly to the email or text with a photo they can take on their phone. The team will also explore users being allowed to set notification preferences (for example for email, text, letter) as part of the SFD roadmap.</p>
    

    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 5:</span>
    <h3 class="govuk-heading-m">We could make clear:</h3>
    <ul class="govuk-list govuk-list--bullet" style="font-weight: bold;">
      <li>reference number for payment</li>
      <li>any deductions</li>
      <li>bank account being paid into</li>
      <li>when the payment will be in account</li>
      <li>what period the payment covers</li>
      <li>which payment is for what action and scheme</li>
      <li>links to schemes for agreements and detailed calculations</li>
    </ul>
    <p class="govuk-body"> 
      <strong>If</strong> we give users all relevant details about an upcoming payment, such as reference numbers and deductions <br>
      <strong>Then</strong> users will be clear on which payment is for what claim and how it was calculated <br>
      <strong>We’ll know this works when</strong> most users can link a payment to a specific claim and understand how it was calculated 
    </p>
  
    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">Users understood when and how much they will be paid and found the payment details generally useful. However half of users were overwhelmed by the number of links on the payment breakdown. Some users wanted more detail on the breakdown, for example on codes of actions they have signed up for or lengths of hedgerows.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Consider adding references to actions and codes users are working on, and details like length of hedgerows. Consider reducing the amount of links by grouping items together.</p>
    <p class="govuk-body">We could add wording to tell a user when a payment has been delayed, and when it will be paid (for example 'we couldn't pay you for x in January because we did not have your evidence, and it will be paid in February'). If we continue with showing 3 months of upcoming payments, add wording to state this is a 3 month view, and add a line to say the next month's payment (for example April) will be available here on a set date, for example 6 March 2025.</p>



    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 6:</span>
    <h3 class="govuk-heading-m">We could show all payments across all schemes and actions in one place, ordered by date, allowing users to see and move between upcoming and past payments.
    </h3>
    <p class="govuk-body"> 
      <strong>If</strong> we show users all their upcoming and past payments listed in chronological order<br>
      <strong>Then</strong> users will be able to see all their due and paid payments, in a helpful order<br>
      <strong>We’ll know this works when</strong> most users tell us it’s helpful to order all payments chronologically in one place
    </p>
     
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">5 out of 6 users successfully navigated through the past payments flow and would use past payments to manage finances and query payments. All users also generally liked the upcoming payments concept (see statement 1).</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Continue showing chronological payment lists for upcoming and past payments.</p>


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 7:</span>
    <h3 class="govuk-heading-m">We could show statuses for payments and actions needed. </h3>
    <p class="govuk-body"> 
      <strong>If</strong> we give users a way to see the status of their payment <br>
      <strong>Then</strong> they will be able to stay up to date with the progress of their payments <br>
      <strong>We’ll know this works when</strong> most users can easily and quickly understand the latest status and overall progress of their payments 
    </p>
     
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">All users found the statuses clear and reassuring. 2 users thought the status wording was a clickable button and one did not know what the status ‘Planned’ meant.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Continue showing statuses for payments and actions needed. Consider bringing the ‘View details’ link near to status so there is something to click on.</p>



    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 8:</span>
    <h3 class="govuk-heading-m">We could give users a high level amount of payment information on the homepage, then an overview of payments page showing payments grouped by scheme, then a payment details page showing payments grouped by action, then the option to go into each scheme to see detailed calculations.    </h3>
    <p class="govuk-body"> 
      <strong>If</strong> we break down payment information from high level to detailed information within the portal<br>
      <strong>Then</strong> users can get an overview of their payments without effort, and then go into more detail if they need <br>
      <strong>We’ll know this works when</strong> users can explore as little or as far into the detail of their payments as they need
    </p>

    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">Generally the upcoming, past payments and breakdown pages tested well. Some users would like more details (this is covered by statement 5).  2 out of 6 users said they would prefer to have details upfront, without having to click through similar screens to get to them.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Consider continuing with the approach of high level to detailed and more detailed information. If, when we test again, more users would prefer all details upfront, we could design to show all payment information on  a single page, so fewer click throughs and sub pages would be needed. We may want to consider using a details component.</p>


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 9:</span>
    <h3 class="govuk-heading-m">We could include a 'get help' link at the top of every screen in the portal.</h3>
    <p class="govuk-body"> 
      <strong>If</strong> we give users a way to get help when looking at their payment information <br>
      <strong>Then</strong> if they still have any payment queries after viewing the details in the service, they can get individual support <br>
      <strong>We’ll know this works when</strong> most users say they would still like the option to contact support and can find the way to get help easily
    </p>
  
    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">2 out of 6 users noticed the ‘get help’ link and would access customer service support.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">We will do more exploration on how users can get customer service support. We also plan to add a footer to the service with contact us information.</p>


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 10:</span>
    <h3 class="govuk-heading-m">We could provide past payment information dating back 7 years.</h3>
    <p class="govuk-body"> 
      <strong>If</strong> we give users a way to see past payments, dating back 7 years  <br>
      <strong>Then</strong> we’ll support users to resolve queries and complete external tasks <br>
      <strong>We’ll know this works when</strong> a substantial proportion of users tell us they need payment details going back 7 years
    </p>
 
    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">Users' expectations ranged between 3 and 20 years.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">More user and business research is needed to find out what a reasonable number of years to show might be - for example HMRC say to keep receipts for audits for 7 years. There is an environmental impact of storing large amounts of historical data. We may consider showing 1 or 2 years of data and offering a way to request historical data if needed. </p>
    

    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 11:</span>
    <h3 class="govuk-heading-m">We could show past payment information grouped by calendar year.</h3>
    <p class="govuk-body"> 
      <strong>If</strong> we allow users to filter past payment information by year <br>
      <strong>Then</strong> users will be able to see all their past payments in manageable chunks <br>
      <strong>We’ll know this works when</strong> most users are able to find a payment made a few years in the past
    </p>

    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">5 of 6 users successfully navigated through the past payments flow to locate a payment in a specific year, and would use past payments to manage finances and query payments.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Continue showing past payments by month and year.</p>
    
  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
