{% extends "layouts/main.html" %}

{% set pageName="Your account" %}
{% set serviceName="Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}


{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_common/login-nav.html" %}

      <div class="govuk-breadcrumbs" style="display: inline-block">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
          </li>
        </ol>
      </div>

    </div>
  </div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">



    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      <span class="govuk-caption-l">Alfred Waldron</span>
      Your account
    </h1>
    <p class="govuk-caption-m govuk-!-margin-bottom-7">Customer reference number (CRN): 1101996862</p>


    <div class="gem-c-cards card-page">
      <ul class="gem-c-cards__list">

        

        <li class="gem-c-cards__list-item-variant">
          <a class="govuk-link govuk-link--no-visited-state" href="details-personal-details">
            <div class="gem-c-cards__list-item-wrapper-variant">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s link-style govuk-link">Your personal details</h2> 
              <p class="govuk-body-s gem-c-cards__description p-link-style">View and update your personal details</p>          
            </div>
          </a> 
        </li>


        <li class="gem-c-cards__list-item-variant">
          <a class="govuk-link govuk-link--no-visited-state" href="businesses-list">
            <div class="gem-c-cards__list-item-wrapper-variant">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s link-style govuk-link">Your businesses</h2> 
              <p class="govuk-body-s gem-c-cards__description p-link-style">View a list of your businesses</p>          
            </div>
          </a> 
        </li>

        <li class="gem-c-cards__list-item-variant">
          <a class="govuk-link govuk-link--no-visited-state" href="../../../_common/not-testing.html">
            <div class="gem-c-cards__list-item-wrapper-variant">
              <h2 class="gem-c-cards__sub-heading govuk-heading-s link-style govuk-link">Register a business</h2>
              <p class="govuk-body-s gem-c-cards__description p-link-style">Enter details for a new business</p>          
            </div>
          </a>  
        </li>
      
      </ul>
    </div>
    
  </div>
</div>





{% endblock %}
