{% extends "layouts/main.html" %}

{% set _includeServiceNavigation = "false" %}
{% set _paymentsServiceNavigationActive = true %}

{% set pageName="Your business" %}
{% set serviceName="Manage your land and farm businesses" %}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  {% include "_common/sub-header.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_common/login-nav.html" %}

      <div class="govuk-breadcrumbs" style="display: inline-block">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
          </li>
        </ol>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Payments
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-tabs" >
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list govuk-tabs-links-for-desktop" role="tablist">
          <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
            <a class="govuk-tabs__tab govuk-link--no-visited-state" href="#" role="tab" aria-selected="true">Upcoming <span class="govuk-visually-hidden">payments</span></a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-link--no-visited-state" href="#" role="tab" aria-selected="false">Previous</a>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- UPCOMING PAYMENTS CONTENT -->
      <div class="callout-box" >
        <p class="govuk-body callout-box-l-content">
          Next payment will be made
        </p>
        <p class="govuk-body callout-box-l-content">
          <strong>5 July 2024</strong>
        </p>
        <p class="govuk-body callout-box-l-content">
          <strong>£706</strong>
        </p>
        <p class="govuk-body">
          Covering period 1 April to 30 June 2024.
        </p>
        <p class="govuk-body">
          <a href="#" class="govuk-link govuk-link--no-visited-state">View details</a>
        </p>
      </div>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Upcoming payments</h2>

      <h3 class="govuk-heading-s">
        5 July 2024
        <br>£706
      </h3>

      <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-6">
      {% for _payment in data.payments %}
        <li><strong>{{_payment.date}}</strong>, £{{_payment.amount}},<br> {{_payment.action}},<br> {{_payment.scheme}}</li>
      {% endfor %}
      </ul>

    </div>
  </div>

  



{% endblock %}
