{% extends "layouts/main.html" %}

{% set pageName="Your businesses" %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set yourBusiness = "Active" %}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}
  {% include "_common/nav-bar.html" %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <span class="govuk-caption-l">Alfred Waldron</span>
      Your businesses
    </h1>
  </div>
</div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <!-- <div class="govuk-form-group govuk-!-margin-bottom-0">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="event-name">
               Search for a business
              </label>
            </h2>
            <div class="govuk-hint">
             Enter a business name or its single business identifier (SBI) for example, The Dairy Farm or 123456000.
            </div>
            <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Search
            </button>
          </div>  -->


          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Business name</th>
                <th scope="col" class="govuk-table__header">SBI number</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="business-home?agileSFD=True&valleySFD=">Agile Farms Ltd</a></th>
                <td class="govuk-table__cell">123456789</td>
              </tr>
              {% if data['agent'] == 'True' %}  
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">AJ COTTEY</a></th>
                <td class="govuk-table__cell">369888333</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Avery Acres</a></th>
                <td class="govuk-table__cell">744566000</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Beets by Dre</a></th>
                <td class="govuk-table__cell">332219845</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Croft Industries</a></th>
                <td class="govuk-table__cell">755211109</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Dickson Bros</a></th>
                <td class="govuk-table__cell">009944447</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Dolly Parsnip Ltd</a></th>
                <td class="govuk-table__cell">860763222</td>
              </tr>
              {% endif %}  
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">D M Jones & Partners</a></th>
                <td class="govuk-table__cell">202736410</td>
              </tr>
              {% if data['agent'] == 'True' %}  
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Estate of Lady Higginbottom</a></th>
                <td class="govuk-table__cell">865531123</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">FOSTER & SON</a></th>
                <td class="govuk-table__cell">221097732</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Fenton Hectares</a></th>
                <td class="govuk-table__cell">096445221</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Grays Poultry Ltd</a></th>
                <td class="govuk-table__cell">107756778</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Home Farm</a></th>
                <td class="govuk-table__cell">644322221</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Hollybush Holdings</a></th>
                <td class="govuk-table__cell">122109876</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Inroad Developments Ltd</a></th>
                <td class="govuk-table__cell">2001421786</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Jehan and Wearn Ltd</a></th>
                <td class="govuk-table__cell">344211567</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Kelce Farm</a></th>
                <td class="govuk-table__cell">889045441</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Mitchell Bros</a></th>
                <td class="govuk-table__cell">089912332</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Marley & Daughters</a></th>
                <td class="govuk-table__cell">122176668</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Nigel Thornberry</a></th>
                <td class="govuk-table__cell">231109776</td>
              </tr>
              {% endif %} 
              {% if data['agent'] != "True" %}  
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="business-home?valleySFD=True&agileSFD=">Valley Farm</a></th>
                <td class="govuk-table__cell">192846125</td>
              </tr>
              {% endif %} 
            </tbody>
          </table>
          </div>
        </div>

        {% if data['agent'] == 'True' %}  

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

          <nav class="govuk-pagination"  aria-label="Pagination">
            <ul class="govuk-pagination__list">
              <li class="govuk-pagination__item govuk-pagination__item--current">
                <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="businesses-list" aria-label="Page 1" aria-current="page">
                  1
                </a>
              </li>
              <li class="govuk-pagination__item">
                <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="businesses-list-p2" aria-label="Page 2">
                  2
                </a>
              </li>
            </ul>
            <div class="govuk-pagination__next">
              <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="businesses-list-p2" rel="next">
                <span class="govuk-pagination__link-title">
                  Next<span class="govuk-visually-hidden"> page</span>
                </span>
                <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                  <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
              </a>
            </div>

          </nav>

          <p class="">Showing <b>1</b> to <b>20</b> of <b>32</b> businesses</p>
          {% endif %} 

      </div>
    </div>






{% endblock %}
