{% extends "layouts/main.html" %}

{% set _includeServiceNavigation = "true" %}
{% set _paymentsServiceNavigationActive = true %}

{% set pageName="Your business" %}
{% set serviceName="Manage your land and farm businesses" %}

{% block beforeContent %}

  {% include "_common/login-nav.html" %}

{% endblock %}

{% block content %}

{% set _companyName = "Agile Farms Ltd" %}
{% set _sbiNumber = "123456789" %}

{% if data['valleySFD'] == 'True' %}  
  {% set _companyName = "Valley Farm" %}
  {% set _sbiNumber = "192846125" %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Payments
    </h1>
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>{{_companyName}}</strong><br>Single Business Identifier (SBI): {{_sbiNumber}}</p>
    <p class="govuk-body"><a href="businesses-list" class="govuk-link govuk-link--no-visited-state">View your other businesses</a></p>

  </div>
</div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="callout-box" >
            <p class="govuk-body callout-box-l-content">
              Next payment will be made
            </p>
            <p class="govuk-body callout-box-l-content">
              <strong>1 December 2024</strong>
            </p>
            <p class="govuk-body callout-box-xl-content">
              <strong>£706</strong>
            </p>
          </div>

          <h2 class="govuk-heading-l govuk-!-margin-top-6">Upcoming payments</h2>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-6">
          {% for _payment in data.payments %}
            <li><strong>{{_payment.date}}</strong>, £{{_payment.amount}},<br> {{_payment.action}},<br> {{_payment.scheme}}</li>
          {% endfor %}
          </ul>
    
        </div>
      </div>
    </div>

    {% include "_common/phase-banner-bottom.html" %}

{% endblock %}
