{% extends "layouts/main.html" %}

{% set _includeServiceNavigation = "false" %}
{% set _paymentsServiceNavigationActive = true %}

<!-- Selected payment -->
{% set _selectedPayment = data.selectedPayment %} 
{% for _payment in data.paymentsUpcoming %}
  {% if data.payment == _payment.id %}
    {% set _selectedPayment = _payment %} 
  {% endif %}
{% endfor %}

{% set pageName = _selectedPayment.date + ", " + _selectedPayment.totalFormatted %}
{% set serviceName="Manage your land and farm businesses" %}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  {% include "_common/sub-header.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_common/login-nav.html" %}

      {% set _returnURL = "business-payments" %}
      <div class="govuk-breadcrumbs" style="display: inline-block">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="{{_returnURL}}">Your business's payments</a>
          </li>
        </ol>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{_selectedPayment.date}}, {{_selectedPayment.totalFormatted}}
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-8">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date
          </dt>
          <dd class="govuk-summary-list__value">
            {{_selectedPayment.date}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Amount
          </dt>
          <dd class="govuk-summary-list__value">
            {{_selectedPayment.totalFormatted}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{_selectedPayment.reference}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">

            <p class="govuk-body ">
            {% if _selectedPayment.status == "action" %}
              <strong class="govuk-tag govuk-tag--red">
                Action needed
              </strong>
              {% elif _selectedPayment.status == "expected" %}
              <strong class="govuk-tag govuk-tag--blue">
                Planned
              </strong>
              {% elif _selectedPayment.status == "confirmed" %}
              <strong class="govuk-tag govuk-tag--green">
                Confirmed
              </strong>
            {% endif %}
            </p>

            {% if _selectedPayment.status == "action" %}
            <p class="govuk-body govuk-!-margin-bottom-3 govuk-!-margin-top-3">Provide evidence for your animal health and welfare review claim by 29 December 2024 to avoid delay to your payment.</p>
            <p><a href="#" class="govuk-button govuk-!-margin-bottom-2">Provide evidence</a></p>
            {% endif %}
            
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Covering period
          </dt>
          <dd class="govuk-summary-list__value">
            {{_selectedPayment.period}}
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Paying into
          </dt>
          <dd class="govuk-summary-list__value">
            Bank account ****9276
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-l ">What this payment includes</h2>

      <table class="govuk-table govuk-!-margin-bottom-8">
        <!-- <caption class="govuk-table__caption govuk-table__caption--s">Breakdown of payment</caption> -->
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Description</th>
            <th scope="col" class="govuk-table__header">Scheme</th>
            <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for _item in _selectedPayment.items %}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{_item.description}}</td>
              <td class="govuk-table__cell"><a href="#" class="govuk-link govuk-link--no-visited-state">{{_item.scheme}}</a></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{_item.amountFormatted}}
              </td>
            </tr>
          {% endfor %}

          <tr class="govuk-table__row">
            <td scope="row" class="govuk-table__header">Total</th>
            <td class="govuk-table__cell">&nbsp;</td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><strong>{{_selectedPayment.totalFormatted}}</strong></td>
          </tr>

        </tbody>
      </table>

    </div>
  </div>


  

{% endblock %}
