{% extends "layouts/main.html" %}

{% set pageName = "Your business" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_common/login-nav.html" %}

      <a class="govuk-back-link" href="businesses-list">Back to your businesses</a>

    </div>
  </div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set _selectedBusiness = data.selectedBusiness %} 
    {% for _business in data.businesses %}
      {% if data.business == _business.id %}
        {% set _selectedBusiness = _business %} 
      {% endif %}
    {% endfor %}

    <span class="govuk-caption-xl">Alfred Waldron</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">
      {{_selectedBusiness.name}}
    </h1>
    <p class="govuk-caption-m govuk-!-margin-bottom-7">Single Business Identifier (SBI): {{_selectedBusiness.sbiNumber}}</p>

  </div>
</div>

    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">



        <div class="gem-c-cards card-page">
          <ul class="gem-c-cards__list gem-c-cards__list-cards">

            <li class="gem-c-cards__list-item-variant">
              <a class="govuk-link govuk-link--no-visited-state link-style" href="vets-manage-your-claims">
                <div class="gem-c-cards__list-item-wrapper-variant">
                  <h2 class="gem-c-cards__sub-heading govuk-heading-s link-style govuk-link">Get funding to improve animal health and welfare</h2> 
                  {% if data['statusChanged'] == 'True' %}  
                  <div class="govuk-!-margin-bottom-2"><p class="update-style govuk-body-s gem-c-cards__description p-link-style govuk-!-padding-bottom-0">Claim approved for VV-5053-A696 - beef cattle review.</p>
                    <p class="update-style govuk-body-s gem-c-cards__description p-link-style">You'll be paid £554 by 10 October 2024.</p></div>
                  {% else %}  
                  <div class="govuk-!-margin-bottom-2"><p class="update-style govuk-body-s gem-c-cards__description p-link-style">Evidence submitted for <br>VV-5053-A696 - beef cattle review.</p></div>
                  {% endif %}  
                  <p class="govuk-body-s gem-c-cards__description p-link-style govuk-!-margin-bottom-2">Manage your claims</p>                   
                </div>
              </a> 
            </li>

          <li class="gem-c-cards__list-item-variant">
              <a class="govuk-link govuk-link--no-visited-state" href="../../../_common/not-testing.html">
                <div class="gem-c-cards__list-item-wrapper-variant">
                  <h2 class="gem-c-cards__sub-heading govuk-heading-s link-style govuk-link">Calf Housing for Health and Welfare grant</h2>
                  <div class="govuk-!-margin-bottom-2"><p class="update-style govuk-body-s gem-c-cards__description p-link-style ">You were paid on 15 September 2024.</p></div>
                  <p class="govuk-body-s gem-c-cards__description p-link-style">Manage your claims</p>          
                </div>
              </a>  
            </li> 


          
          </ul>
        </div>

    
        </div>

        <div class="govuk-grid-column-one-third">


          <h3 class="govuk-heading-m">
            Business details
          </h3>

          <p><a class="govuk-link--no-visited-state" href="details-business-details">View and update your business details</a></p> 
          <p><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">View and update permissions</a></p> 


        </div>


      </div>
    </div>


{% endblock %}
