{% extends "layouts/main.html" %}

{% set pageName="View and update your personal details" %}
{% set serviceName="Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  <!-- ACCOUNT MENU -->
  <nav id="secondary-nav" class="hmrc-account-menu hmrc-account-menu_sfd" aria-label="Account" data-module="hmrc-account-menu">

    <nav class="govuk-breadcrumbs" style="display: inline-block;" aria-label="Breadcrumb">
      <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
        </li>
      </ol>
    </nav>

    <a href="#" class="hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible" tabindex="-1" aria-hidden="true" aria-expanded="false">
      Account menu </a>

      <ul class="hmrc-account-menu__main js-hidden">
      <li class="hmrc-account-menu__link--back hidden" aria-hidden="true">
        <a href="#" tabindex="-1" class="hmrc-account-menu__link">
          Back </a>
      </li>


      <li>
        <a href="account-home" class="hmrc-account-menu__link hmrc-account-menu__link_sfd">
          Your account </a>
      </li>

      <li>
        <a href="../../../_common/not-testing.html" class="hmrc-account-menu__link hmrc-account-menu__link_sfd">
          Sign out </a>
      </li>
    </ul>
  </nav>
  <!-- END ACCOUNT MENU -->

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">
     View and update your personal details
    </h1>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Full name
        </dt>
        <dd class="govuk-summary-list__value">
          Alfred Waldron
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="govuk-summary-list__value">
          2 November 1970
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> date of birth</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Customer reference number
        </dt>
        <dd class="govuk-summary-list__value">
          1101996862
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Personal identifier
        </dt>
        <dd class="govuk-summary-list__value">
          110764804
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          10 Skirbeck Way<br>Maidstone<br>SK22 1DL
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone
        </dt>
        <dd class="govuk-summary-list__value">
          01632 960000
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> phone number</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['mobNumberPers'] %}  
          {{ data['mobNumberPers'] }}
          {% else %}  
          07700900967
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="details-change-mob-personal">Change<span class="govuk-visually-hidden"> mobile phone number</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          alfredwaldronf@nordlawderflac.com.test
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="#">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
      </div>
    </dl>



  </div>
</div>





{% endblock %}
