{% extends "layouts/main.html" %}

{% set pageName="Check your mobile phone number is correct before submitting" %}
{% set serviceName="Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}


{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  <!-- ACCOUNT MENU -->
  <nav id="secondary-nav" class="hmrc-account-menu hmrc-account-menu_sfd" aria-label="Account" data-module="hmrc-account-menu">

    <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>


    <a href="#" class="hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible" tabindex="-1" aria-hidden="true" aria-expanded="false">
      Account menu </a>

      <ul class="hmrc-account-menu__main js-hidden">
      <li class="hmrc-account-menu__link--back hidden" aria-hidden="true">
        <a href="#" tabindex="-1" class="hmrc-account-menu__link">
          Back </a>
      </li>


      <li>
        <a href="account-home" class="hmrc-account-menu__link hmrc-account-menu__link_sfd">
          Your account </a>
      </li>

      <li>
        <a href="../../../_common/not-testing.html" class="hmrc-account-menu__link hmrc-account-menu__link_sfd">
          Sign out </a>
      </li>
    </ul>
  </nav>
  <!-- END ACCOUNT MENU -->

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="details-mob-personal-updated" method="post">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Check your mobile phone number is correct before submitting     
        </h1>
      </legend>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Mobile phone number"
            },
            value: {
              text: data['mobNumberPers'] or "07700900967"

            },
            actions: {
              items: [
                {
                  href: "details-change-mob-personal",
                  text: "Change",
                  visuallyHiddenText: "mobile phone number"
                }
              ]
            }
          }
        ]
      }) }}
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit
      </button>
    </fieldset>

      </form>






  </div>
</div>





{% endblock %}
