{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{super()}}
<a href="/to-be/index" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version 6
      <span class="govuk-caption-xl">Round 9: 16 December to 20 December 2024</span>
    </h1>
  </div>

  

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      How might we?
    </h2>

    <ol class="govuk-list govuk-list--number">
      <li>How might we make users aware of when and how much they will be paid?</li>
      <li>How might we make it clear what each payment is for?</li>
      <li>How might we keep users up to date with the progress of their claims & payments?</li>
      <li>How might we help users to understand how their payments have been calculated and check they are correct?</li>
      <li>How might we notify users of actions that need to be completed to progress their claims & payments?</li>
      <li>How might we allow users to access and use their payments information so that they can resolve queries and complete external tasks?</li>
    </ol>

  <!-- <div>
    <a href="start-rps-start-og" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Link 1 - RPS start page
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>

  <div>
    <a href="vets-claim-approved-email?statusChanged=True&valleySFD=True" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Link 2 - Email 
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div> -->

    <!-- line break to split up the page -->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Page links
    </h2>

    <h3 class="govuk-heading-s">
      Notifications
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="payment-next-text">Payment - upcoming - text message</a></li>
      <li><a class="govuk-link--no-visited-state" href="payment-next-email">Payment - upcoming - email</a></li>
      <li><a class="govuk-link--no-visited-state" href="payment-action-text">Payment - action - text message</a></li>
      <li><a class="govuk-link--no-visited-state" href="payment-action-email">Payment - action - email</a></li>
    </ul>

    <hr>

    <h3 class="govuk-heading-s">
      Start
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="start-rps-start-og">RPS start page</a></li>
      <li><a class="govuk-link--no-visited-state" href="start-rps-sign-in">RPS sign in</a></li>
      <li><a class="govuk-link--no-visited-state" href="start-sfd-start">SFD start page</a></li>
      <li><a class="govuk-link--no-visited-state" href="start-sfd-sign-in">SFD sign in</a></li>
      <li><a class="govuk-link--no-visited-state" href="businesses-list">Your businesses list</a></li>
    </ul>

    <h3 class="govuk-heading-s">
      Landing, your account and details
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="business-home">Business page</a></li>
      <li><a class="govuk-link--no-visited-state" href="account-home">Your account</a></li>
      <li><a class="govuk-link--no-visited-state" href="details-business-details">View and update your business details</a></li>
      <li><a class="govuk-link--no-visited-state" href="details-personal-details">View and update your personal details</a></li>
    </ul>


    <h3 class="govuk-heading-s">
      Vet visits Manage your claims screen and email
    </h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="vets-claim-approved-email">Claim approved email</a></li>
      <li><a class="govuk-link--no-visited-state" href="vets-manage-your-claims">Manage your claims</a></li>
    </ul>
  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Information
        <span class="govuk-caption-s">(all links open in a new tab)</span>
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="_design-history">
              Design history
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1708095369498/312f9f5bbd6500ac2e567b6390d0453ecb6bf290?wid=0-1726655395429" target="_blank">
              Hypothesis
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/defraallcompany8330/1700644751131/8f9698d767ce508393323a6dacb8abb8d923b960?wid=0-1726065444141" target="_blank">
              Planning scenario and flow for research
            </a>
          </li>
          <!--      <li>
                  <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1727080227184/2b9ae0194d4090b8ac2b11cf43d424ee6d72908a?sender=u99a2fb0acf31d118adab1745" target="_blank">
                    Research note taking
                  </a>
                </li>  -->
    <!--      <li>
            <a href="" target="_blank">
              User research playback
            </a>
          </li>  -->
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
