{% extends "layouts/main.html" %}

<!-- Selected business -->
{% set _selectedBusiness = data.selectedBusiness %} 
{% for _business in data.businesses %}
    {% if data.business == _business.id %}
        {% set _selectedBusiness = _business %} 
    {% endif %}
{% endfor %}

<!-- Upcoming payment  -->
{% set _selectedPayment = data.paymentsUpcoming[0] %} 

{% set _showEmailMeta = true %}
{% set _emailSubject = "You have an upcoming payment from Defra for " + _selectedBusiness.name + ", " + _selectedPayment.date %}

{% set serviceName = "" %}

{% block pageTitle %}
Subject: {{_emailSubject}}
{% endblock %}

{% block content %}

<style>
  .email-layout p,
  .email-layout h1,
  .email-layout h2,
  .email-layout table,
  .email-layout ul {
    font-family: Helvetica, Arial, sans-serif;
  }
</style>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds email-layout" >
    
        <h1 class="govuk-heading-l govuk-!-font-size-27">Your next monthly Defra payment for {{_selectedBusiness.name}} is coming soon</h1>
        
        <p class="govuk-body">Single business identifier (SBI): {{_selectedBusiness.sbiNumber}}</p>

        <p class="govuk-body">Customer reference number (CRN): {{data.user.crn}}</p>

        <p class="govuk-body">Dear {{data.user.name}},</p>

        <p class="govuk-body">The next monthly Defra payment to your business {{_selectedBusiness.name}} is confirmed and will be with you soon.</p>

        <h2 class="govuk-heading-s">We will pay you {{_selectedPayment.total | currency(trailingZeros=false) }} on {{_selectedPayment.date}}</h2>

        <p class="govuk-body">This is your total Defra funding for {{_selectedPayment.period}}.</p>

        <p class="govuk-body">The payment will be in your bank account ending 9276 within 2 working days of {{_selectedPayment.date}}.</p>

        <p class="govuk-body">The payment reference will be {{_selectedPayment.reference}}.</p>

        <h2 class="govuk-heading-s">What this payment includes</h2>

        <table class="govuk-table govuk-!-margin-bottom-8">
            <!-- <caption class="govuk-table__caption govuk-table__caption--s">Breakdown of payment</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Description</th>
                <th scope="col" class="govuk-table__header">Scheme</th>
                <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Amount</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
    
              {% for _item in _selectedPayment.items %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">{{_item.description}}</td>
                  <td class="govuk-table__cell">{{_item.scheme}}</td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    {{_item.amount | currency(trailingZeros=false) }}
                  </td>
                </tr>
              {% endfor %}
    
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__header">Total</th>
                <td class="govuk-table__cell">&nbsp;</td>
                <td class="govuk-table__cell govuk-table__cell--numeric"><strong>{{_selectedPayment.total | currency(trailingZeros=false) }}</strong></td>
              </tr>
    
            </tbody>
        </table>

        <p class="govuk-body">You can <a href="start-sfd-sign-in?deeplink=business-home" class="govuk-link govuk-link--no-visited-state">sign in</a> to view and manage:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>all your upcoming and past Defra payments</li>
            <li>all your Defra funding claims</li>
            <li>your account, including updating your personal, business and bank details</li>
        </ul>

        <h2 class="govuk-heading-s">Get help with your payment</h2>

        <p class="govuk-body">You can contact us by phone or reply to this email for help and support.</p>

        <p class="govuk-body">Please have your SBI and CRN with you when you call or include them in your email. You can find these at the top of this email.</p>

        <p class="govuk-body">Telephone: 03000 200 301</p>

        <p class="govuk-body">Monday to Friday, 8:30am to 5pm, except bank holidays</p>

        <p class="govuk-body">Calls are free.</p>

        <p class="govuk-body">Email: <a href="/_common/not-testing" class="govuk-link govuk-link--no-visited-state">support@defra.gov.uk</a></p>

        <p class="govuk-body">You can expect a response to email queries within 5 working days.</p>


    </div>

</div>
    
{% endblock %}

{% block footer %}

{% set _customFooterContent %}
    <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Go to:</p>
    <ul class="govuk-footer__inline-list">
        <li class="govuk-footer__inline-list-item">Email (this email)</li>
        <li class="govuk-footer__inline-list-item"><a href="payment-action-text" class="govuk-footer__link">Text</a></li>
        <li class="govuk-footer__inline-list-item"><a href="payment-action-letter" class="govuk-footer__link">Letter</a></li>
        <li class="govuk-footer__inline-list-item"><a href="business-home" class="govuk-footer__link">Service</a></li>
    </ul>
{% endset %}

    {{ govukFooter({
        meta: {
            items: [
            {
                
            }
            ],
            html: [
                _customFooterContent
            ],
            visuallyHiddenTitle: "Footer links"
        }
    }) }}

{% endblock %}