{% extends "layouts/logged-in-nav-v4.html" %}

{% set pageName="Home" %}

{% set yourMessages = "Active" %}


{%- block beforeContent -%}


<div class="govuk-width-container">

  {% include "to-be/v4/components/sub-header/include.html" %}


  <!-- ACCOUNT MENU -->
  <nav id="secondary-nav" class="hmrc-account-menu hmrc-account-menu_sfd" aria-label="Account" data-module="hmrc-account-menu">

    <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>


    <a href="#" class="hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible" tabindex="-1" aria-hidden="true" aria-expanded="false">
      Account menu </a>

      <ul class="hmrc-account-menu__main js-hidden">
      <li class="hmrc-account-menu__link--back hidden" aria-hidden="true">
        <a href="#" tabindex="-1" class="hmrc-account-menu__link">
          Back </a>
      </li>

      <!-- <li>
        <a href="/to-be/v4/messages/message-history" class="hmrc-account-menu__link hmrc-account-menu__link_sfd hmrc-account-menu__link--active hmrc-account-menu__link--active_sfd">
          Messages
        </a>
      </li> -->

      <!-- <li>
        <a href="/to-be/v4/your-account/your-account" class="hmrc-account-menu__link hmrc-account-menu__link_sfd">
          Your account </a>
      </li> -->

      <li>
        <a href="/to-be/v4/start/sign-in" class="hmrc-account-menu__link hmrc-account-menu__link_sfd">
          Sign out </a>
      </li>
    </ul>
  </nav>
  <!-- END ACCOUNT MENU -->


</div>

{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-l">Claim submitted to improve animal health and welfare </h1>

    <p class="govuk-body-s govuk-!-margin-bottom-1">From: Get funding to improve animal health and welfare</p>
    <p class="govuk-body-s govuk-!-margin-bottom-1">Sent: 6 June 2024 at 1:22pm</p>

    <div class="govuk-summary-card">
      <!-- <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Claim submitted to improve animal health and welfare
        </h2>
      </div> -->
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Claim number: VV-5053-A696</p>
        <p class="govuk-body">You have successfully submitted your claim.</p>
        <p class="govuk-body">Agreement number: AHWR-2847-2847</p>

        <h2 class="govuk-heading-s">What happens next</h2>
        <p class="govuk-body">The Rural Payments Agency (RPA) may contact you to request the summary the vet gave you.</p>

        <p class="govuk-body">We will process your claim within 28 days. If your claim is successful, you will get £554.</p>

        

        <p class="govuk-body">Go to <a href="/to-be/v4/vet-visits/manage-your-claims" class="govuk-link--no-visited-state">manage your claims</a> to make another claim or view:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>details of your claims</li>
            <li>scheme guidance</li>
            <li>your Terms and Conditions</li>
            <li>your agreement summary</li>
        </ul>

        <p class="govuk-body">If you want to arrange another review or follow-up, read the <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">guidance on timing of reviews and follow-ups</a>.</p>


            <h2 class="govuk-heading-m">Get help with your claim</h2>

            <p class="govuk-body">If you need to change the details of your claim, contact the RPA and give your agreement number.</p>

            <p class="govuk-body">Email: <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">ruralpayments@defra.gov.uk</a></p>
        
            <p class="govuk-body govuk-!-margin-bottom-0">Telephone: 03000 200 301</p>
            <p class="govuk-body">Monday to Friday, 8:30am to 5pm, except bank holidays</p>

            <p class="govuk-body">Find out about call charges at <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">https://www.gov.uk/call-charges</a></p>

            <p class="govuk-body">What did you think of this service? <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">https://defragroup.eu.qualtrics.com/jfe/form/SV_0lxBrd2XeDnn2hU</a> (giving feedback takes about 5 minutes)</p>

          
      </div>
    </div>
   
    
  </div>
</div>





{% endblock %}
