{% extends "layouts/gov-signpost.html" %}

{% set pageName="Home" %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="browse__section">
    <h2 class="govuk-heading-m">Get grants, rural payments and business support</h2>

    <ul class="govuk-list browse__list">
      <li>
        <a class="govuk-link" href="../../../_common/not-testing.html">Funding for farmers, growers and land managers</a>
      </li>
      <li>
        <a class="govuk-link" href="start-radios">Manage your land and farm businesses</a>
      </li>
      <li>
        <a class="govuk-link" href="../../../_common/not-testing.html">Register land with the Rural Land Register</a>
      </li>
      <li>
        <a class="govuk-link" href="../../../_common/not-testing.html">Catchment Sensitive Farming: advice for farmers and land managers</a>
      </li>
      <li>
        <a class="govuk-link" href="../../../_common/not-testing.html">Farming Resilience Fund: free business advice for your farm</a>
      </li>
      <li>
        <a class="govuk-link" href="../../../_common/not-testing.html">Farming Advice Service</a>
      </li>
      <li>
        <a class="govuk-link" href="../../../_common/not-testing.html">Get help and support for your business</a>
      </li>
    </ul>

    </div>
    

    <div class="browse__section browse__section--top-border">

    <h2 class="govuk-heading-m">Get planning permission</h2>

    <ul class="govuk-list browse__list">
      <li>
        <a class="govuk-link" href="../../../_common/not-testing.html">Planning permission for farms</a>
      </li>
    </ul>

    </div>


    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Land management</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Register land with the Rural Land Register</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Rules for farmers and land managers</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">The Countryside Code</a>
        </li>
      </ul>
  
    </div>


    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Keep livestock</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Use Cattle Tracing System (CTS) Online</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Rules for farmers and land managers</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Report a suspected problem with an animal medicine or microchip</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Bird flu (avian influenza): how to spot and report it in poultry or other captive birds</a>
        </li>
      </ul>
  
    </div>


    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Import, export and move animals or food</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Guidance on importing live animals or animal products</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Guidance on exporting live animals or animal products</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Import eggs to Great Britain</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Export eggs from Great Britain</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Hatching eggs and chicks marketing standards</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Export or move food, drink and agricultural products</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Export or move animal feed or pet food</a>
        </li>
      </ul>
  
    </div>


    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Check workers’ rights or find training</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Agricultural workers' rights</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Agricultural Sick Pay</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Calculate your agricultural worker holiday entitlement</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Agricultural skills and training</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Seasonal work on farms: guidance for workers</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Seasonal Worker visa (Temporary Work)</a>
        </li>
      </ul>
  
    </div>


    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Find farming rules and regulations</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Rules for farmers and land managers</a>
        </li>
      </ul>
  
    </div>


    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Register a farm vehicle</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Register a farm vehicle</a>
        </li>
      </ul>
  
    </div>


    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Health and safety</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Farm health and safety</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Health and safety using farm vehicles and machinery</a>
        </li>
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">White asbestos on farms: how to spot, manage and dispose of it</a>
        </li>
      </ul>
  
    </div>

    <div class="browse__section browse__section--top-border">

      <h2 class="govuk-heading-m">Register to supply biomass fuel</h2>
  
      <ul class="govuk-list browse__list">
        <li>
          <a class="govuk-link" href="../../../_common/not-testing.html">Register as a biomass supplier</a>
        </li>
      </ul>
  
    </div>


      
  </div>

<!-- 
<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Related content</h2>
  <p class="govuk-body"><a href="https://www.gov.uk/guidance/funding-for-farmers" class="govuk-link govuk-link--no-visited-state">Funding for farmers, growers and land managers</a></p>
</div>
 -->

</div>

{% endblock %}
