{% extends "layouts/service-start-v3.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Manage your land and farm businesses
    </h1>

    <p>There are 2 places to sign in depending on what you need to do.</p>
    
    <form action="/which-service-answer" method="post">
    <div class="govuk-form-group govuk-!-margin-bottom-1">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          Choose where to sign in
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whichService" name="whichService" type="radio" value="whichRPS">
            <label class="govuk-label govuk-radios__label" for="whichService">
              Rural Payments service for:
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1">
                <li>land and maps</li>
                <li>Countryside stewardship (CS)</li>
                <li>who has permission to act on behalf of the business</li>
              </ul>            
            </div>
          </div>

          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="whichService-2" name="whichService" type="radio" value="whichNew">
            <label class="govuk-label govuk-radios__label" for="whichService-2">
              Manage other business tasks including:
            </label>
            <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint">
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1">
                <li>personal and business details</li>
                <li>Animal health and welfare scheme</li>
                <li>Sustainable Farming Incentive (SFI)</li>
                <li>Calf Housing for Health and Welfare grant</li>
              </ul>
            </div>
          </div>
        </div>

      </fieldset>
      <input type="submit" class="govuk-button" value="Continue">

    </div>
    </form>


    <h2 class="govuk-heading-m">Register for an account</h2>

    <p>If you don't have an account, you can register for one by contacting the Rural Payments Agency.</p>

    <p>You'll be sent a Customer Reference Number (CRN) which you can use to sign in.</p>

    <div>
      <p>Rural payments helpline<br>
      Email: <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">ruralpayments@defra.gov.uk</a><br>
      Telephone: 03000 200 301<br>
      Monday to Friday, 8:30am to 5pm, except bank holidays<br>
      <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">Find out about call charges</a></p>
      </div>

      <div class="govuk-inset-text">
        Find out <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">more about how to register and how to give someone else permission to act your behalf</a>.
      </div>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>There's a different way to apply for rural payments and grants if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.ruralpayments.org/" class="govuk-link--no-visited-state">your farm is in Scotland</a></li>
        <li><a href="https://www.gov.wales/rural-payments-wales-rpw-online" class="govuk-link--no-visited-state">your farm is in Wales</a></li>
        <li><a href="https://www2.dardni.gov.uk/gatewayweb/internet/login_1.aspx" class="govuk-link--no-visited-state">your farm is in Northern Ireland</a></li>
      </ul>
      
  </div>

<div class="govuk-grid-column-one-third">
  <hr>
  <h2 class="govuk-heading-m">Related content</h2>
  <p class="govuk-body"><a href="https://www.gov.uk/guidance/funding-for-farmers" class="govuk-link govuk-link--no-visited-state">Funding for farmers, growers and land managers</a></p>
</div>
</div>

{% endblock %}
