{% extends "layouts/main-rebrand.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../index">Single front door prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">V16</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Design history</span>
      Version 16: permissions scenarios
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Why did we do this iteration?
    </h2>

    <p class="govuk-body">
      The purpose of this iteration was to design various loose ends we had not had time to think through until now. These include:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        making simple prioritised updates 
      </li>
      <li>exploring different scenarios relating to permission levels and business relationships, especially for users with full permissions and/or owners</li>
    </ul>

    <p>
      The mural board work for this iteration is here: <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1765188385049/52966f8ac42c31e942ea6d8cb3e4aa57599bb19d?wid=0-1767878025899">Explore board 3 (opens in new tab)</a>
    </p>

    <h2 class="govuk-heading-l">
      Simple updates 
    </h2>

    <p class="govuk-body">
      With our product manager, we prioritised some straightforward iterations for the initial release of permissions:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        removed link to guidance on recommended permission levels
      </li>
      <li>
        removed request/grant access journey as this has been descoped for initial release (when back in scope, this could involve multiple changes following the last round of UR) 
      </li>
    </ul>

    <p class="govuk-body" target="_blank">
      There are other major changes that would be important to consider for initial release (any changes needed to notifications, and the internal user journeys) which our PM decided for now could go on the backlog, together with the longer term ideas (which includes a complete rethinking of RPA’s permissions rules). There is a <a href="https://eaflood.atlassian.net/browse/SFD2-650?search_id=1378f967-4502-4146-a84f-13c6276efd25" target="_blank">Jira ticket for all these medium and long term plans in the backlog which contains relevant notes and links (opens in new tab)</a>.
    </p>

    <p class="govuk-body">
      <a href="../../v10/_design-history/design-history_permissions-v1-1">All the proposed changes following the latest round of permissions user research</a> (prototype version 10) were reviewed and have been either addressed in version 16, or are in this backlog ticket.
    </p>

    <h2 class="govuk-heading-l">
      Scenarios for users with different permission levels and relationships
    </h2>

    <p class="govuk-body">
      In the latest iteration we attempted to clarify journeys for users with varying permission levels and relationships, especially users with high permission and/or owners.
    </p>
    <p class="govuk-body">
      As part of this work, we addressed the user need which clearly came out of the last round of UR for  more prominent warnings when giving high permission. We did this by moving the warning higher, splitting it across pages to make it easier to digest and more in context, and adding extra warnings at high-risk moments.
    </p>

    <h3 class="govuk-heading-m">
      Business rules and our assumptions
    </h3>

    <p class="govuk-body">
      The underlying business rules are complex and in some key respects are unclear to us (and, we believe, will be confusing to both external and internal users). There are some apparent conflicts between some of the rules. This post covers permissions in general, while <a href="../../v14/_design-history/design-history">other conflicts which relate to doc upload permissions are covered in the doc upload/permissions design history</a>.
    </p>
    <p class="govuk-body">
      It was not possible to confirm all the business rules on permissions with certainty, so we had to design based on our best assumptions of how we think permissions could and should logically work, based on our BAs' knowledge, the test environment, BAs' discussions with RPA, and design thinking. 
    </p>
    <p class="govuk-body">
      UCD’s recommendation continues to be that the whole RPS permissions model should be completely re-thought and therefore re-designed. 
    </p>
    <p class="govuk-body">
      Fundamental change is especially important due to the RPA’s plan to make the portal entirely self-serve when it comes to permissions, with the exception of assisted digital users. This will make it easier for high-permission users to make major business changes online, which poses a significant risk to businesses and vulnerable users if they have given someone high levels of permission without understanding the implications. It will be more important than ever to restrict the giving of ‘full permissions’.
    </p>
    <p class="govuk-body">
      If our initial release of permissions goes ahead, the fundamental permissions model will not change but things may appear different to users. We have tried to address this in our designs by playing back information and choices to users in the service, but there needs to be careful planning in terms of the comms around dual running, for example whether existing users might be invited to review or reset permissions online.
    </p>

    <h3 class="govuk-heading-m">
      Journeys prototyped
    </h3>

    <p class="govuk-body">
      Based on our assumptions, we mapped out the following scenarios in Mural, prototyped them and shared them for review with RPA colleagues:
    </p>

    <h4 class="govuk-heading-s">
      A full permission user gives someone else full permission
    </h4>

    <p class="govuk-body">
      In this scenario, we decided a user should not need to click through and select any land or scheme permissions, and can move straight to the check page, because by assigning full business permission, they are automatically, in effect, handing the other user full control of all land and schemes. 
    </p>
    <p class="govuk-body">
      This is something which is not made clear to users in the as-is, and we think it could be a major contributor to users not understanding the implications of giving someone full permission. Not being clear on this misleads users into, for example, believing they are restricting someone’s scheme or land permissions, when in fact there is no such restriction because any user with full permission can change their own permissions. 
    </p>
    <p class="govuk-body">
      In our iteration, we now remove unnecessary and misleading steps for users, explain what full permission means, and make the risks more obvious. 
    </p>

    <h4 class="govuk-heading-s">
      A user changes their own permission or business relationship
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        only a full permission user can change their own business relationship and reduce their own permissions (we wondered why anyone would want to reduce their own permission, and have been advised by BAs that users may want to do this to stop getting so much correspondence). The user will, in our new design, get a warning about losing their full control of the business
      </li>
      <li>
        any user without full permission sees a variation of the ‘View access’ page which has no ‘change’ links next to their own and others' roles and permissions - they only see links to ‘details’ because they have no permission to change their own or others' roles or permissions
      </li>
      <li>
        any type of user can remove their own access to the business. There are a few exceptions which we have prototyped as unhappy paths:
      </li>
      <ol class="govuk-body" type="a">
        <li>
          a full permission user cannot reduce their own permissions or remove themself if they are the only full permission user
        </li>
        <li>
          an ‘owner or sole trader’ (any permission level) cannot change their business relationship or remove themself if they are the only ‘owner or sole trader’
        </li>
      </ol>
    </ul>

    <h4 class="govuk-heading-s">
      A user views and changes others' permissions
    </h4>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        a full permission user can't make any changes to another person with full permission’s role, permissions or remove them. The other person could be an owner or not - the fact the other user has full permission trumps everything
      </li>
      <li>
        a full permission user can change a lower permission user’s role or permissions. Even if the lower permission user is an owner
      </li>
      <li>
        a full permission user can remove a lower permission user, except if the lower permission user is an ‘owner or sole trader’
      </li>
      <li>
        any user without full permission sees a variation of the ‘View access’ page which has no ‘change’ links next to their own and others' roles and permissions - they only see links to ‘details’ because they have no permission to change their own or others' roles or permissions
      </li>
    </ul>
    
    <h2 class="govuk-heading-l">
      Next steps
    </h2>

    <p class="govuk-body">
      Confirm the assumptions we have prototyped with RPA for our initial release and change designs as needed.
    </p>
    <p class="govuk-body">
      The move to get users to make all permissions changes online (except for assisted digital users) only emerged after we had done our designs, and if this affects initial release, our designs will need significant updating to reflect this and put in appropriate safeguards.
    </p>
    <p class="govuk-body">
      Consider if RPA need any operational changes to email or letter notifications and any need for an internal user journey (see backlog ticket).
    </p>
    <p class="govuk-body">
      Consider dual running comms around permissions.
    </p>
    <p class="govuk-body">
      Metadata and ALAN will be done once we have finalised designs for initial release.
    </p>
    <p class="govuk-body">
      This iteration is brand new and has not been through any user testing - it should be tested. The <a href="../../v10/_design-history/design-history_permissions-v1-1">ideas for user testing noted at the end of the previous permissions design history</a> are still valid.
    </p>


  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}