{% extends "layouts/main-rebrand.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../index">Single front door prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">V16</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Design history</span>
      Version 16: bank details
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">
      Design history for adding and updating bank details v1.1
    </h2>

    <p class="govuk-body">
         Update bank details was a new capability in the Rural Payments service (RPs) when we
       <a href="https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/v9/_design-history/design-history_bank-details"> first explored this feature</a>
          in 2025. The brief for design was to reuse the as-is journey with minor improvements to bring it in line with the
       <a href="https://design-system.service.gov.uk/">GOV.UK Design System </a>
         and
       <a href="https://www.gov.uk/guidance/style-guide/a-to-z">stlye guide.</a>
     </p>

    <p class="govuk-body">
         We tested our prototype with external users and took
      <a href="https://eaflood.atlassian.net/browse/SFD2-24"> a small number of actions. </a>
          Bank details was then put in the backlog and our team reorganised into 2 cross-disciplinary squads with new priorities.
    </p>


    <h2 class="govuk-heading-l">
      Where we are now
    </h2>


    <p class="govuk-body">
      When we returned to bank details we identified 2 significant items requiring further design exploration.
    </p>



    <h3 class="govuk-heading-m">
      30-day payment risk to an old account
    </h3>

    <p class="govuk-body">
      User research for v1 of bank details showed the legal declaration to be contentious. In particular, 
      users were not content for payments to go to an old account and were confused about the 30-day timeline.
    </p>
    <p class="govuk-body">
      We spoke with RPA colleagues in Customer Payments and Accounting, Customer Operations and the Customer Service Centre, 
      who each have a hand in paying customers or dealing with payment enquiries.
    </p>
    <p class="govuk-body">
      We found that the risk arises in RPAʼs use of future-dated payments, where a large number of
      payments are scheduled in batches in advance. If a user updates their details after a payment
      has been scheduled, this change will not be picked up by RPA and payment may continue to the
      account details that were previously held for their business. Colleagues were aware of a
      ‘handfulʼ of times this had happened. Neither RPA nor its users have any means to stop a future-
      dated payment run.    
    </p>
    <p class="govuk-body">
      We also engaged Defra Legal Group, who were concerned that the legal declaration:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li> may contravene
        <a href="https://www.legislation.gov.uk/uksi/2021/405/contents"> 
          The Agriculture (Financial Assistance) Regulations 2021
        </a>
      </li>
      <li>is not applicable to users adding bank details for the first time</li>
     </ul>

     <p class="govuk-body">
      We strongly recommend that RPA review their payment process so that customers are not 
      prevented from accessing any money they are due. In the meantime, we will look to:
    </p>

     <ul class="govuk-list govuk-list--bullet">
      <li> support clearer messaging to help users understand why a payment may be made to
        previously held account details
      </li>
      <li>only serve this message to users who are updating business bank account details</li>
     </ul>


    <h3 class="govuk-heading-m">
      Temporary block on users updating details
    </h3>

    <p class="govuk-body">
      Our business analyst uncovered 2 additional unhappy paths that had not been accounted for in
      the v1 bank details prototype.    
    </p>

    <p class="govuk-body">
      Users are temporarily blocked from adding or updating bank details for:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li> 24 hours after registering a new business</li>
      <li>14 days after updating their bank details</li>
    </ul>

     <p class="govuk-body">
      RPs currently serves both scenarios with the same pop-up error message.
     </p>

     <p class="govuk-body">
      We took advice from one of our software developers who suggested we create:
     </p>

    <ul class="govuk-list govuk-list--bullet">
      <li> individual variants that are specific to the scenario (preferred option)</li>
      <li>a single journey that encompasses both scenarios (second choice)</li>
    </ul>
    <p class="govuk-body">
      While it might make sense to us in design to advocate for separate journeys, 
      technically speaking this may not be possible, for example, if both scenarios are 
      drawing from the same data source. We will not know the technical constraints until 
      the developers start building it out.
    </p>
    <p class="govuk-body">
      In this case, as the design effort is fairly lightweight, we are happy to 
      explore both our preferred option and the alternative. We would not advise this 
      approach for high-effort, high-value capabilities, such as land management, 
      where any technical constraints should be investigatedand mapped out up front.
    </p>


    <h3 class="govuk-heading-m">
      What we designed 
    </h3>

       <p class="govuk-body">
        We now have separate journeys for users:
       </p>

        <ul class="govuk-list govuk-list--bullet">
          <li> adding bank details for the first time</li>
          <li>updating existing bank details</li>
       </ul>

       <p class="govuk-body">
        Both are accessible from bd01 and follow the same journey, with one exception: 
        on selecting to update details, existing account holders will be presented with ba01 interrupter page.
       </p>

    

    <img src="/public/images/design-history/v16/payment-to-existing.png"
    alt="Screen design showing an interuption card to show there is an existing bank account linked" class="design-history">

    <p class="govuk-body">
      The component is borrowed from the Ministry of Justice’s
        <a href="https://design-patterns.service.justice.gov.uk/components/interruption-card/"> Interruption card,</a>
        use case 5, ‘showing important content ahead of a task’.
     </p>

     <p class="govuk-body">
      Our interrupter foregrounds the risk of payment to existing bank account details. 
      It gives context to why this may happen and asserts the user as the responsible party 
      to recover any funds. The user can either click the primary button - at which point 
      they start the update details journey - or choose to cancel the transaction.    
    </p>

    <p class="govuk-body">
      The interrupter is separate to the legal declaration, which is now the final step in both the add and 
      update bank account details journeys. The declaration has been simplified to contain only 
      the actions a user needs to confirm that they have understood before they submit their update.
      This change brings it in closer alignment with the Home Office
      <a href="https://design.homeoffice.gov.uk/design-system/patterns/ask-users-for/declarations"> Declarations </a>
      pattern.
    </p>

   

  <img src="/public/images/design-history/v16/declaration-correct-payment-details.png"
  alt="Screen design showing a declaration to confirm bank detials are correct" class="design-history">


  <p class="govuk-body">
      For the 2 new unhappy paths where updates are temporarily blocked, we designed:
     </p>

      <ul class="govuk-list govuk-list--bullet">
        <li> a separate page for each scenario</li>
        <li>1 page to serve both scenarios</li>
     </ul>

    <p class="govuk-body">
      A user who has registered a new business within the last 24 hours will be presented with a 
      message asking them to try again when the time has expired.
    </p>

   
  <img src="/public/images/design-history/v16/unable-to-add-bank-details.png"
  alt="Screen design showing that bank details were unable to be added becuase the account is new" class="design-history">




    <p class="govuk-body">
      A user of a business where the details have been updated in the previous 14 days will 
      be given context that a user with the appropriate permissions has updated the details and 
      a hold has been placed on the account.
    </p>
       

  <img src="/public/images/design-history/v16/unable-to-update-bank-details.png"
  alt="Page showing that bank details were unable to be updated because the account has been updated within the last 14 days" class="design-history">
  

    <p class="govuk-body">
      If we do need to serve the same content, we also have a variant in the design spec that covers both scenarios.    
    </p>


  <img src="/public/images/design-history/v16/unable-to-add-or-update-bank-details.png"
  alt="Screen design showing that bank details were unable to be both added or updated" class="design-history">
    
  <p class="govuk-body">
    Additionally, we looked again at the designs for the unhappy paths where there is:
  </p>

    <ul class="govuk-list govuk-list--bullet">
      <li> a partial match </li>
      <li>failure to validate </li>
    </ul>

    <p class="govuk-body">
      This was based on user testing which found that while users were generally able to navigate 
      the unhappy paths, some were confused by the failure messages.
    </p>

    <p class="govuk-body">
      On the partial match, v1.1 is now more coherent with the
      <a href="https://design-system.service.gov.uk/patterns/question-pages/"> Question pages</a>
      pattern for ‘Asking a complex question without hint text’. It uses
    </p>
  
      <ul class="govuk-list govuk-list--bullet">
        <li> a stripped back version of the
            <a href="https://design-system.service.gov.uk/components/notification-banner/"> Notification banner </a>
            that more concisely conveys the failure (that the name is only a partial match)</li>
        <li>a H1 that’s a very short statement</li>
        <li>brief explanatory text for why the partial match has been triggered, which sits below the H1</li>
        <li>a H2 that’s a call to action - ‘Check the name on the account is correct’ – which prompts the 
          user to check their details before confirming</li>
      </ul>

  
    <img src="/public/images/design-history/v16/partial-match.png"
    alt="Screen design that shows there was only a partial match identified when entering account details" class="design-history">
  
    <p class="govuk-body">
      Where a bank account cannot be validated, we have clarified the number of attempts a user 
      has to input the correct details and the consequence of not doing so. Contact details for 
      RPA are made available through the
      <a href="https://design-system.service.gov.uk/components/details/"> Details</a>
      component.
    </p>


  <img src="/public/images/design-history/v16/no-validation.png"
  alt="Screen design showing that the bank account could not be validated" class="design-history">

      <p class="govuk-body">
       On the third attempt, the user is informed they are locked out of updating bank details for 24
       hours. They may return to business details. They also have the option to contact RPA if they
        have questions or need support, although this is not a requirement: the update feature will
       reinstate after 24 hours for the user to try again.
      </p>

 

<img src="/public/images/design-history/v16/no-validation-3-attempts.png"
alt="Screen design showing that the bank account could not be validated as details have been incorrectly entered 3 times" class="design-history">


     <p class="govuk-body">
       It should be noted that update bank details is only available to users with full permission or
       make legal changes. Lower permissions users are not presented with a hyperlink on bd01 and have 
       no way of accessing this capability.
    </p>

  <h3 class="govuk-heading-m">
    Next steps
  </h3>

     <p class="govuk-body">
        Confirm the updated journeys with RPA and iterate as needed based on their feedback: this is the biggest priority.
      </p>

      <p class="govuk-body">
        Confirm with Single Front Door’s technical team the approach and variants for the 2 unhappy 
        paths where update details capability is temporarily blocked.      
      </p>

      <p class="govuk-body">
        Consider updates to RPA processes and notifications that are sent to users with full permission when 
        bank details have been added or updated (placed on the backlog on the instruction of SFD Product Manager, see ticket    
        <a href="https://eaflood.atlassian.net/browse/SFD2-661?atlOrigin=eyJpIjoiMmNmMjJmODdmZDFlNGM0N2FlOWQxYmEzY2JjMzVkMzEiLCJwIjoiaiJ9">SFD2-661: Notifications for bank details updates to full permissions users).</a>  
      </p>

      <p class="govuk-body">
        There are currently no plans to test the updated journey.     
      </p>

  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}