{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Single front door prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 9</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version 9
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Permissions v1.0</h2>

    <h3 class="govuk-heading-m">
      Why we explored permissions
    </h3>

    <p class="govuk-body">
      Earlier this year we created a high-level view of capabilities that need to be in our service by the time the existing technology contracts end in early 2026.
    </p>

    <p class="govuk-body">
      We prioritised these capabilities, considering which are the highest impact for external users and operational colleagues, and the amount of work needed to have a replacement capability in place by next year.
    </p>

    <p class="govuk-body">
      Permissions was one of the areas at the top of our list due to its perceived complexity and the number of linked user needs and pain points.
    </p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">
      Constraints
    </h3>
    
    <p class="govuk-body">
      Our working assumption is the underlying model and logic for permissions is something we won’t be able to alter prior to next year. Our focus has been to consider improvements to the front-end user experience that will deliver better user and business outcomes. 
    </p>

    <p class="govuk-body">
      As we test designs with users, we’ll be gathering insights related to the underlying permissions model, as this may be something we need to consider addressing in future.
    </p>    

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<h3 class="govuk-heading-m">
      Pain points and user needs
    </h3>

    <p class="govuk-body">
      Various user needs and pain points had been uncovered during the Discovery and Alpha phases. We took these, along with our understanding of the permissions model and high-level requirements, to a workshop with Rural Payments Agency (RPA) stakeholders.
    </p>

    <p class="govuk-body">
      We reviewed and validated the existing information, plus gathered additional detail around the issues experienced by external users and operational colleagues.
    </p>

    <p class="govuk-body">
      We also used this workshop to get RPA colleagues more involved in the design process. We dot voted and selected the three highest priority pain points, then spent time sketching out ideas that could resolve the issues.
    </p>


    <img src="/public/images/design-history/v9/permissions-workshop-sketch.png" alt="Photo of sketch created at the permissions workshop with RPA colleagues, showing potential screens needed in a new approach to setting permissions." class="design-history">


    <h3 class="govuk-heading-m">
      High-level design hypotheses
    </h3>    

    <p class="govuk-body">
      Using the Lean Product Canvas, we brought together our user needs, pain points and business problems, to form three high-level design hypotheses: 
    </p>

    <h4 class="govuk-heading-s">
      Design hypothesis 1
    </h4> 

    <p class="govuk-body">
      <strong>We believe</strong> that there will be a reduction in permissions related calls to the RPA<br>
      <strong>if</strong> farmers / land managers<br>
      <strong>can</strong> more accurately assign permission levels to other users<br>
      <strong>by</strong> reducing their complexity and presenting them in plain English
    </p>


    <h4 class="govuk-heading-s">
      Design hypothesis 2
    </h4> 

    <p class="govuk-body">
      <strong>We believe</strong> that there will be a reduction in permissions related calls to the RPA<br>
      <strong>if</strong> farmers / land managers<br>
      <strong>can</strong> more accurately assign permission levels to other users<br>
      <strong>by</strong> making the way permissions are assigned more intuitive
    </p>    

    <h4 class="govuk-heading-s">
      Design hypothesis 3
    </h4> 

    <p class="govuk-body">
      <strong>We believe</strong> that there will be a reduction in calls to the RPA from agents requesting business access<br>
      <strong>if</strong> agents and other users<br>
      <strong>can</strong> more easily request access to a business<br>
      <strong>by</strong> using a self-serve process that notifies the account owner directly
    </p>

    <p class="govuk-body">
      We’ve used these hypotheses to inform the first iterations of our designs. 
    </p>

<img src="/public/images/design-history/v9/permissions-lean-product-canvas.png" alt="Screenshot of the Lean Product Canvas including permissions related pain points and user needs." class="design-history">

    <h3 class="govuk-heading-m">
      Design approach: content
    </h3>   

    <p class="govuk-body">We have had limited insights on permissions from previous user research and information from the business to design from, so we have not had full visibility of pain points. But based on the workshop and what we do know from previous UR, we knew some people are confused and even misled by permissions.</p>


<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    “I need to be assigned the right permission level”
  </li>
  <li>
    "I find that the default settings for some schemes are inadequate“
  </li>
  <li>
    “There is insufficient guidance on permission levels - it is not in plain English”
  </li>
  <li>
    Users have been assigned 'full permissions' incorrectly. Reports of agents changing bank details so that the funding is paid to them, instead of farmers or landowners directly
  </li>
</ul>

    <p class="govuk-body">It's easy to assign or not assign high level permissions without realising, which can lead to confusion and conflict between farmers and agents, helpline calls, and risk of fraud.</p>


    <h4 class="govuk-heading-s">
      Users need more flexibility with assigning permissions
    </h4>

    <p class="govuk-body">Permission levels have different names in different areas and schemes, for example there is inconsistency between permission level names for business details and schemes.</p>
<p class="govuk-body">In response to these issues, we explored the following changes:</p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    flexibility to assign custom permissions to other users as the default, rather than being led to assign blanket permissions based on role
  </li>
  <li>
    warnings before assigning high permissions to help users understand the risk of assigning high permission levels to others, for example being able to edit bank details
  </li>
  <li>
    specific information on what each permission level means and consistent names for permission levels to help users understand what someone will and will not be able to do when they assign someone a permission level
  </li>
  <li>
    wording to signpost farmers and agents when requesting and giving access in the digital service to help them understand the process and know what to expect 
  </li>
</ul>
<p class="govuk-body">We need to be mindful that change is likely to be difficult for our users, especially if they are not digitally savvy, so we will be wary of making changes to permission level names and the way we present permission levels shouldn't be too radical – many users are familiar with and happy with the current system.</p>
<p class="govuk-body">We expect the permissions designs to need more fundamental iteration in future, especially how each set of permissions is explained and presented to users.</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h3 class="govuk-heading-m">
      Design scenarios
    </h3>

    <p class="govuk-body">Version 1.0 of the permission designs caters for the following scenarios:</p>

<p class="govuk-body"><strong>Farmer:</strong></p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    add new individual to a business
  </li>
  <li>
    change permission levels of an existing user
  </li>
  <li>
    add multiple users from a firm of agents
  </li>
  <li>
    review and accept a business access request
  </li>
</ul>

<p class="govuk-body"><strong>Agent or other user:</strong></p>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    request access to a business
  </li>
</ul>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Design hypotheses, outcomes and decisions
    </h2>


    <span class="govuk-caption-m">Statement 1:</span>
    <h4 class="govuk-heading-s">An overview page showing a summary of their own and others' permissions is helpful for users</h4>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">The hypothesis was proven but the page failed to meet user needs. Some users found the page helpful but others said it contained too much information at first glance.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">We have removed subheadings to make the page less wordy, and will retest this.</p>


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 2:</span>
    <h4 class="govuk-heading-s">Users prefer the flexibility to assign custom permissions to other users rather than being led to make blanket permissions based on role</h4>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">All users preferred custom permissions to blanket permissions.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">We will continue with the de-coupling of business relationship and permission level.</p>



    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 3:</span>
    <h4 class="govuk-heading-s">Users need to be able to add a group of agents in a batch</h4>
    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">There was no clear need to do this expressed by any users.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">Agreed with product to descope this feature for now, as there is no obvious user need from testing, and we are not sure of the business requirement to have this.</p>
    

    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 4:</span>
    <h4 class="govuk-heading-s">Warnings before assigning high permissions helps users understand the risk of assigning high permission levels to others</h4>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">Users generally found the warnings appropriate and helpful.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">The warnings may not be needed anymore now we have made the selection of permission levels clearer. We have generally removed them, except where the warning is not mentioned in the permissions grid, to avoid duplication of wording. We need to test this approach.</p>


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 5:</span>
    <h4 class="govuk-heading-s">Specific information on what each permission level means and consistent names for permission levels help users understand what someone will and will not be able to do when they assign someone a permission level</h4>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">The concept of specific information and consistent names was not a problem, but all users found the permissions setting screens confusing, and some were confused by changes in permission level names and preferred the as-is layout. Overall, there was too much information displayed, making it hard to understand.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">The hypothesis was proven but the way we displayed information did not meet user needs. We have redesigned the permission setting screens to be much simpler, and reverted to the original permission names to avoid radical change for users. (Though we have changed ‘view’ to ‘view only’ to try to make it clearer and more consistent with typical permissions mental models).</p>
    <p class="govuk-body">The new screen design presents the permission levels horizontally in a table view, allowing users to quickly scan the different actions available for each level. We have provisionally removed information which is currently duplicated between tables in the as-is, to make choices clearer. The radio selection and tables are separate elements within the code which we believe will allow users with screen readers to access the content.</p>
    <p class="govuk-body">We have also included an SFI permissions page, which is not clear in the as-is. This new approach needs testing with users, and the duplicates issue needs thorough review by RPA.</p>  

    
    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 6:</span>
    <h4 class="govuk-heading-s">Farmers and agents feel comfortable and safe requesting and giving access in the digital service</h4>
    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">All farmers successfully granted access and all agents successfully requested access, though some were confused by a new feature that differed from their mental model. Agents liked the idea but some raised that the farmer would still have to log in to approve permissions, which might be hard for some farmers. Some agents struggled to find the link to request access. All agents were not clear about what would happen to their request.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">We have iterated content to explain what happens after you make a request, including who it is sent to and timescales. We have tried to make the link to request access easier to find for agents. The new iteration and whole concept needs further testing.</p>


    <span class="govuk-caption-m govuk-!-margin-top-8">Statement 7:</span>
    <h4 class="govuk-heading-s">Users expect notifications after changing or adding permissions by email, text and post</h4>
    <strong class="govuk-tag govuk-tag--yellow" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <p class="govuk-body">Users would expect an email, but more UR testing is needed on letters and text notifications.</p>
    <h4 class="govuk-heading-s govuk-!-margin-bottom-2">Design conclusion</h4>
    <p class="govuk-body">We need to explore whether users expect letter and text notifications on changing permissions in future UR testing.</p>



  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
