{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Single front door prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version 9</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version 9
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Internal user journey - iterations</h2>

    <h3 class="govuk-heading-m">Design changes</h3>

    <p class="govuk-body">
      In version 9 of the prototype, we iterated on the internal user journey that we had prototyped in version 8 and tested with internal users in Round 3 of user research.
    </p>

    <h3 class="govuk-heading-m">Design approach</h3>

    <p class="govuk-body">
      As a UCD team, we had a team playback to listen to and discuss the insights from R3 of UR. We agreed that the main finding we wanted to action now was how most participants got confused on how to find the link to view and update business details, once they had selected a search result. 
    </p>

    <p class="govuk-body">
      The link to viewing and updating personal details tested better in the second scenario, but we assume this is because they had learned how to expect the designs / linking to work based on the first scenario we set them  – in some cases, this was only after being prompted by the researchers facilitating the sessions. 
    </p>

    <p class="govuk-body">
      However, we felt that this meant we should revise both designs for the selected customer and business, so that we could maintain consistency between the two screens. 
    </p>

    <p class="govuk-body">
      We hypothesised that this was primarily due to the visual hierarchy on the page not being clear enough to users, rather than say, the wording of the actual links.
    </p>


    <h3 class="govuk-heading-s">
      What we designed
    </h3>


    <p class="govuk-body">
      We wanted to keep any design changes within the spirit of mimicking the external and internal user view as much as possible. However, the customer and business overview do not have a direct mirror in the external view - they are unique to the internal user journey. 
    </p>

    <p>
      However, taking inspiration from the <a href="https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/v9/business-home?r=t&view=ext&release=b1">Business home page</a> in the external user journey, we have added headings and padding to 'View and update personal details' and 'View and update business details' links. The idea is that this allows the components more breathing room, and helps draw attention to the links. 
    </p>

    <img src="/public/images/design-history/v9/internal-user-journey-customer-overview.png" alt="Screen design for the customer overview page in the internal user journey. Underneath the heading with the customer's name, there is a subheading called Personal Details. Underneath, with space around it, is the link to View and update personal details." class="design-history">

    <p class="govuk-body">
      We anticpate that the business view page in the external user journey will need re-designing in the future, as more and more features and links get added based on what the user needs to be able to do in SFD. As such, we also assume this may be the case for these business and customer overview pages in the internal user journey. 
    </p>

    <p class="govuk-body">
      We also added pagination to the search results for searching for a customer or business. When there are more than 10 results in any tab, pagination will appear with 10 results shown per page. For example, if there are 20 results in 'All', pagination should appear. Of those 20, if there are 5 'Customers', pagination should not appear. However, that leaves 15 for 'Businesses', where pagination would appear. 
    </p>

        <img src="/public/images/design-history/v9/internal-user-search-pagination.png" alt="Screen design for the internal user journey, where search results with over 10 results allows for pagination" class="design-history">

    <p class="govuk-body">
      A static mock-up of this can be viewed on <a href="https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/v9/internal-search-pagination?view=int">int-sr01c</a>.
    </p>

    <h2 class="govuk-heading-m">
      Other findings
    </h2>

    <p class="govuk-body">
      There were other findings that could lead to further improvements, but these may need more research and design spent on them / could affect work that has already gone to build. The three main findings under this category were:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        showing the expiry date for a CPH number (this could affect external and internal user designs) 
      </li>
      <li>
        participants expressing confusion over what the different business types actually meant, and the difference between them when choosing an option - how could we better help users understand? 
      </li>
      <li>
        generally, participant understood that they were using an internal-facing system that mirrored what external users see, and didn’t necessarily expect the service name to signal this. However, we might want to revisit (and test) this as the overall service name work progresses.
      </li>
    </ul>

    <p class="govuk-body">
      We also noted that the current internal service has legal wording on the sign-in page. We need to understand if we need to add (or amend) this for our service. 
    </p>

    <p class="govuk-body">
      These have all been added to the Explore backlog.
    </p>


    
    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Outcomes and decisions
    </h2>

    <span class="govuk-caption-m">Hypothesis 1:</span>
    <h3 class="govuk-heading-m">Hypothesis statement.</h3>
    <strong class="govuk-tag govuk-tag--red" style="margin-bottom: 20px;">
      Disproven
    </strong>
    <strong class="govuk-tag govuk-tag--orange" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">High-level outcome.</p>
    <p class="govuk-body-s"><strong>Design conclusion:</strong></p>
    <p class="govuk-body-s">Design conclusion content.</p> -->



  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
