{% extends "layouts/vet-visits-signin.html" %}

{% set pageName="Check your details" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="manage-your-claims" method="post">


        <h1 class="govuk-heading-xl">
          Check your details
        </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Farmer name
          </dt>
          <dd class="govuk-summary-list__value">
            Alfred Waldron
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Business name
          </dt>
          <dd class="govuk-summary-list__value">
            Agile Farms Ltd
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRN
          </dt>
          <dd class="govuk-summary-list__value">
            11234567890
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SBI
          </dt>
          <dd class="govuk-summary-list__value">
            123456789
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            agilefarmsrus25@gmail.com
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body govuk-!-margin-bottom-1">Agile Farms Ltd,</p>
            <p class="govuk-body govuk-!-margin-bottom-1">1 Rattle Row</p>
            <p class="govuk-body govuk-!-margin-bottom-1">51 Tong Lane</p>
            <p class="govuk-body govuk-!-margin-bottom-1">Milland</p>
            <p class="govuk-body govuk-!-margin-bottom-1">Heywood</p>
            <p class="govuk-body">TN29 0XW</p>
          </dd>
        </div>
      </dl>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Are these details correct?
            </h2>
          </legend>
          <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="changedName">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="changedName-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </fieldset>
    </form>



  </div>
</div>

{% endblock %}
