{% extends "layouts/vet-visits-signin.html" %}

{% set pageName="Choose a business" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="check-your-details" method="post">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
          Choose a business
        </h1>
      </legend>

    <p>These are the businesses registered to your rural payments account including their single business identifier (SBI).</p>
    <div class="govuk-radios govuk-!-margin-bottom-4" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
         Agile Farms Ltd - SBI 123456789
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          D M Jones & Partners - SBI 202736410
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
        <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
          Valley Farm - 192846125
        </label>
      </div>
    </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </fieldset>

    </form>


    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Need more help?
        </span>
      </summary>
      <div class="govuk-details__text">
        <p>Contact the Rural Payments Agency by email or phone.</p>
        <p class="">Email: <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">ruralpayments@defra.gov.uk</a></p>
        <p class="govuk-!-margin-bottom-0">Telephone: 03000 200 301</p>
        <p class="">Monday to Friday, 8:30am to 5pm, except bank holidays</p>
        <p><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">Find out about call charges (opens in a new tab)</a></p>
    
          </div>

    </details>
  </div>
</div>

{% endblock %}
