{% extends "layouts/vet-visits-signin.html" %}

{% set pageName="Claim complete" %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Claim complete
      </h1>
      <div class="govuk-panel__body">
        Your claim number<br><strong>VV-1943-B329</strong>
      </div>
    </div>

    <p>You have successfully submitted your claim.</p>

    <p>We've sent you a confirmation email.</p>

    <h2 class="govuk-heading-m">
      What happens next
    </h2>

    <p>The Rural Payments Agency (RPA) may contact you to request the summary the vet gave you.</p>

    <p>We will process your claim within 28 days. If your claim is successful, you will get £522.</p>

    <p>Go to <a href="manage-your-claims" class="govuk-link--no-visited-state">manage your claims</a> to make another claim or view:</p>


    <ul class="govuk-list govuk-list--bullet">
      <li>details of your claims</li>
      <li>service guidance</li>
      <li>your Terms and Conditions</li>
      <li>your agreement summary</li>
   </ul>

   <p>If you want to arrange another review, <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">read the guidance on timing of reviews and follow-ups</a>.</p>

   <h2 class="govuk-heading-m">
    Get help with your claim
  </h2>

    <p>If you need to change the details of your claim, contact the RPA and give your agreement number.</p>


    <p class="">Email: <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">ruralpayments@defra.gov.uk</a></p>
    <p class="govuk-!-margin-bottom-0">Telephone: 03000 200 301</p>
    <p class="">Monday to Friday, 8:30am to 5pm, except bank holidays</p>
    <p><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">Find out about call charges</a></p>

    <p><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">What did you think of this service?</a> (giving feedback takes 5 minutes)</p>


  </div>
</div>

{% endblock %}
