{% extends "layouts/main.html" %}

{% set serviceName = "Land and farm service" %}

{% set _showDesignSpec = true %}

{% if data['searchCriteria'] == "int-sr-SBI" %}
{% set pageName = "Search by single business identifier (SBI)" %}
{% set _designSpecData = {

  "name": "Search by single business identifier (SBI)",
  "id": "int-sr01a",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by single business identifier (SBI)",
        "scenario": "User enters SBI that is shorter than than 9 digits",
        "content": "Enter the full SBI"
      }
  ],
  "notes": [

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}

{% elif data['searchCriteria'] == "int-sr-CRN" %}
{% set pageName = "Search by customer reference number (CRN)" %}
{% set _designSpecData = {

  "name": "Search by customer reference number (CRN)",
  "id": "int-sr01b",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by customer reference number (CRN)",
        "scenario": "User enters CRN that is shorter than than 10 digits",
        "content": "Enter the full CRN"
      }
  ],
  "notes": [

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}
{% elif data['searchCriteria'] == "int-sr-busName" %}
{% set pageName = "Search by business name" %}
{% set _designSpecData = {

  "name": "Search by business name",
  "id": "int-sr01c",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by business name",
        "scenario": "User enters less than 2 characters",
        "content": "Business name must be 2 characters or more"
      }
  ],
  "notes": [

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}
{% elif data['searchCriteria'] == "int-sr-busPostcode" %}
{% set pageName = "Search by business postcode" %}
{% set _designSpecData = {

  "name": "Search by business postcode",
  "id": "int-sr01d",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by business postcode",
        "scenario": "User enters less than 5 characters",
        "content": "Postcode must be 5 characters or more"
      }
  ],
  "notes": [

    "For postcode, allow users to enter a search term with or without a space.",

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}
{% elif data['searchCriteria'] == "int-sr-cusPostcode" %}
{% set pageName = "Search by customer postcode" %}
{% set _designSpecData = {

  "name": "Search by customer postcode",
  "id": "int-sr01f",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by customer postcode",
        "scenario": "User enters less than 5 characters",
        "content": "Postcode must be 5 characters or more"
      }
  ],
  "notes": [

    "For postcode, allow users to enter a search term with or without a space.",

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}
{% elif data['searchCriteria'] == "int-sr-traderNo" %}
{% set pageName = "Search by trader number" %}
{% set _designSpecData = {

  "name": "Search by trader number",
  "id": "int-sr01g",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by trader number",
        "scenario": "User enters less than 6 digits",
        "content": "Trader number must be 6 characters or more"
      }
  ],
  "notes": [

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}
{% elif data['searchCriteria'] == "int-sr-vendorNo" %}
{% set pageName = "Search by vendor registration number" %}
{% set _designSpecData = {

  "name": "Search by vendor registration number",
  "id": "int-sr01h",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by vendor registration number",
        "scenario": "User enters less than 6 digits",
        "content": "Vendor registration number must be 6 characters or more"
      }
  ],
  "notes": [

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}
{% else %}
{% set pageName = "Search by single business identifier (SBI)" %}
{% set _designSpecData = {

  "name": "Search by single business identifier (SBI)",
  "id": "int-sr01a",
  "url": "internal-search?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search criteria)",
      "url": "internal-search?view=int&internal-search?q=221097732"
    },
    {
      "name": "int-sr01. No results found",
      "url": "internal-search?view=int&internal-search&q=zeroresults"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
        "field": "Search by single business identifier (SBI)",
        "scenario": "User enters SBI that is shorter than than 9 digits",
        "content": "Enter the full SBI"
      }
  ],
  "notes": [

    "Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search criteria' link to go to int-sr02",

    "Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting 'Search' (in addition to the 'clear search' link)",

    "The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working search) and having the correct search criteria selected from int-sr-02: 
    <ul>
      <li>
        To view search results for <strong>SBI</strong>, enter the search term '221097732'</li>
      <li>
        To view search results for <strong>CRN</strong>, enter the search term '1101996862'
      </li>
      <li>
        To view search results for <strong>Business name</strong>, enter the search term 'Fo'
      </li>
      <li>
        To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'
      </li>
      <li>
        To view search results for <strong>Customer name</strong>, enter the search term 'Wal' for last name, and 'Al' for first name
      </li>
      <li>
        To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'
      </li>
      <li>
        To view search results for <strong>Trader number</strong>, enter the search term '789014'
      </li>
      <li>
        To view search results for <strong>Vendor number</strong>, enter the search term '789012'
      </li>
    </ul>",

    "Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an example of this variation.",

    "Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The prototype demonstrates businesses that have both, those that only have either number, or neither."
  ]
  }
%}
{% endif %}


{% block beforeContent %}

{% set _loginNavClasses = "no-bread" %}
{% include "_common/login-nav-internal.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="internal-search" method="GET">

      <div class="govuk-form-group" data-list-search-filter>
        {% if data['searchCriteria'] == "int-sr-CRN" %}

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-internal">
            Search by customer reference number (CRN)
          </label>
        </h1>

        <div class="govuk-hint">Enter the full CRN</div>

        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">

        {% elif data['searchCriteria'] == "int-sr-busName" %}

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-internal">
            Search by business name
          </label>
        </h1>

        <div class="govuk-hint">Enter at least the first 2 characters of the business name</div>

        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">

        {% elif data['searchCriteria'] == "int-sr-busPostcode" %}

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-internal">
            Search by business postcode
          </label>
        </h1>

        <div class="govuk-hint">Enter the full postcode for the registered business address</div>

        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">

        {% elif data['searchCriteria'] == "int-sr-cusName" %}

        <h1 class="govuk-heading-l">
          Search by customer name
        </h1>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="passport-number">
            Last name
          </label>
          <div id="passport-number-hint" class="govuk-hint">
            Enter at least the first 3 characters
          </div>
          <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
            id="search-internal" name="q" title="Search" class="govuk-input">
        </div>


        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="c-number">
            First name (optional)
          </label>
          <input type="x" value="" id="search-extra" name="q" title="a" class="govuk-input">
        </div>



        {% elif data['searchCriteria'] == "int-sr-cusPostcode" %}

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-internal">
            Search by customer postcode
          </label>
        </h1>

        <div class="govuk-hint">Enter the full postcode for the registered customer address</div>

        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">

        {% elif data['searchCriteria'] == "int-sr-traderNo" %}

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-internal">
            Search by trader number
          </label>
        </h1>

        <div class="govuk-hint">Enter at least the first 6 characters</div>

        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">

        {% elif data['searchCriteria'] == "int-sr-vendorNo" %}

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-internal">
            Search by vendor registration number
          </label>
        </h1>

        <div class="govuk-hint">Enter at least the first 6 characters</div>

        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">

        {% else %}

        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="search-internal">
            Search by single business identifier (SBI)
          </label>
        </h1>

        <div class="govuk-hint">Enter the full SBI</div>

        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">

        {% endif %}

      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Search
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="internal-search-criteria">Change search criteria</a>
      </div>

    </form>

    {% if myData.searchapplied and myData.searchTerm != "zeroresults" %}
    <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="internal-search">Clear search</a></p>

    <!-- Display counts -->
    {% set _allResultsCount = data.internalSearchResults.length %}
    {% set _busResultsCount = 0 %}
    {% set _cusResultsCount = 0 %}
    {% for _searchResult in data.internalSearchResults %}
    {% if _searchResult.type == "bus" %}
    {% set _busResultsCount = _busResultsCount + 1 %}
    {% endif %}
    {% if _searchResult.type == "cus" %}
    {% set _cusResultsCount = _cusResultsCount + 1 %}
    {% endif %}
    {% endfor %}

    {% if data['searchCriteria'] == "int-sr-busName" %}

    <h2 class="govuk-heading-m">32 results for "{{myData.searchTerm}}"</h2>

    {% elif data['searchCriteria'] == "int-sr-busPostcode" %}

    <h2 class="govuk-heading-m">3 results for "{{myData.searchTerm}}"</h2>

    {% elif data['searchCriteria'] == "int-sr-cusPostcode" %}

    <h2 class="govuk-heading-m">3 results for "{{myData.searchTerm}}"</h2>

    {% else %}

    <h2 class="govuk-heading-m">{{_allResultsCount}} result for "{{myData.searchTerm}}"</h2>

    {% endif %}

    <ol class="govuk-list internal-list__search">

      {% if data['searchCriteria'] == "int-sr-CRN" %}

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="internal-customer?nameFirstPers=Colin&nameLastPers=Rook">Alfred Waldron</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1101996862</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">10 Skirbeck Way, Maidstone</p>
          <p class="govuk-body govuk-!-margin-bottom-2">SK22 1DL</p>
        </div>
      </li>

      {% elif data['searchCriteria'] == "int-sr-busPostcode" %}

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Braithwaite and Fossicle Ltd</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 976544726</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Smithfield Hall, Vootleton, near Harwick</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CH7 9EW</p>
        </div>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Foal holdings LTD</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 987654321</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">157 Small Lane, Brightling</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CH7 9EW</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            901234
          </dd>
        </dl>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            789012
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Zenofosh National Park</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 736366903</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Treetops Estate, Harteton</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CH7 9EW</p>
        </div>
      </li>

      {% elif data['searchCriteria'] == "int-sr-busName" %}

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Foal holdings LTD</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 987654321</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">157 Small Lane, Brightling</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CH7 9EW</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            901234
          </dd>
        </dl>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            789012
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Foley & Sons</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 890123456</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Beckwith House, Howhill Stubbing Road</p>
          <p class="govuk-body govuk-!-margin-bottom-2">BD24 0HZ</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            567890
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Ford and Rivers Group</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 234567890</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Frinton Court, Runnymede</p>
          <p class="govuk-body govuk-!-margin-bottom-2">KT15 3RA</p>
        </div>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Forrester Farms</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 112233445</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">125 Guildford Lane, Ripley Springs </p>
          <p class="govuk-body govuk-!-margin-bottom-2">TW5 6HE</p>
        </div>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Forrester Farms Ltd</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 234567890</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Sefton Meadows, Prescott</p>
          <p class="govuk-body govuk-!-margin-bottom-2">L35 5EZ</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            426189
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Foster Farm</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 345876129</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">25 Breach Barns lane, Essex</p>
          <p class="govuk-body govuk-!-margin-bottom-2">IG8 8NM</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            901234
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">FOSTER & SONS</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 345876129</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">41 Upshire Road, Elmbridge, Surrey</p>
          <p class="govuk-body govuk-!-margin-bottom-2">KT22 0TR</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            907154
          </dd>
        </dl>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            345671
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Fossick Farm</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 345876129</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Upper Nether Cottage, How Hill Road, Craven</p>
          <p class="govuk-body govuk-!-margin-bottom-2">LS29 8HE</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            321098
          </dd>
        </dl>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            567890
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Foxglove Holdings</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 345876129</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">90 Talbot Road, Leeds</p>
          <p class="govuk-body govuk-!-margin-bottom-2">LS8 5UN</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            345678
          </dd>
        </dl>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Fowler farms LTD</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 345876129</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">42 Parlington Lane, Cheddar, Somerset</p>
          <p class="govuk-body govuk-!-margin-bottom-2">BS27 8IE</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            789012
          </dd>
        </dl>
      </li>

      {% elif data['searchCriteria'] == "int-sr-cusName" %}

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="internal-customer?nameFirstPers=Colin&nameLastPers=Rook">Alfred Waldron</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1101996862</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">10 Skirbeck Way, Maidstone</p>
          <p class="govuk-body govuk-!-margin-bottom-2">SK22 1DL</p>
        </div>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="{{_url}}">Alice Waldington</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1109678951</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Smithfield Hall, Vootleton, near Harwick</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CM1 1QG</p>
        </div>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="{{_url}}">Mick Waldington</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1135569134</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Smithfield Hall, Vootleton, near Harwick</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CM1 1QG</p>
        </div>
      </li>

      {% elif data['searchCriteria'] == "int-sr-cusPostcode" %}

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="{{_url}}">Colin Rook</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1103765975</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Foster Way, Mittenslake</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CM1 1QG</p>
        </div>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="{{_url}}">Quentin Astonfoss-Parsley</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1100056783</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Smithfield Hall, Vootleton, near Harwick</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CM1 1QG</p>
        </div>
      </li>

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="{{_url}}">Sarah Appleton</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1105569934</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">Spring Lane, Careyton</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CM1 1QG</p>
        </div>
      </li>

      {% elif data['searchCriteria'] == "int-sr-traderNo" %}

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Fowler farms LTD</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 345876129</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">42 Parlington Lane, Cheddar, Somerset</p>
          <p class="govuk-body govuk-!-margin-bottom-2">BS27 8IE</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            789014
          </dd>
        </dl>
      </li>

      {% elif data['searchCriteria'] == "int-sr-vendorNo" %}
      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--no-visited-state" href="#">Foal holdings LTD</a>
          </h3>
        </header>
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: 987654321</p>
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">157 Small Lane, Brightling</p>
          <p class="govuk-body govuk-!-margin-bottom-2">CH7 9EW</p>
        </div>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            901234
          </dd>
        </dl>
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            789012
          </dd>
        </dl>
      </li>

      {% else %}
      {% for _searchResult in data.internalSearchResults %}

      <li class="govuk-!-padding-top-6">
        <header class="govuk-!-padding-bottom-0">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            {% set _url = "internal-customer?intSearch=true&user=" + _searchResult.id %}
            {% if _searchResult.type == "bus" %}
            {% set _url = "internal-business?intSearch=true&business=" + _searchResult.id %}
            {% endif %}
            <a class="govuk-link govuk-link--no-visited-state" href="{{_url}}">{{_searchResult.name}}</a>
          </h3>
        </header>
        {% if _searchResult.type == "bus" %}
        <p class="govuk-body govuk-!-margin-bottom-2">SBI: {{_searchResult.sbiNumber}}</p>
        {% else %}
        <p class="govuk-body govuk-!-margin-bottom-2">CRN: {{_searchResult.crn}}</p>
        {% endif %}
        <div>
          <p class="govuk-body govuk-!-margin-bottom-0">{{_searchResult.address}}</p>
          <p class="govuk-body govuk-!-margin-bottom-2">{{_searchResult.postcode}}</p>
        </div>
        {% if _searchResult.type == "bus" %}
        {% if not _searchResult.traderNumber %}
        {% else %}
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Trader number</dt>
          <dd class="sfd-definition-list__definition">
            {{_searchResult.traderNumber}}
          </dd>
        </dl>
        {% endif %}
        {% if not _searchResult.vrnNumber %}
        {% else %}
        <dl class="sfd-definition-list sfd-definition-list--meta govuk-!-margin-bottom-1">
          <dt class="sfd-definition-list__title">Vendor number</dt>
          <dd class="sfd-definition-list__definition">
            {{_searchResult.vrnNumber}}
          </dd>
        </dl>
        {% endif %}
        {% endif %}
      </li>

      {% endfor %}

      {% endif %}

      <ol>

        {% elif myData.searchapplied and myData.searchTerm == "zeroresults" %}

        <h2 class="govuk-heading-m">0 results for "{{myData.searchTerm}}"</h2>
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="internal-search">Clear search</a>
        </p>
        {% endif %}


  </div>
</div>

{% if data['searchCriteria'] == "int-sr-busName" and myData.searchapplied %}

<nav class="govuk-pagination" aria-label="Pagination">
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
        1
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link" href="#" rel="next">
      <span class="govuk-pagination__link-title">
        Next<span class="govuk-visually-hidden"> page</span>
      </span>
      <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13"
        width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path
          d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
        </path>
      </svg>
    </a>
  </div>
</nav>

{% endif %}



{% endblock %}