{% extends "layouts/main.html" %}

{% if myData.searchapplied and myData.searchTerm == "andrew" %}
{% set pageName = "Search results for a customer or business" %}
{% elif myData.searchapplied and myData.searchTerm == "zeroresults" %}
{% set pageName = "No search results for a customer or business" %}
{% else %}
{% set pageName = "Search for a customer or business" %}
{% endif %}

{% set serviceName = "Land and farm service" %}

{% set _showDesignSpec = true %}

{% set _designSpecData = {

"name": "Search for a customer or business",
"id": "int-sr01",
"url": "internal-search?r=t&view=int",
"release": "Buffalo 1.1 MVP",
"variants": [
{
"name": "int-sr01a. With results - example with SBI (see design spec for further variations depending on search
criteria)",
"url": "internal-search?view=int&internal-search?q=221097732"
},
{
"name": "int-sr01b. No results found",
"url": "internal-search?view=int&internal-search&q=zeroresults"
}
],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"notes": [

"Once a user is authenticated (signed in), default them to the SBI search criteria page. They can use the 'change search
criteria' link to go to int-sr02",

"Allow users to 'clear' a search by leaving the input field blank and then pressing enter on their keyboard or selecting
'Search' (in addition to the 'clear search' link)",

"The search results mimic results being returned based on the following terms (i.e. it is a mock up, and not a working
search):",

"To view search results for <strong>SBI</strong>, enter the search term '221097732'",

"To view search results for <strong>CRN</strong>, enter the search term '1101996862'",

"To view search results for <strong>Business name</strong>, enter the search term 'Fo'",

"To view search results for <strong>Business postcode</strong>, enter the search term 'CH7 9EW'",

"To view search results for <strong>Customer postcode</strong>, enter the search term 'CM1 1QG'",

"To view search results for <strong>Trader number</strong>, enter the search term '789012'",

"To view search results for <strong>Vendor number</strong>, enter the search term '789012'",

"Pagination should appear on anytime there are more than 10 results found. Search by business name (see above) for an
example of this variation.",

"Not all businesses may have a trader and/or vendor number. Hide this in the business result if not available. The
prototype demonstrates businesses that have both, those that only have either number, or neither."
]
}
%}


{% block beforeContent %}

{% set _loginNavClasses = "no-bread" %}
{% include "_common/login-nav-internal.html" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="internal-search-customer-name?custNameSearchApplied=yes" method="POST">

      <h1 class="govuk-heading-l">
        Search by customer name
      </h1>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="passport-number">
          Last name
        </label>
        <div id="passport-number-hint" class="govuk-hint">
          Enter at least the first 3 characters
        </div>
        <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}"
          id="search-internal" name="q" title="Search" class="govuk-input">
      </div>


      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="c-number">
          First name (optional)
        </label>
        <input type="x" value="" id="search-extra" name="q" title="a" class="govuk-input">
      </div>

      <div class="govuk-button-group">
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Search
        </button>
        <a class="govuk-link govuk-link--no-visited-state" href="internal-search-criteria">Change search criteria</a>
      </div>

      {% if data['custNameSearchApplied'] == "yes" %}

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="internal-search-customer-name?custNameSearchApplied=no">Clear search</a></p>

      <h2 class="govuk-heading-m">6 results for "Wal" and "Al"</h2>

      <ol class="govuk-list internal-list__search">
        <li class="govuk-!-padding-top-6">
          <header class="govuk-!-padding-bottom-0">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link govuk-link--no-visited-state"
                href="internal-customer">Alfred Waldron</a>
            </h3>
          </header>
          <p class="govuk-body govuk-!-margin-bottom-2">CRN: 1101996862</p>
          <div>
            <p class="govuk-body govuk-!-margin-bottom-0">10 Skirbeck Way, Maidstone</p>
            <p class="govuk-body govuk-!-margin-bottom-2">TR5 6HL</p>
          </div>
        </li>
                <li class="govuk-!-padding-top-6">
          <header class="govuk-!-padding-bottom-0">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link govuk-link--no-visited-state"
                href="#">Alice Waldron</a>
            </h3>
          </header>
          <p class="govuk-body govuk-!-margin-bottom-2">CRN: 9082056300</p>
          <div>
            <p class="govuk-body govuk-!-margin-bottom-0">Nettleham Rd, Lincoln</p>
            <p class="govuk-body govuk-!-margin-bottom-2">LN23 7QL</p>
          </div>
        </li>
                <li class="govuk-!-padding-top-6">
          <header class="govuk-!-padding-bottom-0">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link govuk-link--no-visited-state"
                href="#">Allison Walker</a>
            </h3>
          </header>
          <p class="govuk-body govuk-!-margin-bottom-2">CRN: 8921266567</p>
          <div>
            <p class="govuk-body govuk-!-margin-bottom-0">200 Derriford Road, Western Approach, Plymouth</p>
            <p class="govuk-body govuk-!-margin-bottom-2">PL8 1DD</p>
          </div>
        </li>
                <li class="govuk-!-padding-top-6">
          <header class="govuk-!-padding-bottom-0">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link govuk-link--no-visited-state"
                href="#">Alonso Wall</a>
            </h3>
          </header>
          <p class="govuk-body govuk-!-margin-bottom-2">CRN: 2678909234</p>
          <div>
            <p class="govuk-body govuk-!-margin-bottom-0">32 Aconbury Avenue, Hereford</p>
            <p class="govuk-body govuk-!-margin-bottom-2">HR11 0ML</p>
          </div>
        </li>
                <li class="govuk-!-padding-top-6">
          <header class="govuk-!-padding-bottom-0">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link govuk-link--no-visited-state"
                href="#">Alexa Walters</a>
            </h3>
          </header>
          <p class="govuk-body govuk-!-margin-bottom-2">CRN: 8991234567</p>
          <div>
            <p class="govuk-body govuk-!-margin-bottom-0">11 Main street, Askham Bryan</p>
            <p class="govuk-body govuk-!-margin-bottom-2">YO2 3PE</p>
          </div>
        </li>
                <li class="govuk-!-padding-top-6">
          <header class="govuk-!-padding-bottom-0">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a class="govuk-link govuk-link--no-visited-state"
                href="#">Alexandra Walters</a>
            </h3>
          </header>
          <p class="govuk-body govuk-!-margin-bottom-2">CRN: 5671901234</p>
          <div>
            <p class="govuk-body govuk-!-margin-bottom-0">10 Skirbeck Way, Maidstone</p>
            <p class="govuk-body govuk-!-margin-bottom-2">SK22 1DL</p>
          </div>
        </li>
      </ol>

      {% endif %}

  </div>

  </form>



  {% endblock %}