{% extends "layouts/AHWP-gov-brand.html" %}

{% block header %}
{{ govukHeader({
classes: "govuk-header--full-width-border",
rebrand: true
}) }}

{{ govukServiceNavigation({
serviceName: "Land and farm service",
serviceUrl: "/"
}) }}


{% endblock %}

{% set pageName="Land and farm service: sign in" %}

{%- block beforeContent -%}

{% include "_common/phase-banner-2.html" %}

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Land and farm service: sign in
    </h1>
    <p class="govuk-body">
      Land and farm service is new. We are developing the service to:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        replace the Rural Payments service
      </li>
      <li>
        provide farmers and land owners with a single account where they can access a range of services to manage their
        land
      </li>
    </ul>


    <h2 class="govuk-heading-m" id="start-a-claim">What you can use this service for now</h2>

    <p class="govuk-body">You can use the service if you: </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        want to apply for and claim funding to improve animal health and welfare
      </li>
      <li>
        need to update your business and personal details because they are incorrect
      </li>
    </ul>

    <h2 class="govuk-heading-m" id="before-you-start">
      Start using the service
    </h2>


    <p>You’ll need your Rural Payments service customer reference number (CRN) and password to sign in.</p>

    <a href="start-sfd-sign-in" role="button" draggable="false"
      class="govuk-button govuk-button--start govuk-!-margin-top-3 govuk-!-margin-bottom-7" data-module="govuk-button">
      Sign in
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
        viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>



    <h2 class="govuk-heading-m" id="What-information-you'll-need-to-provide">
      What you'll be able to use this service for in future
    </h2>
    <p>In future more people will be able to use the service to manage a range of tasks related to their land or farm.
     This includes:
    </p>
   
    <ul class="govuk-list govuk-list--bullet">
      <li>applying for or managing schemes such as Countryside Stewardship and Sustainable Farming Incentive</li>
      <li>managing who has access permission to act on behalf of your business </li>
      <li>viewing payment details</li>
      <li>finding new grants and funding opportunities</li>
      <li>managing your land and maps</li>
    </ul>

    <h2 class="govuk-heading-m" id="When-to-make-a-claim">
      Contact the Rural Payments Agency for help
    </h2>

    <p>Phone: 03000 200 301
      <br>
      <br>Monday to Friday, 8.30am to 5pm, except bank holidays
    </p>
    <p><a href="#" class="govuk-link">Find out about call charges (opens in new tab)</a></p>

    <p>Email: <a href="#" class="govuk-link">ruralpayments@defra.gov.uk</a></p>


    <p>We aim to respond to emails within 10 working days.</p>

  </div>

  {% endblock %}