{% extends "layouts/main-rebrand.html" %}


{% set _showFooterMVPLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Accessibility statement for the Farm and Land Service" %}
{% set serviceName = "Farm and Land Service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Accessibility statement",
  "id": "mp02",
  "url": "misc-accessibility?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
  ],

  "notes": [
    "This is currently placeholder content. Once we have had our expert review of the service, the accessibility statement will be completed and published for launch."
    
  ]
  

  
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3a.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibility statement for the Farm and Land Service
      </h1>

      <p class="govuk-body">
        This accessibility statement applies to the Farm and Land Service.
      </p>

      <p class="govuk-body">
        This website is run by the Department for Environment, Food and Rural Affairs (Defra). We want as many people as possible to be able to use this website. For example, that means you should be able to: 
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          change colours, contrast levels and fonts using browser or device settings
        </li>
        <li>
          zoom in up to 400% without the text spilling off the screen
        </li>
        <li>
          navigate most of the website using a keyboard or speech recognition software
        </li>
        <li>
          listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)
        </li>
      </ul>

      <p class="govuk-body">
        We’ve also made the website text as simple as possible to understand.
      </p>
      <p class="govuk-body">
        <a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noreferrer noopener">AbilityNet (opens in new tab)</a> has advice on making your device easier to use if you have a disability.
      </p>

      <h2 class="govuk-heading-m">
        Feedback and contact information
      </h2>

      <p class="govuk-body">
        Contact us if you:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          find any problems or think we’re not meeting accessibility requirements
        </li>
        <li>
          need information on this website in a different format
        </li>
      </ul>

      <p class="govuk-body">
        Email: <a href="mailto:farmandlandservice@defra.gov.uk">farmandlandservice@defra.gov.uk</a>
      </p>

      <h2 class="govuk-heading-m">
        Enforcement procedure
      </h2>

      <p class="govuk-body">
        The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’). If you’re not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/" target="_blank" rel="noreferrer noopener">contact the Equality Advisory and Support Service (EASS) (opens in new tab)</a>.
      </p>

      <h2 class="govuk-heading-m">
        Technical information about this website’s accessibility
      </h2>

      <p class="govuk-body">
        Defra is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
      </p>

      <h2 class="govuk-heading-m">
        Preparation of this accessibility statement
      </h2>

      <p class="govuk-body">
        This statement was prepared on 25 March 2026.
      </p>
      


  </div>
</div>


{% endblock %}
