{% extends "layouts/main.html" %}

{% set _pageID = "" %}
{% set _showFooterMVPLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Cookies" %}
{% set serviceName = "Land and farm service" %}

{% set _showCookieBanner1 = myData.showCookieBanner1 %}
{% set _showCookieBanner2 = myData.showCookieBanner2 %}
{% set _showCookieBanner3 = myData.showCookieBanner3 %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Cookies page",
  "id": "mp01",
  "url": "misc-cookies?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [
    {
      "name": "Including analytics cookies",
      "url": "misc-cookies?r=t&release=b1&cookiesVariant1=true"
    },
    {
      "name": "Cookie settings changed banner",
      "url": "misc-cookies?r=t&release=b1&cookiesVariant1=true&changed=true"
    },
    {
      "name": "Cookies need JavaScript",
      "url": "misc-cookies?r=t&release=b1&cookiesVariant1=true&cookiesNeedJS=true"
    },

    {
      "name": "Cookies banner - pre accept/reject",
      "url": "misc-cookies?r=t&release=b1&cookiesVariant1=true&showCookieBanner1=true"
    },
    {
      "name": "Cookies banner - rejected",
      "url": "misc-cookies?r=t&release=b1&cookiesVariant1=true&showCookieBanner2=true"
    },
    {
      "name": "Cookies banner - accepted",
      "url": "misc-cookies?r=t&release=b1&cookiesVariant1=true&showCookieBanner3=true"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
  ],
  "notes": [
    '<strong>Design pattern</strong> - refer to this page for complete explanation of how to build this page - <a href="https://design-system.service.gov.uk/patterns/cookies-page" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">GOV.UK Design System: Cookies page</a>',
    "<strong>Analytics cookies</strong> - if we use analytics cookies on the service then we need additional content on the page. We also need a way for users to change their preferences. View example with the query string &cookiesVariant1=true",
    "<strong>JavaScript</strong> - If you depend on JavaScript to ask about cookie preferences and the user’s device is not running JavaScript, show them a different version of the cookies page. View example with the query string &cookiesVariant1=true combined with &cookiesNeedJS=true",
    '<strong>Cookie banner pattern</strong> - refer to this page for complete explanation of how to build the cookie banner - <a href="https://design-system.service.gov.uk/components/cookie-banner/" class="govuk-link govuk-link--no-visited-state" rel="noreferrer noopener" target="_blank">GOV.UK Design System: Cookies banner</a>',
    '<strong>Cookie banner variants</strong> - note these appear on any page in the service. On the prototype they only work/appear on the cookies page. There are different variants of the banner that may be required. To see an example of the banner which mentions cookies to the user who has neither actively accepted or rejected them yet - use the query string &cookiesVariant1=true combined with &cookiesBanner1=true. To see an example of the banner when the user rejects cookies using the banner - use the query string &cookiesVariant1=true combined with &cookiesBanner2=true. To see an example of the banner when the user accepts cookies using the banner - use the query string &cookiesVariant1=true combined with &cookiesBanner3=true.'
  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      {% if myData.showNotification == "true" %}
        <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              You’ve set your cookie preferences. <a class="govuk-notification-banner__link" href="#">Go back to the page you were looking at</a>.
            </p>
          </div>
        </div>
      {% endif %}

      <h1 class="govuk-heading-xl">
        Cookies
      </h1>

      <p class="govuk-body" >Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>

      <p class="govuk-body">We use cookies to make this site work and collect information about how you use our service.</p>

      <h2 class="govuk-heading-m" >Essential cookies</h2>

      <p class="govuk-body">Essential cookies keep your information secure while you use this service. We do not need to ask permission to use them.</p>

      <table class="govuk-table responsive">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header defra-table-column-width">Name</th>
              <th scope="col" class="govuk-table__header ">Purpose</th>
              <th scope="col" class="govuk-table__header ">Expires</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">Session</th>
              <td class="govuk-table__cell" >Used to store page information</td>
              <td class="govuk-table__cell" >As soon as you close your browser</td>
              </tr>
          </tbody>
      </table>

      <h2 class="govuk-heading-m" >Cookie banner cookies</h2>

      <p class="govuk-body">You may see a message at the top of your screen when you first visit the service asking you to accept or reject analytics cookies. A cookie is stored so that your computer knows you've seen it and not to show it to you again.</p>

      <table class="govuk-table responsive">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header  defra-table-column-width">Name</th>
              <th scope="col" class="govuk-table__header ">Purpose</th>
              <th scope="col" class="govuk-table__header ">Expires</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">accept_analytics_cookies</th>
              <td class="govuk-table__cell" >Lets us know you've already seen our cookie message</td>
              <td class="govuk-table__cell" >12 months</td>
              </tr>
          </tbody>
      </table>

        <h2 class="govuk-heading-m" >Analytics cookies (optional)</h2>
        <p class="govuk-body">
          With your permission, we use Google Analytics to collect data about how you use this service. This information helps us to improve our service.
        </p>
        <p>Google is not allowed to use or share our analytics data with anyone.</p>
        <p class="govuk-body">Google Analytics stores anonymised information about:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>how you got to the service</li>
          <li>the pages you visit and how long you spend on each page</li>
          <li>what you click on while you're using the service</li>
        </ul>
        <table class="govuk-table responsive">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header defra-table-column-width">Name</th>
              <th scope="col" class="govuk-table__header ">Purpose</th>
              <th scope="col" class="govuk-table__header ">Expires</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">_ga</th>
              <td class="govuk-table__cell">Helps us count how many people visit our service by checking if you’ve visited before</td>
              <td class="govuk-table__cell">2 years</td>
              </tr>
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">_ga_</th>
              <td class="govuk-table__cell">Helps us measure how you use the service</td>
              <td class="govuk-table__cell">2 years</td>
              </tr>
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">_gid</th>
              <td class="govuk-table__cell">Helps us identify unique users, the referring sites that brought them to the service, and track and count sessions and visitors</td>
              <td class="govuk-table__cell">24 hours</td>
              </tr>                            
          </tbody>
        </table>


        <h2 class="govuk-heading-l">Change your cookie settings</h2>

        {% if myData.cookiesNeedJS == "true" %}
        <p class="govuk-body">We cannot change your cookie settings at the moment because JavaScript is not running in your browser. To fix this, try:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>turning on JavaScript in your browser settings</li>
          <li>reloading this page</li>
        </ul>
        {% else %}
        <form method="POST" novalidate>
          <!-- <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you want to accept functional cookies?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cookiesFunctional" name="cookiesFunctional" type="radio" value="Yes" {% if myData.cookiesFunctional == "Yes" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="cookiesFunctional">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cookiesFunctional-2" name="cookiesFunctional" type="radio" value="No" {% if myData.cookiesFunctional == "No" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="cookiesFunctional-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div> -->
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
                Do you want to accept analytics cookies?
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cookiesAnalytics" name="cookiesAnalytics" type="radio" value="Yes" {% if myData.cookiesAnalytics == "Yes" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="cookiesAnalytics">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="cookiesAnalytics-2" name="cookiesAnalytics" type="radio" value="No" {% if myData.cookiesAnalytics == "No" %}checked{% endif %}>
                  <label class="govuk-label govuk-radios__label" for="cookiesAnalytics-2">
                    No
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
          <button type="submit" class="govuk-button" data-module="govuk-button">
            Save cookie settings
          </button>
        </form>
        {% endif %}


  </div>
</div>


{% endblock %}
