{% extends "layouts/main.html" %}

{% set _showFooterMVPLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Check your personal telephone number is correct before submitting" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Telephone (check) - personal details",
  "id": "pd09",
  "url": "personal-details-tel-check?r=t&release=b1&newChange=true",
  "release": "N/A",
  "variants": [
    
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    
  ], 
  "notes": [
      "Removed from Buffalo 1.0 MVP"
    ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        Check your personal telephone number is correct before submitting     
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Personal telephone number"
            },
            value: {
              text: myData.newTelNumberPers or myData.telNumberPers

            },
            actions: {
              items: [
                {
                  href: "personal-details-tel-change",
                  text: "Change",
                  visuallyHiddenText: "personal telephone number"
                }
              ]
            }
          }
        ]
      }) }}

      {{govukButton({
        text: "Submit"
      })}}

      <!--- <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p> --->

    </form>

  </div>
</div>


{% endblock %}
