{% extends "layouts/rps-logged-in.html" %}

{% set pageName="Home" %}

{% set htmlClasses = 'app-width-wide' %}

{%- block beforeContent -%}
<a href="#" class="govuk-back-link" onclick="javascript:history.back()">Back to Business overview</a>
{% endblock beforeContent%}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Business summary
      <span class="govuk-caption-l">MCBRIDE PARTNERSHIP LTD,</span>
    </h1>
  </div>

    <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-l">Check and print the details we have for your business. These include business details, entitlements, land and land use details and any common land rights you have.</p>
  
    <p class="govuk-body"><a class="govuk-link" href="">Help</a></p>

    <div class="govuk-!-margin-left-6">

      <p class="govuk-body-s govuk-!-margin-bottom-0">Click 'Download' to check and print your farm business details.
        <br>
        This document was last updated on 27/11/2023 1:24:02 PM.
      </p>
    <button type="submit" class="govuk-button govuk-button-teeny" data-module="govuk-button">
      Download
    </button>

    <p class="govuk-body-s govuk-!-margin-bottom-0">Click the 'Generate' button below to update the document to include the latest information.
      <br>
      When the document has been updated, the date and time above will change.
    </p>
    <button type="submit" class="govuk-button govuk-button-teeny" data-module="govuk-button">
      Generate
    </button>

  </div>


  </div>



  </div>
</div>


{% endblock %}
