{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set pageTitle = "Which aspect of Countryside Stewardship does this relate to?" %}
{% set pageName = pageTitle %}

{% set serviceName = "Land and Farm Service" %}

{% if data.view == "ext" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": '',
    "name": "Which aspect of Countryside Stewardship does this relate to? - Document upload",
    "id": "du08",
    "url": "doc-upload-CS?view=ext",
    "release": "Buffalo MVP 2.0",
    "variants": [],

    "pagetitle": pageTitle,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      {
        "scenario": "No option selected",
        "content": "Select which aspect of Countryside Stewardship this relates to."
      } 
    ]

    }
  %}

{% else %}

{% endif %}

{% block beforeContent %}

    {% if data.view != "int" %}

        {% include "_common/phase-banner-2.html" %}
        {% include "_common/sub-header.html" %}

        {% set _hideAccountLink = true %}
        {% include "_common/login-nav-3.html" %}
    {% else %}
        {% include "_common/login-nav-internal.html" %}
    {% endif %}

    <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="/CS-answer-v14" method="POST" novalidate>

      <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="vatBus">
            Which aspect of Countryside Stewardship does this relate to?
          </label>
        </h1>

        <p class="govuk-hint">
          Select the option that fits best. 
        </p>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="doc-upload-cs-tag" name="doc-upload-cs-tag" type="radio"
                  value="Agreement" {{ checked('doc-upload-cs-tag','Agreement') }}>
                <label class="govuk-label govuk-radios__label" for="doc-upload-cs-tag">
                 Agreement
                </label>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="doc-upload-cs-tag-1" name="doc-upload-cs-tag" type="radio"
                        value="Capital claim" {{ checked('doc-upload-cs-tag','Capital claim') }}>
                      <label class="govuk-label govuk-radios__label" for="doc-upload-cs-tag-1">
                        Capital claim
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="doc-upload-cs-tag-2" name="doc-upload-cs-tag" type="radio"
                        value="Capital grant application" {{ checked('doc-upload-cs-tag','Capital grant application') }}>
                      <label class="govuk-label govuk-radios__label" for="doc-upload-cs-tag-2">
                        Capital grant application
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="doc-upload-cs-tag-3" name="doc-upload-cs-tag" type="radio"
                        value="Facilitation fund" {{ checked('doc-upload-cs-tag','Facilitation fund') }}>
                      <label class="govuk-label govuk-radios__label" for="doc-upload-cs-tag-3">
                        Facilitation fund
                      </label>
                    </div>
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="doc-upload-cs-tag-4" name="doc-upload-cs-tag" type="radio"
                        value="Revenue claim" {{ checked('doc-upload-cs-tag','Revenue claim') }}>
                      <label class="govuk-label govuk-radios__label" for="doc-upload-cs-tag-4">
                       Revenue claim
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <br><br>
            </div>
            {{govukButton({
            text: "Continue"
            })}}

    </form>



  </div>

</div>





{% endblock %}