{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set pageTitle = "Documents for your business" %}
{% set pageName = pageTitle %}

{% set serviceName = "Land and Farm Service" %}

{% if data.view == "ext" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
  "status": '',
  "name": "View business documents - Document upload",
  "id": "du01",
  "url": "doc-upload-overview?view=ext&filesUploaded=no&newToFileUpload=no",
  "release": "MVP - Buffalo enhancement",
  "variants": [
      {
        "name": "With files uploaded (default)",
        "url": "doc-upload-overview?view=ext&filesUploaded=no&newToFileUpload=no"
    },
    {
        "name": "No files uploaded",
        "url": "doc-upload-overview?filesUploaded=no&newToFileUpload=yes"
    },
    {
        "name": "Success banner - files have been submitted",
        "url": "doc-upload-overview?filesUploaded=yes&newToFileUpload=no"
    }
  ],

  "pagetitle": pageTitle,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [

  ],
  "notes": [
    "Display up to 10 submitted documents in the table overview. After 10 items, introduce pagination for every set of 10
    documents.",
    "View links should only appear for those file types we can allow users to preview within the service, without downloading the file as this is covered by the Download functionality. For example, we have descoped the ability to preview xls files."
  ]

  }
%}



{% else %}

{% endif %}

{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}


{% set _hideAccountLink = true %}
{% include "_common/login-nav-3.html" %}
{% else %}
{% include "_common/login-nav-internal.html" %}
{% endif %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}

{% block content %}



<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set _selectedBusiness = myData.selectedBusiness %}

    {% if data.filesUploaded == "yes" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          You have successfully submitted the following documents:
        </h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>fencepic1.jpeg</li>
          <li>fencereceipt1.pdf</li>
        </ul>
        <p class="govuk-body govuk-!-font-weight-bold">
          Submission reference number: 1733826312
        </p>
        <p class="govuk-body">
          We have emailed confirmation of this to you and all authorised users at the business.
        </p>
      </div>
    </div>
    {% endif %}

    <span class="govuk-caption-xl">{{data.user.name}}</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-1">
      Documents for {{_selectedBusiness.name}}</h1>
    <p class="govuk-caption-m">Single business identifier (SBI): {{_selectedBusiness.sbiNumber}}</p>

    {% if data.permissionsMVP != "view" and data.view == "ext" %}
    <div class="govuk-inset-text guidance-panel">
      <p class="govuk-body">
        You can now submit documents like evidence to Rural Payments using this online service.
      </p>
      <p class="govuk-body">
        This helps us process your documents faster.
      </p>
      <p class="govuk-body">
        You can see all the documents you've submitted on this page.
      </p>
      <p class="govuk-body">
        You will not see documents you've sent by post or email.
      </p>
      <p class="govuk-body">
        Keep your own copies of anything you send us.
      </p>
    </div>

    <form action="doc-upload-relates-to">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit one or more documents
      </button>
    </form>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          If you cannot use this service to submit documents </span>
      </summary>
      <div class="govuk-details__text">
        You can also send them by email to <a class="govuk-link govuk-link--no-visited-state"
          href="#">ruralpayments@defra.gov.uk</a> or
        by post to:
        <br><br>
        Rural Payments<br>
        PO Box 352<br>
        Worksop<br>
        S80 9FG<br>
        <br>
        Please tell us your SBI which is at the top of this page.
        <br><br>
        We recommend you get proof of postage.
      </div>
    </details>
    {% else %}

    {% endif %}
  </div>

  {% if data.newToFileUpload == "yes" %}

  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      You have not submitted any documents online.
    </p>
  </div>

  {% else %}
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Find submitted documents</h2>

    <div class="overview--doc-upload">
      <div class="overview--doc-upload-search">
        <div class="govuk-date-input__item govuk-!-display-inline-block">
          <label class="govuk-label" for="width-30">
            Search for subject, file name or submission reference
          </label>
          <input class="govuk-input govuk-input--width-30" id="width-30" name="width20" type="text">
        </div>
        <button type="submit" class="govuk-button govuk-button--secondary govuk-!-display-inline-block"
          data-module="govuk-button">
          Search
        </button>
      </div>

      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Clear filters</a>
      </p>
    </div>

    <table class="govuk-table govuk-!-margin-top-6">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" style="width:20%">Date</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-half">Subject</th>
          <th scope="col" class="govuk-table__header">File name</th>
          <th scope="col" class="govuk-table__header">Submission reference</th>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">View details or download</th>
          {% else %}

          {% endif %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% if data.filesUploaded == "yes" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 September 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">fencepic1.jpg</td>
          <td class="govuk-table__cell">1733826312</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
              href="doc-upload-view-fence">View</a> | <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">17 September 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">fenccereceipt.pdf</td>
          <td class="govuk-table__cell">1733826312</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state"
              href="doc-upload-view-receipt">View</a> | <a class="govuk-link govuk-link--no-visited-state"
              href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        {% endif %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">15 August 2025</td>
          <td class="govuk-table__cell">Countryside Stewardship</td>
          <td class="govuk-table__cell">tractor.xls</td>
          <td class="govuk-table__cell">1234567890</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"> <a class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">22 March 2025</td>
          <td class="govuk-table__cell">Business, complaints and appeals</td>
          <td class="govuk-table__cell">complaintdetails.pdf</td>
          <td class="govuk-table__cell">1234567893</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">11 December 2024</td>
          <td class="govuk-table__cell">Environmental Stewardship</td>
          <td class="govuk-table__cell">application.pdf</td>
          <td class="govuk-table__cell">1235468942</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">18 June 2024</td>
          <td class="govuk-table__cell">Business, complaints and appeals</td>
          <td class="govuk-table__cell">bizchange.jpg</td>
          <td class="govuk-table__cell">3694567897</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">20 January 2024</td>
          <td class="govuk-table__cell">Sustainable Farming Incentive</td>
          <td class="govuk-table__cell">amendment.pdf</td>
          <td class="govuk-table__cell">4268678971</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">12 October 2023</td>
          <td class="govuk-table__cell">Grants</td>
          <td class="govuk-table__cell">funding.jpg</td>
          <td class="govuk-table__cell">9652467834</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">19 July 2022</td>
          <td class="govuk-table__cell">Environmental Stewardship</td>
          <td class="govuk-table__cell">pilot.pdf</td>
          <td class="govuk-table__cell">4598326651</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        {% if data['doc-upload-subject'] != "Your business changes, complaints, general appeals or probate" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2021</td>
          <td class="govuk-table__cell">Environmental Stewardship</td>
          <td class="govuk-table__cell">CGA.pdf</td>
          <td class="govuk-table__cell">5478963258</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        {% endif %}
        {% if data.filesUploaded != "yes" %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2021</td>
          <td class="govuk-table__cell">Delinked payments</td>
          <td class="govuk-table__cell">evidence-doc-final-v1.jpg</td>
          <td class="govuk-table__cell">5478963258</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">30 April 2021</td>
          <td class="govuk-table__cell">Sustainable Farming Incentive</td>
          <td class="govuk-table__cell">amendment.jpg</td>
          <td class="govuk-table__cell">5478963258</td>
          {% if data.permissionsMVP != "view" and data.view == "ext" %}
          <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="#">View</a> | <a
              class="govuk-link govuk-link--no-visited-state" href="#">Download</a></td>
          {% else %}
          {% endif %}
        </tr>
        {% endif %}
      </tbody>
    </table>

    <nav class="govuk-pagination" aria-label="Pagination">
      <ul class="govuk-pagination__list">
        <li class="govuk-pagination__item govuk-pagination__item--current">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
            1
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
            2
          </a>
        </li>
        <li class="govuk-pagination__item">
          <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 3">
            3
          </a>
        </li>
      </ul>
      <div class="govuk-pagination__next">
        <a class="govuk-link govuk-pagination__link" href="#" rel="next">
          <span class="govuk-pagination__link-title">
            Next<span class="govuk-visually-hidden"> page</span>
          </span>
          <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg"
            height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
            <path
              d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z">
            </path>
          </svg>
        </a>
      </div>
    </nav>
  {% endif %}


  </div>


</div>


{% endblock %}