{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set pageTitle = "Is this evidence for SFI expanded offer, pilot or 23?" %}
{% set pageName = pageTitle %}

{% set serviceName = "Land and Farm Service" %}

{% if data.view == "ext" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": '',
    "name": "Is this for your SFI - Document upload",
    "id": "du20",
    "url": "doc-upload-sfi?view=ext",
    "release": "Buffalo MVP 2.0",
    "variants": [],

    "pagetitle": pageTitle,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      {
        "scenario": "No option selected",
        "content": "Tell us if this is evidence for SFI expanded offer, pilot or 23."
      } 
    ]

    }
  %}

{% else %}

{% endif %}

{% block beforeContent %}

    {% if data.view != "int" %}

        {% include "_common/phase-banner-2.html" %}
        {% include "_common/sub-header.html" %}

        {% set _hideAccountLink = true %}
        {% include "_common/login-nav-3.html" %}
    {% else %}
        {% include "_common/login-nav-internal.html" %}
    {% endif %}

    <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="doc-upload-ref-sfi-app" method="POST" novalidate>

      <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="vatBus">
            Is this evidence for: 
          </label>
        </h1>

        <p class="govuk-hint">
          Select the option that fits best. 
        </p>
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="sfi-relates-to" name="sfi-relates-to" type="radio"
                  value="SFI expanded offer" {{ checked('sfi-relates-to','SFI expanded offer') }}>
                <label class="govuk-label govuk-radios__label" for="sfi-relates-to">
                 SFI expanded offer
                </label>
              </div>
              <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                  <div class="govuk-radios" data-module="govuk-radios">
                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sfi-relates-to-1" name="sfi-relates-to" type="radio"
                        value="SFI pilot" {{ checked('sfi-relates-to','SFI pilot') }}>
                      <label class="govuk-label govuk-radios__label" for="sfi-relates-to-1">
                        SFI pilot
                      </label>
                    </div>

                    <div class="govuk-radios__item">
                      <input class="govuk-radios__input" id="sfi-relates-to-2" name="sfi-relates-to" type="radio"
                        value=" SFI 23" {{ checked('sfi-relates-to','SFI 23') }}>
                      <label class="govuk-label govuk-radios__label" for="sfi-relates-to-2">
                        SFI 23
                      </label>
                    </div>
                  </div>
                </fieldset>
              </div>
              <br><br>
            </div>
            {{govukButton({
            text: "Continue"
            })}}

    </form>



  </div>

</div>





{% endblock %}