{% extends "layouts/main.html" %}

<!-- Selected business -->
{% set _selectedBusiness = data.selectedBusiness %}
{% for _business in data.businesses %}
{% if data.business == _business.id %}
{% set _selectedBusiness = _business %}
{% endif %}
{% endfor %}

{% set _showEmailMeta = true %}
{% set _emailSubject = "We need more information for your complaint" %}
{% set _serviceName = "Farm and Land Service" %}

{% set serviceName = "" %}



{% block content %}

<style>
  .email-layout p,
  .email-layout h1,
  .email-layout h2,
  .email-layout table,
  .email-layout ul {
    font-family: Helvetica, Arial, sans-serif;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds email-layout">

    <p class="govuk-body">17 September 2025</p>
    <br>
    <p class="govuk-body">SBI: {{_selectedBusiness.sbiNumber}}</p>
    <p class="govuk-body">Complaint reference: COM-3326</p>
  
    <br><br>
    <p class="govuk-body">Dear {{data.user.name}},</p>

    <h2 class="govuk-heading-s">Your complaint - we need more information</h2>

    <p class="govuk-body">I am looking into the points you raised in your phone call, in which you explained that you completed a Capital Grant application before the scheme deadline of 15 August 2025, but you then received an email from the RPA which said your application missed the deadline.
</p>
<p>I need the following information from you: a screenshot that shows that you submitted your Capital Grant application in time.</p>
</p>

<h2 class="govuk-heading-s">What you need to do</h2>


  
    <p class="govuk-body">Please send us the information detailed above. The fastest way to get us the information is to 
      <a
        class="govuk-link govuk-link--no-visited-state" href="doc-upload-overview?filesUploaded=no"> send it to us online using the new Farm and Land Service</a>.</p>

    <p class="govuk-body">If you cannot send the information online, you can attach it in a reply to this email, or post
      it to:
      <br><br>
      Rural Payments Agency<br>
      PO Box 352<br>
      Worksop<br>
      S80 9FG<br>
    </p>


    <p>Make sure you note your single business identifier (SBI) on anything you post us. You can find this at the top of
      this email.</p>

    <h2 class="govuk-heading-s">If you have any questions about this email</h2>

    <p class="govuk-body">You can call us on 0300 200 301 (Monday to Friday, 8:30am to 5pm) or email <a
        class="govuk-link" href="#">ruralpayments@defra.gov.uk</a>.

    </p>

    <p class="govuk-body">Please tell us your SBI which is at the top of this email.</p>

    <p class="govuk-body">Yours sincerely</p>

    <p class="govuk-body">Roger Plumpton</p>

    <p class="govuk-body">Complaint resolution team</p>


  </div>

</div>

{% endblock %}

{% block footer %}

{% set _customFooterContent %}
<p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-1">Go to:</p>
<ul class="govuk-footer__inline-list">
  <li class="govuk-footer__inline-list-item">Email (this email)</li>
  <li class="govuk-footer__inline-list-item"><a href="payment-action-text" class="govuk-footer__link">Text</a></li>
  <li class="govuk-footer__inline-list-item"><a href="payment-action-letter" class="govuk-footer__link">Letter</a></li>
  <li class="govuk-footer__inline-list-item"><a href="business-home" class="govuk-footer__link">Service</a></li>
</ul>
{% endset %}

{{ govukFooter({
meta: {
items: [
{

}
],
html: [
_customFooterContent
],
visuallyHiddenTitle: "Footer links"
}
}) }}

{% endblock %}