{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% if data.view == "int" %}
{% set _showReleaseLinks = false %}
{% else %}
{% set _showReleaseLinks = false %}
{% endif %}

{% set _showIntExtLinks = true %}

{% set pageName = "[file name]" %}
{% set serviceName = "Land and Farm Service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "View uploaded file  - document upload",
"id": "du23",
"url": "doc-upload-view-file?view=ext",
"release": "Buffalo 1.1 MVP",
"variants": [],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
],

"notes": [
      'Metadata in the header will vary depending on the selections made by the user at the time of upload (i.e. this information is dynamic). The full list of metadata is documented in <a href="https://eaflood.atlassian.net/wiki/spaces/SFD/pages/5936119884" target="_blank">Confluence</a>.'
    ]

}
%}


{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}
<!--{% include "_common/sub-header-2.html" %}-->
<br>
<br>
<p class="govuk-body-s" style="color: gray;">Submitted 17 September 2025 at 10:45am by Alfred Waldron, customer reference number (CRN) 1101996862
</p>
<p class="govuk-body-s" style="color: gray;">
Business: Agile Farm Ltd 
</p>
<p class="govuk-body-s" style="color: gray;">
Subject: Business, complaints and appeals
</p>
<p class="govuk-body-s" style="color: gray;">
What this is for: Complaint evidence
</p>
<p class="govuk-body-s" style="color: gray;">
Complaint reference number: COM-3326
</p>
<p class="govuk-body-s" style="color: gray;">
Submission reference: 1743259315
</p>
<hr>

{% set _hideAccountLink = true %}
{% include "_common/login-nav-3.html" %}
{% else %}
{% include "_common/login-nav-internal.html" %}
{% endif %}
<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      file1.jpg </h1>
    <img src="/public/images/file.png" alt="system screenshot" width="100% ">
  </div>

</div>
<div>  
  <br><a class="govuk-link" href="#">Download document</a>
</div>
</div>
</div>





{% endblock %}