{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set pageTitle = "Enter your payment year" %}
{% set pageName = pageTitle %}

{% set serviceName = "Farm and Land Service" %}

{% if data.view == "ext" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": '',
    "name": "Enter payment year - Document upload",
    "id": "du17",
    "url": "doc-upload-payment-tag?view=ext",
    "release": "Buffalo MVP 2.0",
    "variants": [],

    "pagetitle": pageTitle,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      {
        "scenario": "Empty field / nothing entered",
        "content": "Tell us the payment year this relates to."
      },
      {
        "scenario": "Incorrect format",
        "content": "Year must be recent and have 4 digits, like 2025."
      }    
    ]

    }
  %}

{% else %}

{% endif %}

{% block beforeContent %}

    {% if data.view != "int" %}

        {% include "_common/phase-banner-2.html" %}
        {% include "_common/sub-header.html" %}

        {% set _hideAccountLink = true %}
        {% include "_common/login-nav-3.html" %}
    {% else %}
        {% include "_common/login-nav-internal.html" %}
    {% endif %}

    <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="doc-upload-check-your-upload" method="POST" novalidate>

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="ref-payment-year">
            Enter your payment year
          </label>
        </h1>
        <div id="ref-payment-year-hint" class="govuk-hint">
          You can find this in emails about your delinked payments from the Rural Payments Agency.
        </div>
        <input class="govuk-input govuk-input--width-4" id="ref-payment-year" name="ref-payment-year" type="text" aria-describedby="ref-payment-year-hint" value="{{data['ref-payment-year']}}">
      </div>

      {{govukButton({
      text: "Continue"
      })}}

    </form>

  </div>
</div>





{% endblock %}