{% extends "layouts/main.html" %}

{% set _showFooterMVPLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Page not found" %}
{% set serviceName = "Land and Farm Service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Page not found (404)",
  "id": "se03",
  "url": "error-not-found?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [

  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Page not found
      </h1>

      <p class="govuk-body">If you typed the web address, check it is correct.</p>

      <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

      <p class="govuk-body">
        If the web address is correct or you selected a link or button, contact Rural Payments if you need to speak to someone about your land or farm business.
      </p>

      <h2 class="govuk-heading-m">
        Contact Rural Payments Agency for help
      </h2>

      <p class="govuk-body">Phone: 03000 200 301</p>

      <p class="govuk-body">Monday to Friday, 8.30am to 5pm (except bank holidays)</p>

      <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="http://www.gov.uk/call-charges" rel="noreferrer noopener" target="_blank">Find out about call charges (opens in new tab)</a>.</p>

      <p class="govuk-body">Email: <a class="govuk-link govuk-link--no-visited-state" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></p>

      <p class="govuk-body">We aim to respond to emails within 10 working days.</p>

  </div>
</div>


{% endblock %}
