{% extends "layouts/main.html" %}


{% set _showFooterMVPLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Accessibility statement" %}
{% set serviceName = "Farm and Land Service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Accessibility statement",
  "id": "mp02",
  "url": "misc-accessibility?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
  ],

  "notes": [
    "This is currently placeholder content. Once we have had our expert review of the service, the accessibility statement will be completed and published for launch."
    
  ]
  

  
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibility statement
      </h1>

      <p class="govuk-body">
        Placeholder - not for development yet.
      </p>

      <p class="govuk-body">
        Accessibility statement will be drafted and added to this page before launch, following the expert review which Karina will arrange when we are nearer launch. 
      </p>


  </div>
</div>


{% endblock %}
