{% extends "layouts/main.html" %}

{% block head %}

{{ super() }}

<script type="module" src="/public/javascripts/doc-upload.js"></script>

{% endblock %}

{% if data.view != "int" %}
{% set _showFooterMVPLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set pageName = "You have signed out" %}
{% set serviceName = "Land and Farm Service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "Signed out page",
"id": "mp06",
"url": "misc-signed-out?r=t&release=b1",
"release": "Buffalo 1.0 MVP",
"variants": [],

"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
]

}
%}

{% block beforeContent %}

{% if data.view != "int" %}
{% include "_common/phase-banner-2.html" %}
{% endif %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Upload files</h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Keep your own copies of anything you send us.
      </strong>
    </div>

    <p class="govuk-body">
      You can upload up to 10 files in one batch.
    </p>
    <p class="govuk-body">
      The size of each file must be less than 10MB, and files must be in one of these formats: doc, docx, docm,
      gif, jfif, jpeg, jpg, odt, pdf, pptx, tiff, txt, xls, xlsx, xlsm.
    </p>
    <p class="govuk-body">
      If you’ve used standard settings and programmes on a phone, tablet, digital camera or computer, files will
      likely meet these requirements.
    </p>
    <p class="govuk-body">
      Each file name must be unique, 20 characters or less, contain only letters and numbers, and contain no gaps.
    </p>
    <p class="govuk-body">
      If you're sending files in relation to a grant or funding claim, <a
        class="govuk-link govuk-link--no-visited-state" target="_blank"
        href="https://www.gov.uk/guidance/funding-for-farmers">check if there is any other guidance to follow,
        depending on the scheme</a> (opens in new tab).
    </p>

    <p class="govuk-body">
      If documents do not meet the required standards, we may need to request further evidence from you, which
      could cause delays.
    </p>

    <form action="/components/multi-file-upload/examples/default" method="post" enctype="multipart/form-data">

      <div class="moj-multi-file-upload" data-module="moj-multi-file-upload">
        <div class="moj-multi-file__uploaded-files ">

          <div class="govuk-summary-list moj-multi-file-upload__list">

          </div>
        </div>

        <div class="moj-multi-file-upload__upload">

          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="documents">
              Choose a document
            </label>

            <input class="govuk-file-upload moj-multi-file-upload__input" id="documents" name="documents" type="file"
              multiple="">

          </div>

          <button type="submit" class="govuk-button govuk-button--secondary moj-multi-file-upload__button"
            data-module="govuk-button">
            Upload file
          </button>

        </div>
      </div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Check you are submitting the right documents. If you want to remove them after you submit them, you will need
          to contact the Rural Payments Agency. Keep your own copies of anything you send us.
        </strong>
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit
      </button>

    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}

<script type="module" src="/public/javascripts/govuk-frontend.min.js"></script>
<script type="module" src="/public/javascripts/moj-frontend.min.js"></script>

<script type="module">
  import * as GOVUKFrontend from '/public/javascripts/govuk-frontend.min.js'
  import * as MOJFrontend from '/public/javascripts/moj-frontend.min.js'

  GOVUKFrontend.initAll()
  MOJFrontend.initAll()
</script>

{% endblock %}