{% extends "layouts/service-start.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Manage your farm and land
    </h1>
    
    <p class="govuk-body">Use this service to manage your account, schemes and grants including:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>personal details</li>
  <li>how Defra contacts you</li>
  <li>business details</li>
  <li>messages sent to you by Defra</li>
  <li>Annual health and welfare review</li>
  <li>Sustainable Farming Incentive (SFI) scheme</li>
  <li>Calf Housing for Health and Welfare grant</li>
</ul>


    <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-3 govuk-!-margin-bottom-1" data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>
     
      <div class="govuk-inset-text">
        You'll need to sign in to the <a href="/to-be/v2/rps/sign-in" class="govuk-link--no-visited-state">Rural Payments Service</a> to manage:
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-3">
          <li>land and maps</li>
          <li>who has permission to act on behalf of your business </li>
          <li>Countryside Stewardship scheme</li>
        </ul>
      </div>
      
  </div>

<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Related content</h2>
  <p class="govuk-body"><a href="https://www.gov.uk/guidance/funding-for-farmers" class="govuk-link govuk-link--no-visited-state">Funding for farmers, growers and land managers</a></p>
</div>
</div>

{% endblock %}
