{% extends "layouts/vet-visits.html" %}

{% set pageName="Manage your claims" %}

{%- block beforeContent -%}

{% set _subHeaderShowClaimLink = true %}

<!-- {% include "_common/sub-header.html" %} -->

{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {{myData.notifications.message}}You have updated your full name
        </h3>
      </div>
    </div>


    <h1 class="govuk-heading-l">
      Check your details
     </h1>

     <h2 class="govuk-heading-m">
      Personal details
     </h2>     

     <dl class="govuk-summary-list">
     <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Full name
      </dt>
      <dd class="govuk-summary-list__value">
        {{myData.nameBus}}Alfred Waldon
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="business-details-name-change?newChange=true">Change<span class="govuk-visually-hidden"> business name</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Personal email address
      </dt>
      <dd class="govuk-summary-list__value">
        {{myData.nameBus}}alfredwaldon@email.com
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link govuk-link--no-visited-state" href="business-details-name-change?newChange=true">Change<span class="govuk-visually-hidden"> business name</span></a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Customer reference number
      </dt>
      <dd class="govuk-summary-list__value">
        {{myData.nameBus}}1101996862
      </dd>
      <dd class="govuk-summary-list__actions">
        <!-- <a class="govuk-link govuk-link--no-visited-state" href="business-details-name-change?newChange=true">Change<span class="govuk-visually-hidden"> business name</span></a> -->
      </dd>
    </div>
  </dl>

     <h2 class="govuk-heading-m">
       Business details
      </h2>
 

      
     <dl class="govuk-summary-list">
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Business name
         </dt>
         <dd class="govuk-summary-list__value">
           {{myData.nameBus}}Agile Farm Ltd
         </dd>
         <dd class="govuk-summary-list__actions">
           <a class="govuk-link govuk-link--no-visited-state" href="business-details-name-change?newChange=true">Change<span class="govuk-visually-hidden"> business name</span></a>
         </dd>
       </div>
       <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single business identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.emailBus}}123456789
        </dd>
        <dd class="govuk-summary-list__actions">
          <!-- <a class="govuk-link govuk-link--no-visited-state" href="business-details-email-change?newChange=true">Change<span class="govuk-visually-hidden"> email address</span></a> -->
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.emailBus}}agilefarmsrus25@gmail.com
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-email-change?newChange=true">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
      </div>
       <div class="govuk-summary-list__row">
         <dt class="govuk-summary-list__key">
           Business address
         </dt>
         <dd class="govuk-summary-list__value">
           {{myData.address1Bus}}10 Skirbeck Way<br>
           {% if myData.address2Bus != "" %}{{myData.address2Bus}}Maidstone<br>{% endif %}
           {{myData.addressCityBus}}SK22 1DL<br>
           {% if myData.addressCountyBus != "" %}{{myData.addressCountyBus}}United Kingdom<br>{% endif %}
           {% if myData.addressPostcodeBus != "" %}{{myData.addressPostcodeBus}}<br>{% endif %}
           {{myData.addressCountryBus}}
         </dd>
         <dd class="govuk-summary-list__actions">
           <a class="govuk-link govuk-link--no-visited-state" href="business-details-address-postcode-change?newChange=true">Change<span class="govuk-visually-hidden"> address</span></a>
         </dd>
       </div>
     </dl>

     <div class="govuk-form-group">
      <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">
            Are these details correct?
          </h2>
        </legend>
        <!-- <div id="changedName-hint" class="govuk-hint">
          This includes changing your last name or spelling your name differently
        </div> -->
        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName" name="changedName" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="changedName">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="changedName-2" name="changedName" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="changedName-2">
              No
            </label>
          </div>
        </div>
      </fieldset>
    </div>


     <form action="#" method="post">
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
      </form>

    
  </div>
</div>


{% endblock %}



{% block footer %}


<footer class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
        <h2 class="govuk-visually-hidden">Support links</h2>
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link govuk-body-l" href="business-home">
              Go to service
            </a>
          </li>
        </ul>
        <svg
          aria-hidden="true"
          focusable="false"
          class="govuk-footer__licence-logo"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 483.2 195.7"
          height="17"
          width="41">
          <path
            fill="currentColor"
            d="M421.5 142.8V.1l-50.7 32.3v161.1h112.4v-50.7zm-122.3-9.6A47.12 47.12 0 0 1 221 97.8c0-26 21.1-47.1 47.1-47.1 16.7 0 31.4 8.7 39.7 21.8l42.7-27.2A97.63 97.63 0 0 0 268.1 0c-36.5 0-68.3 20.1-85.1 49.7A98 98 0 0 0 97.8 0C43.9 0 0 43.9 0 97.8s43.9 97.8 97.8 97.8c36.5 0 68.3-20.1 85.1-49.7a97.76 97.76 0 0 0 149.6 25.4l19.4 22.2h3v-87.8h-80l24.3 27.5zM97.8 145c-26 0-47.1-21.1-47.1-47.1s21.1-47.1 47.1-47.1 47.2 21 47.2 47S123.8 145 97.8 145" />
        </svg>
        <span class="govuk-footer__licence-description">
          All content is available under the
          <a
            class="govuk-footer__link"
            href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/"
            rel="license">Open Government Licence v3.0</a>, except where otherwise stated
        </span>
      </div>
      <div class="govuk-footer__meta-item">
        <a
          class="govuk-footer__link govuk-footer__copyright-logo"
          href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">
          © Crown copyright
        </a>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
