{% extends "layouts/AHWP-gov-brand.html" %}

{% block header %}
{{ govukHeader({
classes: "govuk-header--full-width-border",
rebrand: true
}) }}

{{ govukServiceNavigation({
serviceName: "Claim funding to improve animal health and welfare",
serviceUrl: "/"
}) }}


{% endblock %}

{% set pageName="Claim funding to improve animal health and welfare" %}

{%- block beforeContent -%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/_common/not-testing">Farming and food grants and payments</a>
    </li>

  </ol>
</div>{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <span class="govuk-caption-m">Guidance</span>
    <h1 class="govuk-heading-l">
      Claim funding to improve animal health and welfare
    </h1>
    <p class="govuk-body-l">Find out how to claim for animal health and welfare reviews and endemic disease follow-ups.
    </p>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <p class="govuk-body-s govuk-!-margin-bottom-5">From: <a class="govuk-link--no-visited-state"
        href="/_common/not-testing">Department for Environment, Food & Rural Affairs</a> and <a
        class="govuk-link--no-visited-state" href="/_common/not-testing">Rural Payments Agency</a>
      <br>Published 19 June 2024
      <br>Last updated 26 June 2025 - <a href="#" class="govuk-link--no-visited-state" >See all updates</a> 
    </p>


    <div class="govuk-grid-row">


      <nav aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-5" role="navigation">
        <h2 class="gem-c-contents-list__title">
          Contents
        </h2>
        <ol class="gem-c-contents-list__list">
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-visited-state" href="#start-a-claim">Start a
              claim for funding</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-visited-state" href="#before-you-start">Before
              you start</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-visited-state"
              href="#What-information-you'll-need-to-provide">What information you'll need to provide</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-visited-state"
              href="#When-to-make-a-claim">When to make a claim</a>
          </li>
          <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
            <a class="gem-c-contents-list__link govuk-link govuk-link--no-visited-state"
              href="#Get-help-with-your-claim">Get help with your claim</a>
          </li>
        </ol>
      </nav>

      <p>This service forms part of the Animal Health and Welfare Pathway. It will provide payments to livestock keepers
        to fund farm visits by vets. </p>



      <h2 class="govuk-heading-m" id="start-a-claim">Start a claim for funding</h2>

      <p class="govuk-body">You can claim funding if you applied for and set up an Improve Animal Health and Welfare
        (IAHW) agreement before the vet visit.</p>
      <p>You’ll need: </p>
      <p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your Rural Payments service customer reference number (CRN) and password to sign in</li>
        <li>the summary the vet gave you</li>
      </ul>





      <a href="start-sf" role="button" draggable="false"
        class="govuk-button govuk-button--start govuk-!-margin-top-3 govuk-!-margin-bottom-7"
        data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
          viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
        </svg></a>


      <h2 class="govuk-heading-m" id="before-you-start">
        Before you start
      </h2>


      <p>Check the details we hold about you. If your details are not correct you will need to update them before you
        can make a claim.</p>
      <p><a class="govuk-link--no-visited-state" href="#">Sign into the Land and farm service</a>.</p>





      <h2 class="govuk-heading-m" id="What-information-you'll-need-to-provide">
        What information you'll need to provide
      </h2>
      <p>The vet will give you a summary of the animal health and welfare review or endemic disease follow-up, depending
        on what you applied for.
      </p>
      <p>When you claim you’ll need to give details from the vet’s summary. Find out what must be included in a:</p>
      <p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link--no-visited-state">cattle review summary</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">pig review summary</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">sheep review summary</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">cattle follow-up summary</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">pig follow-up summary</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">sheep follow-up summary</a></li>
      </ul>
      <p>You need to have completed a <a href="#" class="govuk-link--no-visited-state">biosecurity assessment</a> if you are claiming for a follow-up for:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>cattle</li>
        <li>pigs</li>
      </ul>

      <h2 class="govuk-heading-m" id="When-to-make-a-claim">
        When to make a claim
      </h2>
      <p>If you are claiming for both an animal health and welfare review and endemic disease follow-up, your review claim must be approved before you can claim for the resulting follow-up. You must have followed the guidance on <a href="#" class="govuk-link--no-visited-state">planning reviews</a> and <a href="#" class="govuk-link--no-visited-state">planning follow-ups</a>.</p>

      <h2 class="govuk-heading-m" id="Get-help-with-your-claim">
        Get help with your claim
      </h2>
      <section class="gem-c-devolved-nations govuk-!-margin-bottom-5">
        <p>For more help with claiming, you can watch the videos that show you how to
          make a claim for:</p>
   
<ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link--no-visited-state">sheep review</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">beef cattle review</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">dairy cattle review</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">pig review</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">sheep follow-up</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">pig follow-up</a></li>
        <li><a href="#" class="govuk-link--no-visited-state">cattle follow-up</a></li>
      </ul>
   </section>
      <p>Contact the Rural Payments Agency and give your IAHW agreement number if you:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>cannot apply online</li>
        <li>have a question about your application</li>
      </ul>

      <p>Rural Payments Agency</p>
      <p>PO Box 352</p>
      <p>Worksop</p>
      <p>S80 9FG</p>
      <p>Email: <a href="#" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
      <p>Phone: 03000 200 301</p>
      <p>Monday to Friday, 8.30am to 5pm, except public holidays</p>
      <p><a href="#" class="govuk-link">Find out about call charges (opens in new tab)</p>
      <p><a href="#" class="govuk-link">Funding to improve animal health and welfare: guidance for farmers and vets</p>

    </div>

    {% endblock %}