{% extends "layouts/AHWP-gov-brand.html" %}

{% block header %}
{{ govukHeader({
  classes: "govuk-header--full-width-border",
  rebrand: true
}) }}

{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "/"
}) }}

{% endblock %}


{% set pageName = "Sign in to the Land and Farm Service" %}
{% set serviceName = "Land and Farm Service" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Sign in",
  "id": "N/A",
  "url": "internal-sign-in?r=t",
  "release": "N/A. See notes.",
  "variants": [
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "notes": [
      "Assumption is that this will be DefraID owned. This has been prototyped for user research and demo purposes. "
    ]
  
}
%}

{% block beforeContent %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="internal-search" method="post">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-3">
          Sign into your customer service account
        </h1>
      </legend>


      <div class="govuk-form-group">
        <label class="govuk-label" for="internalEmail">
          Email address
        </label>
        <input class="govuk-input" id="internalEmail" name="internalEmail" type="text" autocomplete="email" spellcheck="false">
      </div>
      <div class="govuk-form-group">
        <label class="govuk-label" for="password">
          Password
        </label>
        <input class="govuk-input" id="password" name="password" type="password" >
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Sign in
      </button>

    </fieldset>

    </form>
  </div>
</div>

{% endblock %}
