{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}
{% set _showIntExtLinks = false %}

{% set pageName="Sustainable Farming Incentive (SFI) and Basic Payment Scheme (BPS)" %}
{% set serviceName="Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = false %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Sustainable Farming Incentive (SFI) and Basic Payment Scheme (BPS)",
    "id": "ar08",
    "url": "details-personal-details?r=t&view=ext&release=b1",
    "release": "Buffalo 1.0 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b1&namechanged=true&changed=true&view=ext"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b1&dobchanged=true&changed=true&view=ext"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b1&addresschanged=true&changed=true&view=ext"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b1&phonechanged=true&changed=true&view=ext"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b1&emailchanged=true&changed=true&view=ext"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Manage personal details",
    "id": "int-pd01",
    "url": "details-personal-details?r=t&view=int&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b2&namechanged=true&changed=true&view=int"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b2&dobchanged=true&changed=true&view=int"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b2&addresschanged=true&changed=true&view=int"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b2&phonechanged=true&changed=true&view=int"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b2&emailchanged=true&changed=true&view=int"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
  %}

{% else %}

{% endif %}

{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}


{% if data.view != "int" %}
{% include "_common/phase-banner-2.html" %}
{% include "_common/sub-header.html" %}

  {% endif %}
  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

   <form action="accept-request-check-answers" method="POST">


   <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          <span class="govuk-caption-l">Hugo Smith's permissions - page 5 of 5</span>
          Sustainable Farming Incentive (SFI) and Basic Payment Scheme (BPS)
        </h1>
      </legend>


      <p class="govuk-body-l">Hugo would like the following permission level: <strong>Submit</strong></p>

<!-- Radio Buttons block START -->

  <div class="permission-level-radios-block">
    <div class="permission-level-radios-block_left">
      <div id="contact-hint" class="govuk-hint">
        Confirm suggestion or choose another
      </div>
    </div>

    <div class="permission-level-radios-block_right">
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csApplication" name="csApplication" type="radio" value="view" aria-describedby="csApplication-item-hint">
          <label class="govuk-label govuk-radios__label" for="csApplication">
            <span class="govuk-body-s"><strong>No access</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csApplication-2" name="csApplication" type="radio" value="amend" aria-describedby="csApplication-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="csApplication-2">
            <span class="govuk-body-s"><strong>View only</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csApplication-3" name="csApplication" type="radio" value="delegate" aria-describedby="csApplication-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="csApplication-3">
            <span class="govuk-body-s"><strong>Amend</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csApplication-4" name="csApplication" type="radio" value="full" aria-describedby="csApplication-4-item-hint">
          <label class="govuk-label govuk-radios__label" for="csApplication-4">
            <span class="govuk-body-s"><strong>Submit</strong></span>
          </label>
        </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Radio Buttons block END -->


<table class="govuk-table permission-level-table">
  <thead class="govuk-table__head govuk-visually-hidden">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header permission-level-table_width-two-sixths"><span style="font-weight: normal;">Do you want this person to?</span></th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth grey-column-bg">No access</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth">View only</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth grey-column-bg">Amend</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth">Submit</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">View claims and eligibility</th>
      <td class="govuk-table__cell grey-column-bg permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">View land details, features and covers</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr> -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Create, edit and amend claims</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <!-- <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Amend land, features and covers</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr> -->
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Submit and withdraw claims</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Receive claim correspondence (statements and remittance advice are sent to the business address)</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
  </tbody>
</table>




    </fieldset>
  </div>

  <!-- <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      If you give someone submit permission for Countryside Stewardship applications, they will be able to do all actions and receive all correspondence for this business’s applications for this scheme.
    </strong>
  </div> -->

  {{govukButton({
    text: "Continue"
  })}}

  <p class="govuk-body"><a href="business-access" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

  </form>

  </div>


  <!-- <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s">Setting permissions</h4>
    <p class="govuk-body-s">You can choose whatever permission levels you want. There is <a href="#" class="govuk-link">guidance</a> on recommended permission levels depending on the person’s role.</p>
  </div> -->

</div>





{% endblock %}
