{% extends "layouts/main.html" %}

{% set _showFooterLinks = false %}
{% set _showReleaseLinks = false %}

{% set pageName="Business overview" %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set _selectedBusiness = myData.selectedBusiness %} 

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Selected business view",
  "id": "int-bv01",
  "url": "internal-business?r=t&view=int",
  "release": "Buffalo 1.1 MVP",
  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    
  ],
  "notes": [
    
  ]
  
}
%}

{% block beforeContent %}


{% include "_common/login-nav-internal.html" %}
<div class="govuk-breadcrumbs" style="display: inline-block">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="internal-search?q={{myData.searchTerm}}">Search results</a>
    </li>
  </ol>
</div>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <span class="govuk-caption-l">Single business identifier (SBI) : {{_selectedBusiness.sbiNumber}}</span>
      {{_selectedBusiness.name}}
    </h1>

    <h2 class="govuk-heading-m govuk-!-margin-top-5">
      Business details
    </h2>

    <p class="govuk-body">
      <a href="details-business-details?view=int" class="govuk-link--no-visited-state">View and update business details</a>
    </p>
  </div>
</div>

  <div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
      <!-- MVP -->
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Customers linked to this business</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Customer name</th>
            <th scope="col" class="govuk-table__header">Customer reference number (CRN)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for _user in data.users %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="internal-customer?user={{_user.id}}">{{_user.name}}</a></th>
            <td class="govuk-table__cell">{{_user.crn}}</td>
          </tr>
          {% endfor %}


        </tbody>
      </table>


      
    </div>

  </div>




{% endblock %}