{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = true %}
{% endif %}
{% set _showIntExtLinks = true %}

{% set pageName="How can Richard Clark manage Countryside Stewardship applications for this business?" %}
{% set serviceName="Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Manage personal details",
    "id": "pd01",
    "url": "details-personal-details?r=t&view=ext&release=b1",
    "release": "Buffalo 1.0 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b1&namechanged=true&changed=true&view=ext"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b1&dobchanged=true&changed=true&view=ext"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b1&addresschanged=true&changed=true&view=ext"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b1&phonechanged=true&changed=true&view=ext"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b1&emailchanged=true&changed=true&view=ext"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Manage personal details",
    "id": "int-pd01",
    "url": "details-personal-details?r=t&view=int&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b2&namechanged=true&changed=true&view=int"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b2&dobchanged=true&changed=true&view=int"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b2&addresschanged=true&changed=true&view=int"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b2&phonechanged=true&changed=true&view=int"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b2&emailchanged=true&changed=true&view=int"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
  %}

{% else %}

{% endif %}

{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}


{% if data.view != "int" %}
{% include "_common/phase-banner-2.html" %}
{% include "_common/sub-header.html" %}

  {% endif %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

   <form action="permissions-check-answers" method="POST">


   <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="signIn-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          <span class="govuk-caption-l">Richard Clarke permissions 4 of 4</span>
          Countryside Stewardship agreements and claims 
        </h1>
      </legend>

<!-- Radio Buttons block START -->

  <div class="permission-level-radios-block">
    <div class="permission-level-radios-block_left">
      <div id="contact-hint" class="govuk-hint">
        Select one option
      </div>
    </div>

    <div class="permission-level-radios-block_right">
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csAgreement" name="csAgreement" type="radio" value="view" aria-describedby="csAgreement-item-hint">
          <label class="govuk-label govuk-radios__label" for="csAgreement">
            <span class="govuk-body-s"><strong>No access</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csAgreement-2" name="csAgreement" type="radio" value="amend" aria-describedby="csAgreement-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="csAgreement-2">
            <span class="govuk-body-s"><strong>View</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csAgreement-3" name="csAgreement" type="radio" value="delegate" aria-describedby="csAgreement-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="csAgreement-3">
            <span class="govuk-body-s"><strong>Amend</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="csAgreement-4" name="csAgreement" type="radio" value="full" aria-describedby="csAgreement-4-item-hint">
          <label class="govuk-label govuk-radios__label" for="csAgreement-4">
            <span class="govuk-body-s"><strong>Submit</strong></span>
          </label>
        </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Radio Buttons block END -->


<table class="govuk-table permission-level-table">
  <thead class="govuk-table__head govuk-visually-hidden">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header permission-level-table_width-two-sixths"><span style="font-weight: normal;">I want this person to...</span></th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth grey-column-bg">No access</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth">View</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth grey-column-bg">Amend</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth">Submit</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">View agreements, claims or transfers</th>
      <td class="govuk-table__cell grey-column-bg permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Create and amend agreements, claims or transfers</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Respond to agreement offers</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Receive agreement correspondence</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
  </tbody>
</table>

<!-- 
      <div id="contact-hint" class="govuk-hint">
        Select one option
      </div>

      <div class="govuk-radios" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn" name="signIn" type="radio" value="government-gateway" aria-describedby="signIn-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn">
            No access
          </label>
          <div id="signIn-item-hint" class="govuk-hint govuk-radios__hint permission-level_hint">
            <p class="govuk-body-s permission-level-text">Cannot:</p>
            <ul class="govuk-list govuk-list--bullet permission-level-list__items">
              <li class="govuk-body-s permission-level-bullet">view or manage any Countryside Stewardship (CS) agreements or correspondence</li>
            </ul>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn-2">
            View
          </label>
          <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint permission-level_hint">
            <p class="govuk-body-s permission-level-text">Can:</p>
            <ul class="govuk-list govuk-list--bullet permission-level-list__items">
              <li class="govuk-body-s permission-level-bullet">view CS agreements, amendments, claims and transfers</li>
              <li class="govuk-body-s permission-level-bullet">view details of land, features and covers</li>
            </ul>
            <p class="govuk-body-s permission-level-text">Cannot:</p>
            <ul class="govuk-list govuk-list--bullet permission-level-list__items">
              <li class="govuk-body-s permission-level-bullet">create, amend or submit claims, agreements or transfers</li>
              <li class="govuk-body-s permission-level-bullet">make declarations</li>
              <li class="govuk-body-s permission-level-bullet">amend land, features and covers</li>
              <li class="govuk-body-s permission-level-bullet">receive correspondence relating to agreements</li>
            </ul>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn-2">
            Amend
          </label>
          <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint permission-level_hint">
            <p class="govuk-body-s permission-level-text">Can:</p>
            <ul class="govuk-list govuk-list--bullet permission-level-list__items">
              <li class="govuk-body-s permission-level-bullet">view all CS agreement details</li>
              <li class="govuk-body-s permission-level-bullet">view, create and amend claims, agreements or transfers</li>
              <li class="govuk-body-s permission-level-bullet">make declarations</li>
              <li class="govuk-body-s permission-level-bullet">view and amend land, features and covers</li>
            </ul>
            <p class="govuk-body-s permission-level-text">Cannot:</p>
            <ul class="govuk-list govuk-list--bullet permission-level-list__items">
              <li class="govuk-body-s permission-level-bullet">respond to agreement offers</li>
              <li class="govuk-body-s permission-level-bullet">receive correspondence relating to agreements</li>
              <li class="govuk-body-s permission-level-bullet">submit or withdraw claims, agreement amendments or transfers</li>
            </ul>
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="signIn-2" name="signIn" type="radio" value="govuk-one-login" aria-describedby="signIn-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="signIn-2">
            Delegated permission
          </label>
          <div id="signIn-2-item-hint" class="govuk-hint govuk-radios__hint permission-level_hint">
            <p class="govuk-body-s permission-level-text">Can:</p>
            <ul class="govuk-list govuk-list--bullet  permission-level-list__items">
              <li class="govuk-body-s permission-level-bullet">respond to agreement offers</li>
              <li class="govuk-body-s permission-level-bullet">receive correspondence relating to agreements</li>
              <li class="govuk-body-s permission-level-bullet">make declarations</li>
              <li class="govuk-body-s permission-level-bullet">view, amend, submit or withdraw claims, agreement amendments, transfers, land, features and covers</li>
            </ul>
          </div>
        </div>
      </div>
 -->

    </fieldset>
  </div>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      If you give someone submit permission for Countryside Stewardship agreements, they will be able to do all actions and receive all correspondence for this business’s agreements for this scheme.
    </strong>
  </div>

  {{govukButton({
    text: "Continue"
  })}}

  <p class="govuk-body"><a href="business-access" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

  </form>



  </div>


  <!-- <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s">Setting permissions</h4>
    <p class="govuk-body-s">You can choose whatever permission levels you want. There is <a href="#" class="govuk-link">guidance</a> on recommended permission levels depending on the person’s role.</p>
  </div> -->

</div>





{% endblock %}
