{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterLinks = false %}
{% else %}
{% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true" %}

{% set pageTitle = "What is your legal status?" %}
{% set pageName = pageTitle %}
{% if _inError %}
{% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set _showIntExtLinks = true %}

{% set serviceName = "Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": '',
"name": "TBC",
"id": "TBC",
"url": "",
"release": "Buffalo 1.1 MVP",
"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "No radio button selected",
"content": "Select whether this is a business or personal account."
}
]
}
%}

{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": '',
"name": "TBC",
"id": "TBC",
"url": "TBC",
"release": "Buffalo 1.1 MVP",
"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "No radio button selected",
"content": "Select whether this is a business or personal account."
}
]
}
%}

{% else %}

{% endif %}


{% set _selectedBusiness = myData.selectedBusiness %}

{% block beforeContent %}

{% include "_common/phase-banner-2.html" %}
{% if data.view != "int" %}
{% include "_common/sub-header-2.html" %}
{% endif %}
{% set _hideAccountLink = true %}
{% include "_common/login-nav-3.html" %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="RegisterBusinessLegal-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your legal status
            </h1>
          </legend>
          <div id="RegisterBusinessLegal-hint" class="govuk-hint">
            Select one option
          </div>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal" name="RegisterBusinessLegal" type="radio"
                value="Charitable incorporated organisation (CIO)" {{ checked('RegisterBusinessLegal','Charitable
                incorporated organisation (CIO)') }} data-aria-controls="conditional-RegisterBusinessLegal">
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal">
                Charitable incorporated organisation (CIO)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-charity">
                  Charity commission registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-charity"
                  name="RegisterBusinessLegal-charity" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-2" name="RegisterBusinessLegal" type="radio"
                value="Charitable trust" {{ checked('RegisterBusinessLegal','Charitable trust') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-2">
                Charitable trust
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-3" name="RegisterBusinessLegal" type="radio"
                value="Community interest company (CIC)" data-aria-controls="conditional-RegisterBusinessLegal-3" {{
                checked('RegisterBusinessLegal','Community interest company (CIC)') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-3">
                Community interest company (CIC)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal-3">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-company">
                   Company registration number 
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-company"
                  name="RegisterBusinessLegal-company" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>
            <!-- Gov (central) -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-4" name="RegisterBusinessLegal" type="radio"
                value="Charitable trust" {{ checked(' RegisterBusinessLegal','Government (central)') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-4">
                Government (central)
            </div>
            <!-- Gov (local) -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-5" name="RegisterBusinessLegal" type="radio"
                value="Charitable trust" {{ checked('RegisterBusinessLegal','Government (local)') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-5">
                Government (local)
            </div>
            <!-- LLP -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-6" name="RegisterBusinessLegal" type="radio"
                value="Limited liability partnership (LLP)" data-aria-controls="conditional-RegisterBusinessLegal-6" {{
                checked('RegisterBusinessLegal','Limited liability partnership (LLP)') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-6">
                Limited liability partnership (LLP)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal-6">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-company-2">
                  Company registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-company-2"
                  name="RegisterBusinessLegal-company-2" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>
            <!-- Limited Partnership -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-7" name="RegisterBusinessLegal" type="radio"
                value="Limited partnership" data-aria-controls="conditional-RegisterBusinessLegal-7" {{
                checked('RegisterBusinessLegal','Limited partnership') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-7">
                Limited partnership
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal-7">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-company-3">
                  Company registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-company-3"
                  name="RegisterBusinessLegal-company-3" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>
            <!-- Non-UK Comapny -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-8" name="RegisterBusinessLegal" type="radio"
                value="Non-UK company" data-aria-controls="conditional-RegisterBusinessLegal-8" {{
                checked('RegisterBusinessLegal','Non-UK company') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-8">
                Non-UK company
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal-8">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-company-4">
                  Company registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-company-4"
                  name="RegisterBusinessLegal-company-4" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>
            <!-- Partnership -->
             <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-9" name="RegisterBusinessLegal" type="radio"
                value="Partnership" {{ checked(' RegisterBusinessLegal','Partnership') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-9">
                Partnership
            </div>
            <!-- Private limited -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-10" name="RegisterBusinessLegal" type="radio"
                value="Private limited company (Ltd)" data-aria-controls="conditional-RegisterBusinessLegal-10" {{
                checked('RegisterBusinessLegal','Private limited company (Ltd)') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-10">
                Private limited company (Ltd)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal-10">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-company-5">
                  Company registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-company-5"
                  name="RegisterBusinessLegal-company-5" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>
            <!-- PLC -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-11" name="RegisterBusinessLegal" type="radio"
                value="Public limited company (PLC)" data-aria-controls="conditional-RegisterBusinessLegal-11" {{
                checked('RegisterBusinessLegal','Public limited company (PLC)') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-11">
                Public limited company (PLC)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal-11">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-company-6">
                  Company registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-company-6"
                  name="RegisterBusinessLegal-company-6" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>
            <!-- Sole proprietorship -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-12" name="RegisterBusinessLegal" type="radio"
                value="Sole proprietorship" {{ checked(' RegisterBusinessLegal','Sole proprietorship') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-12">
                Sole proprietorship
            </div>
            <!-- The Crown -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-13" name="RegisterBusinessLegal" type="radio"
                value="The Crown" {{ checked(' RegisterBusinessLegal','The Crown') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-13">
                The Crown
            </div>
            <!-- ULC -->
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="RegisterBusinessLegal-14" name="RegisterBusinessLegal" type="radio"
                value="Unlimited company (Ultd)" data-aria-controls="conditional-RegisterBusinessLegal-14" {{
                checked('RegisterBusinessLegal','Unlimited company (Ultd)') }}>
              <label class="govuk-label govuk-radios__label" for="RegisterBusinessLegal-14">
                Unlimited company (Ultd)
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
              id="conditional-RegisterBusinessLegal-14">
              <div class="govuk-form-group">
                <label class="govuk-label" for="RegisterBusinessLegal-company-7">
                  Company registration number
                </label>
                <input class="govuk-input govuk-!-width-one-third" id="RegisterBusinessLegal-company-7"
                  name="RegisterBusinessLegal-company-7" type="text" spellcheck="false" inputmode="numeric">
              </div>
            </div>


          </div>
        </fieldset>
      </div>

      {{govukButton({
      text: "Continue"
      })}}

      <p class="govuk-body"><a href="details-business-details"
          class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}