{% extends "layouts/main.html" %}

{% if data.view == "int" %}
{% set _showFooterLinks = false %}
{% else %}
{% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true" %}

{% set pageTitle = "Are you the owner of the business?" %}
{% set pageName = pageTitle %}
{% if _inError %}
{% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set _showIntExtLinks = true %}

{% set serviceName = "Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": '',
"name": "TBC",
"id": "TBC",
"url": "TBC",
"release": "Buffalo 1.1 MVP",
"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "No radio button selected",
"content": "Select whether this is a business or personal account."
}
]
}
%}

{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": '',
"name": "TBC",
"id": "TBC",
"url": "TBC",
"release": "Buffalo 1.1 MVP",
"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "No radio button selected",
"content": "Select whether this is a business or personal account."
}
]
}
%}

{% else %}

{% endif %}


{% set _selectedBusiness = myData.selectedBusiness %}

{% block beforeContent %}

{% include "_common/phase-banner-2.html" %}
{% if data.view != "int" %}
{% include "_common/sub-header-2.html" %}
{% endif %}
{% set _hideAccountLink = true %}
{% include "_common/login-nav-3.html" %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate action="register-ab-business-type">

      <h1 class="govuk-heading-l">
        Please read the declarations before registering your business
      </h1>


      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          You can only register a business as an owner or sole trader.
        </strong>
      </div>

      <p class="govuk-body">
        I confirm that I am the business owner or sole trader.
      </p>
      <p class="govuk-body">
        I understand that my business may be subject to validation checks, including with third parties.
      </p>
      <p class="govuk-body">
        Please confirm you accept these declarations.
      </p>

      {{govukButton({
      text: "Accept and continue"
      })}}

      <p class="govuk-body"><a href="businesses-list" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}