{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "What is your legal status?" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set _showIntExtLinks = true %}

{% set serviceName = "Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "TBC",
    "id": "TBC",
    "url": "",
    "release": "Buffalo 1.1 MVP",
    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      {
        "scenario": "No radio button selected",
        "content": "Select whether this is a business or personal account."
      }
    ]
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "name": "TBC",
    "id": "int-TBC",
    "url": "",
    "release": "Buffalo 1.1 MVP",
    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
    {
      "scenario": "No radio button selected",
      "content": "Select whether this is a business or personal account."
    }
  ]
  }
%}

{% else %}

{% endif %}


{% set _selectedBusiness = myData.selectedBusiness %}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% if data.view != "int" %}
    {% include "_common/sub-header-2.html" %}
  {% endif %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

        <form method="POST" novalidate>

      <div class="govuk-form-group {% if myData.validationErrors.legalBus %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" {% if myData.validationErrors.legalBus %}aria-describedby="legalBus-error"{% endif %}>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your legal status?
            </h1>
          </legend>
          {% if myData.validationErrors.legalBus %}
          <p id="legalBus-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.legalBus.message}}
          </p>
          {% endif %}
          <div class="govuk-radios" data-module="govuk-radios">
            

            {% set _valueNewLegalBus = myData.newLegalBus or myData.legalBus %}
            {% if myData.validationErrors.legalBus %}
                {% set _valueNewLegalBus = myData.newLegalBus %}
            {% endif %}

            {% for _legal in data.legalStatuses %}

              <!-- Radio button -->
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="legalBus-{{loop.index}}" name="legalBus" type="radio" value="{{_legal.name}}" {% if _valueNewLegalBus == _legal.name %}checked{% endif %} {% if _legal.showCompanyReg %}data-aria-controls="conditional-legalCHRNBus-{{loop.index}}"{% endif %} {% if _legal.showCharityCommission %}data-aria-controls="conditional-legalCCRNBus-{{loop.index}}"{% endif %} >
                <label class="govuk-label govuk-radios__label" for="legalBus-{{loop.index}}">
                  {{_legal.name}}
                </label>
              </div>

              <!-- Conditionally revealed 'Company registration number' input -->
              {% if _legal.showCompanyReg %}

                {% set _valueNewLegalCHRNBus = myData.newLegalCHRNBus %}
                {% if data.newChange != "true" %}
                  {% set _valueNewLegalCHRNBus = _valueNewLegalCHRNBus %}
                {% endif %}
                {% if myData.validationErrors.legalCHRNBus %}
                    {% set _valueNewLegalCHRNBus = myData.newLegalCHRNBus %}
                {% endif %}

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-legalCHRNBus-{{loop.index}}">
                  <div class="govuk-form-group {% if myData.validationErrors.legalCHRNBus %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="legalCHRNBus-{{loop.index}}">
                      Company registration number
                    </label>
                    {% if myData.validationErrors.legalCHRNBus %}
                    <p id="legalCHRNBus-error-{{loop.index}}" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.legalCHRNBus.message}}
                    </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-10 {% if myData.validationErrors.legalCHRNBus %}govuk-input--error{% endif %}" id="legalCHRNBus-{{loop.index}}" name="legalCHRNBus-{{loop.index}}" type="text" value="{{_valueNewLegalCHRNBus}}" {% if myData.validationErrors.legalCHRNBus %}aria-describedby="legalCHRNBus-error-{{loop.index}}"{% endif %} >
                  </div>
                </div>
              {% endif %}

              <!-- Conditionally revealed 'Charity commission registration number' input -->
              {% if _legal.showCharityCommission %}

                {% set _valueNewLegalCCRNBus = myData.newLegalCCRNBus or myData.legalCCRNBus %}
                {% if data.newChange != "true" %}
                  {% set _valueNewLegalCCRNBus = _valueNewLegalCCRNBus %}
                {% endif %}
                {% if myData.validationErrors.legalCCRNBus %}
                    {% set _valueNewLegalCCRNBus = myData.newLegalCCRNBus %}
                {% endif %}

                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-legalCCRNBus-{{loop.index}}">
                  <div class="govuk-form-group {% if myData.validationErrors.legalCCRNBus %}govuk-form-group--error{% endif %}">
                    <label class="govuk-label" for="legalCCRNBus-{{loop.index}}">
                      Charity commission registration number
                    </label>
                    {% if myData.validationErrors.legalCCRNBus %}
                    <p id="legalCCRNBus-error-{{loop.index}}" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.legalCCRNBus.message}}
                    </p>
                    {% endif %}
                    <input class="govuk-input govuk-input--width-10 {% if myData.validationErrors.legalCCRNBus %}govuk-input--error{% endif %}" id="legalCCRNBus-{{loop.index}}" name="legalCCRNBus-{{loop.index}}" type="text" value="{{_valueNewLegalCCRNBus}}" {% if myData.validationErrors.legalCCRNBus %}aria-describedby="legalCCRNBus-error-{{loop.index}}"{% endif %} >
                  </div>
                </div>
              {% endif %}



            {% endfor %}

          </div>
        </fieldset>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}