{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}
{% set _showIntExtLinks = false %}

{% set pageName="Why do you need access to this business?" %}
{% set serviceName="Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = false %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Why do you need access to this business?",
    "id": "ra10",
    "url": "details-personal-details?r=t&view=ext&release=b1",
    "release": "Buffalo 1.0 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b1&namechanged=true&changed=true&view=ext"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b1&dobchanged=true&changed=true&view=ext"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b1&addresschanged=true&changed=true&view=ext"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b1&phonechanged=true&changed=true&view=ext"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b1&emailchanged=true&changed=true&view=ext"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Manage personal details",
    "id": "int-pd01",
    "url": "details-personal-details?r=t&view=int&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b2&namechanged=true&changed=true&view=int"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b2&dobchanged=true&changed=true&view=int"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b2&addresschanged=true&changed=true&view=int"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b2&phonechanged=true&changed=true&view=int"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b2&emailchanged=true&changed=true&view=int"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
  %}

{% else %}

{% endif %}

{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}


{% if data.view != "int" %}
{% include "_common/phase-banner-2.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% set _hideAccountLink = true %}
      {% include "_common/login-nav-3.html" %}

      <div class="govuk-breadcrumbs" style="display: inline-block">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
          </li>
          {% if data.release != "b1" %}
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="account-home">Your account</a>
          </li>
          {% endif %}
        </ol>
      </div>

    </div>
  </div>
  {% else %}
  {% include "_common/login-nav-internal.html" %}
  <div class="govuk-breadcrumbs" style="display: inline-block">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="internal-search?q={{myData.searchTerm}}">Search results</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="internal-customer">{{_selectedUser.name}} (CRN: {{_selectedUser.crn}})</a>
      </li>
    </ol>
  </div>
  {% endif %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

   <form action="request-access-check-answers" method="POST">



<div class="govuk-form-group">
  <h1 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="more-detail">
      <span class="govuk-caption-l">Request access to Agile Farm Ltd</span>
      Why do you need access to this business?
    </label>
  </h1>
  <div id="more-detail-hint" class="govuk-hint">
    Give details of why you need access to this business and the typical tasks you need to do. For example, ‘As an agent for this farm, I need to manage land and funding details, submit and amend applications, and receive correspondence.’
  </div>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="8" aria-describedby="more-detail-hint"></textarea>
</div>



  {{govukButton({
    text: "Continue"
  })}}

  <p class="govuk-body"><a href="businesses-list" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

  </form>

  </div>


</div>





{% endblock %}
