{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}
{% set _showIntExtLinks = false %}

{% set pageName="Choose what level of access you would like for this business" %}
{% set serviceName="Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = false %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Choose what level of access you would like for this business",
    "id": "ra03",
    "url": "details-personal-details?r=t&view=ext&release=b1",
    "release": "Buffalo 1.0 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b1&namechanged=true&changed=true&view=ext"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b1&dobchanged=true&changed=true&view=ext"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b1&addresschanged=true&changed=true&view=ext"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b1&phonechanged=true&changed=true&view=ext"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b1&emailchanged=true&changed=true&view=ext"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Manage personal details",
    "id": "int-pd01",
    "url": "details-personal-details?r=t&view=int&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b2&namechanged=true&changed=true&view=int"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b2&dobchanged=true&changed=true&view=int"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b2&addresschanged=true&changed=true&view=int"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b2&phonechanged=true&changed=true&view=int"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b2&emailchanged=true&changed=true&view=int"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
  %}

{% else %}

{% endif %}

{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}


{% if data.view != "int" %}
{% include "_common/phase-banner-2.html" %}

  {% endif %}
  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>
  
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

   <form action="request-access-relationship" method="POST">


        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Request access to Agile Farm Ltd</span>
          Choose what level of access you would like for this business
        </h1>

        <p class="govuk-body">Next, you will be able to tell us about your relationship to this business.</p> 
        <p class="govuk-body">Then, you will be able to set your suggested permission levels for your access to this business's:</p>
        <ul class="govuk-list govuk-list--bullet">
  <li>business and land details</li>
  <li>individual schemes and grants</li>
  
</ul>

  <p class="govuk-body">Once you submit your access request, we will send it by email to Agile Farm Ltd for review. The Rural Payments Agency will not see or review your request.</p>

  {{govukButton({
    text: "Continue"
  })}}

  <p class="govuk-body"><a href="businesses-list" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

  </form>



  </div>


</div>





{% endblock %}
