{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}
{% set _showIntExtLinks = false %}

{% set pageName="How can Richard Clark manage this business account?" %}
{% set serviceName="Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = false %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Business details",
    "id": "ra05",
    "url": "details-personal-details?r=t&view=ext&release=b1",
    "release": "Buffalo 1.0 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b1&namechanged=true&changed=true&view=ext"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b1&dobchanged=true&changed=true&view=ext"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b1&addresschanged=true&changed=true&view=ext"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b1&phonechanged=true&changed=true&view=ext"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b1&emailchanged=true&changed=true&view=ext"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Manage personal details",
    "id": "int-pd01",
    "url": "details-personal-details?r=t&view=int&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b2&namechanged=true&changed=true&view=int"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b2&dobchanged=true&changed=true&view=int"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b2&addresschanged=true&changed=true&view=int"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b2&phonechanged=true&changed=true&view=int"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b2&emailchanged=true&changed=true&view=int"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
  %}

{% else %}

{% endif %}

{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}


{% if data.view != "int" %}
{% include "_common/phase-banner-2.html" %}

  {% endif %}
  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-full">

   <form action="request-access-permissions-land-details" method="POST">

   <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          <span class="govuk-caption-l">Agile Farm Ltd permissions - page 1 of 5</span>
          Business details
        </h1>
      </legend>

<!-- Radio Buttons block START -->

  <div class="permission-level-radios-block">
    <div class="permission-level-radios-block_left">
      <div id="contact-hint" class="govuk-hint">
        Select a permission level
      </div>
    </div>

    <div class="permission-level-radios-block_right">
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount" name="businessAccount" type="radio" value="view">
          <label class="govuk-label govuk-radios__label" for="businessAccount">
            <span class="govuk-body-s"><strong>View only<br>&nbsp;</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount-2" name="businessAccount" type="radio" value="amend">
          <label class="govuk-label govuk-radios__label" for="businessAccount-2">
            <span class="govuk-body-s"><strong>Amend</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount-3" name="businessAccount" type="radio" value="delegate">
          <label class="govuk-label govuk-radios__label" for="businessAccount-3">
            <span class="govuk-body-s"><strong>Make legal changes</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount-4" name="businessAccount" type="radio" value="full">
          <label class="govuk-label govuk-radios__label" for="businessAccount-4">
            <span class="govuk-body-s"><strong>Full permission</strong></span>
          </label>
        </div>
        </div>
      </div>
    </div>

  </div>

  <!-- Radio Buttons block END -->


<table class="govuk-table permission-level-table">
  <thead class="govuk-table__head perms-visually-hidden">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header permission-level-table_width-two-sixths"><span style="font-weight: normal;">Do you want this person to?</span></th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth grey-column-bg">View only</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth">Amend</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth grey-column-bg">Make legal changes</th>
      <th scope="col" class="govuk-table__header permission-table-cell_one-fourth">Full permission</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">View business details and people</th>
      <td class="govuk-table__cell grey-column-bg permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell permission-table-cell_one-fourth">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Amend business contact details</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Amend all business details including bank details</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">Change other people's business access</th>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell grey-column-bg">
        <strong class="govuk-tag govuk-tag--red">
          No
        </strong>
      </td>
      <td class="govuk-table__cell">
        <strong class="govuk-tag govuk-tag--green">
          Yes
        </strong>
      </td>
    </tr>
  </tbody>
</table>      


<!-- Radio Buttons block START -->
<!-- 
  <div class="permission-level-radios-block">
    <div class="permission-level-radios-block_left">
      <div id="contact-hint" class="govuk-hint">
        Select option
      </div>
    </div>

    <div class="permission-level-radios-block_right">
      <div class="govuk-radios" data-module="govuk-radios">

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount" name="businessAccount" type="radio" value="view" aria-describedby="businessAccount-item-hint">
          <label class="govuk-label govuk-radios__label" for="businessAccount">
            <span class="govuk-body-s"><strong>View</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount-2" name="businessAccount" type="radio" value="amend" aria-describedby="businessAccount-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="businessAccount-2">
            <span class="govuk-body-s"><strong>Amend</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth grey-column-bg">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount-3" name="businessAccount" type="radio" value="delegate" aria-describedby="businessAccount-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="businessAccount-3">
            <span class="govuk-body-s"><strong>Delegated permission</strong></span>
          </label>
        </div>
        </div>

        <div class="permission-input-outer_one-fourth">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="businessAccount-4" name="businessAccount" type="radio" value="full" aria-describedby="businessAccount-4-item-hint">
          <label class="govuk-label govuk-radios__label" for="businessAccount-4">
            <span class="govuk-body-s"><strong>Full permission</strong></span>
          </label>
        </div>
        </div>
      </div>
    </div>

  </div>
 -->
  <!-- Radio Buttons block END -->



</fieldset>


</div>


  {{govukButton({
    text: "Continue"
  })}}

  <p class="govuk-body"><a href="businesses-list" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

  </form>

  </div>

  <!-- <div class="govuk-grid-column-one-third">
    <h4 class="govuk-heading-s">Setting permissions</h4>
    <p class="govuk-body-s">You can choose whatever permission levels you want. There is <a href="#" class="govuk-link">guidance</a> on recommended permission levels depending on the person’s role.</p>
  </div> -->

</div>





{% endblock %}
