{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<a href="/to-be/index" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Version 2
    </h1>

    <h2 class="govuk-heading-m">
      Flow for usability testing
    </h2>

    <a href="start/start" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start prototype
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <h3 class="govuk-heading-s">Page links</h3>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="start/start">Start</a></li>
      <li><a class="govuk-link--no-visited-state" href="start/sign-in">Sign in</a></li>
      <li><a class="govuk-link--no-visited-state" href="start/your-businesses-list">Your businesses</a></li>
    </ul>

      <h2 class="govuk-heading-m">
        Exploration
      </h2>

      <h3 class="govuk-heading-s">Choose a business</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="start/your-businesses-list">Your businesses - list</a></li>
        <li><a class="govuk-link--no-visited-state" href="start/your-businesses-radio">Your businesses - radio</a></li>
      </ul>


      <h3 class="govuk-heading-s">Landing page versions</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="landing/card">Card</a></li>
        <li><a class="govuk-link--no-visited-state" href="landing/list">List</a></li>
      </ul>


      <h2 class="govuk-heading-m">
        Vet visits latest email content
      </h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="vv-emails/apply-existing">Apply confirmation - existing users</a></li>
        <li><a class="govuk-link--no-visited-state" href="vv-emails/apply-new">Apply confirmation - new users</a></li>
        <li><a class="govuk-link--no-visited-state" href="vv-emails/claim-confirm">Claim confirmation</a></li>
      </ul>



      <h2 class="govuk-heading-m">
        Technical options
      </h2>

      <h3 class="govuk-heading-s" id="rps">Options for how the new SFD service could link to existing RPS services</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps/option-1/landing">Option 1 - give users a single link to go to RPS</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps/option-2/landing">Option 2 - anchor to RPS schemes/land services</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps/option-3/landing">Option 3 - we build hub pages for each scheme</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps/option-4/landing">Option 4 - we consume the RPS screens and they use our header and footer</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps/option-5/start">Option 5 - we route people on the start screen</a></li>
      </ul>

      <h3 class="govuk-heading-s" id="rps-messages">Options for how the new SFD service could integrate RPS messages</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps-messages/option-1/landing">Option 1 - give users a single link to go to RPS</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps-messages/option-2/landing">Option 2 - AHWR own their own message history and we link separately to RPS messages</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/rps-messages/option-3/landing">Option 3 - display all messages (SFD and RPS) in single front door</a></li>
      </ul>

      <h3 class="govuk-heading-s" id="vv">Options for how the new SFD service could integrate with AHWR</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="tech-options/vv/option-1/landing">Option 1 - link to the AHWR service as it is now</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/vv/option-2/landing">Option 2 - consume the AHWR service into our service, so it uses our header and footer instead</a></li>
        <li><a class="govuk-link--no-visited-state" href="tech-options/vv/option-3/landing">Option 3 - Add AWHR statuses to our landing page</a></li>

      </ul>

  </div>
</div>

{% endblock %}
