{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Version 2
    </h1>

      <h2 class="govuk-heading-m">
        Page links
      </h2>

      <h3 class="govuk-heading-s">Service start</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="start/start">Service start page</a></li>
        <li><a class="govuk-link--no-visited-state" href="start/sign-in">Sign in</a></li>
      </ul>

      <h3 class="govuk-heading-s">Latest vet visits email content</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="vv-emails/apply-existing">Apply confirmation - existing users</a></li>
        <li><a class="govuk-link--no-visited-state" href="vv-emails/apply-new">Apply confirmation - new users</a></li>
        <li><a class="govuk-link--no-visited-state" href="vv-emails/claim-confirm">Claim confirmation</a></li>
      </ul>

      <h3 class="govuk-heading-s">Choose a business</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="start/your-businesses-list">Your businesses - list</a></li>
        <li><a class="govuk-link--no-visited-state" href="start/your-businesses-radio">Your businesses - radio</a></li>
      </ul>


      <h3 class="govuk-heading-s">Landing page versions</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="start/start">Card </a></li>
        <li><a class="govuk-link--no-visited-state" href="start/start">List </a></li>
        <li><a class="govuk-link--no-visited-state" href="start/start">Accordion </a></li>
      </ul>


  </div>
</div>

{% endblock %}
