{% extends "layouts/main.html" %}

{% set _pageID = "" %}
{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Check your VAT registration number is correct before submitting" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}


{% block beforeContent %}

  {% include "_common/phase-banner.html" %}
  {% include "_common/sub-header.html" %}
  {% include "_common/login-nav.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        Check your VAT registration number is correct before submitting 
      </h1>

      {% set _changeURL = "business-details-vat-change" %}
      {% if myData.vatBus == "" %}
        {% set _changeURL = "business-details-vat-add" %}
      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "VAT registration number"
            },
            value: {
              text: myData.newVatBus or "GB123456789"
            },
            actions: {
              items: [
                {
                  href: _changeURL,
                  text: "Change",
                  visuallyHiddenText: "VAT registration number"
                }
              ]
            }
          }
        ]
      }) }}

      {{govukButton({
        text: "Submit"
      })}}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>



{% endblock %}
