{% extends "layouts/main.html" %}

{% set _pageID = "" %}
{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set _includeServiceNavigation = "false" %}
{% set _paymentsServiceNavigationActive = true %}

{% set pageName = "Your business's payments" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  {% include "_common/sub-header.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% include "_common/login-nav-2.html" %}

      <div class="govuk-breadcrumbs" style="display: inline-block">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
          </li>
        </ol>
      </div>

    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Your business's payments
      </h1>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-tabs" >
        <ul class="govuk-tabs__list--payments" role="tablist">
          <li class="govuk-tabs__list-item--payments">
            <a class="govuk-tabs__tab--payments govuk-link--no-visited-state" href="business-payments" role="tab" aria-selected="false">Upcoming <span class="govuk-visually-hidden">payments</span></a>
          </li>
          <li class="govuk-tabs__list-item--payments govuk-tabs__list-item--payments-selected">
            <a class="govuk-tabs__tab--payments govuk-link--no-visited-state" href="business-payments-prev?selectedPaymentYear={{data.defaultSelectedPaymentYear}}" role="tab" aria-selected="true">Past <span class="govuk-visually-hidden">payments</span></a>
          </li>
        </ul>
      </div>

      <h3 class="govuk-heading-l">Past payments</h3>

      {% set _paymentYears = [2024,2023,2022,2021,2020,2019,2018] %}
      {% set _selectedPaymentYear = data.selectedPaymentYear %}

      <p class="govuk-body govuk-!-margin-bottom-2">View past payments by year</p>
      <ul class="govuk-list inline-filter-list">
        {% for _paymentYear in _paymentYears %}
          {% if _paymentYear == _selectedPaymentYear %}
            <li class="inline-filter-list-item"><strong>{{_paymentYear}}</strong></li>
          {% else %}
            <li class="inline-filter-list-item"><a href="business-payments-prev?selectedPaymentYear={{_paymentYear}}" class="govuk-link govuk-link--no-visited-state">{{_paymentYear}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      
      {% for _paymentYearGroup in _paymentYears %}
        {% if _paymentYearGroup == _selectedPaymentYear %}
          <h3 class="govuk-heading-m">{{_paymentYearGroup}}</h3>
          <table class="govuk-table govuk-!-margin-bottom-8">
            <!-- <caption class="govuk-table__caption govuk-table__caption--s">Breakdown of payment</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Date</th>
                <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Amount</th>
                <th scope="col" class="govuk-table__header">Status</th>
                <th scope="col" class="govuk-table__header">Reference</th>
                <th scope="col" class="govuk-table__header govuk-table__cell--numeric">Action</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">

              {% for _payment in data.paymentsPrevious %}
                {% set _paymentYear = _payment.year %}
                {% if _paymentYear == _paymentYearGroup %}
        
                  {% set _status %}
                    {% if _payment.status == "paid" %}
                    <strong class="govuk-tag govuk-tag--green">
                      Paid
                    </strong>
                    {% endif %}
                  {% endset %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      <strong>{{_payment.date}}</strong></span>
                    </th>
                    <td class="govuk-table__cell govuk-table__cell--numeric">{{_payment.total | currency(trailingZeros=false) }}</td>
                    <td class="govuk-table__cell">{{_status|safe}}</td>
                    <td class="govuk-table__cell">{{_payment.reference}}</td>
                    <td class="govuk-table__cell govuk-table__cell--numeric">
                      <a class="govuk-link govuk-link--no-visited-state" href="business-payments-prev-detail?payment={{_payment.id}}">View details<span class="govuk-visually-hidden"> for payment on {{_payment.date}}</span></a>
                    </td>
                  </tr> 
                {% endif %}
              {% endfor %}

            </tbody>
          </table>
        {% endif %}
      {% endfor %}

    </div>
  </div>


{% endblock %}
