{% extends "layouts/main.html" %}

{% set _pageID = "" %}
{% set _showFooterLinks = true %}
{% set _showReleaseLinks = true %}

{% set pageName = "View and update your business details" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _selectedBusiness = myData.selectedBusiness %}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}
  {% include "_common/sub-header.html" %}

  {% include "_common/login-nav-2.html" %}

  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
      </li>
    </ol>
  </nav>

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if myData.showNotification == "true" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {{myData.notifications.message}}
        </h3>
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
     View and update your business details
    </h1>

    <h2 class="govuk-heading-m">
      Business contact details
     </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.nameBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-name-change?newChange=true">Change<span class="govuk-visually-hidden"> business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.address1Bus}}<br>
          {% if myData.address2Bus != "" %}{{myData.address2Bus}}<br>{% endif %}
          {{myData.addressCityBus}}<br>
          {% if myData.addressCountyBus != "" %}{{myData.addressCountyBus}}<br>{% endif %}
          {{myData.addressPostcodeBus}} 
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-address-change?newChange=true">Change<span class="govuk-visually-hidden"> address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Telephone
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.telNumberBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-tel-change?newChange=true">Change<span class="govuk-visually-hidden"> telephone number</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Mobile
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.mobNumberBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-mob-change?newChange=true">Change<span class="govuk-visually-hidden"> mobile phone number</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.emailBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-email-change?newChange=true">Change<span class="govuk-visually-hidden"> email address</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Reference numbers
     </h2>



     <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single business identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          {{_selectedBusiness.sbiNumber}} 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          VAT registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {% if myData.vatBus == "" %}
            <span style="color:#505a5f">No number added</span>
          {% else %}
            {{myData.vatBus}}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if myData.vatBus == "" %}
            <a class="govuk-link govuk-link--no-visited-state" href="business-details-vat-add?newChange=true">Add<span class="govuk-visually-hidden"> VAT registration number</span></a>
          {% else %}
            <a class="govuk-link govuk-link--no-visited-state" href="business-details-vat-change?newChange=true">Change<span class="govuk-visually-hidden"> VAT registration number</span></a>
          {% endif %}
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Vendor registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {{_selectedBusiness.vrnNumber or "123456"}} 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          County Parish Holding (CPH) number
        </dt>
        <dd class="govuk-summary-list__value">
          {{_selectedBusiness.cphNumber or "12/563/0998"}} 
        </dd>
      </div>
    </dl>


    <h2 class="govuk-heading-m">
      Additional details
     </h2>

     <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Legal status
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.legalBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-legal-change?newChange=true">Change<span class="govuk-visually-hidden"> legal status</span></a>
        </dd>
      </div>
      {% if myData.legalBus == "Public Limited Company (PLC)" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Companies house registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.legalCHRNBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-legal-change?newChange=true">Change<span class="govuk-visually-hidden"> companies house registration number</span></a>
        </dd>
      </div>
      {% endif %}
      {% if myData.legalBus == "Charitable Incorporated Organisation (CIO)" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Charity commission registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.legalCCRNBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-legal-change?newChange=true">Change<span class="govuk-visually-hidden"> charity commission registration number</span></a>
        </dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business type
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.typeBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-type-change?newChange=true">Change<span class="govuk-visually-hidden"> business type</span></a>
        </dd>
      </div>
      {% if data.release != "b1" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Bank account details
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.bankNameBus}}
         </br>{{myData.bankSortBus}}
         </br>{{myData.bankAccountBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-bank-change?newChange=true">Change<span class="govuk-visually-hidden"> bank account details</span></a>
        </dd>
      </div>
      {% endif %}
    </dl>



  </div>
</div>





{% endblock %}
