{% extends "layouts/main.html" %}

{% set pageName="We've updated your mobile phone number" %}
{% set serviceName="Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}


{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  {% set _loginNavClasses = "no-bread" %}
  {% include "_common/login-nav.html" %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">



    <h1 class="govuk-heading-l">
      We have updated your mobile phone number
     </h1>
      
     <p><a class="govuk-link--no-visited-state" href="details-personal-details">Go back to your personal details</a></p>







  </div>
</div>





{% endblock %}
