{% extends "layouts/main.html" %}

{% set pageName="Change your mobile phone number" %}
{% set serviceName="Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}


{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  {% include "_common/login-nav.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <form action="details-check-mob-personal" method="post">

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Change your mobile phone number        
        </h1>
      </legend>
      <div class="govuk-form-group">
        <label class="govuk-label" for="mobNumberPers">
          New mobile phone number
        </label>
        <input class="govuk-input govuk-input--width-20" id="mobNumberPers" name="mobNumberPers" type="tel" autocomplete="tel">
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </fieldset>

      </form>





  </div>
</div>





{% endblock %}
