{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{super()}}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Single front door prototypes</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Prototype version 7
      <!-- <span class="govuk-caption-xl">Private Beta. Round 1: 16 to 20 December 2024</span> -->
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <!-- Release -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Release version (feature toggles)</legend>
          <div class="govuk-radios">
              <div class="govuk-radios__item">
                  <input {% if data.release == 'concept' %}checked{% endif %} class="govuk-radios__input" data-option="concept" id="concept" name="release" type="radio" value="concept">
                  <label class="govuk-label govuk-radios__label" for="concept"><strong>Concept / latest designs</strong></label>
              </div>
              <div class="govuk-radios__item">
                  <input {% if data.release == 'b1' %}checked{% endif %} class="govuk-radios__input" data-option="b1" id="b1" name="release" type="radio" value="b1">
                  <label class="govuk-label govuk-radios__label" for="b1"><strong>Buffalo 1.0 MVP</strong></label>
              </div>
          </div>
      </fieldset>
    </div>

    <!-- Start from -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Start journey from</legend>
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input {% if data.startFrom == 'si' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-2" id="startFrom-2" name="startFrom" type="radio" value="si" >
              <label class="govuk-label govuk-radios__label" for="startFrom-2">Sign in (SFD)</label>
            </div>
            <div class="govuk-radios__item">
                <input {% if data.startFrom == 'st' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-1" id="startFrom-1" name="startFrom" type="radio" value="st" >
                <label class="govuk-label govuk-radios__label" for="startFrom-1">Start page (SFD)</label>
            </div>
            <div class="govuk-radios__item">
              <input {% if data.startFrom == 'bl' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-3" id="startFrom-3" name="startFrom" type="radio" value="bl" >
              <label class="govuk-label govuk-radios__label" for="startFrom-3">Businesses list</label>
            </div>
            <div class="govuk-radios__item">
              <input {% if data.startFrom == 'home' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-4" id="startFrom-4" name="startFrom" type="radio" value="home" >
              <label class="govuk-label govuk-radios__label" for="startFrom-4">Home - business page</label>
            </div>

          </div>
      </fieldset>
    </div>

    <!-- Include validation checking -->
    <div class="govuk-form-group">
      <label class="govuk-label" >
        Include validation
      </label>
      <select class="govuk-select" style="min-width: 100%" id="includeValidation" name="includeValidation" data-option="includeValidation">
          <option {% if data.includeValidation == 'true' %}selected{% endif %} value="true">Yes (throw errors)</option>
          <option {% if data.includeValidation == 'false' %}selected{% endif %} value="false">No (allow empty fields)</option>
      </select>
    </div>

  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body" id="start-url" style="display:none">
            <a href="#" role="button" draggable="false" class="govuk-button">Start prototype</a>
        </p>

        <p class="govuk-body" >
            <span class="govuk-!-font-weight-bold">Shareable link (uses settings made above):</span><br>
            <span class="govuk-body" id="start-url-label" style="display:none"></span>
        </p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>

    <!-- <a class="govuk-button" href="business-home?business=1">Start prototype</a> -->
    <!-- <h3 class="govuk-heading-s">Alternative starting points:</h3>
    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="start-rps-start-og?business=1">RPS start page</a></li>
      <li><a class="govuk-link--no-visited-state" href="start-rps-sign-in?business=1">RPS sign in</a></li>
      <li><a class="govuk-link--no-visited-state" href="start-sfd-start?business=1">SFD start page</a></li>
      <li><a class="govuk-link--no-visited-state" href="start-sfd-sign-in?business=1">SFD sign in</a></li>
      <li><a class="govuk-link--no-visited-state" href="payment-next-email?business=1">Payment - upcoming - email</a></li>
      <li><a class="govuk-link--no-visited-state" href="payment-action-text?business=1">Payment - action - text message</a></li>
      <li><a class="govuk-link--no-visited-state" href="payment-action-letter?business=1">Payment - action - letter</a></li>
      <li><a class="govuk-link--no-visited-state" href="vets-claim-approved-email?business=1">Vets visit - Claim approved email</a></li>
    </ul> -->
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
    <h2 class="govuk-heading-m">
      Design history
    </h2>
    <p><a href="_design-history" class="govuk-link govuk-link--no-visited-state">View design history</a> which includes:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>why we explored payments</li>
      <li>pain points and user needs</li>
      <li>constraints</li>
      <li>design approach</li>
      <li>'how might we' statements</li>
      <li>outcomes and decisions</li>
    </ul>
    

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <h2 class="govuk-heading-m">
      Design tickets (on JIRA)
    </h2>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="https://eaflood.atlassian.net/browse/SFDE-117" class="govuk-link govuk-link--no-visited-state">SFDE-117</a> - Set up prototype to handle variants (buffalo variant and latest design variant)</li>
      <li><a href="https://eaflood.atlassian.net/browse/SFDE-113" class="govuk-link govuk-link--no-visited-state">SFDE-117</a> - Outline the MVP prototype</li>
    </ul>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--xl">Full page list</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">ID</th>
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Prototype link</th>
          <th scope="col" class="govuk-table__header">Release</th>
        </tr>
      </thead>
      {% set _pages = [

        {
          "type": "HEADING",
          "name": "Start pages"
        },
        {
          "name": "RPS start page",
          "url": "start-rps-start-og",
          "release": "-"
        },
        {
          "name": "SFD start page",
          "url": "start-sfd-start",
          "release": "Buffalo 1.X"
        },
        

        {
          "type": "HEADING",
          "name": "Sign in"
        },
        {
          "name": "RPS sign in",
          "url": "start-rps-sign-in",
          "release": "-"
        },
        {
          "name": "SFD sign in",
          "id": "si01",
          "url": "start-sfd-sign-in",
          "release": "Buffalo 1.0 MVP"
        },
        {
          "name": "SFD reset password",
          "id": "si02",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "type": "HEADING",
          "name": "Business pages"
        },
        {
          "name": "Your businesses list",
          "id": "bp01",
          "url": "businesses-list",
          "release": "Buffalo 1.0 MVP"
        },
        {
          "name": "SFD Home/Business Page (Buffalo 1.0 MVP)",
          "id": "bp02",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "SFD Home/Business Page (concept)",
          "id": "bp02",
          "url": "business-home",
          "release": "Concept"
        },

        {
          "type": "HEADING",
          "name": "Manage account"
        },
        {
          "name": "Account Home",
          "id": "ma01",
          "url": "account-home",
          "release": "Buffalo 1.0 MVP"
        },




        {
          "type": "HEADING",
          "name": "Personal details"
        },
        {
          "name": "Manage personal details",
          "id": "pd01",
          "url": "details-personal-details",
          "release": "Buffalo 1.0 MVP"
        },

        {
          "name": "Full name (change) - personal details",
          "id": "pd02",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Full name (check) - personal details",
          "id": "pd03",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Date of birth (change) - personal details",
          "id": "pd04",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Date of birth (check) - personal details",
          "id": "pd05",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Address (change) - personal details",
          "id": "pd06",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Address (check) - personal details",
          "id": "pd07",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Telephone (change) - personal details",
          "id": "pd08",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Telephone (check) - personal details",
          "id": "pd09",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Mobile (change) - personal details",
          "id": "pd10",
          "url": "details-change-mob-personal",
          "release": "Buffalo 1.0 MVP"
        },
        {
          "name": "Mobile (check) - personal details",
          "id": "pd11",
          "url": "details-check-mob-personal",
          "release": "Buffalo 1.0 MVP"
        },

        {
          "name": "Email address (change) - personal details",
          "id": "pd12",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Email address (check) - personal details",
          "id": "pd13",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

       
        {
          "type": "HEADING",
          "name": "Business details"
        },
        {
          "name": "Manage business details",
          "id": "bd01",
          "url": "details-business-details",
          "release": "Buffalo 1.0 MVP"
        },

        {
          "name": "Business name (change) - business details",
          "id": "bd02",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Business name (check) - business details",
          "id": "bd03",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Address (change) - business details",
          "id": "bd04",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Address (check) - business details",
          "id": "bd05",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Telephone (change) - business details",
          "id": "bd06",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "Telephone (check) - business details",
          "id": "bd07",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },


        {
          "name": "Mobile (change) - business details",
          "id": "bd08",
          "url": "details-change-mob-business",
          "release": "Buffalo 1.0 MVP"
        },
        {
          "name": "Mobile (check) - business details",
          "id": "bd09",
          "url": "details-check-mob-business",
          "release": "Buffalo 1.0 MVP"
        },


        {
          "name": "Email address (change) - business details",
          "id": "bd10",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Email address (check) - business details",
          "id": "bd11",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "name": "VAT registration number (change) - business details",
          "id": "bd12",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "VAT registration number (add) - business details",
          "id": "bd13",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "VAT registration number (check) - business details",
          "id": "bd14",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        
        {
          "name": "Legal status (change) - business details",
          "id": "bd15",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Legal status (check) - business details",
          "id": "bd16",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        
        {
          "name": "Business type (change) - business details",
          "id": "bd17",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Business type (check) - business details",
          "id": "bd18",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },




        
        


        


        {
          "type": "HEADING",
          "name": "Miscellaneous pages"
        },
        {
          "name": "Cookies page",
          "id": "mp01",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Accessibility statement",
          "id": "mp02",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Contact us/help",
          "id": "mp03",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Privacy policy",
          "id": "mp04",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Personal information charter",
          "id": "mp05",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Signed out page",
          "id": "mp06",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Auto signed out (TBC if MVP/NEEDED)",
          "id": "mp07",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Terms and conditions (TBC if MVP/NEEDED)",
          "id": "mp08",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },

        {
          "type": "HEADING",
          "name": "Service errors"
        },
        {
          "name": "Service unavailable (503/shutter page)",
          "id": "se01",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Problem with service (500/server error page)",
          "id": "se02",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },
        {
          "name": "Page not found (404)",
          "id": "se03",
          "url": "",
          "release": "Buffalo 1.0 MVP",
          "todo": true
        },



        {
          "type": "HEADING",
          "name": "Payments"
        },
        {
          "name": "Payments - upcoming payments",
          "url": "business-payments",
          "release": "Concept"
        },
        {
          "name": "Upcoming payment detail - confirmed",
          "url": "business-payments-detail?payment=1",
          "release": "Concept"
        },
        {
          "name": "Upcoming payment detail - planned",
          "url": "business-payments-detail?payment=3",
          "release": "Concept"
        },
        {
          "name": "Upcoming payment detail - action needed",
          "url": "business-payments-detail?payment=2",
          "release": "Concept"
        },
        {
          "name": "Payments - past payments",
          "url": "business-payments-prev",
          "release": "Concept"
        },
        {
          "name": "Past payment detail - paid",
          "url": "business-payments-prev-detail?payment=84",
          "release": "Concept"
        },

        {
          "type": "HEADING",
          "name": "Payments notifications"
        },
        {
          "name": "Upcoming payment (email)",
          "url": "payment-next-email",
          "release": "Concept"
        },
        {
          "name": "Action needed (text message)",
          "url": "payment-action-text",
          "release": "Concept"
        },
        {
          "name": "Action needed (letter)",
          "url": "payment-action-letter",
          "release": "Concept"
        },


        {
          "type": "HEADING",
          "name": "Vet visits Manage your claims screen and email"
        },
        {
          "name": "Claim approved email",
          "url": "vets-claim-approved-email",
          "release": "-"
        },
        {
          "name": "Manage your claims",
          "url": "vets-manage-your-claims",
          "release": "-"
        },
        {
          "name": "Terms and conditions",
          "url": "vets-ts-cs",
          "release": "-"
        },
        {
          "name": "Agreement summary",
          "url": "vets-agreement-summary",
          "release": "-"
        }

      ] %}
      <tbody class="govuk-table__body">
        {% for _page in _pages %}
          {% if _page.type == "HEADING" %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" colspan="4"><h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">{{_page.name}}</h2></th>
          </tr>
          {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" {% if _page.todo %}style="color:red"{% endif %}>
              {{_page.id}}.
            </th>
            <th scope="row" class="govuk-table__header" {% if _page.todo %}style="color:red"{% endif %}>
              {{_page.name}}
            </th>
            <td class="govuk-table__cell">
              {% if _page.todo %}
                <span style="color:red">TO DO</span>
              {% else %}
                <a class="govuk-link govuk-link--no-visited-state" href="{{_page.url}}">/{{_page.url}}</a>
              {% endif %}
            </td>
            <td class="govuk-table__cell" style="min-width: 200px;">
              {% if _page.release == "Concept" %}💡 {% elif _page.release == "Buffalo 1.X" or _page.release == "Buffalo 1.0 MVP"  %}🐃 {% endif %}{{_page.release}}
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <!-- <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Information
        <span class="govuk-caption-s">(all links open in a new tab)</span>
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="_design-history">
              Design history
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1708095369498/312f9f5bbd6500ac2e567b6390d0453ecb6bf290?wid=0-1726655395429" target="_blank">
              Hypothesis
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/defraallcompany8330/1700644751131/8f9698d767ce508393323a6dacb8abb8d923b960?wid=0-1726065444141" target="_blank">
              Planning scenario and flow for research
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div> -->
</div>

{% endblock %}

{% block pageScriptsAfter %}
<script>
    $(document).ready(function(){

        var _startURL = $("#start-url a"),
            _startURLLabel = $("#start-url-label"),
            _options = $("[data-option]")

        _options.change(function(){
            setValues()
        }).trigger("change");

        _options.on('input', function() {
            setValues()
        }).trigger("input");


        //SET VALUES
        function setValues(){

            //Base URL
            var _urlBase = "https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/" + {{data.version|dump|safe}} + "/";


            //Queries
            var _urlStartFrom = $('input[name=startFrom]:checked').val(),
                _urlPage = "start-sfd-sign-in",
                _urlNewApplication = "";
            
            switch(_urlStartFrom) {
                case "st":
                  _urlPage = "start-sfd-start"
                  break;
                case "si":
                  _urlPage = "start-sfd-sign-in"
                  break;
                case "bl":
                  _urlPage = "businesses-list"
                  break;
                case "home":
                  _urlPage = "business-home"
                  break;
                default:
                _urlPage = "start-sfd-sign-in"
            }
            var _urlRelease = "&release=" + $('input[name=release]:checked').val(),
                // _urlPageQuery = "&start=" + _urlStartFrom;
                _urlincludeValidation = "&iv=" + _options.filter("#includeValidation").val();
                // _urlshutter = "&shutter=" + _options.filter("#shutter").val(),
                // _urlcookies = "&c=" + _options.filter("#cookies").val(),
                // _urlinviteScenario = "&adb2cLink=" + _options.filter("#inviteScenario").val();


            //Queries combined
            var _urlPageQueries = _urlPage + "?r=t" + _urlRelease + _urlincludeValidation;

            //URL text
            var _startURLText = _urlBase + _urlPageQueries,
                _startURLHREF =  _urlPageQueries;
            // update label
            _startURLLabel
                .text(_startURLText)
                .show()
            //update link
            _startURL
                .attr("href", _startURLHREF)
                .parent().show()
        }

    });
</script>
{% endblock %}
