{% extends "layouts/main.html" %}

{% set _pageID = "" %}
{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Cookies" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Cookies page",
  "id": "mp01",
  "url": "misc-cookies?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}
  {% include "_common/login-nav-2.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Cookies
      </h1>

      <p class="govuk-body" >Cookies are small files saved on your phone, tablet or computer when you visit a website.</p>

      <p class="govuk-body">We use cookies to make this site work and collect information about how you use our service.</p>

      <h2 class="govuk-heading-m" >Essential cookies</h2>

      <p class="govuk-body">Essential cookies keep your information secure while you use this service. We do not need to ask permission to use them.</p>

      <table class="govuk-table responsive">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
              <th scope="col" class="govuk-table__header">Expires</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" style="color: red">??</th>
              <td class="govuk-table__cell" style="color: red">??</td>
              <td class="govuk-table__cell" style="color: red">??</td>
              </tr>
          </tbody>
      </table>

  </div>
</div>


{% endblock %}
