{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Contact us" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Contact us/help",
  "id": "mp03",
  "url": "misc-contact?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}
  {% include "_common/login-nav-2.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Contact us
      </h1>

      <p class="govuk-body" style="color:red">[TO DO]</p>


  </div>
</div>


{% endblock %}
