{% extends "layouts/main.html" %}

{% set _pageID = "" %}
{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "You have signed out" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}


{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You have signed out 
      </h1>

      <p class="govuk-body" >If this is not what you wanted, you can <a href="start-sfd-sign-in" class="govuk-link govuk-link--no-visited-state">sign back into Manage your land and farm business</a>.</p>

  </div>
</div>


{% endblock %}
