{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "What is your personal telephone number?" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Telephone (change) - personal details",
  "id": "pd08",
  "url": "personal-details-tel-change?r=t&release=b1&newChange=true",
  "release": "Buffalo 1.0 MVP",
  "variants": [
    
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
      "scenario": "[scenario]",
      "content": "[error message]"
    }
  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-2.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for name, item in myData.validationErrors %}
            <li>
              <a href="#{{item.anchor}}">{{item.message}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form method="POST" novalidate>

      <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="telNumberPers">
            What is your personal telephone number?
          </label>
        </h1>

        {% if _inError %}
        <p id="telNumberPers-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.telNumberPers.message}}
        </p>
        {% endif %}

        {% set _valueNewTelNumberPers = myData.newTelNumberPers or myData.telNumberPers %}
        {% if myData.validationErrors.telNumberPers %}
            {% set _valueNewTelNumberPers = myData.newTelNumberPers %}
        {% endif %}

        <input class="govuk-input govuk-input--width-20 {% if _inError %}govuk-input--error{% endif %}" id="telNumberPers" name="telNumberPers" type="tel" autocomplete="tel" value="{{_valueNewTelNumberPers}}" {% if _inError %}aria-describedby="telNumberPers-error"{% endif %}>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

      <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}
