{% extends "layouts/main.html" %}

{% set _pageID = "" %}
{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "What is your personal mobile phone number?" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set yourMessages = "Active" %}


{% block beforeContent %}

  {% include "_common/phase-banner.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-2.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for name, item in myData.validationErrors %}
            <li>
              <a href="#{{item.anchor}}">{{item.message}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form method="POST" novalidate>

      <div class="govuk-form-group {% if _inError %}govuk-form-group--error{% endif %}">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="mobNumberPers">
            What is your personal mobile phone number?
          </label>
        </h1>

        {% if _inError %}
        <p id="mobNumberPers-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.mobNumberPers.message}}
        </p>
        {% endif %}

        {% set _valueNewMobNumberPers = myData.newMobNumberPers or myData.mobNumberPers %}
        {% if myData.validationErrors.mobNumberPers %}
            {% set _valueNewMobNumberPers = myData.newMobNumberPers %}
        {% endif %}

        <input class="govuk-input govuk-input--width-20 {% if _inError %}govuk-input--error{% endif %}" id="mobNumberPers" name="mobNumberPers" type="tel" autocomplete="tel" value="{{_valueNewMobNumberPers}}" {% if _inError %}aria-describedby="mobNumberPers-error"{% endif %}>
      </div>

      {{govukButton({
        text: "Continue"
      })}}

      <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}
