{% extends "layouts/main.html" %}

{% set _showFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName = "Check your personal address is correct before submitting" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Address (check) - personal details",
  "id": "pd07",
  "url": "personal-details-address-check?r=t&release=b1&newChange=true",
  "release": "Buffalo 1.0 MVP",
  "variants": [
    
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
   
  ]
  
}
%}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-2.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        Check your personal address is correct before submitting     
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            {% set _address2Value = myData.newAddress2Pers or myData.address2Pers %}
            {% set _addressCountyValue = myData.newAddressCountyPers or myData.addressCountyPers %}
            {{myData.newAddress1Pers or myData.address1Pers}}<br>
            {% if _address2Value != "" %}{{_address2Value}}<br>{% endif %}
            {{myData.newAddressCityPers or myData.addressCityPers}}<br>
            {% if _addressCountyValue != "" %}{{_addressCountyValue}}<br>{% endif %}
            {{myData.newAddressPostcodePers or myData.addressPostcodePers}} 
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="personal-details-address-change">Change<span class="govuk-visually-hidden"> address</span></a>
          </dd>
        </div>
      </dl>

      {{govukButton({
        text: "Submit"
      })}}

      <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}
