{% extends "layouts/AHWP-gov-brand.html" %}

{% block header %}
{{ govukHeader({
classes: "govuk-header--full-width-border",
rebrand: true
}) }}

{{ govukServiceNavigation({
serviceName: "Apply for funding to improve animal health and welfare",
serviceUrl: "/"
}) }}
{% endblock %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

       <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="sample-date-hint">
            <h1 class="govuk-heading-l">
              You can claim for multiple species as part of this agreement
            </h1>
          <p class="govuk-body">Under this agreement, you can claim funding for the following species:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>beef cattle</li>
              <li>dairy cattle</li>
              <li>pigs</li>
              <li>sheep</li>
            </ul>
        </fieldset>

        <p class="govuk-body">
          You can do a maximum of 3 reviews and 3 follow-ups per species. You must do all your reviews and follow-ups by 19 June 2027.
        </p>

        <p class="govuk-body">
          If you did a review in the old annual health and welfare service, it will not count towards your limit.
        </p>

        <p class="govuk-body">
          You need to make a separate claim for each species.
        </p>

      </div>


      {% from "govuk/components/button/macro.njk" import govukButton %}

      <div class="govuk-button-group">
        {{ govukButton({
          text: "I agree",
          href: "agreement-minimum-number"
        }) }}

        {{ govukButton({
          text: "I do not agree - reject agreement",
          href: "#",
          classes: "govuk-button--secondary"
        }) }}
      </div>


    </div>

  </div>

{% endblock %}
