{% extends "layouts/main-rebrand.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set _inError = myData.validationError == "true" %}

{% set pageTitle = "Your business details to update" %}
{% set pageName = pageTitle %}
{% if _inError %}
{% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Farm and Land Service" %}


{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In design',
"name": "Your business details to update",
"id": "bd27-DAL",
"url": "business-details-uplift-email-change?view=ext",
"release": "Buffalo 1.0 MVP",
"variants": [
{
"name": "External user with amend permissions",
"url": "business-details-permissions-amend-uplift-email-change?view=ext"
}
],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [

],

"notes": [
"All validation messages are listed here: https://eaflood.atlassian.net/wiki/spaces/SFD/pages/5461442697/Buffalo+1.0+MVP+-+validation+scenarios+and+messages",
"There cannot be a missing business name -
the uplift scenario for business name is that it's too long - over 160 characters.",
"Display user's selected field for update first, then any fields for uplift in the same order the appear in bd01.", 

"Fields for uplift could also include: business email address",


"Address has to be manual",

"Anything that they want to update (not uplift) is pre-populated",

"For uplift, address will not pre-populated (will be blank)",
"For uplift, business name, phone number and email are pre-populated",
"should be able to use existing error messages. they won't be able to continue if anything is missing or invalid"

]

}
%}

{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In design',
"name": "Your business details to update",
"id": "int-bd27-DAL",
"url": "business-details-uplift-email-change?view=int",
"release": "Buffalo 1.0 MVP",
"variants": [],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [

],

"notes": [
"All validation messages are listed here: https://eaflood.atlassian.net/wiki/spaces/SFD/pages/5461442697/Buffalo+1.0+MVP+-+validation+scenarios+and+messages",

"There cannot be a missing business name -
the uplift scenario for business name is that it's too long - over 160 characters.",
"Display user's selected field for update first, then any fields for uplift in the same order the appear in bd01.", 

"Fields for uplift could also include: business email address",


"Address has to be manual",

"Anything that they want to update (not uplift) is pre-populated",

"For uplift, address will not pre-populated (will be blank)",
"For uplift, business name, phone number and email are pre-populated",
"should be able to use existing error messages. they won't be able to continue if anything is missing or invalid"

]

}
%}

{% else %}

{% endif %}


{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}
{% include "_common/sub-header-DAL.html" %}

{% set _hideAccountLink = true %}
{% include "_common/login-nav-3a.html" %}
{% else %}
{% include "_common/login-nav-internal.html" %}
{% endif %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="business-details-uplift-email-check">

      <h1 class="govuk-heading-l">
        Your business details to update
      </h1>
<p>We will use these details to contact you, or to verify your identity if you phone us.</p>
      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="business-email-address">
          Business email address
        </label>
        <input class="govuk-input govuk-input--width-20" id="business-email-address" name="business-email-address"
          type="text" value="Alfredoldemail@gmail.com">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-label--m" for="business-name">
          Business name
        </label>
        <input class="govuk-input govuk-input--width-20" id="business-name" name="business-name"
          type="text" value="Alfred Christopher William Waldron and Bartholomew Robinson Waldron and Sons Agile Farm and Lands Limited Enterprises">
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              What is your address?
            </h2>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-address-line-1">
              Address line 1
            </label>
            <div id="business-address-line1-hint" class="govuk-hint">
            Include flat and floor numbers, where appropriate
            </div>
            <input class="govuk-input" id="business-address-line-1" name="business-address-line1" type="text"
              autocomplete="business-address-line1" value="{{data['business-address-line1']}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-address-line-2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input" id="business-address-line-2" name="business-address-line2" type="text"
              autocomplete="business-address-line2" value="{{data['business-address-line2']}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-address-town">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="business-address-town" name="business-address-town"
              type="text" autocomplete="business-address-level2" value="{{data['business-address-town']}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-address-county">
              County (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="business-address-county"
              name="business-address-county" type="text" value="{{data['business-address-county']}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-address-postcode">
               Postal code or zip code (if you have one) 
            </label>
            <input class="govuk-input govuk-input--width-10" id="business-address-postcode"
              name="business-address-postcode" type="text" autocomplete="postal-code" value="{{data['business-address-postcode']}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-address-country">
              Country
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="business-address-country"
              name="business-address-country" type="text" value="{{data['business-address-country']}}">
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="business-phone-number-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            Business phone numbers
          </legend>
          <div id="business-phone-number-hint" class="govuk-hint">
            Enter at least one phone number
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-telephone-number">
              Business telephone number
            </label>
            <input class="govuk-input govuk-input--width-20" id="business-telephone-number" name="business-telephone-number"
              type="text" value="{{data['business-telephone-number']}}">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="business-mobile-number">
              Business mobile phone number
            </label>
            <input class="govuk-input govuk-input--width-20" id="business-mobile-number" name="business-mobile-number"
              type="text" value="{{data['business-mobile-number']}}">


              
          </div>
        </fieldset>
      </div>




      {{govukButton({
      text: "Continue"
      })}}

    </form>

  </div>
</div>





{% endblock %}