{% extends "layouts/main-rebrand.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set _inError = myData.validationError == "true" %}

{% set pageTitle = "What is your personal email address?" %}
{% set pageName = pageTitle %}
{% if _inError %}
{% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Farm and Land Service" %}


{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "Email address (change) - personal details",
"id": "bd10",
"url": "personal-details-email-check?r=t&view=ext&release=b1&newChange=true",
"release": "Buffalo 1.0 MVP",
"variants": [],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "Empty field / nothing entered",
"content": "Enter personal email address"
},
{
"scenario": "Entry is too long",
"content": "Personal email address must be 254 characters or less"
},
{
"scenario": "Wrong format",
"content": "Enter an email address, like name@example.com"
}

]

}
%}

{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "Email address (change) - personal details",
"id": "int-bd10",
"url": "personal-details-email-check?r=t&view=int&release=b2&newChange=true",
"release": "Buffalo 1.1 MVP",
"variants": [],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "Empty field / nothing entered",
"content": "Enter personal email address"
},
{
"scenario": "Entry is too long",
"content": "Personal email address must be 254 characters or less"
},
{
"scenario": "Wrong format",
"content": "Enter an email address, like name@example.com"
}

]

}
%}

{% else %}

{% endif %}


{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}
{% include "_common/sub-header.html" %}

{% set _hideAccountLink = true %}
{% include "_common/login-nav-3a.html" %}
{% else %}
{% include "_common/login-nav-internal.html" %}
{% endif %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="details-personal-details-uplift-success.html">
      <h1 class="govuk-heading-l">
        Check your details are correct before submitting
      </h1>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Personal email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['personal-email-address']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="personal-details-uplift-email-change">Change<span class="govuk-visually-hidden">
                personal email address</span></a>
          </dd>
        </div>

         <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            02 November 1980
            <!--{% set _monthValue = myData.newDobMonthPers or myData.dobMonthPers %}
            {{myData.newDobDayPers1 or myData.dobDayPers1}} {{_monthValue | toMonth }} {{myData.newDobYearPers1 or myData.dobYearPers1}}
          -->
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="personal-details-uplift-email-change">Change<span class="govuk-visually-hidden"> your date of birth</span></a>
          </dd>
        </div>


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Personal address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['personal-address-line1']}}<br>
            {% if data['personal-address-line2'] %}
            {{data['personal-address-line2']}}<br>
            {% endif %}
            {{data['personal-address-town']}}<br>
            {% if data['personal-address-county'] %}
            {{data['personal-address-county']}}<br>
            {% endif %}
            {{data['personal-address-postcode']}}<br>
            {{data['personal-address-country']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="personal-details-uplift-email-change">Change<span class="govuk-visually-hidden">
                personal address</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Personal phone number
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['personal-telephone-number'] %}
            Telephone: {{data['personal-telephone-number']}}
            {% else %}
            Telephone: <span style="color:#505a5f">Not added</span>
            {% endif %}
            <br>
            {% if data['personal-mobile-number'] %}
            Mobile: {{data['personal-mobile-number']}}
            {% else %}
            Mobile: <span style="color:#505a5f">Not added</span>
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="personal-details-uplift-email-change">Change<span class="govuk-visually-hidden">
                contact details</span></a>
          </dd>
        </div>
      </dl>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Submit
      </button>

    </form>


  </div>
</div>





{% endblock %}