{% extends "layouts/main-rebrand.html" %}

{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}
{% set _showIntExtLinks = true %}

{% set pageTitle = "Update your personal details" %}
{% set pageName = pageTitle %}

{% set serviceName = "Farm and Land Service" %}


{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In design',
"name": "Update your personal details",
"id": "pd18-DAL",
"url": "personal-details-uplift-guidance?view=ext",
"release": "Buffalo 1.0 MVP",
"variants": [],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [

],
"notes": [
"dynamically play back user's selected field for update in the intro line, followed by bullet pointed field(s) for uplift. Display the fields for uplift in the same order they display on pd01.",
"Fields for uplift could also include: full name, personal email address"

]

}
%}

{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In design',
"name": "Update your personal details",
"id": "int-pd18-DAL",
"url": "personal-details-uplift-guidance?view=int",
"release": "Buffalo 1.0 MVP",
"variants": [],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [

],
"notes": [
"dynamically play back user's selected field for update in the intro line, followed by bullet pointed field(s) for uplift. Display the fields for uplift in the same order they display on pd01. Fields for uplift could also include:",

"full name",
"personal email address"

]

}
%}

{% else %}

{% endif %}


{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

{% set _hideAccountLink = true %}

{% include "_common/login-nav-3a.html" %}


      <div class="govuk-breadcrumbs" style="display: inline-block">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a href="business-home" class="govuk-back-link govuk-breadcrumbs__link govuk-!-margin-top-0">Back to business overview</a>
          </li>
        </ol>
      </div>

    </div>
  </div>
  {% else %}
  {% include "_common/login-nav-internal.html" %}
  <div class="govuk-breadcrumbs" style="display: inline-block">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="internal-search?q={{myData.searchTerm}}">Search results</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="internal-customer">{{_selectedUser.name}} (CRN: {{_selectedUser.crn}})</a>
      </li>
    </ol>
  </div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="personal-details-uplift-email-change">
      <h1 class="govuk-heading-l">Update your personal details</h1>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Some of your details seem to be missing or incorrect. We need these details to contact you, or to verify your
          identity if you phone us.
        </strong>
      </div>

      <p>
        We will ask you to update these details as well as your personal email address:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        
        <li>date of birth</li>
        <li>personal address</li>
        <li>at least one personal phone number</li>
      </ul>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>

    </form>


  </div>
</div>





{% endblock %}