/* ==========================================================================
   #FILTER
   ========================================================================== */

   .sfd-filter {
    background-color: govuk-colour("white");
    box-shadow: inset 0 0 0 1px govuk-colour("mid-grey");
    // margin-bottom: 20px;

    &:focus {
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
    }
  }

  .sfd-filter__header {
    background: govuk-colour('white');
    box-shadow: none;
    border: 1px solid #b1b4b6;
    // border-bottom: 0;
    font-size: 0; // Hide whitespace between elements
    padding: govuk-spacing(2) govuk-spacing(4);
    text-align: justify; // Trick to remove the need for floats
  
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  
    [class^=govuk-heading-] {
      margin-bottom: 0;
    }
  
  }
  
  // JavaScript
  .sfd-filter__legend {
    overflow: visible; // Override govuk to allow for focus style to be seen
    width: 100%;
  
    button {
      @include govuk-font($size: 24, $weight: bold);
      background-color: transparent;
      box-sizing: border-box;
      border-radius: 0;
      border: 0 none;
      cursor: pointer; // Adam would not approve
      display: block;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: left;
      width: 100%;
      -webkit-appearance: none;
  
      // Fix unwanted button padding in Firefox
      &::-moz-focus-inner {
        padding: 0;
        border: 0;
      }
  
      &::after {
        background-image: url(/public/images/icon-toggle-plus-minus.svg);
        background-position: 0 0;
        content: "";
        display: block;
        height: 16px;
        margin-top: -8px; // Half the height of the icon
        position: absolute; top: 50%; right: 0;
        width: 16px;
      }
  
      &[aria-expanded="true"] {
        &::after {
          background-position: 16px 16px;
        }
      }
  
      &:focus {
        // @include govuk-focusable;
      }
  
    }
  
  }
  
  .sfd-filter__header-title,
  .sfd-filter__header-action {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  
  .sfd-filter__close {
    // @include govuk-focusable;
    color: govuk-colour("black");
    cursor: pointer; // I know Adam won’t like this
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
  
  
    &:focus {
      background-color: $govuk-focus-colour;
      color: $govuk-focus-text-colour;
      box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
      outline: none;
    }
  
    // Fix unwanted button padding in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  
    &::before {
      background-image: url(/public/images/icon-close-cross-black.svg);
      content: "";
      display: inline-block;
      height: 14px;
      margin-right: govuk-spacing(1);
      position: relative;
      top: -1px; // Alignment tweak
      vertical-align: middle;
      width: 14px;
    }
  
  }
  
  
  .sfd-filter__close {
    @include govuk-font(19);
  }
  
  .sfd-filter__selected {
    background-color: govuk-colour("light-grey");
    border: 1px solid #b1b4b6;
    border-top: 0;
    box-shadow: none;
    padding: govuk-spacing(4);
    padding-top: govuk-spacing(5);
    padding-bottom: govuk-spacing(5);

    ul:last-of-type {
      margin-bottom: 0; // IE9 +
    }
  
  }
  
  .sfd-filter__selected-heading {
    font-size: 0; // Hide whitespace between elements
    text-align: justify; // Trick to remove the need for floats
  
    &:after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  
  }
  
  
  .sfd-filter__heading-title,
  .sfd-filter__heading-action {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }
  
  
  .sfd-filter-tags {
    font-size: 0;
    margin-bottom: govuk-spacing(4); // Needs to adjust to 15px on mobile
    padding-left: 0;
  
    li {
      display: inline-block;
      margin-right: govuk-spacing(2);
    }
  
  }
  
  
  .sfd-filter__tag {
    @include govuk-font(16);
    background-color: govuk-colour("white");
    border: 1px solid govuk-colour("black");
    color: govuk-colour("black");
    display: inline-block;
    margin-top: govuk-spacing(1);
    padding: govuk-spacing(1);
    text-decoration: none;
  
    &:link,
    &:visited {
      color: govuk-colour("black");
    }
  
    &:focus {
      color: $govuk-focus-text-colour;
      background-color: $govuk-focus-colour;
    }
  
    &:hover {
      background-color: govuk-colour("black");
      color: govuk-colour("white");
    }
  
    &:after {
      background-image: url(/public/images/icon-tag-remove-cross.svg);
      content: "";
      display: inline-block;
      font-weight: bold;
      height: 10px;
      margin-left: govuk-spacing(1);
      vertical-align: middle;
      width: 10px;
    }
  
    &:hover:after {
      background-image: url(/public/images/icon-tag-remove-cross-white.svg);
    }
  
  }
  
  
  .sfd-filter__options {
    box-shadow: none;
    margin-top: -1px;
    padding: govuk-spacing(4);
    div:last-of-type {
    //   margin-bottom: 0; // IE9 +
    }
  }
  @media (min-width: 641px){
    .sfd-filter__options {
      margin-bottom: 0;
    }
  }

  .sfd-filter__togle-container {
    display: none;
    padding-top: govuk-spacing(4);
    padding-bottom: govuk-spacing(4);
    display: inline-block;
    position: relative;
  }
  .filters-not-applied.closed {
    padding-top: 0;
  }

  .sfd-filter__submit {
    margin-top: govuk-spacing(1);
    margin-bottom: govuk-spacing(6); 
    
  }