
.sub-header-container {
    padding-top: 15px;
}

.sub-header-user-name,
.sub-header-dif-business {
    float:right; 
    text-align: right;
}

/*** Small viewports ***/
@media all and (max-width: 40.0625em) {
    .sub-header-user-name,
    .sub-header-dif-business {
        float:inherit; 
        text-align: left;
    }
}