{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<a href="/to-be/index" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      MVP - version 1
    </h1>

    <!-- <h2 class="govuk-heading-l">
      Flows for usability testing
    </h2>


  <div>
    <a href="start/farming-land-management?agent=" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start farmer flow
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div>

  <div>
    <a href="start/farming-land-management?agent=True" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start agent flow 
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>
  </div> -->


    <h2 class="govuk-heading-l">
      Page links
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link--no-visited-state" href="start/start-guidance">Start page (guidance page on gov.uk)</a></li>
      <li><a class="govuk-link--no-visited-state" href="start/sign-in">Sign in</a></li>
      <li><a class="govuk-link--no-visited-state" href="start/your-businesses-list">Your businesses</a></li>
      <li><a class="govuk-link--no-visited-state" href="landing/landing">Landing page</a></li>
      <li><a class="govuk-link--no-visited-state" href="messages/message-history">Messages</a></li>
      <li><a class="govuk-link--no-visited-state" href="messages/msg-1">Message example</a></li>
    </ul>


  </div>
</div>

{% endblock %}
