{% extends "layouts/main-rebrand-design-spec-v2.html" %}

{% set _showDefraIDFooterLinks = true %}
{% set _showReleaseLinks = false %}

{% set pageName="Your businesses" %}

{% set serviceName = "Farm Payments" %}

{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}
{% include "_common/sub-header.html" %}

{% set _hideAccountLink = true %}
{% include "_common/login-nav-3a.html" %}
{% else %}
{% include "_common/login-nav-internal-a.html" %}
{% endif %}

<a class="govuk-back-link" href="fp-check-your-details">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Confirm you will be eligible
    </h1>

    <p class="govuk-body">
      You confirm you will:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        have management control of the land you enter into your agreement for the duration of your agreement
      </li>
      <li>
        make sure your land remainds eligible for the duration of your agreement
      </li>
      <li>
        get an SFI Historic Environment Farm Environment Record (SFI HEFER) from Historic England if you apply for
        actions on land with historic or archaeological features - you must have this in place before the RPA can offer
        you an agreement
      </li>
      <li>
        get site of special scientific interest (SSSI) consent from Natural England if you select to do actions on SSSI
        land - you must not start doing these actions until you have your SSSI consent
      </li>
      <li>
        check if you can do your selected actions on your land if you have land with a conditional exemption from your
        inheritance tax or maintenance fund
      </li>
      <li>
        not apply for actions that include activities you are legally required to carry out or are already funded by
        other sources
      </li>
    </ul>

    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Need more help?
        </span>
      </summary>
      <div class="govuk-details__text">
      </div>
    </details>
  </div>
</div>



</div>



</div>




{% endblock %}