{% extends "layouts/main-rebrand.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{super()}}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Single front door prototypes</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Version 18</h1>

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">Prototypes</legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="version-1-1" name="version" type="radio" value="1.1" checked>
            <label class="govuk-label govuk-radios__label" for="version-1-1">Version 1.1</label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="version-1-0" name="version" type="radio" value="1.0">
            <label class="govuk-label govuk-radios__label" for="version-1-0">Version 1.0</label>
          </div>

        </div>
      </fieldset>
    </div>

    <a href="/v18/1.0/index" role="button" draggable="false" class="govuk-button" id="start-button" data-module="govuk-button">Start prototype</a>

  </div>
</div>

{% endblock %}

{% block pageScriptsAfter %}
<script>
  $(document).ready(function () {
    var _startButton = $("#start-button");

    function updateLink() {
      var _version = $("input[name=version]:checked").val();
      _startButton.attr("href", "/v18/" + _version + "/index");
    }

    $("input[name=version]").on("change", updateLink);
    updateLink();
  });
</script>
{% endblock %}
