{% extends "layouts/main-rebrand.html" %}

{% set _showFooterMVPLinks = false %}
{% set _showReleaseLinks = false %}

{% set pageName="What do you want to search by?" %}

{% set serviceName = "Farm and Land Service" %}

{% set _selectedUser = myData.selectedUser %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

"name": "Internal search criteria",
"id": "int-sr02",
"url": "internal-search-criteria?r=t&view=int",
"release": "Buffalo 1.1 MVP",
"pagetitle": pageName,
"pagedesc": "",
"pageurl": "",
"version": "MVP",
"errormessages": [

],
"notes": [

]

}
%}

{% block beforeContent %}

{% set _loginNavClasses = "no-bread" %}
{% include "_common/login-nav-internal-a.html" %}
{% endblock %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="/search-criteria-answer" method="POST">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What do you want to search by?
            </h1>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria" name="searchCriteria" type="radio"
                value="int-sr-SBI">
              <label class="govuk-label govuk-radios__label" for="searchCriteria">
                Single business identifier (SBI)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria-2" name="searchCriteria" type="radio"
                value="int-sr-CRN">
              <label class="govuk-label govuk-radios__label" for="searchCriteria-2">
                Customer reference number (CRN)
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria-3" name="searchCriteria" type="radio"
                value="int-sr-busName">
              <label class="govuk-label govuk-radios__label" for="searchCriteria-3">
                Business name
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria-4" name="searchCriteria" type="radio"
                value="int-sr-busPostcode">
              <label class="govuk-label govuk-radios__label" for="searchCriteria-4">
                Business postcode
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria-5" name="searchCriteria" type="radio"
                value="int-sr-cusName">
              <label class="govuk-label govuk-radios__label" for="searchCriteria-5">
                Customer name
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria-6" name="searchCriteria" type="radio"
                value="int-sr-cusPostcode">
              <label class="govuk-label govuk-radios__label" for="searchCriteria-6">
                Customer postcode
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria-7" name="searchCriteria" type="radio"
                value="int-sr-traderNo">
              <label class="govuk-label govuk-radios__label" for="searchCriteria-7">
                Trader number
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="searchCriteria-8" name="searchCriteria" type="radio"
                value="int-sr-vendorNo">
              <label class="govuk-label govuk-radios__label" for="searchCriteria-8">
                Vendor registration number
              </label>
            </div>
          </div>
        </fieldset>
      </div>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>
    </form>


  </div>
</div>




{% endblock %}