{% extends "layouts/logged-in.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper" style="padding-top: 0px; padding-bottom: 0px;">
    <div class="govuk-grid-row" style="padding-top:16px;">
      <div class="govuk-grid-column-two-thirds">
          <h3 class="govuk-heading-s" style="margin-bottom: 4px;">Agile Farms Ltd</h3>
          <p class="govuk-body-s sbi-number" style="margin-bottom: 8px;">Single Business Identifier (SBI): 123456789</p>
      </div>

      <div class="govuk-grid-column-one-third">
          <h3 class="govuk-heading-s" style="float:right; margin-bottom: 8px;">Alfred Waldron</h3>
      </div>

      </div>
  </main>
</div>
<hr>
{% endblock beforeContent%} 
{% block content %}






{% endblock %}
