{% extends "layouts/main-rebrand-design-spec-v2.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}
{% set _showIntExtLinks = false %}

{% set pageName="What is Richard Clarke’s relationship with Agile Farm Ltd?" %}
{% set serviceName="Farm and Land Service" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = false %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "What is person's relationship with the business?",
    "id": "ma04",
    "url": "details-personal-details?r=t&view=ext&release=b1",
    "release": "Buffalo 1.0 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b1&namechanged=true&changed=true&view=ext"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b1&dobchanged=true&changed=true&view=ext"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b1&addresschanged=true&changed=true&view=ext"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b1&phonechanged=true&changed=true&view=ext"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b1&emailchanged=true&changed=true&view=ext"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Manage personal details",
    "id": "int-pd01",
    "url": "details-personal-details?r=t&view=int&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
      {
        "name": "name changed banner",
        "url": "details-personal-details?r=t&release=b2&namechanged=true&changed=true&view=int"
      },
      {
        "name": "date of birth changed banner",
        "url": "details-personal-details?r=t&release=b2&dobchanged=true&changed=true&view=int"
      },
      {
        "name": "address changed banner",
        "url": "details-personal-details?r=t&release=b2&addresschanged=true&changed=true&view=int"
      },
      {
        "name": "phone numbers changed banner",
        "url": "details-personal-details?r=t&release=b2&phonechanged=true&changed=true&view=int"
      },
      {
        "name": "email changed banner",
        "url": "details-personal-details?r=t&release=b2&emailchanged=true&changed=true&view=int"
      }
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
      
    ]
    
  }
  %}

{% else %}

{% endif %}

{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}


{% if data.view != "int" %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3a.html" %}
  {% else %}
  {% include "_common/login-nav-internal-a.html" %}
{% endif %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}


<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

   <form action="add-person-permissions-business-details" method="POST">


   <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          What is Richard Clarke’s relationship with Agile Farm Ltd?
        </h1>
      </legend>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why do we need to know the business relationship?
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">We need to know this so we can identify the relationships of the people who are involved in this business, to protect against potential fraud.</p>
    <p class="govuk-body">Someone's relationship could affect what they are normally allowed to do for the business, for example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>an owner or sole trader cannot be removed from the business once given access, unless they or their legal representative agree</li>
      <li>if there could be a conflict of interest, for example a vet is not allowed to submit a claim as a business owner for a vet visit they provided evidence for</li>
    </ul>
  </div>
</details>

      
      <div id="contact-hint" class="govuk-hint">
        Select one option
      </div>

      <div class="govuk-radios govuk-radios--small" data-module="govuk-radios">
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship" name="permissions-business-relationship" type="radio" value="Agent or advisor"  {{ checked('permissions-business-relationship','Agent or advisor') }}" aria-describedby="permissions-business-relationship-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship">
            Agent or adviser
          </label>
          <div id="permissions-business-relationship-item-hint" class="govuk-hint govuk-radios__hint">
            Any professional adviser to the business
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-2" name="permissions-business-relationship" type="radio" value="Business partner"  {{ checked('permissions-business-relationship','Business partner') }} aria-describedby="permissions-business-relationship-2-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-2">
            Business partner
          </label>
          <div id="permissions-business-relationship-2-item-hint" class="govuk-hint govuk-radios__hint">
            A business partner of the owner or sole trader
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-3" name="permissions-business-relationship" type="radio" value="Company secretary"  {{ checked('permissions-business-relationship','Company secretary') }} aria-describedby="permissions-business-relationship-3-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-3">
            Company secretary
          </label>
          <div id="permissions-business-relationship-3-item-hint" class="govuk-hint govuk-radios__hint">
            The business’s company secretary
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-4" name="permissions-business-relationship" type="radio" value="Director"  {{ checked('permissions-business-relationship','Director') }} aria-describedby="permissions-business-relationship-4-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-4">
            Director
          </label>
          <div id="permissions-business-relationship-4-item-hint" class="govuk-hint govuk-radios__hint">
            A director of the business
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-5" name="permissions-business-relationship" type="radio" value="Employee"  {{ checked('permissions-business-relationship','Employee') }} aria-describedby="permissions-business-relationship-5-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-5">
            Employee
          </label>
          <div id="permissions-business-relationship-5-item-hint" class="govuk-hint govuk-radios__hint">
            Anyone employed by the business who does not have any legal responsibility for it
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-6" name="permissions-business-relationship" type="radio" value="Executor"  {{ checked('permissions-business-relationship','Executor') }} aria-describedby="permissions-business-relationship-6-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-6">
            Executor
          </label>
          <div id="permissions-business-relationship-6-item-hint" class="govuk-hint govuk-radios__hint">
            A legal executor for the business
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-7" name="permissions-business-relationship" type="radio" value="Helper"  {{ checked('permissions-business-relationship','Helper') }} aria-describedby="permissions-business-relationship-7-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-7">
            Helper
          </label>
          <div id="permissions-business-relationship-7-item-hint" class="govuk-hint govuk-radios__hint">
            Anyone who helps the business but is not part of the business and not a professional adviser
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-8" name="permissions-business-relationship" type="radio" value="Owner or sole trader"  {{ checked('permissions-business-relationship','Owner or sole trader') }} aria-describedby="permissions-business-relationship-8-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-8">
            Owner or sole trader
          </label>
          <div id="permissions-business-relationship-8-item-hint" class="govuk-hint govuk-radios__hint">
            An owner or sole trader of the business, and the only type of user who can remove another owner or sole trader from this business
          </div>
        </div>
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="permissions-business-relationship-9" name="permissions-business-relationship" type="radio" value="Trustee"  {{ checked('permissions-business-relationship','Trustee') }} aria-describedby="permissions-business-relationship-9-item-hint">
          <label class="govuk-label govuk-radios__label" for="permissions-business-relationship-9">
            Trustee
          </label>
          <div id="permissions-business-relationship-9-item-hint" class="govuk-hint govuk-radios__hint">
            A trustee for the business
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <!-- <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      Each business must have at least one owner or sole trader.
    </strong>
  </div> -->

  {{govukButton({
    text: "Continue"
  })}}

  <p class="govuk-body"><a href="business-access" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

  </form>



  </div>




</div>





{% endblock %}
