{% extends "layouts/main-rebrand-design-spec-v2.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "Bank declarations" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}


{% set _showIntExtLinks = true %}

{% set serviceName = "Farm and Land Service" %}

{% set _showDesignSpec = true %}

{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
    "status": 'In development',
    "name": "Bank details - declaration  (accept) - business details",
    "id": "ba08",
    "release": "MVP 1.0",
    "pagetitle": pageName,
    "pagedesc": "Read and accept the declarations to update bank details.",
    "pageurl": "business-bank-declarations",
    "version" : "v16",
    "prototypeurl" : "business-details-bank-declaration",

    "variants": [
      
    ],
    "errormessages": [
    
    ],
    "notes": [
      ""
      
    ]
}
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Bank details - declaration  (accept) - business details",
    "id": "int-ba08",
    "release": "MVP 1.0",
    "pagetitle": pageName,
    "pagedesc": "Read and accept the declarations to update bank details.",
    "pageurl": "business-bank-declarations",
    "version" : "v16",
    "prototypeurl" : "business-details-bank-declaration",

    "variants": [
      
    ],
    "errormessages": [
    
    ],
    "notes": [
      ""
      
    ]
  }
%}

{% else %}

{% endif %}


{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% if data.view != "int" %}
    {% include "_common/sub-header.html" %}
  {% endif %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate action="/v16-partial-match-answer">
    
      <h1 class="govuk-heading-l">
        Declaration
      </h1>
      <p class="govuk-body">
        I confirm that: 
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          the bank account details given here are the correct details for payment by the Rural Payments Agency (RPA) to the business
        </li>
        <li>
          the account holder is the correct recipient of any payments by the RPA to the business
        </li>
        <li>
          I consent for a third party provider to carry out a bank validation check on the account details provided
        </li>
      </ul>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Confirm and submit
      </button>

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel and return to business details</a></p>

    </form>

  </div>
</div>





{% endblock %}
