{% extends "layouts/main-rebrand.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
{{super()}}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Single front door prototypes</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Version 16
      <!-- <span class="govuk-caption-xl">Private Beta. Round 1: 16 to 20 December 2024</span> -->
    </h1>

  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">

    <!-- Internal/external -->
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">View as:</legend>
          <div class="govuk-radios">
              <div class="govuk-radios__item">
                  <input {% if myData.view == 'ext' %}checked{% endif %} class="govuk-radios__input" data-option="ext" id="ext" name="view" type="radio" value="ext">
                  <label class="govuk-label govuk-radios__label" for="ext" selected><strong>External user</strong></label>
              </div>
              <!--<div class="govuk-radios__item">
                <input {% if myData.view == 'int' %}checked{% endif %} class="govuk-radios__input" data-option="int" id="int" name="view" type="radio" value="int">
                <label class="govuk-label govuk-radios__label" for="int"><strong>Internal user</strong></label>
              </div>-->
          </div>
      </fieldset>
    </div>

    <!-- Release -->
    <!--<div class="govuk-form-group" id="releaseContainer">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Release version (feature toggles)</legend>
          <div class="govuk-radios">
              <div class="govuk-radios__item">
                  <input {% if data.release == 'b1' %}checked{% endif %} class="govuk-radios__input" data-option="b1" id="b1" name="release" type="radio" value="b1">
                  <label class="govuk-label govuk-radios__label" for="b1"><strong>Buffalo 1.0 MVP</strong></label>
              </div>
              <div class="govuk-radios__item">
                <input {% if data.release == 'concept' %}checked{% endif %} class="govuk-radios__input" data-option="concept" id="concept" name="release" type="radio" value="concept">
                <label class="govuk-label govuk-radios__label" for="concept"><strong>Concept / latest designs</strong></label>
              </div>
          </div>
      </fieldset>
    </div>-->

    <!-- Start from -->
    <div class="govuk-form-group" id="startFromContainer">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">Start journey from</legend>
          <div class="govuk-radios" data-module="govuk-radios">

            <div class="govuk-radios__item">
              <input {% if data.startFrom == 'si' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-2" id="startFrom-2" name="startFrom" type="radio" value="si" >
              <label class="govuk-label govuk-radios__label" for="startFrom-2">Sign in (SFD)</label>
            </div>
            <div class="govuk-radios__item">
                <input {% if data.startFrom == 'st' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-1" id="startFrom-1" name="startFrom" type="radio" value="st" >
                <label class="govuk-label govuk-radios__label" for="startFrom-1">Start page (SFD)</label>
            </div>
            <div class="govuk-radios__item">
              <input {% if data.startFrom == 'bl' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-3" id="startFrom-3" name="startFrom" type="radio" value="bl" >
              <label class="govuk-label govuk-radios__label" for="startFrom-3">Businesses list</label>
            </div>
            <div class="govuk-radios__item">
              <input {% if data.startFrom == 'home' %}checked{% endif %} class="govuk-radios__input" data-option="startFrom-4" id="startFrom-4" name="startFrom" type="radio" value="home" >
              <label class="govuk-label govuk-radios__label" for="startFrom-4">Home - business page</label>
            </div>

          </div>
      </fieldset>
    </div>

    <!-- Include validation checking 
    <div class="govuk-form-group" id="validationContainer">
      <label class="govuk-label" >
        Include validation
      </label>
      <select class="govuk-select" style="min-width: 100%" id="includeValidation" name="includeValidation" data-option="includeValidation">
          <option {% if myData.includeValidation == 'true' %}selected{% endif %} value="true">Yes (throw errors)</option>
          <option {% if myData.includeValidation == 'false' %}selected{% endif %} value="false">No (allow empty fields)</option>
      </select>
    </div>
    -->
  </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <p class="govuk-body" id="start-url" style="display:none">
            <a href="#" role="button" draggable="false" class="govuk-button">Start prototype</a>
        </p>

        <p class="govuk-body" >
            <span class="govuk-!-font-weight-bold">Shareable link (uses settings made above):</span><br>
            <span class="govuk-body" id="start-url-label" style="display:none"></span>
        </p>

        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> -->
    <h2 class="govuk-heading-m">
      Design history
    </h2>

    <p class="govuk-body">
      This version documents some of our iterations for setting permissions as an external user, and develops the various scenarios involved. It also covers the iterations we made to bank details (external and internal view) following our Round 3 user research on version 9 of this prototype. 
    </p>

    <h3 class="govuk-heading-s">
      What's unique in this version
    </h3>    

    <p class="govuk-body">
      <a href="_design-history/design-history">View design history for the permissions iterations</a>
    </p>

    <p class="govuk-body">
      Design history for bank details iterations coming soon.
    </p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </div>
</div>
  
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--xl">What's new</caption>

      <p>The below list documents the new or amended pages prototyped as part of this journey. The list does not include the entirety of pages held within Business and Personal details, as already documented as part of <a href="../MVP/index">MVP</a>.</p>

      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">ID</th>
          <th scope="col" class="govuk-table__header">Name</th>
          <th scope="col" class="govuk-table__header">Prototype link</th>
          <th scope="col" class="govuk-table__header">Release</th>
        </tr>
      </thead>
      {% set _pages = [

        {
          "type": "HEADING",
          "name": "Bank details"
        },
        {
          "name": "Interruptor page",
          "id": "ba01",
          "url": "business-details-bank-interruptor",
          "release": ""
        }, 
        {
          "name": "Partial match",
          "id": "ba06",
          "url": "business-details-bank-partial-match",
          "release": ""
        }, 

        {
          "name": "Bank details - Unable to validate - business details",
          "id": "ba07a",
          "url": "business-details-bank-unable-to-validate-01?r=t&release=b2&newChange=true",
          "release": "",
          "variants": [
            {
              "name": "ba07b. Bank details - Unable to validate - 2nd attempt - business details",
              "url": "business-details-bank-unable-to-validate-02?r=t&release=b2&newChange=true"
            },
            {
              "name": "ba07c. Bank details - Unable to validate - 3nd attempt - business details",
              "url": "business-details-bank-unable-to-validate-03?r=t&release=b2&newChange=true"
            }
            
          ]
          
        }, 

        {
          "name": "Declaration",
          "id": "ba08",
          "url": "business-details-bank-declaration",
          "release": ""
        }, 

        {
          "name": "Unhappy path - error scenario: Business registered in the last 24 hours",
          "id": "ba09",
          "url": "business-details-bank-unable-to-amend-new-business",
          "release": "",
          "variants": [
            {
              "name": "ba09. 2nd preference - combined error message with scenario: Bank details updated in the last 14 days",
              "url": "business-details-bank-unable-to-amend-combined"
            }
          ]
          
        }, 

        {
          "name": "Unhappy path - error scenario: Bank details updated in the last 14 days",
          "id": "ba09",
          "url": "business-details-bank-unable-to-amend-updated",
          "release": "",
          "variants": [
            {
              "name": "ba09. 2nd preference - combined error message with scenario: Business registered in the last 24 hours",
              "url": "business-details-bank-unable-to-amend-combined"
            }
          ]
          
        }, 

        {
          "type": "HEADING",
          "name": "Business details"
        },

        {
          "name": "Manage business details",
          "id": "bd01",
          "url": "details-business-details?r=t&release=b1",
          "release": "Buffalo 1.0 MVP",
          "variants": [
            {
              "name": "External user with full permissions to update bank details",
              "url": "details-business-details?r=t&release=b1&view=ext&permissionsMVP=full"
            },
            {
              "name": "External user with full permissions to add bank details",
              "url": "details-business-details?r=t&release=b1&view=ext&permissionsMVP=full&bankchanged=false&bank=empty"
            },
            {
              "name": "External user with amend permissions",
              "url": "details-business-details?r=t&release=b1&view=ext&permissionsMVP=amend"
            },
            {
              "name": "External user with view permissions",
              "url": "details-business-details?r=t&release=b1&view=ext&permissionsMVP=view"
            }
          ]
        }

        
        

      ] %}
      <tbody class="govuk-table__body">
        {% for _page in _pages %}
          {% if _page.type == "HEADING" %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" colspan="4"><h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">{{_page.name}}</h2></th>
          </tr>
          {% else %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header" {% if _page.todo %}style="color:red"{% endif %}>
              {{_page.id}}.
            </th>
            <th scope="row" class="govuk-table__header" {% if _page.todo %}style="color:red"{% endif %}>
              {{_page.name}}
            </th>
            <td class="govuk-table__cell" >
              {% if _page.todo %}
                <span style="color:red">TO DO</span>
              {% else %}
                <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="{{_page.url}}">/{{_page.url}}</a></p>
                {% if _page.variants %}
                  <p class="govuk-body govuk-!-margin-bottom-0">Variants:</p>
                  <ul class="govuk-list govuk-list--bullet">
                  {% for _variant in _page.variants %}
                    <li><a class="govuk-link govuk-link--no-visited-state" href="{{_variant.url}}">{{_variant.name}}</a></li>
                  {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}
            </td>
            <td class="govuk-table__cell" style="min-width: 200px;">
              {% if _page.release == "Concept" %}💡 {% elif _page.release == "Buffalo 1.X" or _page.release == "Buffalo 1.0 MVP"  %}🐃 {% endif %}{{_page.release}}
            </td>
          </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <!-- <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Information
        <span class="govuk-caption-s">(all links open in a new tab)</span>
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="_design-history">
              Design history
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1708095369498/312f9f5bbd6500ac2e567b6390d0453ecb6bf290?wid=0-1726655395429" target="_blank">
              Hypothesis
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/defraallcompany8330/1700644751131/8f9698d767ce508393323a6dacb8abb8d923b960?wid=0-1726065444141" target="_blank">
              Planning scenario and flow for research
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div> -->
</div>

{% endblock %}

{% block pageScriptsAfter %}
<script>
    $(document).ready(function(){

        var _startURL = $("#start-url a"),
            _startURLLabel = $("#start-url-label"),
            _options = $("[data-option]")

        _options.change(function(){
            setValues()
            optionsVisibility()
        }).trigger("change");

        _options.on('input', function() {
            setValues()
            optionsVisibility()
        }).trigger("input");

        //SET VISIBILITY OF OPTIONS BASED ON INTERNAL VS EXTERNAL
        function optionsVisibility(){
          var _intExtValue = $('input[name=view]:checked').val()

          if (_intExtValue == "int") {
            $('#releaseContainer').hide()
            $('#startFromContainer').hide()
          } else {
            $('#releaseContainer').show()
            $('#startFromContainer').show()
          }

        }

        //SET VALUES
        function setValues(){

            //Base URL
            var _urlBase = "https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/" + {{myData.version|dump|safe}} + "/";


            //Queries
            var _urlStartFrom = $('input[name=startFrom]:checked').val(),
                _urlPage = "start-sfd-sign-in",
                _urlNewApplication = "";
            
            //Start from
            if ($('input[name=view]:checked').val() == "int") {
              _urlPage = "internal-sign-in"
            } else {
              switch(_urlStartFrom) {
                  case "st":
                    _urlPage = "start-sfd-start"
                    break;
                  case "si":
                    _urlPage = "start-sfd-sign-in"
                    break;
                  case "bl":
                    _urlPage = "businesses-list"
                    break;
                  case "home":
                    _urlPage = "business-home"
                    break;
                  default:
                  _urlPage = "start-sfd-sign-in"
              }
            }

            var _urlRelease = "&release=b1",
                _urlView = "&view=" + $('input[name=view]:checked').val(),
                // _urlPageQuery = "&start=" + _urlStartFrom;
                _urlincludeValidation = "&iv=" + _options.filter("#includeValidation").val();
                // _urlshutter = "&shutter=" + _options.filter("#shutter").val(),
                // _urlcookies = "&c=" + _options.filter("#cookies").val(),
                // _urlinviteScenario = "&adb2cLink=" + _options.filter("#inviteScenario").val();


            if ($('input[name=view]:checked').val() == "int") {
              _urlRelease = ""
            }

            //Queries combined
            var _urlPageQueries = _urlPage + "?r=t" + _urlRelease + _urlView + _urlincludeValidation;

            //URL text
            var _startURLText = _urlBase + _urlPageQueries,
                _startURLHREF =  _urlPageQueries;
            // update label
            _startURLLabel
                .text(_startURLText)
                .show()
            //update link
            _startURL
                .attr("href", _startURLHREF)
                .parent().show()
        }

    });
</script>
{% endblock %}
