{% extends "layouts/logged-in-nav-v4.html" %}

{% set pageName="Home" %}

{% set yourBusiness = "Active" %}

{%- block beforeContent -%}

<div class="govuk-width-container">

  {% include "to-be/v4/components/nav-bar/include.html" %}

</div>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <span class="govuk-caption-l">Alfred Waldron</span>
      Your businesses
    </h1>
  </div>
</div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

        <!-- <div class="govuk-form-group govuk-!-margin-bottom-0">
            <h2 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--s" for="event-name">
               Search for a business
              </label>
            </h2>
            <div class="govuk-hint">
             Enter a business name or its single business identifier (SBI) for example, The Dairy Farm or 123456000.
            </div>
            <input class="govuk-input govuk-!-width-three-quarters" id="event-name" name="eventName" type="text">
            <button type="submit" class="govuk-button" data-module="govuk-button">
              Search
            </button>
          </div>  -->


          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m"></caption>
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Business name</th>
                <th scope="col" class="govuk-table__header">SBI number</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Oakley Farm</a></th>
                <td class="govuk-table__cell">433232111</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Prime Cuts Farm</a></th>
                <td class="govuk-table__cell">500093456</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Potter Holdings Ltd</a></th>
                <td class="govuk-table__cell">500093456</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">RJ Whitfield</a></th>
                <td class="govuk-table__cell">433876541</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Ronnie's Farm</a></th>
                <td class="govuk-table__cell">761132198</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Russer & Mona</a></th>
                <td class="govuk-table__cell">121166709</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Sharon's Farm</a></th>
                <td class="govuk-table__cell">489910429</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Shaw & Carter Ltd</a></th>
                <td class="govuk-table__cell">122887431</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Sunflower Charity</a></th>
                <td class="govuk-table__cell">987677432</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Todmorden Shrimp Farm</a></th>
                <td class="govuk-table__cell">121150991</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="/to-be/v4/landing/landing?valleySFD=True&agileSFD=">Valley Farm</a></th>
                <td class="govuk-table__cell">192846125</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Wright Sisters</a></th>
                <td class="govuk-table__cell">123335090</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">

              <nav class="govuk-pagination" aria-label="Pagination">
                <div class="govuk-pagination__prev">
                  <a class="govuk-link govuk-pagination__link" href="your-businesses-list" rel="prev">
                    <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                      <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                    </svg>
                    <span class="govuk-pagination__link-title">
                      Previous<span class="govuk-visually-hidden"> page</span>
                    </span>
                  </a>
                </div>
                <ul class="govuk-pagination__list">
                  <li class="govuk-pagination__item">
                    <a class="govuk-link govuk-pagination__link" href="your-businesses-list" aria-label="Page 1">
                      1
                    </a>
                  </li>
                  <li class="govuk-pagination__item govuk-pagination__item--current">
                    <a class="govuk-link govuk-pagination__link" href="your-businesses-list-p2" aria-label="Page 2" aria-current="page">
                      2
                    </a>
                  </li>
                </ul>
              </nav>

          <p class="">Showing <b>21</b> to <b>32</b> of <b>32</b> businesses</p>

      </div>
    </div>






{% endblock %}
