{% extends "layouts/logged-in.html" %}

{% block pageTitle %} Farm Payments Technical Test{% endblock %}

{% block header %}

{% endblock %}

{% block content %}

<style type="text/css">
    @media only screen and (min-device-width: 581px) {
        .content {
            width: 580px !important;
        }
    }

    body {
        margin: 0 !important;
    }

    div[style*="margin: 16px 0"] {
        margin: 0 !important;
    }
</style>

<table role="presentation" class="content" align="center" cellpadding="0" cellspacing="0" border="0"
    style="border-collapse: collapse;max-width: 580px;width: 100% !important;" width="100%">
    <tbody>
        <tr>
            <td height="30"><br></td>
        </tr>

        <tr>
            <td>
                <span
                    style="font-family: Helvetica, Arial, sans-serif; margin: 0 0 20px 0; font-size: 19px; line-height: 25px; color: #0B0C0C;">
                    Subject line: Farm payments technical test (FPTT): Confirmation of your participation and next
                    steps<br>
                    From: Rural payments agency<br>
                </span>
            </td>
        </tr>

        <tr>
            <td height="30"><br></td>
        </tr>
    </tbody>
</table>

<table role="presentation" class="content" align="center" cellpadding="0" cellspacing="0" border="0"
    style="border-collapse: collapse;max-width: 580px;width: 100% !important;" width="100%">
    <tbody>
        <tr>
            <td>
                <img src="/public/images/rpa-header.png" alt="">
            </td>
        </tr>
    </tbody>
</table>

<table role="presentation" class="content" align="center" cellpadding="0" cellspacing="0" border="0"
    style="border-collapse: collapse;max-width: 580px;width: 100% !important;" width="100%">
    <tbody>
        <tr>
            <td height="30"><br></td>
        </tr>

        <tr>
            <td width="10" valign="middle"><br></td>

            <td
                style="font-family: Helvetica, Arial, sans-serif; font-size: 19px; line-height: 1.315789474; max-width: 560px;">

                <p class="govuk-body">
                    SBI: 123456789<br>
                    Business name: Agile Farm Ltd<br>
                    Our ref: FPTT confirmation v0.2 + 00112233
                </p>

                <p class="govuk-body">
                    Dear Alfred Waldron
                </p>

                <h1 class="govuk-heading-m">Farm payments technical test (FPTT): Confirmation of your participation and next
                    steps</h1>

                <p class="govuk-body">
                    Thank you for agreeing to take part in the Farm payments technical test (FPTT).
                </p>

                <p class="govuk-body">
                    Before you can take part in the FPTT, you need to:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>check your maps are up to date</li>
                    <li>choose a date for a prospective RPA visit</li>
                    <li>check if you can access the digital service</li>
                    <li>check your details are correct</li>
                    <li>get an SFI historic Environment Farm Environment Record (SFI HEFER) <a href="#" class="govuk-link--no-visited-state">if you need one</a></li>
                    <li>complete the consent form</li>
                    <li>read the FPTT information and the terms and conditions</li>
                    <li>inform us if there are any issues</li>
                </ul>

                <h2 class="govuk-heading-m">
                    Check your maps are up to date
                </h2>

                <p class="govuk-body">
                    We have attached a copy of your maps to this email. These maps are taken from the data we hold for
                    you on the Rural Payments service.
                </p>

                <p class="govuk-body">
                    Check the information on these maps is correct. You need to check the parcel number and hectarage
                    for each parcel.
                </p>

                <p class="govuk-body">
                    If you make any changes to your land parcels, such as merging or selling parcels, in the time
                    between receiving this email and submitting your FPTT application, please let us know by:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        calling us on 020 8026 2395
                    </li>
                    <li>
                        emailing us at farmpayments@rpa.gov.uk
                    </li>
                </ul>

                <h2 class="govuk-heading-m">
                    Choose a date for a prospective RPA visit
                </h2>

                <p class="govuk-body">
                    You will be applying for the FPTT using our new digital service. We’d like to visit you when you’re
                    completing your application, to give advice and find out more about your experience of applying.
                </p>
                <p class="govuk-body">
                    If you would be interested in a visit, please reply to this email, or call us on 020 8026 395, to
                    tell us any dates you’re available. We’ll let you know as soon as possible if we’re able to visit
                    you.
                </p>
                <p class="govuk-body">
                    If you book a visit and later decide you no longer want to take part in the FPTT, please let us know
                    before the date of the visit.
                </p>

                <h2 class="govuk-heading-m">
                    Check if you can access the digital service
                </h2>

                <p class="govuk-body">
                    If you book an application visit, please check you can open the sign-in page for the <a href="#" class="govuk-link--no-visited-state">digital service</a>
                    before your visit. When we visit, you will be able to log in and begin your application.
                </p>
                <p class="govuk-body">
                    When you click the digital service link, your browser should open a webpage which asks you to sign
                    into the farm and land service by entering your customer reference number (CRN) and Rural Payments
                    service password.
                </p>
                <p class="govuk-body">
                    Please don’t attempt to log into the service until your application visit, or until we advise you
                    to.
                </p>

                <h2 class="govuk-heading-m">
                    Check your details are correct
                </h2>

                <p class="govuk-body">
                    We hold the following details for you:
                </p>

                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Full name
                        </dt>
                        <dd class="govuk-summary-list__value">
                           Alfred Waldron
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Business name
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Agile Farm Ltd
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Business address
                        </dt>
                        <dd class="govuk-summary-list__value">
                            72 Guild Street<br>London<br>SE23 6FH
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Business phone numbers
                        </dt>
                        <dd class="govuk-summary-list__value">
                            <p class="govuk-body">07700 900457</p>
                            <p class="govuk-body">sarah.phillips@example.com</p>
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Business email
                        </dt>
                        <dd class="govuk-summary-list__value">
                            Agile Farm Ltd
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            Single business identifier (SBI)
                        </dt>
                        <dd class="govuk-summary-list__value">
                            123456789
                        </dd>
                    </div>
                </dl>

                <p class="govuk-body">
                    If your details are not correct you need to update them before you apply.
                </p>

                <p class="govuk-body">
                    <a href="start-sfd-start?integrationPath=notstarted" class="govuk-link--no-visited-state">Update your details on the Farm and Land Service</a>.
                </p>

                <h2 class="govuk-heading-m">
                    Get an SFI Historic Environment Farm Environment Record (SFI HEFER)
                </h2>

                <p class="govuk-body">
                    If you apply for FPTT actions on land with historic or archaelogical features, you must <a href="#" class="govuk-link--no-visited-state">request an SFI HEFER</a> from Historic England before we can offer you an agreement. 
                </p>

                <h2 class="govuk-heading-m">
                    Complete the consent form
                </h2>

                <p class="govuk-body">
                    As the FPTT is a test of a new digital service, your participation is considered research. Before you take part, we need to check you understand what’s involved and record your consent using an online form.
                </p>

                <p class="govuk-body">
                    You must <a href="#" class="govuk-link--no-visited-state">complete the consent form</a> before the application visit.
                </p>

                <h2 class="govuk-heading-m">
                    Read the FPTT information and the terms and conditions
                </h2>

                <p class="govuk-body">
                    We have attached the FPTT information, actions and terms and conditions to this email. You must read these documents before the application visit.
                </p>

                <p class="govuk-body">
                    They cover:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        when and how much you’ll get paid
                    </li>
                    <li>
                        eligibility for the FPTT
                    </li>
                    <li>
                        how the FPTT works with funding schemes you might already be a part of
                    </li>
                    <li>
                        the regulatory consents, licenses and permissions you’ll need for the FPTT
                    </li>
                    <li>
                        how to manage your FPTT agreement
                    </li>
                    <li>
                        how to do the FPTT actions
                    </li>
                </ul>

                <h2 class="govuk-heading-m">
                    Inform us if there are any issues
                </h2>

                <p class="govuk-body">
                    When you have completed the above tasks, please get in touch with us if:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        your map information is incorrect, or you have made any changes to your maps
                    </li>
                    <li>
                        your maps you are unable to access the digital service
                    </li>
                    <li>
                        your details are incorrect and <a href="#" class="govuk-link--no-visited-state">and you cannot update them</a>
                    </li>
                    <li>
                        you are unable to complete the consent form
                    </li>
                    <li>
                        you have any further questions about this email
                    </li>
                    <li>
                        you no longer wish to take part in the FPTT
                    </li>
                </ul>

                <p class="govuk-body">
                    You can contact us by replying to this email, or by calling us on 020 8026 2395.
                </p>

                <p class="govuk-body">
                    Please include your SBI, which you can find at the top of this email, on anything you send us.
                </p>

                <p class="govuk-body">
                    Yours sincerely, 
                </p>
                <p class="govuk-body">
                    Lee Rose
                </p>

                <p class="govuk-body govuk-!-font-weight-bold">
                    Rural Payments Agency
                </p>

                <p class="govuk-body">
                    Rural Payments Agency | PO Box 352 | WORKSOP | S80 9FG<br>
                    <a href="" class="govuk-link--no-visited-state">farmpayments@rpa.gov.uk</a> | 020 8026 2395 | <a href="" class="govuk-link--no-visited-state">www.gov.uk/rpa</a><br>
                    Follow us on X @Ruralpay
                </p>


            </td>
        </tr>
    </tbody>
</table>
{% endblock %}

{% block footer %}{% endblock %}