{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../../index">Single front door prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../index">MVP</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-xl">Design history</span>
      Prototype v13 - Entries into Buffalo/integration with another service (IAHW)
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">


    <p class="govuk-body">
      This is the version which further explores the integration points between FLS and IAHW.
    </p>

    <p class="govuk-body">
      The first round of testing for the integration between the Farm and Land Service (FLS) and another service,
      Improve Animal Health and Welfare (IAHW), gave us confidence that users were able to transition into our service
      and update their business and personal details. Where we wanted further validation was in the navigation out of
      FLS and back to the originating service.
    </p>

    <p class="govuk-body">
      In version 1 of our design, the route back after updating details was in 2 steps:
    <ul class="govuk-list govuk-list--bullet">
      <li>
        back link, ‘Back to [business name]’, on ‘bd01 Manage business details’ and ‘pd01 Manage personal details’,
        going to 'bp02 SFD home/business page'
      </li>
      <li>
        card component signpost on ‘bp02 SFD home/business page', going to IAHW’s 'Check your details’ page
      </li>
    </ul>
    </p>

    <p class="govuk-body">
      As discussed in the <a
        href="https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/AHWP/_design-history/design-history"> design
        history</a>, in testing we found that while all users successfully selected the back link, there was some
      hesitation in doing so. We also questioned the design after meeting with developers to discuss the technical
      feasibility of inserting the business name into the back link. While this was confirmed to be possible, it would
      present some challenges for businesses with long names. A small percentage of businesses registered on the Rural
      Payment service (RPS) have names in excess of 50 characters, with several over 100, although it should be said
      that the majority are less than 50.
    </p>
    <p class="govuk-body">
      With our technical team we agreed that we would introduce criteria to truncate business name with ellipses after
      50 characters. This will be carried over to where the business name appears in the header. For the link back to
      ‘bp02 SFD home/business page’, we felt there was enough indecision from users in testing to merit us exploring
      alternatives. Our latest design version 1.1 has the back link as ‘Back to business overview’. This is in keeping
      with RPS as-is. Testing will show whether this offers an improvement.
    </p>
    <p class="govuk-body">
      On the signpost link back to the originating service, all 5 users clicked the link, but one did first go a step
      further back to the business picker. They recognised their misstep immediately and went on to correctly select the
      same business and continue their journey. In ideation for version 1.1, we considered other options for signposting
      in a
      <a
        href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1738831676466/380eba35c98aebffa56a87cd2db67c6bd91eae9e?wid=0-1762183188084">Mural
        board</a>.
    </p>
    <p class="govuk-body">
      This included:
    <ul class="govuk-list govuk-list--bullet">
      <li>
        looking again at the use of a success banner and righthand side navigation - we found the previous reasons for
        discounting these designs to still be valid
      </li>
      <li>
        adding an additional back link to IAHW - we discounted this for being too confusing and flouting best practice,
        while also being short termist, with the need to roll back the design as other services onboard
      </li>
      <li>
        creating a separate success confirmation page with navigation - any changes here would need significant design
        and development resource, so not one for MVP when the existing design has tested well
      </li>
      <li>
        making the card signpost more prominent - our chosen option, given this design tested well with users in version
        1, but could be further enhanced
      </li>
    </ul>
    <img src="/public/images/design-history/v13/business-home-with-card.png"
      alt="screenshot of the business homepage with a more prominent card to return to IAHW" class="design-history">

    </p>
    <p class="govuk-body">
      We also looked again at the start point. Version 1 of the design had 2 journeys:
    <ul class="govuk-list govuk-list--bullet">
      <li>
        route 1, in which we signposted users to FLS to check and update their details before they start an IAHW apply
        or claim journey
      </li>
      <li>
        route 2, in which we signposted users to FLS to update their details within the IAHW apply or claim journey
      </li>
    </ul>
    </p>
     <p class="govuk-body">
    For version 1.1, we made the decision to drop route 1. While users did navigate through this route when prompted, we
    were unconvinced that they would naturally consider updating details before starting their IAHW journey. There are
    also certain risks that would become inherent were we to pursue route 1, in particular:
    </p>
    <p class="govuk-body">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        the findability of FLS from the IAHW start page, when not self-contained within the IAHW journey
      </li>
      <li>
        the risk that a person may check and update their details before they start their IAHW journey who may later
        find out they are not eligible
      </li>
    </ul>
    </p>

    <h2 class="govuk-heading-l">
      Research approach
    </h2>
    <p class="govuk-body">
      While we would not typically test a to-be design against the as-is, under these circumstances where navigation was
      known to be a concern it felt prudent to do so.
    </p>
    <p class="govuk-body">
      We also chose to implement the Likert scale in testing version 1.1, inviting users to rate the ease of use of the
      service. Our understanding of how users move between services will be integral as we look to integrate with
      another service and what benefits or friction they might encounter.
    </p>
    <p class="govuk-body">
      Our user researchers worked with their counterpart from IAHW to replicate that team’s research approach. As per
      standard IAHW testing, testing was conducted with 10 users recruited from IAHW’s own research panel.
    </p>

    <h2 class="govuk-heading-l">
      What we tested, outcomes and decisions
    </h2>
    <h3 class="govuk-heading-m">
      How might we provide a route for IAHW users to update their business or personal details?
    </h3>
    <h4 class="govuk-heading-s">Hypothesis 1: </h4>


    <p class="govuk-body">
      <strong>If </strong>we provide a route into FLS for users to update their business or personal details when their
      details are displayed in IAHW
      <br> <br>
      <strong>Then </strong>they'll navigate to FLS and update their details, before continuing their journey in IAHW
      <br> <br>
      <strong>We’ll know this</strong> when we see users answering 'no' to the question 'are these details correct?' and
      follow the link into FLS on the next page to update their details
      <br> <br>
      <strong>RAG rating - green</strong>
    </p>
    <p class="govuk-body">
      All users were able to correctly navigate into FLS.
    </p>

    <h4 class="govuk-heading-s">Hypothesis 2: </h4>
    <p class="govuk-body">
      <strong>If </strong>we provide a link to FLS for users to update their business or personal details
      <br> <br>
      <strong>Then </strong>they'll follow the link and update their details in FLS, before continuing their journey in
      IAHW
      <br> <br>
      <strong>We’ll know this</strong> when users comment their preference for updating details is via an online service
      and are positive about the online experience
      <br> <br>
      <strong>RAG rating - amber</strong>
    </p>
    <p class="govuk-body">
      With this hypothesis we wanted to understand if users would choose to call the RPA to update their details instead
      of doing so via an online service. Responses were mixed. 4 users stated a reluctance to call the RPA, citing long
      wait times and the various different options to reach an operative as deterrents. 3 users said they would call the
      RPA rather than email, however, this doesn’t quite reflect the aim of the hypothesis - emailing RPA is different
      to using the online service.
      <br><br>
      We'll take an action to look at online and offline preferences in a future round of testing.
    </p>

    <h3 class="govuk-heading-m">
      How might we help users to understand what the Farm and Land Service is and give them confidence to use the new
      service?
    </h3>

    <h4 class="govuk-heading-s">Hypothesis 3: </h4>
    <p class="govuk-body">
      <strong>If </strong>we provide succinct information about what FLS is
      <br> <br>
      <strong>Then </strong>users will have enough context to continue their journey of updating details before
      returning to IAHW
      <br> <br>
      <strong>We’ll know this</strong> when users follow the link to update their details on FLS without hesitation
      <br> <br>
      <strong>RAG rating - amber </strong>
    </p>
    <p class="govuk-body">
      All 10 users correctly navigated into FLS. Of that number, 6 did not read the page contents and continued their
      journey without engaging with FLS context.
    </p>
    <p>
      There’s a balance to be struck between providing users enough information about FLS to support their understanding
      and onwards journey and not unnecessarily interrupting those who want to get on with the task. As we look ahead to
      integrating FLS with another service, our team will need to consider the level of information we can and should
      provide about FLS as the point of integration, and how this is influenced by and complements other comms.
    </p>
    <p>
      There’s an action for BAs, product and delivery function to consider the results of this hypothesis as part of
      comms launch planning. Design should consider and feed in to comms as appropriate.
    </p>


    <h4 class="govuk-heading-s">Hypothesis 4: </h4>
    <p class="govuk-body">
      <strong>If </strong>we provide information about what can and can't be done in the Farm and Land service
      <br> <br>
      <strong>Then </strong>users will understand what is possible in the service at that time
      <br> <br>
      <strong>We’ll know this</strong> when users are able to articulate what they are able to do in the service and
      what they are not able to do at this point
      <br> <br>
      <strong>RAG rating - amber</strong>
    </p>
    <p class="govuk-body">
      This builds on hypothesis 3, with a focus on what users understand that they’re able to do in FLS at launch, and
      how this will change over time. 5 users correctly understood the messaging. The same number needed the messaging
      to be clearer.
      <br><br>
      There’s a design action for us to consider how we position future capabilities of the service, particularly where
      these go above and beyond RPS functionality.
    </p>


    <h4 class="govuk-heading-s">Hypothesis 5: </h4>
    <p class="govuk-body">
      <strong>If </strong>we provide information about FLS replacing RPS
      <br> <br>
      <strong>Then </strong>users will understand FLS is replacing RPS
      <br> <br>
      <strong>We’ll know this</strong> when users are able to articulate that FLS is replacing the RPS
      <br> <br>
      <strong>RAG rating - amber</strong>
    </p>
    <p class="govuk-body">
      Users were again divided in their understanding. While the majority understood that FLS would be replacing RPS,
      there was confusion over what this actually meant. One user called it “the same thing but a rebrand”. 2 users
      misunderstood RPS and RPA to be the same thing. We will need to carefully consider how we position RPS in any
      content that discusses the retirement of the service.
    </p>

    <h3 class="govuk-heading-m">
      How might we help users move seamlessly between 2 services?
    </h3>

    <h4 class="govuk-heading-s">Hypothesis 6: </h4>
    <p class="govuk-body">
      <strong>If </strong>we show the user their details in FLS after they have changed their details, and again when
      they re-enter the IAHW service
      <br> <br>
      <strong>Then </strong>the user will not be confused or frustrated by seeing it in both services
      <br> <br>
      <strong>We’ll know this</strong> when the user does not comment negatively about seeing their details in both
      services and/or does not stray from their IAHW journey
      <br> <br>
      <strong>RAG rating - green</strong>
    </p>
    <p class="govuk-body">
      2 users commented on seeing their details again, but did not comment negatively. 1 user was initially confused by
      the screen but understood the rationale to double check their information had changed as expected. We can be
      confident that users will not be negatively impacted if we need to show their details again when we do integrate
      with another service.
    </p>


    <h4 class="govuk-heading-s">Hypothesis 7: </h4>
    <p class="govuk-body">
      <strong>If </strong>the different headers on IAHW, FLS and Defra ID are shown during a single journey
      <br> <br>
      <strong>Then </strong>the user does not become disoriented or comment negatively and is able to continue their
      journey without losing trust
      <br> <br>
      <strong>We’ll know this</strong> when users complete the tasks without negative comments or distraction from their
      task
      <br> <br>
      <strong>RAG rating - green</strong>
    </p>
    <p class="govuk-body">
      When asked if they’d noticed if they were moving between services, 8 users responded that they did not, or they
      did not mind the transition. Most users commented positively about not having to sign in again.
    </p>


    <h4 class="govuk-heading-s">Hypothesis 8: </h4>
    <p class="govuk-body">
      <strong>If </strong>we signpost to IAHW on the FLS business home page
      <br> <br>
      <strong>Then </strong>the user will notice the signposting, understand where it will take them and use it to
      return to the IAHW service
      <br> <br>
      <strong>We’ll know this</strong> when users find the signposting and follow it without hesitation, with the
      expectation this would return them to IAHW amd users do not comment negatively about the signposting
      <br> <br>
      <strong>RAG rating - amber</strong>
    </p>
    <p class="govuk-body">
      While all users clicked the signpost card, there was hesitation of between 6 and 16 seconds for half, which we
      note is more than other pages in the to-be journey, where selection was almost instantaneous. We are cautious in
      rating this hypothesis as green. We will need to consider in future designs how the card component works when part
      of a page featuring multiple service capabilities.
    </p>


    <h4 class="govuk-heading-s">Hypothesis 9: </h4>
    <p class="govuk-body">
      <strong>If </strong>we provide a 'back to [business name]' link on the view and update your business / personal
      details pages
      <br> <br>
      <strong>Then </strong>users will follow this link expecting it to be part of the route back to IAHW
      <br> <br>
      <strong>We’ll know this</strong> when users successfully navigate back to the IAHW service by following the 'back
      to [business name]' link and view this as part of the journey back to IAHW
      <br> <br>
      <strong>RAG rating - amber</strong>
    </p>
    <p class="govuk-body">
      All users found their way out via the back link, but hesitated before doing so. 5 verbalised they were unsure
      where to go next. We found no improvement on the previous design of the back link (Back to [business name]). As we
      iterate we may want to consider using the back link in addition to another button or feature, as suggested by
      several users, although we are mindful of not adding unnecessary code to the site.
    </p>

    <h4 class="govuk-heading-s">Hypothesis 10: </h4>
    <p class="govuk-body">
      <strong>If </strong>we provide a journey through FLS to check and update their business or personal details
      <br> <br>
      <strong>Then </strong>users will be able to check and update their details on FLS, then return to the IAHW service
      without any issues, concerns or hesitation
      <br> <br>
      <strong>We’ll know this</strong> when we observe users are able to successfully complete their checking and
      updating tasks and return to the IAHW service without friction
      <br> <br>
      <strong>RAG rating - green</strong>
    </p>
    <p class="govuk-body">
      While there were elements of the to-be design that caused users to pause, as a whole the journey held up. All
      users were able to complete the task without intervention. 6 of these took the direct, expected path, with the
      remaining 4 succeeding with some missteps. Further, the to-be journey was given an average score of 6 out of 7 on
      the Likert scale for ease of use. We consider this to be a success, and will take these learnings forward as we
      look to integrate with another service in the new year.
    </p>
    <p class="govuk-body">
    </p>

  </div>


</div>

{% endblock %}