{% extends "layouts/main.html" %}

{% set pageName="Design history" %}

{%- block beforeContent -%}
<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/index">Single front door prototypes</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Version {{myData.version.slice(myData.version|length - 1)}}</a>
    </li>
  </ol>
</nav>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version {{myData.version.slice(myData.version|length - 1)}}
      <span class="govuk-caption-xl">Design history</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-l">Bank details</h2>

    <h3 class="govuk-heading-m">
      Design changes
    </h3>

    <p class="govuk-body">
      In version 9 of the prototype, we iterated adding and updating bank details, for external and internal users.
    </p>

    <h3 class="govuk-heading-s">
      Why we explored bank details
    </h3>

    <p class="govuk-body">
      The team decided bank details would be a logical next step after our recent work prototyping updating business and personal details - especially as our business analysts already had a solid understanding of the as-is processes for changing bank details in the Rural Payments service (RPS).
    </p>

    <h3 class="govuk-heading-m">
      Design approach
    </h3>

    <h4 class="govuk-heading-s">
      Pain points and user needs
    </h4>

    
    <p class="govuk-body">
      No user needs or pain points relating to updating or adding bank details were known from any previous user research from Single Front Door or other farming teams. 
    </p>

    <h4 class="govuk-heading-s">
      What we designed
    </h4>

    <p class="govuk-body">
      RPS recently introduced a way for farmers and agents to be able to add or update their bank details in the digital service, without having to phone the helpline. We tried to iterate on and improve this.
    </p>

    <p class="govuk-body">
      At the start of our journey, users can see any bank details we already hold for their business, on the business details page. After consulting with other teams' security experts and content designers, we decided to obfuscate sensitive data (for example, the name on the account, sort code and account number) here and throughout our journey, showing asterisks and only 2 characters of each piece of data. The only exception is the check your answers page, where we show the full data without asterisks, so that users can easily and accessibly review what they have just added within a single session.
    </p>

    <img src="/public/images/design-history/v9/update-bank-account-details.png" alt="Screen design showing bank account details registered to a business. The values are obfuscated by asterisks. Underneath, is a link that says 'Update bank account details'." class="design-history">

    <p class="govuk-body">
      In the live RPS version, it’s not clear whether users are amending or adding bank details, so we tried to make this clearer. In our prototype, users can choose to update existing bank details, or if they have not entered bank details for their business yet, they can add them for the first time. 
    </p>

    <img src="/public/images/design-history/v9/add-bank-account-details.png" alt="Screen design showing that the business does not currently have any bank account details registered to it. Underneath, is a link to 'Add bank account details'." class="design-history">

    <p class="govuk-body">
      Both options (update and add) in fact lead to the same journey where users read and confirm a legal declaration. The wording for this is taken from the live RPS version, but updated for clarity and in line with GOV.UK style. Defra’s legal team has approved these changes, but have raised potential legal issues with the live RPS version, and we also noted that the declaration only covers updating and not adding a bank account. As a team we are now exploring these issues with RPS.
    </p>

    <p class="govuk-body">
      After agreeing to the legal declaration, users select the type of account (UK or European, business or personal) and then add their bank details from scratch, in a form based on the standard GDS pattern. Depending on what combination of UK/European/business/personal the user selects, they see a variant of the form for entering bank details which is appropriate for the chosen type of account.
    </p>
    
    <img src="/public/images/design-history/v9/bank-details.png" alt="Screen design for filling out bank details where the user has selected a 'UK bank or building society account' and 'Personal account' on the preceeding screens. The fields they need to fill out are First and Last name, Sort code, Account numer, and an optional field for Building society roll number" class="design-history">

    <p class="govuk-body">
      We decided to make users enter the bank details in full as a new record at this stage in the journey (not to allow users to edit played back existing bank details as per usual GDS guidance), because multiple users could have the permission to view this business’s details, which seems to be an added security risk.  
    </p>

    <p class="govuk-body">
      We established that the live version’s options for payment in another currency are no longer needed, so removed those. 
    </p>

    <p class="govuk-body">
      The entire journey for adding or updating bank details is identical for external and internal users, except that internal users have to add the customer reference number (CRN) on this page, so Rural Payments staff can audit who is requesting the bank details change.
    </p>

    <img src="/public/images/design-history/v9/internal-bank-details.png" alt="Screen design for an internal user filling out bank details where the user has selected a 'European bank account' and 'Business account' on the preceeding screens. It shows the same fields an external user would fill out, except for the additional field for CRN at the top." class="design-history">

    <p class="govuk-body">
      Users check their answers to confirm the bank details, and a back-end validation check is done (as agreed in the legal declaration). 
    </p>

    <p class="govuk-body">
      If the details they entered are validated, the user returns to the business details page where a success banner confirms the request and explains a SLA of up to 30 working days to process this (to improve timescales which are inconsistently communicated to users in the live RPS version). 
    </p>

    <p class="govuk-body">
      We should then send emails (and possibly texts and letters) to confirm the request to amend or add bank details, and in due course to confirm the change has been made. Our BAs are investigating whether we can amend any notifications in the live service.
    </p>

    <p class="govuk-body">
      If the bank sort code and account number are validated but the name on the account is only a partial match (for example ‘Andy’ for ‘Andrew’), the user sees a screen where this is explained and they can review what they entered to make a decision on whether to continue using the details they entered or re-enter them. We explain there is a risk money could be paid into the wrong account. The content on this screen is a significant redraft from the live version, which we felt was unclear.
    </p>

    <img src="/public/images/design-history/v9/partial-match.png" alt="Screen designs for alerting a user to a partial match" class="design-history">

    <p class="govuk-body">
      If the verification fails, the user sees a screen where this is explained and they are invited to enter the bank details again. They have 3 chances to do this in the session, and if the third verification fails, they see content inviting them to contact the helpline and explaining they will not be able to try to change bank details again for 24 hours for security. This part of the journey is confusing in the live RPS version, so we have tried to make it clear. Users cannot click ‘back’ on these screens, because they are limited to 3 chances at verification.
    </p>

    <img src="/public/images/design-history/v9/unable-to-validate.png" alt="Screen designs for letting users know that the details they entered haven't been successfully validated in the backend validation process" class="design-history">

    <h3 class="govuk-heading-m">
      Testing plans
    </h3>

    <p class="govuk-body">
      The team plan to do external user testing of this first bank details prototype in coming sprints. 
    </p>

    <h2 class="govuk-heading-l">Internal user journey - iterations</h2>

    <h3 class="govuk-heading-m">Design changes</h3>

    <p class="govuk-body">
      In version 9 of the prototype, we iterated on the internal user journey that we had prototyped in version 8 and tested with internal users in Round 3 of user research.
    </p>

    <h3 class="govuk-heading-m">Design approach</h3>

    <p class="govuk-body">
      As a UCD team, we had a team playback to listen to and discuss the insights from R3 of UR. We agreed that the main finding we wanted to action now was how most participants got confused on how to find the link to view and update business details, once they had selected a search result. 
    </p>

    <p class="govuk-body">
      The link to viewing and updating personal details tested better in the second scenario, but we assume this is because they had learned how to expect the designs / linking to work based on the first scenario we set them  – in some cases, this was only after being prompted by the researchers facilitating the sessions. 
    </p>

    <p class="govuk-body">
      However, we felt that this meant we should revise both designs for the selected customer and business, so that we could maintain consistency between the two screens. 
    </p>

    <p class="govuk-body">
      We hypothesised that this was primarily due to the visual hierarchy on the page not being clear enough to users, rather than say, the wording of the actual links.
    </p>


    <h3 class="govuk-heading-s">
      What we designed
    </h3>


    <p class="govuk-body">
      We wanted to keep any design changes within the spirit of mimicking the external and internal user view as much as possible. However, the customer and business overview do not have a direct mirror in the external view - they are unique to the internal user journey. 
    </p>

    <p>
      However, taking inspiration from the <a href="https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/v9/business-home?r=t&view=ext&release=b1">Business home page</a> in the external user journey, we have added headings and padding to 'View and update personal details' and 'View and update business details' links. The idea is that this allows the components more breathing room, and helps draw attention to the links. 
    </p>

    <img src="/public/images/design-history/v9/internal-user-journey-customer-overview.png" alt="Screen design for the customer overview page in the internal user journey. Underneath the heading with the customer's name, there is a subheading called Personal Details. Underneath, with space around it, is the link to View and update personal details." class="design-history">

    <p class="govuk-body">
      We anticpate that the business view page in the external user journey will need re-designing in the future, as more and more features and links get added based on what the user needs to be able to do in SFD. As such, we also assume this may be the case for these business and customer overview pages in the internal user journey. 
    </p>

    <p class="govuk-body">
      We also added pagination to the search results for searching for a customer or business. When there are more than 10 results in any tab, pagination will appear with 10 results shown per page. For example, if there are 20 results in 'All', pagination should appear. Of those 20, if there are 5 'Customers', pagination should not appear. However, that leaves 15 for 'Businesses', where pagination would appear. 
    </p>

        <img src="/public/images/design-history/v9/internal-user-search-pagination.png" alt="Screen design for the internal user journey, where search results with over 10 results allows for pagination" class="design-history">

    <p class="govuk-body">
      A static mock-up of this can be viewed on <a href="https://fcp-farming-front-door-59e0a6ac6fb8.herokuapp.com/v9/internal-search-pagination?view=int">int-sr01c</a>.
    </p>

    <h2 class="govuk-heading-m">
      Other findings
    </h2>

    <p class="govuk-body">
      There were other findings that could lead to further improvements, but these may need more research and design spent on them / could affect work that has already gone to build. The three main findings under this category were:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        showing the expiry date for a CPH number (this could affect external and internal user designs) 
      </li>
      <li>
        participants expressing confusion over what the different business types actually meant, and the difference between them when choosing an option - how could we better help users understand? 
      </li>
      <li>
        generally, participant understood that they were using an internal-facing system that mirrored what external users see, and didn’t necessarily expect the service name to signal this. However, we might want to revisit (and test) this as the overall service name work progresses.
      </li>
    </ul>

    <p class="govuk-body">
      We also noted that the current internal service has legal wording on the sign-in page. We need to understand if we need to add (or amend) this for our service. 
    </p>

    <p class="govuk-body">
      These have all been added to the Explore backlog.
    </p>


    
    <!-- <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Outcomes and decisions
    </h2>

    <span class="govuk-caption-m">Hypothesis 1:</span>
    <h3 class="govuk-heading-m">Hypothesis statement.</h3>
    <strong class="govuk-tag govuk-tag--red" style="margin-bottom: 20px;">
      Disproven
    </strong>
    <strong class="govuk-tag govuk-tag--orange" style="margin-bottom: 20px;">
      Inconclusive
    </strong>
    <strong class="govuk-tag govuk-tag--green" style="margin-bottom: 20px;">
      Proven
    </strong>
    <p class="govuk-body">High-level outcome.</p>
    <p class="govuk-body-s"><strong>Design conclusion:</strong></p>
    <p class="govuk-body-s">Design conclusion content.</p> -->



  </div>

  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
