{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "Declaration" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}


{% set _showIntExtLinks = true %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Bank details - declaration",
  "id": "xx",
  "url": "business-details-bank-change?r=t&release=b2&newChange=true",
  "release": "Buffalo 1.X",
  "variants": [],

  "pagetitle": pageTitle,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    {
      "scenario": "[scenario]",
      "content": "[error message]"
    }
  ]
  
}
%}


{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% if data.view != "int" %}
    {% include "_common/sub-header.html" %}
  {% endif %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="business-details-bank-country">
    
      <h1 class="govuk-heading-l">
        Please confirm the following declarations
      </h1>
      <p class="govuk-body">
        I understand that any pending payments from the Rural Payments Agency (RPA) due within the next 30 days may be paid to the bank account details currently held for this business.
      </p>
      <p class="govuk-body">
        I understand it is my responsibility, or any other named person(s) for this account, to recover funds if they are paid to the previous bank account while this request to change bank details is being made.I confirm that the bank details I give are the correct account details to which RPA grant monies are paid until notified otherwise. By submitting this information, I understand that I am responsible for making sure the beneficiary is the correct recipient of any RPA grant monies.
      </p>
      <p class="govuk-body govuk-!-font-weight-bold">
        WARNING: Be cautious with third parties and be wary of anyone asking you to move monies which are unrelated to your normal financial activities.
      </p>
      <p class="govuk-body govuk-!-font-weight-bold">
        Could this be someone trying to receive monies by illegitimate or illicit means? Do you know the beneficiary and that they are the intended recipient of any grant funds? It may not be possible to retrieve any funds once they have been paid.
      </p>
      <p class="govuk-body">
        To protect the security of all our customers, a bank validation check will be carried out by a third-party provider after your bank details have been amended or updated. Your personal data will not be kept by the third-party provider.
      </p>
      <p class="govuk-body">
        Please confirm you accept these declarations and consent to a bank validation check being carried out.
      </p>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        Accept
      </button>

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Decline</a></p>

    </form>

  </div>
</div>





{% endblock %}
