{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "Declaration" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}


{% set _showIntExtLinks = true %}

{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Bank details - declaration",
  "id": "ba01",
  "url": "business-details-bank-change?r=t&release=b2&newChange=true",
  "release": "MVP",
  "variants": [],

  "pagetitle": pageTitle,
  "pagedesc": "",
  "pageurl": ""

}
%}


{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% if data.view != "int" %}
    {% include "_common/sub-header.html" %}
  {% endif %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="business-details-bank-country">
    
      <h1 class="govuk-heading-l">
        Please read the following declarations 
      </h1>
      <p class="govuk-body">
        I understand that any payments from the Rural Payments Agency (RPA) due within the next 30 days may be paid to the bank account details currently held for this business.   
      </p>
      <p class="govuk-body">
        I understand it is my responsibility, or that of any other named person for this account, to recover funds if they are paid to the previous bank account while this request to change bank details is being made.          
      </p>
      <p class="govuk-body">
        I confirm that the bank details I give are the correct account details for RPA payments to my business. By submitting this information, I understand that I am responsible for making sure the account holder is the correct recipient of any RPA payments.    
      </p>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Be cautious with third parties and be wary of anyone asking you to move money which is not related to your normal financial activities.
          Could this be someone trying to receive money fraudulently? Do you know the account holder and that they are the intended recipient of any payments? It may not be possible to retrieve any payments once they have been paid.
        </strong>
      </div>
      <p class="govuk-body">
        To protect the security of all our customers, a third-party provider will carry out a bank validation check after you have updated your bank details. The third-party provider will not keep your personal data. 
      </p>
      <p class="govuk-body">
        Please confirm you accept these declarations and consent to a bank validation check. 
      </p>
      <button type="submit" class="govuk-button" data-module="govuk-button">
        I accept
      </button>

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">I do not accept</a></p>

    </form>

  </div>
</div>





{% endblock %}
