{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set pageName = "Check your bank or building society details" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Bank account details (check) - business details",
    "id": "ba05",
    "url": "business-details-bank-check-european-personal?r=t&view=ext&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
    {
      "name": "ba05a",
      "url": "business-details-bank-check-uk-business?r=t&view=ext&release=b2"
    },
    {
      "name": "ba05b",
      "url": "business-details-bank-check-uk-personal?r=t&view=ext&release=b2"
    },
    {
      "name": "ba05c",
      "url": "business-details-bank-check-european-business?r=t&view=ext&release=b2"
    },
    {
      "name": "ba05d",
      "url": "business-details-bank-check-european-personal?r=t&view=ext&release=b2"
    }
    ],
    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "notes": [
    "The summary list shown on this page are determined by the selections made on int-ba02 and int-ba03, and therefore the fields completed on ba04d. For this variation (ba05d), 'European' and 'Personal' have been selected."
  ]

  }
%}

{% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Bank account details (check) - business details",
    "id": "int-ba05",
    "url": "business-details-bank-check-european-personal?r=t&view=int&release=b2",
    "release": "Buffalo 1.1 MVP",
    "variants": [
    {
      "name": "int-ba05a",
      "url": "business-details-bank-check-uk-business?r=t&view=int&release=b2"
    },
    {
      "name": "int-ba05b",
      "url": "business-details-bank-check-uk-personal?r=t&view=int&release=b2"
    },
    {
      "name": "int-ba05c",
      "url": "business-details-bank-check-european-business?r=t&view=int&release=b2"
    },
    {
      "name": "int-ba05d",
      "url": "business-details-bank-check-european-personal?r=t&view=int&release=b2"
    }
    ],
    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "notes": [
    "The summary list shown on this page are determined by the selections made on int-ba02 and int-ba03, and therefore the fields completed on ba04d. For this variation (ba05d), 'European' and 'Personal' have been selected.",

    "The form is a mirror of the external page ba05, except for the addition of the Customer reference number input field."
  ]
  

  }
%}

{% else %}

{% endif %}


{% set _selectedBusiness = myData.selectedBusiness %}
{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% if data.view != "int" %}
    {% include "_common/sub-header.html" %}
  {% endif %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <form method="POST" novalidate action="/partial-match-answer">

      <h1 class="govuk-heading-l">
        Check your bank or building society details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Bank account country
          </dt>
          <dd class="govuk-summary-list__value">
           European bank account
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-country">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account type
          </dt>
          <dd class="govuk-summary-list__value">
            Personal
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-type">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        {% if data.view == "int" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Customer reference number (CRN)
          </dt>
          {% if data['bankCRNbus'] %}
          <dd class="govuk-summary-list__value">
            {{ data['bankCRNbus'] }}
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            {{_selectedUser.crn}}
          </dd>
          {% endif %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country code where the account is held 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankCountryCodebus'] or "FR" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First and last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankFirstName'] }} {{ data['bankLastName'] or "Person Surname" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> name on the account</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['bankSortbus'] or "123456"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> sort code</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['bankAccountbus'] or "12345678"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            IBAN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankIBANbus'] or 123456789}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> IBAN</span></a>
          </dd>
        </div>
          {% if data['bankSwiftCodebus'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SWIFT code (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['bankSwiftCodebus'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> SWIFT code (optional)</span></a>
            </dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SWIFT code (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              <span style="color:#505a5f">No number added</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-details-bank-change-european-personal">Change<span class="govuk-visually-hidden"> SWIFT code (optional)</span></a>
            </dd>
          </div>
          {% endif %}
      </dl>

      {{govukButton({
        text: "Submit"
      })}}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}


