{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set pageName = "Check your business bank or building society details" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% set _showDesignSpec = true %}
{% set _designSpecData = {

  "name": "Bank details (check) - business details",
  "id": "xx",
  "url": "business-details-bank-check?r=t&release=b2&newChange=true",
  "release": "Buffalo 1.X",
  "variants": [],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
  ]
  
}
%}


{% set _selectedBusiness = myData.selectedBusiness %}
{% set _selectedUser = myData.selectedUser %}

{% block beforeContent %}

  {% include "_common/phase-banner-2.html" %}
  {% if data.view != "int" %}
    {% include "_common/sub-header.html" %}
  {% endif %}
  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    <form method="POST" novalidate action="/partial-match-answer">

      <h1 class="govuk-heading-l">
        Check your business bank or building society details
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Bank account country
          </dt>
          <dd class="govuk-summary-list__value">
           {{ data['bankCountrybus'] or "UK" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-country">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankAccountTypebus'] or "Personal" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-type">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        {% if data.view == "int" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            CRN
          </dt>
          {% if data['bankCRNbus'] %}
          <dd class="govuk-summary-list__value">
            {{ data['bankCRNbus'] }}
          </dd>
          {% else %}
          <dd class="govuk-summary-list__value">
            {{_selectedUser.crn}}
          </dd>
          {% endif %}
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Currency
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankCurrencybus']  or "GBP" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        {% if (data['bankCountrybus'] == "European bank account") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country code where the account is held 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankCountryCodebus'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        {% endif %}
        <div class="govuk-summary-list__row">
          {% if (data['bankAccountTypebus'] == "Business") %}
          <dt class="govuk-summary-list__key">
            Name on the account
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankNameBus']  or "Account name" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> name on the account</span></a>
          </dd>
          {% elseif (data['bankAccountTypebus'] == "Personal") %}
          <dt class="govuk-summary-list__key">
            First and last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankFirstName'] }} {{ data['bankLastName'] or "Last name" }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> name on the account</span></a>
          </dd>
          {% else %}
          <dt class="govuk-summary-list__key">
            First and last name
          </dt>
          <dd class="govuk-summary-list__value">
            Alfred Waldron
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> name on the account</span></a>
          </dd>
          {% endif %}
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Sort code
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['bankSortbus'] or "123456"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> sort code</span></a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Account number
          </dt>
          <dd class="govuk-summary-list__value">
            {{data['bankAccountbus'] or "12345678"}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> account number</span></a>
          </dd>
        </div>
        {% if (data['bankCountrybus'] == "UK bank or building society account") %}
        
          {% if data['bankBuildbus'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number (if you have one) 
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['bankBuildbus'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> SWIFT code (optional)</span></a>
            </dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number (if you have one) 
            </dt>
            <dd class="govuk-summary-list__value">
              <span style="color:#505a5f">No number added</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> SWIFT code (optional)</span></a>
            </dd>
          </div>
          {% endif %}
        {% elseif (data['bankCountrybus'] == "European bank account") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            IBAN
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankIBANbus'] or 123456789}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> IBAN</span></a>
          </dd>
        </div>
          {% if data['bankSwiftCodebus'] %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SWIFT code (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['bankSwiftCodebus'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> SWIFT code (optional)</span></a>
            </dd>
          </div>
          {% else %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              SWIFT code (optional)
            </dt>
            <dd class="govuk-summary-list__value">
              <span style="color:#505a5f">No number added</span>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="business-details-bank-details-change">Change<span class="govuk-visually-hidden"> SWIFT code (optional)</span></a>
            </dd>
          </div>
          {% endif %}
        {% else %}
        {% endif %}
      </dl>

      {{govukButton({
        text: "Submit"
      })}}

      <p class="govuk-body"><a href="details-business-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}


