{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = true %}
{% endif %}

{% set _showIntExtLinks = true %}


{% set pageName = "View and update your business details" %}
{% set serviceName = "Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
  "status": 'In development',
  "name": "Manage business details",
  "id": "bd01",
  "url": "details-business-details?r=t&release=b1",
  "release": "Buffalo 1.0 MVP",
  "variants": [
    {
      "name": "Vendor registration number	- hidden",
      "url": "details-business-details?r=t&release=b1&vendorCount=0&view=ext"
    },
    {
      "name": "Vendor registration number	- one number",
      "url": "details-business-details?r=t&release=b1&vendorCount=1&view=ext"
    },
    {
      "name": "Trader number	- hidden",
      "url": "details-business-details?r=t&release=b1&traderCount=0&view=ext"
    },
    {
      "name": "Trader number	- one number",
      "url": "details-business-details?r=t&release=b1&traderCount=1&view=ext"
    },
    {
      "name": "County Parish Holding (CPH) number	- hidden",
      "url": "details-business-details?r=t&release=b1&cphCount=0&view=ext"
    },
    {
      "name": "County Parish Holding (CPH) number	- one number",
      "url": "details-business-details?r=t&release=b1&cphCount=1&view=ext"
    },
    {
      "name": "County Parish Holding (CPH) number	- multiple numbers",
      "url": "details-business-details?r=t&release=b1&cphCount=2&view=ext"
    },
    {
      "name": "name changed banner",
      "url": "details-business-details?r=t&release=b1&namechanged=true&changed=true&view=ext"
    },
    {
      "name": "address changed banner",
      "url": "details-business-details?r=t&release=b1&addresschanged=true&changed=true&view=ext"
    },
    {
      "name": "phone numbers changed banner",
      "url": "details-business-details?r=t&release=b1&phonechanged=true&changed=true&view=ext"
    },
    {
      "name": "email changed banner",
      "url": "details-business-details?r=t&release=b1&emailchanged=true&changed=true&view=ext"
    },
    {
      "name": "business type changed banner",
      "url": "details-business-details?r=t&release=b1&typechanged=true&changed=true&view=ext"
    },
    {
      "name": "legal status changed banner",
      "url": "details-business-details?r=t&release=b1&legalchanged=true&changed=true&view=ext"
    },
    {
      "name": "vat number changed banner",
      "url": "details-business-details?r=t&release=b1&vatchanged=true&changed=true&view=ext"
    },
    {
      "name": "vat number removed banner",
      "url": "details-business-details?r=t&release=b1&vatremoved=true&changed=true&view=ext"
    },
    {
      "name": "bank details changed banner (concept)",
      "url": "details-business-details?r=t&release=concept&bankchanged=true&changed=true&view=ext"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    
  ],
  "notes": [
    "<strong>CPH number</strong> - if the business does not have a CPH number - do not render the 'County Parish Holding (CPH) number' row. View example with the query string &cphCount=0",

    "<strong>CPH number</strong> - if the business has more than one CPH number - make the 'County Parish Holding (CPH) numbers' label plural and separate each CPH number with a break line tag. View example with the query string &cphCount=2",

    "<strong> Vendor registration number</strong> - if the business does not have a Vendor registration number - do not render the 'Vendor registration number' row. View example with the query string &vendorCount=0",

    "<strong> Trader number</strong> - if the business does not have a Trader number - do not render the 'Trader number' row. View example with the query string &traderCount=0"
  ]
}
%}

{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
  "status": 'In development',
  "name": "Manage business details",
  "id": "int-bd01",
  "url": "details-business-details?r=t&view=int&release=b2",
  "release": "Buffalo 1.1 MVP",
  "variants": [
    {
      "name": "Vendor registration number	- hidden",
      "url": "details-business-details?r=t&release=b2&vendorCount=0&view=int"
    },
    {
      "name": "Vendor registration number	- one number",
      "url": "details-business-details?r=t&release=b2&vendorCount=1&view=int"
    },
    {
      "name": "Trader number	- hidden",
      "url": "details-business-details?r=t&release=b2&traderCount=0&view=int"
    },
    {
      "name": "Trader number	- one number",
      "url": "details-business-details?r=t&release=b2&traderCount=1&view=int"
    },
    {
      "name": "County Parish Holding (CPH) number	- hidden",
      "url": "details-business-details?r=t&release=b2&cphCount=0&view=int"
    },
    {
      "name": "County Parish Holding (CPH) number	- one number",
      "url": "details-business-details?r=t&release=b2&cphCount=1&view=int"
    },
    {
      "name": "County Parish Holding (CPH) number	- multiple numbers",
      "url": "details-business-details?r=t&release=b2&cphCount=2&view=int"
    },
    {
      "name": "name changed banner",
      "url": "details-business-details?r=t&release=b2&namechanged=true&changed=true&view=int"
    },
    {
      "name": "address changed banner",
      "url": "details-business-details?r=t&release=b2&addresschanged=true&changed=true&view=int"
    },
    {
      "name": "phone numbers changed banner",
      "url": "details-business-details?r=t&release=b2&phonechanged=true&changed=true&view=int"
    },
    {
      "name": "email changed banner",
      "url": "details-business-details?r=t&release=b2&emailchanged=true&changed=true&view=int"
    },
    {
      "name": "business type changed banner",
      "url": "details-business-details?r=t&release=b2&typechanged=true&changed=true&view=int"
    },
    {
      "name": "legal status changed banner",
      "url": "details-business-details?r=t&release=b2&legalchanged=true&changed=true&view=int"
    },
    {
      "name": "vat number changed banner",
      "url": "details-business-details?r=t&release=b2&vatchanged=true&changed=true&view=int"
    },
    {
      "name": "vat number removed banner",
      "url": "details-business-details?r=t&release=b2&vatremoved=true&changed=true&view=int"
    },
    {
      "name": "bank details changed banner (concept)",
      "url": "details-business-details?r=t&release=concept&bankchanged=true&changed=true&view=int"
    }
  ],

  "pagetitle": pageName,
  "pagedesc": "",
  "pageurl": "",
  "errormessages": [
    
  ],
  "notes": [
    "<strong>CPH number</strong> - if the business does not have a CPH number - do not render the 'County Parish Holding (CPH) number' row. View example with the query string &cphCount=0",

    "<strong>CPH number</strong> - if the business has more than one CPH number - make the 'County Parish Holding (CPH) numbers' label plural and separate each CPH number with a break line tag. View example with the query string &cphCount=2",

    "<strong> Vendor registration number</strong> - if the business does not have a Vendor registration number - do not render the 'Vendor registration number' row. View example with the query string &vendorCount=0",

    "<strong> Trader number</strong> - if the business does not have a Trader number - do not render the 'Trader number' row. View example with the query string &traderCount=0"
  ]
}
%}

{% else %}

{% endif %}


{% set _selectedBusiness = myData.selectedBusiness %}

{% block beforeContent %}

  {% if data.view != "int" %}
  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header.html" %}

  {% include "_common/login-nav-3.html" %}

  <nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="business-home">Home</a>
      </li>
    </ol>
  </nav>
  {% else %}
  {% include "_common/login-nav-internal.html" %}
  <div class="govuk-breadcrumbs" style="display: inline-block">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="internal-search?q={{myData.searchTerm}}">Search results</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="internal-business">{{_selectedBusiness.name}} (SBI: {{_selectedBusiness.sbiNumber}})</a>
      </li>
    </ol>
  </div>
  {% endif %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if myData.showNotification == "true" %}
    <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Success
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">
          {{myData.notifications.message}}
        </h3>
        {% if data.bankchanged == "true" %}
        <p>
          It may take up to 30 working days for payments to be made to this account. This could take longer during busy periods or if queries are raised. We'll be in touch if we need more information.
        </p>
        {% endif %}
      </div>
    </div>
    {% endif %}

    <h1 class="govuk-heading-l">
     View and update your business details
    </h1>

    <h2 class="govuk-heading-m">
      Business contact details
     </h2>

    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business name
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.nameBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-name-change?newChange=true">Change<span class="govuk-visually-hidden"> business name</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business address
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.address1Bus}}<br>
          {% if myData.address2Bus != "" %}{{myData.address2Bus}}<br>{% endif %}
          {{myData.addressCityBus}}<br>
          {% if myData.addressCountyBus != "" %}{{myData.addressCountyBus}}<br>{% endif %}
          {% if myData.addressPostcodeBus != "" %}{{myData.addressPostcodeBus}}<br>{% endif %}
          {{myData.addressCountryBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-address-postcode-change?newChange=true">Change<span class="govuk-visually-hidden"> business address</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business phone numbers
        </dt>
        <dd class="govuk-summary-list__value">
          Telephone: 
          {% if myData.telNumberBus == "" %}
            <span style="color:#505a5f">Not added</span>
          {% else %}
            {{myData.telNumberBus}}
          {% endif %}
          <br>
          Mobile: 
          {% if myData.mobNumberBus == "" %}
            <span style="color:#505a5f">Not added</span>
          {% else %}
            {{myData.mobNumberBus}}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-phone-change?newChange=true">Change<span class="govuk-visually-hidden"> business phone numbers</span></a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business email address
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.emailBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-email-change?newChange=true">Change<span class="govuk-visually-hidden"> business email address</span></a>
        </dd>
      </div>
    </dl>

    <h2 class="govuk-heading-m">
      Reference numbers
     </h2>



     <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Single business identifier (SBI)
        </dt>
        <dd class="govuk-summary-list__value">
          {{_selectedBusiness.sbiNumber}} 
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          VAT registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {% if myData.vatBus == "" %}
            <span style="color:#505a5f">No number added</span>
          {% else %}
            {{myData.vatBus}}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
          {% if myData.vatBus == "" %}
            <a class="govuk-link govuk-link--no-visited-state" href="business-details-vat-add?newChange=true">Add<span class="govuk-visually-hidden"> VAT registration number</span></a>
          {% else %}
            <ul class="govuk-summary-list__actions-list">
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link govuk-link--no-visited-state" href="business-details-vat-remove?newChange=true">Remove<span class="govuk-visually-hidden"> VAT registration number</span></a>
              </li>
              <li class="govuk-summary-list__actions-list-item">
                <a class="govuk-link govuk-link--no-visited-state" href="business-details-vat-change?newChange=true">Change<span class="govuk-visually-hidden"> VAT registration number</span></a>
              </li>
            </ul>
          {% endif %}
        </dd>
      </div>

      {% if myData.traderCount == "0" %}
        <!-- Do not render row -->
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Trader number
        </dt>
        <dd class="govuk-summary-list__value">
          {{_selectedBusiness.traderNumber or "987654"}} 
        </dd>
      </div>
      {% endif %}

      {% if myData.vendorCount == "0" %}
        <!-- Do not render row -->
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Vendor registration number
        </dt>
        <dd class="govuk-summary-list__value">
          {{_selectedBusiness.vrnNumber or "123456"}} 
        </dd>
      </div>
      {% endif %}

      {% if myData.cphCount == "0" %}
        <!-- Do not render row -->
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {% if myData.cphCount == "2" %}
            County Parish Holding (CPH) numbers
          {% else %}
            County Parish Holding (CPH) number
          {% endif %}
        </dt>
        <dd class="govuk-summary-list__value">
          {% if myData.cphCount == "2" %}
            {{_selectedBusiness.cphNumber or "12/563/0998"}}
            <br>12/563/8301
          {% else %}
            {{_selectedBusiness.cphNumber or "12/563/0998"}}
          {% endif %}
        </dd>
      </div>
      {% endif %}

    </dl>


    <h2 class="govuk-heading-m">
      Additional details
     </h2>

     <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business legal status
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.legalBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-legal-change?newChange=true">Change<span class="govuk-visually-hidden"> business legal status</span></a>
        </dd>
      </div>
      {% for _legal in data.legalStatuses %}

          {% if _legal.showCompanyReg and myData.legalBus == _legal.name %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Company registration number
            </dt>
            <dd class="govuk-summary-list__value">
              {{myData.legalCHRNBus}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="business-details-legal-change?newChange=true">Change<span class="govuk-visually-hidden"> company registration number</span></a>
            </dd>
          </div>
          {% endif %}
      
          {% if _legal.showCharityCommission and myData.legalBus == _legal.name %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Charity commission registration number
            </dt>
            <dd class="govuk-summary-list__value">
              {{myData.legalCCRNBus}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link govuk-link--no-visited-state" href="business-details-legal-change?newChange=true">Change<span class="govuk-visually-hidden"> charity commission registration number</span></a>
            </dd>
          </div>
          {% endif %}

      {% endfor %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Business type
        </dt>
        <dd class="govuk-summary-list__value">
          {{myData.typeBus}}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link govuk-link--no-visited-state" href="business-details-type-change?newChange=true">Change<span class="govuk-visually-hidden"> business type</span></a>
        </dd>
      </div>
    </dl>

      <h2 class="govuk-heading-m">
        Bank account details
     </h2>

     {% if data.bank == "empty" and data.bankchanged == "false" %}

     <p class="govuk-body">
      This business has no bank details yet.
     </p>

     <p class="govuk-body">
      <a href="business-details-bank-declaration">
        Add bank account details
       </a>
     </p>

     {% else %}
     <dl class="govuk-summary-list">
      {% if data.bankchanged == "true" %}
      {% if (data['bankCountrybus'] == "European bank account") %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country code where the account is held 
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['bankCountryCodebus'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% endif %}
      <div class="govuk-summary-list__row">
        {% if (data['bankAccountTypebus'] == "Business") %}
        <dt class="govuk-summary-list__key">
          Name on the account
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['bankNameBus']  or "Account name" }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        {% elseif (data['bankAccountTypebus'] == "Personal") %}
        <dt class="govuk-summary-list__key">
          First and last name
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['bankFirstName'] }} {{ data['bankLastName'] or "Last name" }}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        {% else %}
        <dt class="govuk-summary-list__key">
          First and last name
        </dt>
        <dd class="govuk-summary-list__value">
          Alfred Waldron
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
        {% endif %}
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
          ****56
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
          ******78
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      {% if (data['bankCountrybus'] == "UK bank or building society account") %}
      
        {% if data['bankBuildbus'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Building society roll number (if you have one) 
          </dt>
          <dd class="govuk-summary-list__value">
            *******89
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Building society roll number (if you have one) 
          </dt>
          <dd class="govuk-summary-list__value">
            <span style="color:#505a5f">No number added</span>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% endif %}
      {% elseif (data['bankCountrybus'] == "European bank account") %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          IBAN
        </dt>
        <dd class="govuk-summary-list__value">
          ***********89
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
        {% if data['bankSwiftCodebus'] %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SWIFT code (optional)
          </dt>
          <dd class="govuk-summary-list__value">
            ********34
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% else %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            SWIFT code (optional)
          </dt>
          <dd class="govuk-summary-list__value">
            <span style="color:#505a5f">No number added</span>
          </dd>
          <dd class="govuk-summary-list__actions">
          </dd>
        </div>
        {% endif %}
      {% else %}
      {% endif %} 
      {% else %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Name on the account
        </dt>
        <dd class="govuk-summary-list__value">
          {% if data['bankFirstName'] %}
          {{ data['bankFirstName'] }} {{ data['bankLastName'] }}
          {% else %}
          {{myData.bankNameBus}}
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Sort code
        </dt>
        <dd class="govuk-summary-list__value">
          ****12
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Account number
        </dt>
        <dd class="govuk-summary-list__value">
          ******78
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Building society roll number (if you have one)
        </dt>
        <dd class="govuk-summary-list__value">
          {% set _bankRollValue = myData.bankRollBus %}
          {% if _bankRollValue and _bankRollValue != "" %}
            ****{{_bankRollValue.slice(_bankRollValue|length - 2)}}
          {% else %}
            <span style="color:#505a5f">No number added</span>
          {% endif %}
        </dd>
        <dd class="govuk-summary-list__actions">
        </dd>
      </div>
      {% endif %}
    </dl>
    <p>
      <a class="govuk-link govuk-link--no-visited-state" href="business-details-bank-declaration">Update bank account details</a>
     </p>
     {% endif %}


  </div>
</div>





{% endblock %}
