{% extends "layouts/main.html" %}

{% if data.view == "int" %}
  {% set _showFooterLinks = false %}
{% else %}
  {% set _showFooterLinks = true %}
{% endif %}

{% if data.view == "int" %}
  {% set _showReleaseLinks = false %}
{% else %}
  {% set _showReleaseLinks = false %}
{% endif %}

{% set _showIntExtLinks = true %}

{% set _inError = myData.validationError == "true"  %}

{% set pageTitle = "What is your personal address?" %}
{% set pageName = pageTitle %}
{% if _inError %} 
  {% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Manage your land and farm businesses" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Address - postcode (change) - personal details",
    "id": "pd16",
    "url": "personal-details-address-postcode-change?r=t&release=b1&newChange=true",
    "release": "Buffalo 1.0 MVP",
    "variants": [],

    "pagetitle": pageTitle,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [

      {
        "scenario": "Empty field / nothing entered",
        "content": "Enter a postcode"
      },
      {
        "scenario": "Postcode doesn’t pass formatting checks",
        "content": "Enter a full UK postcode, like AA3 1AB"
      },
      {
        "scenario": "Postcode passes formatting checks but is not a full, valid postcode in the database look up",
        "content": "No addresses found for this postcode"
      }

    ],

    "notes": [
      "If returning from 'select address page (pd17)', THEN pre populate with previously entered postcode ELSE leave the field blank",

      "If entering from 'personal details page (pd01)' or returning from 'check address page (pd07)' page AND have known UK postcode on saved address THEN pre populate with current postcode ELSE leave the field blank",
      
      "You should let users enter postcodes that contain:<ul class='govuk-list govuk-list--bullet govuk-body-s'><li>upper and lower case letters</li><li>no spaces</li><li>additional spaces at the beginning, middle or end</li><li>punctuation like hyphens, brackets, dashes and full stops</li></ul>"
      
    ]
    
  }
  %}
{% else %}

{% endif %}


{% block beforeContent %}

{% if data.view != "int" %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}
  {% else %}
  {% include "_common/login-nav-internal.html" %}
{% endif %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if _inError %}
    <div class="govuk-error-summary" data-module="govuk-error-summary">
      <div role="alert">
        <h2 class="govuk-error-summary__title">
          There is a problem
        </h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            {% for name, item in myData.validationErrors %}
            <li>
              <a href="#{{item.anchor}}">{{item.message}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        What is your personal address?
      </h1>

      <div class="govuk-form-group">
        <p class="govuk-body">
            If you do not have a UK postcode, enter the address manually.
        </p>
      </div>

      <!-- ADDRESS POSTCODE -->
      <div class="govuk-form-group {% if myData.validationErrors.addressPostcodePers %}govuk-form-group--error{% endif %}">
        <label class="govuk-label" for="addressPostcodePers">
          UK postcode
        </label>
        {% if myData.validationErrors.addressPostcodePers %}
        <p id="addressPostcodePers-error" class="govuk-error-message">
          <span class="govuk-visually-hidden">Error:</span> {{myData.validationErrors.addressPostcodePers.message}}
        </p>
        {% endif %}

        {% set _valueNewAddressPostcodePers = myData.newAddressPostcodePers %}
        {% if _valueNewAddressPostcodePers == null %}
          {% set _valueNewAddressPostcodePers = myData.addressPostcodePers %}
        {% endif %}

        <input class="govuk-input govuk-input--width-10 {% if myData.validationErrors.addressPostcodePers %}govuk-input--error{% endif %}" id="addressPostcodePers" name="addressPostcodePers" type="text" value="{{_valueNewAddressPostcodePers}}" {% if myData.validationErrors.addressPostcodePers %}aria-describedby="addressPostcodePers-error"{% endif %} autocomplete="postal-code">
      </div>

      <p class="govuk-body govuk-!-margin-bottom-6">
        <a class="govuk-link govuk-link--no-visited-state" href="personal-details-address-change">
            Enter address manually
        </a>
      </p>


      {{govukButton({
        text: "Continue"
      })}}

      <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p>

    </form>

  </div>
</div>





{% endblock %}
