{% extends "layouts/main-rebrand.html" %}


{% if data.view == "int" %}
{% set _showFooterMVPLinks = false %}
{% else %}
{% set _showFooterMVPLinks = true %}
{% endif %}

{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set _inError = myData.validationError == "true" %}

{% set pageTitle = "Are you sure you want to remove your VAT registration number?" %}
{% set pageName = pageTitle %}
{% if _inError %}
{% set pageName = "Error: " + pageTitle %}
{% endif %}

{% set serviceName = "Land and Farm Service" %}

{% if data.view == "ext" and data.release != "concept" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "VAT registration number (remove) - business details",
"id": "bd25",
"url": "business-details-vat-remove?r=t&view=ext&release=b1&newChange=true",
"release": "Buffalo 1.0 MVP",
"variants": [],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "Nothing selected",
"content": "Select yes if you want to remove your VAT registration number"
}
]

}
%}

{% elif data.view == "int" %}
{% set _showDesignSpec = true %}
{% set _designSpecData = {
"status": 'In development',
"name": "VAT registration number (remove) - business details",
"id": "int-bd25",
"url": "business-details-vat-remove?r=t&view=int&release=b2&newChange=true",
"release": "Buffalo 1.1 MVP",
"variants": [],

"pagetitle": pageTitle,
"pagedesc": "",
"pageurl": "",
"errormessages": [
{
"scenario": "Nothing selected",
"content": "Select yes if you want to remove your VAT registration number"
}
]

}
%}

{% else %}

{% endif %}

{% block beforeContent %}

{% if data.view != "int" %}

{% include "_common/phase-banner-2.html" %}
{% include "_common/sub-header.html" %}

{% set _hideAccountLink = true %}
{% include "_common/login-nav-3.html" %}
{% else %}
{% include "_common/login-nav-internal.html" %}
{% endif %}

<a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Update your business details
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        Some of your details seem to be missing or incorrect. We need these details to verify your identity if you phone
        us.
      </strong>
    </div>


<div>
    <p class="govuk-body-m">We will ask you to update these details as well as your business name:
    <ul class="govuk-list govuk-list--bullet">
      <li>business email</li>
      <li>business address </li>
      <li>business phone numbers</li>
    </ul>
    </p>
  </div>
    <div>
      <a class="govuk-button" href="business-details-name-uplift-change.html" role="button">
        Continue
      </a>
    </div>
  </div>
</div>





{% endblock %}