{% extends "layouts/gov-guidance.html" %}

{% set pageName="Farmers: how to claim funding to improve animal health and welfare" %}

{%- block beforeContent -%}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Environment</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Food and farming</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Farming and food grants and payments</a>
    </li>
  </ol>
</div>{% endblock %}


{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Guidance</span>
      Farmers: how to claim funding to improve animal health and welfare
    </h1>


    <p class="govuk-body-l">Find out how to claim for animal health and welfare reviews and endemic disease follow-ups.</p>
  </div>

    <div class="govuk-grid-column-full">
    <hr class="govuk-!-margin-bottom-5">
  </div>

  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body-s govuk-!-margin-bottom-1">From: <a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Department for Environment, Food & Rural Affairs</a> and <a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Rural Payments Agency</a></p>
    <p class="govuk-body-s govuk-!-margin-bottom-5">Published 19 June 2024</p>

    <div class="govuk-!-display-none-print govuk-!-margin-bottom-6">
      <form class="gem-c-single-page-notification-button" action="../../../_common/not-testing.html" >
        <input type="hidden" name="base_path" value="">
        <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  
          <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
    </button>
    </form>
    </div>
  </div>

</div>


  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <section class="gem-c-devolved-nations govuk-!-margin-bottom-5">
          <h2 class="govuk-heading-s govuk-!-margin-bottom-0">
            Applies to England
      </h2>
      </section>

        <nav aria-label="Contents" class="gem-c-contents-list govuk-!-margin-bottom-5" role="navigation">
          <h2 class="gem-c-contents-list__title">
            Contents
      </h2>
          <ol class="gem-c-contents-list__list">
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#when-to-claim">When to claim</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#what-information">What information you'll need to provide</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#claim-funding">Claim funding</a>
              </li>
              <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <span aria-hidden="true"></span>
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline govuk-link--no-visited-state" href="#get-help">Get help with your claim</a>
              </li>
          </ol>
      </nav>

      <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <button class="govuk-link govuk-body-s gem-c-print-link__button" data-module="print-link">Print this page</button>
    </div>

        <h2 class="govuk-heading-m" id="when-to-claim">When to claim</h2>


        <p class="govuk-body">You can claim funding after the vet has given you your summary for an animal health and welfare review or endemic disease follow-up.</p>  

        <p class="govuk-body">You can make claims until 19 September 2027.</p>

        <p class="govuk-body">Your review claim must be approved before you claim for the resulting follow-up. You must have followed the guidance on <a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">timing of reviews and follow-ups</a>.</p>

        <div class="govuk-inset-text">
          Endemic disease follow-up is not available for dairy cattle yet. This part of the service will be available soon.
        </div>

        <h2 class="govuk-heading-m" id="what-information">What information you'll need to provide</h2>

        <p class="govuk-body">When you claim you'll need to give details from the vet's summary. Find out what must be included in a:

          <ul class="govuk-list govuk-list--bullet">
            <li><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">pig review summary</a></li>
            <li><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">sheep review summary</a></li>
            <li><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">beef cattle follow-up summary</a></li>
            <li><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">pig follow-up summary</a></li>
            <li><a href="../../../_common/not-testing.html" class="govuk-link--no-visited-state">sheep follow-up summary</a></li>
         </ul>
 
          
        

        <h2 class="govuk-heading-m" id="claim-funding">Claim funding</h2>
        <p><a href="vv-start" class="govuk-link--no-visited-state">Claim funding to improve animal health and welfare.
        </a></p>


    <h2 class="govuk-heading-m" id="get-help">Get help with your claim</h2>

    <p class="govuk-body">Contact the Rural Payments Agency and give your agreement number if you:

      <ul class="govuk-list govuk-list--bullet">
        <li>cannot claim online</li>
        <li>have a question about your claim</li>
     </ul>

     <div class="contact">
      <p>Rural Payments Agency</p>
      
      <p>PO Box 352</p>
      
      <p>Worksop</p>
      
      <p>S80 9FG</p>
      
      <p>Email: <a href="mailto:ruralpayments@defra.gov.uk" class="govuk-link">ruralpayments@defra.gov.uk</a></p>
      
      <p>Telephone: 03000 200 301</p>
      
      <p>Monday to Friday, 8:30am to 5pm, except public holidays</p>
      
      <p><a href="../../../_common/not-testing.html" class="govuk-link govuk-link--no-visited-state">Find out about call charges</a> (opens in a new tab)</p>
      </div>


      <p><a href="../../../_common/not-testing.html" class="govuk-link govuk-link--no-visited-state">Funding to improve animal health and welfare: guidance for farmers and vets</a></p>
      <p class="govuk-body-s govuk-!-margin-bottom-5">
        Published 19 June 2024
      </p>
 
      <div class="published-dates-button-group">
      <div class="govuk-!-display-none-print govuk-!-margin-bottom-6 govuk-!-margin-right-3">
        <form class="gem-c-single-page-notification-button" action="../../../_common/not-testing.html" >
          <input type="hidden" name="base_path" value="">
          <button class="govuk-body-s gem-c-single-page-notification-button__submit" type="submit">  
            <svg class="gem-c-single-page-notification-button__icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="18" width="18" viewBox="0 0 459.334 459.334"><path fill="currentColor" d="M177.216 404.514c-.001.12-.009.239-.009.359 0 30.078 24.383 54.461 54.461 54.461s54.461-24.383 54.461-54.461c0-.12-.008-.239-.009-.359H175.216zM403.549 336.438l-49.015-72.002v-89.83c0-60.581-43.144-111.079-100.381-122.459V24.485C254.152 10.963 243.19 0 229.667 0s-24.485 10.963-24.485 24.485v27.663c-57.237 11.381-100.381 61.879-100.381 122.459v89.83l-49.015 72.002a24.76 24.76 0 0 0 20.468 38.693H383.08a24.761 24.761 0 0 0 20.469-38.694z"></path></svg><span class="gem-c-single-page-notication-button__text">Get emails about this page</span>
      </button>
      </form>
      </div>

      <div class="gem-c-print-link govuk-!-display-none-print govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <button class="govuk-link govuk-body-s gem-c-print-link__button">Print this page</button>
    </div>
  </div>

  <div class="app-c-contents-list-with-body__link-wrapper">
    <div class="app-c-contents-list-with-body__link-container">
      <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
<svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
  <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
</svg> Contents
</a>

    </div>
  </div>

  <div class="gem-c-contextual-footer">
    <div class="gem-c-related-navigation" >
    <nav role="navigation" class="gem-c-related-navigation__nav-section">

  <h2 class="gem-c-related-navigation__sub-heading gem-c-related-navigation__sub-heading--footer">Explore the topic</h2>

<ul class="gem-c-related-navigation__link-list">
      <li class="gem-c-related-navigation__link"><a class="govuk-link govuk-link gem-c-related-navigation__section-link govuk-link gem-c-related-navigation__section-link--footer" href="">Farming and food grants and payments</a></li>
</ul>
</nav>

</div>
</div>



      </div>

<div class="govuk-grid-column-one-third">
  <hr class="blue-border-thin govuk-!-margin-bottom-2">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-3">Related content</h2>
  <hr class="govuk-!-margin-bottom-3">
  <p class="govuk-body-s">Collection</p>
  <p class="govuk-body-s" style="font-weight: bold;"><a href="../../../_common/not-testing.html" class="govuk-link govuk-link--no-visited-state">Funding to improve animal health and welfare: guidance for farmers and vets</a></p>
</div> 
</div>

{% endblock %}
