{% extends "layouts/logged-in.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: 'javascript:history.go(-1)'
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
                What DEFRA will contact you about
              </h1>
            </legend>
            <p class="govuk-body">
              Choose what updates to your account you want Defra to contact you about.
            </p>
            <p class="govuk-body">
              This service automatically keeps a record of all account updates.
            </p>

            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whatItems" name="whatItems" type="radio" value="allUpdates" checked>
                <label class="govuk-label govuk-radios__label" for="whatItems">
                  All updates
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whatItems-2" name="whatItems" type="radio" value="actionUpdates">
                <label class="govuk-label govuk-radios__label" for="whatItems-2">
                  Only updates that need action
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whatItems-3" name="whatItems" type="radio" value="email" data-aria-controls="conditional-contact">
                <label class="govuk-label govuk-radios__label" for="whatItems-3">
                  I do not want to be contacted about updates
                </label>
              </div>
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                <div class="govuk-form-group">
                  <div class="govuk-warning-text govuk-!-margin-top-5">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                      <span class="govuk-visually-hidden">Warning</span>
                      If you choose not to be contacted you may miss important information
                    </strong>
                  </div>
                </div>
              </div>

            </div> <!-- radio group -->
          </fieldset>

    <!--      <div class="govuk-warning-text govuk-!-margin-top-5">
            <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
            <strong class="govuk-warning-text__text">
              <span class="govuk-visually-hidden">Warning</span>
              If you choose not to be contacted you may miss important information
            </strong>
          </div> -->

          <a href="contact-preferences-items" role="button" draggable="false" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button">
            Save
          </a>
        </div> <!-- form group -->

      </div>
    </div>
  </div>
{% endblock %}
