{% extends "layouts/AHWP-gov-brand.html" %}

{% block header %}
{{ govukHeader({
classes: "govuk-header--full-width-border",
rebrand: true
}) }}

{{ govukServiceNavigation({
serviceName: "Apply for funding to improve animal health and welfare",
serviceUrl: "/"
}) }}
{% endblock %}

{% block pageTitle %}
Sign in {{ serviceName }} Prototype
{% endblock %}
{% block beforeContent %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Update your details
        </h1>
        <div>
            <p class="govuk-body-m">Your application to Improve Animal Health and Welfare (IAHW) may be delayed if your details are not correct. You should update your details now. The fastest way to do this is to use the new Land and farm service.
            </p>
            <p class="govuk-body-m"><a class="govuk-link govuk-link--no-visited-state" href="business-home">Update your
                    details on the Land and farm service</a>.
            </p>


        </div>

        <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What the Land and farm service is
                </span>
            </summary>
            <div class="govuk-details__text">

                <p class="govuk-body-m">We are developing the Land and farm service to:
                     <ul class="govuk-list govuk-list--bullet">
                    <li>
                        replace the Rural Payments service
                    </li>
                    <li>provide farmers and land owners witha single account where they can access a range of services to manage their land </li>
                    </ul>

                    <p class="govuk-body-m">You can use the Land and farm service if:
                     <ul class="govuk-list govuk-list--bullet">
                    <li>you want to apply for or claim funding to improve animal health and welfare (IAHW)</li>
                    <li>the business and personal details we hold about you are incorrect</li>
                </ul> 
                    </p>

                    In future more people will be able to use the service to manage a range of tasks related to their land or farm. Some of the tasks you can already do on the Rural Payments service. Other tasks will be made available to people for the first time.
                </p>
<p>Eventually you will be able to:</p>


                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        apply for or manage schemes such as Countryside Stewardship and Sustainable Farming
                        Incentive
                    </li>
                    <li>manage who has permission to act on behalf of your business </li>
                    <li>view payment details</li>
                    <li>find new grants and funding opportunities</li>
                    <li>manage your land and maps</li>
                </ul> 
            </details>
         
            <div>
            <h2 class="govuk-heading-m">Contact the Rural Payments Agency for help</h2>
            <p class="govuk-body-m">Phone: 03000 200 301</p>
            <p class="govuk-body-m">Monday to Friday, 8.30am to 5pm (except bank holidays)</p>
            <p class="govuk-body-m"><a class="govuk-link govuk-link--no-visited-state" href="#">Find out about call
                    charges (opens in new tab)</a>.</p>
            <p class="govuk-body-m">Email: <a class="govuk-link govuk-link--no-visited-state"
                    href="#">ruralpayments@defra.gov.uk</a></p>
            <p class="govuk-body-m">We aim to respond to emails within 10 working days.</p>

       </div>
    </div>
</div>
</div>



</div>

</div>
</form>
</div>

{% endblock %}