w{% extends "layouts/main-rebrand.html" %}

{% if data.view == "int" %}
  {% set _showFooterMVPLinks = false %}
{% else %}
  {% set _showFooterMVPLinks = true %}
{% endif %}
{% set _showReleaseLinks = false %}

{% set _showIntExtLinks = true %}

{% set pageName = "Check your name is correct before submitting" %}
{% set serviceName = "Land and farm service" %}

{% if data.view == "ext" and data.release != "concept" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Full name (check) - personal details",
    "id": "pd03",
    "url": "personal-details-name-check?r=t&view=ext&release=b1&newChange=true",
    "release": "Buffalo 1.0 MVP",
    "variants": [
      
    ],

    "pagetitle": pageName,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
    
    ]
    
  }
  %}

  {% elif data.view == "int" %}
  {% set _showDesignSpec = true %}
  {% set _designSpecData = {
    "status": 'In development',
    "name": "Full name (check) - personal details (Buffalo 1.1 MVP)",
    "id": "int-pd03",
    "url": "personal-details-name-check?r=t&view=int&release=b2&newChange=true",
    "release": "Buffalo 1.1 MVP",
    "pagetitle": pageTitle,
    "pagedesc": "",
    "pageurl": "",
    "errormessages": [
    ]
    
  }
%}

{% else %}

{% endif %}

{% block beforeContent %}

{% if data.view != "int" %}

  {% include "_common/phase-banner-2.html" %}
  {% include "_common/sub-header-2.html" %}

  {% set _hideAccountLink = true %}
  {% include "_common/login-nav-3.html" %}
  {% else %}
  {% include "_common/login-nav-internal.html" %}
{% endif %}

  <a href="javascript:history.back()" class="govuk-back-link govuk-!-margin-bottom-0">Back</a>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="POST" novalidate>

      <h1 class="govuk-heading-l">
        Check your name is correct before submitting     
      </h1>

      {% set _fullName = "" %}

      {% if data.release == "b1" %}

        <!-- Adds space after title if a title was entered -->
        {% set _titleValue = myData.newNameTitlePers %}
        {% if _titleValue %}
          {% set _titleValue = _titleValue + " " %}
        {% endif %}

        <!-- Adds space after middle name if a title was entered -->
        {% set _middleValue = myData.newNameMiddlePers %}
        {% if _middleValue %}
          {% set _middleValue = _middleValue + " " %}
        {% endif %}

        <!-- Full name  -->
        {% set _fullName = (myData.newNameFirstPers or myData.nameFirstPers) + " " + _middleValue + (myData.newNameLastPers or myData.nameLastPers) %}

      {% else %}

        {% set _fullName = myData.newNamePers or myData.namePers %}

      {% endif %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: _fullName

            },
            actions: {
              items: [
                {
                  href: "personal-details-name-change",
                  text: "Change",
                  visuallyHiddenText: "your name"
                }
              ]
            }
          }
        ]
      }) }}
      
      {{govukButton({
        text: "Submit"
      })}}

      <!--- <p class="govuk-body"><a href="details-personal-details" class="govuk-link govuk-link--no-visited-state">Cancel</a></p> --->

    </form>

  </div>
</div>


{% endblock %}
