{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<a href="/to-be/index" class="govuk-back-link">Back</a>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Version 1
      <span class="govuk-caption-xl">Round 2: 6th - 11th Mar</span>
    </h1>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m">
      Context
    </h2>

    <p>We focused initially on messages, tasks and contact preferences as priority areas to explore.</p>
      
    <p>We used the problem statement 'Unable to manage communications' that we wrote based on our previous research. Using this problem statement, we created the following How might we statements to guide our design thinking:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>How might we make our communication with users more consistent/streamlined? </li>
      <li>How might we ensure the right people get the right messages? </li>
      <li>How might we stop users feeling overwhelmed by contact from Defra?</li>
    </ul>
    

    <a href="messages/email-action" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start prototype for user research
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>


    <a href="messages/email-info" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start email and text flow journey
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg>
    </a>

    <!-- line break to split up the page -->
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">
      Page links
    </h2>

    <h3 class="govuk-heading-s">
      Service start
    </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="start/start">Service start page</a></li>
        <li><a class="govuk-link--no-visited-state" href="start/sign-in">Sign in</a></li>
        <li><a class="govuk-link--no-visited-state" href="start/landing">Landing page</a></li>
      </ul>

    <h3 class="govuk-heading-s">
      Messages
    </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="messages/message-history">Message history</a></li>
      </ul>

    <h3 class="govuk-heading-s">
      Contact preferences:
    </h3>
      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link--no-visited-state" href="preferences/contact-preferences-initial?saveMethod=&saveItems=&saveFrequency=&whatItems=allUpdates&frequency=weekly&contact=Email">Manage your contact preferences</a></li>
        <li><a class="govuk-link--no-visited-state" href="preferences/contact-method">How Defra will contact you</a></li>
        <li><a class="govuk-link--no-visited-state" href="preferences/contact-items">What Defra will contact you about</a></li>
        <li><a class="govuk-link--no-visited-state" href="preferences/contact-frequency">How often Defra contacts you</a></li>
       </ul>

    <h3 class="govuk-heading-s">
      Email and text templates
    </h3>
      <ul class="govuk-list govuk-list--bullet">
       <li><a class="govuk-link--no-visited-state" href="messages/email-action">Email - for action<br> Annual Health and Welfare Review: claim your funding by 30 March 2024</a></li>
       <li><a class="govuk-link--no-visited-state" href="messages/email-info">Email - for information<br> Claim submitted for Annual Health and Welfare Review of livestock</a></li>
       <li><a class="govuk-link--no-visited-state" href="messages/text-action">Text message - for action<br>You can now claim funding for your Annual Health and Welfare Review of livestock</a></li>
       <li><a class="govuk-link--no-visited-state" href="messages/text-info">Text message - for information<br>Claim submitted for Annual Health and Welfare Review</a></li>
      </ul>
  </div> <!-- two-thirds column -->


  <!-- right third of page to link to relevant mural boards and UR findings -->
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Information
        <span class="govuk-caption-s">(all links open in a new tab)</span>
      </h2>

      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1708095369498/312f9f5bbd6500ac2e567b6390d0453ecb6bf290?wid=47-1709129996621" target="_blank">
              Hypothesis
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1708519835001/9033ba38cb020a307619722b4c1d01a5aa4b6383?sender=u99a2fb0acf31d118adab1745" target="_blank">
              Ideation
            </a>
          </li>
          <li>
            <a href="https://app.mural.co/t/coredefra2548/m/defraallcompany8330/1700644751131/8f9698d767ce508393323a6dacb8abb8d923b960?wid=0-1728579103660" target="_blank">
              Planning scenario and flow for research
            </a>
          </li>
        <!--  <li>
            <a href="https://app.mural.co/t/coredefra2548/m/coredefra2548/1706011268194/e39f7a1f0aee66312316f9d63599ce9764010fe3?sender=u99a2fb0acf31d118adab1745" target="_blank">
              Research note taking
            </a>
          </li> -->
          <li>
            <a href="https://defra.sharepoint.com/:p:/r/teams/Team1974/_layouts/15/Doc.aspx?sourcedoc=%7BC178B391-A219-46A6-928B-E17BD861DEA8%7D&file=Single%20Front%20Door%20-%20Alpha%20Round%201%20User%20Research%20Report%20-%20March%202024.pptx&action=edit&mobileredirect=true" target="_blank">
              User research playback
            </a>
          </li>
        </ul>
      </nav>
    </aside>

      <!-- <h2 class="govuk-heading-m">
        Ideas and hypotheses to test
      </h2>
  
  
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">How might we make our communication with users more consistent/streamlined?
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Idea</th>
        <th scope="col" class="govuk-table__header">Hypotheses</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">We could have a record of events/comms in the service, but users receive the messages by email</th>
        <td class="govuk-table__cell">If we send users message content by email instead of forcing them to log in to the service to read their messages<br>
          Then users will be less frustrated as there are less steps to read the message<br>
          We'll know this works people tell us they prefer to receive message content within an email without having to log in to the service<br><br>
  
          If we display all email content sent to users in a history/repository within the service,<br>
          Then users will feel reassured that they can find past messages from Defra, in case they need to refer back to anything<br>
          We'll know this works users show they can confidently refer to their message history
  
          </td>
      </tr>
    </tbody>
  </table>
  
  
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--s">How might we stop users feeling overwhelmed by contact from Defra
    </caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Idea</th>
        <th scope="col" class="govuk-table__header">Hypotheses</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">We could allow users to filter messages by for info and for action</th>
        <td class="govuk-table__cell">If we allow users to sort messages by 'for action', and 'for information'<br>
          Then they can organise their messages by priority<br>
          We'll know this works they're able to more quickly find the things they need to do
          </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">We could let users choose how they receive notifications from Defra</th>
        <td class="govuk-table__cell">If we allow users to choose which channel they receive notifications on<br>
          Then they can use the channel that they use regularly and feels natural<br>
          We'll know this works when they are not frustrated by having to search for notifications or miss them
          </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">We could let users choose what updates from Defra they want to be notified about</th>
        <td class="govuk-table__cell">If we allow users to choose which updates from Defra they want to be notified about
          <br>
          Then they will not be overwhelmed with irrelevant updates that they're not interested in and cause stress or they could choose to not receive any<br>
          We'll know this works when users feel they are only receiving updates they want to receive.
          </td>
      </tr>
      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header">We could let users choose how often Defra notifies them about things that don't require them to take action</th>
        <td class="govuk-table__cell">If we allow users to choose how often Defra contacts them about updates that don't require them to do anything<br>
          Then they can plan and manage how they deal with these communications<br>
          We'll know this works when users don't feel overwhelmed by irrelevant information and can manage this information
          </td>
      </tr>
    </tbody>
  </table> -->
  


  </div>
</div>

{% endblock %}
