{% extends "layouts/service-start-v3.html" %}

{% set pageName="Home" %}

{% block content %}




<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="interruption-card interruption-paper">
      <header>
          <h1 id="page-title" class="govuk-heading-xl">Use the Rural Payments service to manage Countryside Stewardship</h1>
      </header>

      <button type="submit" class="govuk-button govuk-button--inverse button-dark-text" data-module="govuk-button">
        Continue
      </button>

  </div>



</div>
</div>

{% endblock %}
