{% extends "layouts/logged-in-nav.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}

{% include "to-be/v2/components/sub-header/include.html" %}

{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Manage your business
    </h1>


    <h2 class="govuk-heading-s"><a href="" class="govuk-link--no-visited-state">Get funding to improve animal health and welfare</a></h2>

    <p>Apply or check the status of claims</p>

    <hr>

    <h2 class="govuk-heading-s govuk-!-margin-top-4"><a href="" class="govuk-link--no-visited-state"> Sustainable Farming Incentive (SFI)</a></h2>

    <p>Apply, return to an in progress application or check the status of your agreement</p>

    <hr>

    <h2 class="govuk-heading-s govuk-!-margin-top-4"><a href="" class="govuk-link--no-visited-state">Countryside Stewardship (CS)</a></h2>

    <p>Choose your options. Apply and submit your claim</p>

    <hr>


      </div>

      <div class="govuk-grid-column-one-third">

      <button type="submit" class="govuk-button" style="float: right;" data-module="govuk-button">
       Choose another business
      </button>

    </div>
    </div>

          



{% endblock %}
