{% extends "layouts/logged-in-nav-mvp.html" %}

{% set pageName="Home" %}

{% set yourMessages = "Active" %}



{%- block beforeContent -%}


<div class="govuk-width-container">

  {% include "to-be/v4/components/sub-header/include.html" %}


  <!-- ACCOUNT MENU -->
  <nav id="secondary-nav" class="hmrc-account-menu hmrc-account-menu_sfd" aria-label="Account" data-module="hmrc-account-menu">

    <a href="/to-be/mvp-v1/landing/landing" class="govuk-back-link govuk-!-margin-bottom-0">Back to your business</a>


    <a href="#" class="hmrc-account-menu__link hmrc-account-menu__link--menu js-hidden js-visible" tabindex="-1" aria-hidden="true" aria-expanded="false">
      Account menu </a>

      <ul class="hmrc-account-menu__main js-hidden">
      <li class="hmrc-account-menu__link--back hidden" aria-hidden="true">
        <a href="#" tabindex="-1" class="hmrc-account-menu__link">
          Back </a>
      </li>

      <li>
        <a href="/to-be/mvp-v1/messages/message-history" class="hmrc-account-menu__link hmrc-account-menu__link--active">
          Messages
        </a>
      </li>

      <li>
        <a href="/to-be/mvp-v1/start/sign-in" class="hmrc-account-menu__link">
          Sign out </a>
      </li>
    </ul>
  </nav>
  <!-- END ACCOUNT MENU -->


</div>



{% endblock %} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      Messages
    </h1>

            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Message</th>
                  <th scope="col" class="govuk-table__header">Type</th>

                  <th scope="col" class="govuk-table__header">Date received</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row information">
                  <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="msg-1">Claim submitted to improve animal health and welfare</a></td>
                  <td class="govuk-table__cell">Email</td>
                  <td class="govuk-table__cell">11 April 2024</td>
                </tr>
                <tr class="govuk-table__row information">
                  <td class="govuk-table__cell"><a class="govuk-link--no-visited-state" href="../../../_common/not-testing.html">Get funding to improve animal health and welfare: next steps</a></td>
                  <td class="govuk-table__cell">Email</td>
                  <td class="govuk-table__cell">4 April 2024</td>
                </tr>
              </tbody>
            </table>

  </div>
</div>





{% endblock %}
