{% extends "layouts/logged-in.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/to-be/v1/start/landing">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/to-be/v1/messages/message-history">Your message history</a>
    </li>
  </ol>
</div>
{% endblock beforeContent%} 

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-l">Email from:</span>
    <h1 class="govuk-heading-l">Annual Health and Welfare Review</h1>

    <p class="govuk-body-s govuk-!-margin-bottom-1">Sent 22 February 2024 at 8.49am</p>
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">
          Annual Health and Welfare Review: claim your funding by 30 March 2024
        </h2>
      </div>
      <div class="govuk-summary-card__content">
        <p class="govuk-body">Agreement number: AHWR-1234-5678</p>
        <p class="govuk-body">Single business identifier (SBI): 123456789</p>

        <h2 class="govuk-heading-m">What you need to do</h2>
        <p class="govuk-body">You accepted your Annual Health and Welfare Review agreement offer on 30 September 2023.</p>

        <p class="govuk-body">To be eligible for funding, you must complete your claim by 30 March 2024.</p>

        <h2 class="govuk-heading-m">Get help with your claim</h2>
          <p class="govuk-body">If you need help with your claim, contact the RPA by email or phone.</p>
            
          <p class="govuk-body">Have your agreement number or SBI with you when you call or include it in your email. This information is included at the start of this email.</p>
          <ul class="govuk-list">
            <li>Email: <a class="govuk-link" href="mailto:ruralpayments@defra.gov.uk">ruralpayments@defra.gov.uk</a></li>
            <br>
            <li>Telephone: 03000 200 301</li>
            <li>Monday to Friday, 8:30am to 5pm, except bank holidays</li>
          </ul>
          <p class="govuk-body">Find out about call charges at <a href="https://www.gov.uk/call-charges"> https://www.gov.uk/call-charges</a></p>                      
          </p>
          
      </div>
    </div>
   
    
  </div>
</div>





{% endblock %}
