{% extends "layouts/main-rebrand.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Demo configuration – View land – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    rebrand: true
  }) }}
{% endblock %}

{% set excludeBackLink = true %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Demo configuration</span>
        View land
      </h1>

      <p class="govuk-body">Enter a business name and SBI to use in the prototype. Leave blank to use the defaults.</p>

      <form method="post">

        {{ govukInput({
          label: {
            text: "Business name",
            classes: "govuk-label--m govuk-!-static-margin-bottom-0"
          },
          hint: {
            text: "Default: Agile Farm Ltd"
          },
          id: "business-name",
          name: "business-name",
          classes: "govuk-input--width-20"
        }) }}

        {{ govukInput({
          label: {
            text: "Single business identifier (SBI)",
            classes: "govuk-label--m govuk-!-static-margin-bottom-0"
          },
          hint: {
            text: "Default: 111089693"
          },
          id: "sbi",
          name: "sbi",
          classes: "govuk-input--width-10"
        }) }}

        {{ govukButton({
          text: "Continue",
          isStartButton: true
        }) }}

      </form>

<!-- 111089693 is the SBI confirmed to return data from the public RPA WFS this prototype calls. -->

<!-- 
80 parcels: 106200212
50 parcels: 106172811
33 parcels: 106332870
29 parcels: 106200859 
-->

    </div>
  </div>

{% endblock %}
