{% extends "layouts/rps-logged-in.html" %}

{% set pageName="Home" %}


{% set htmlClasses = 'app-width-wide' %}
{%- block beforeContent -%}
<a href="#" class="govuk-back-link" onclick="javascript:history.back()">Back to Business overview</a>
{% endblock beforeContent%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">


    <h1 class="govuk-heading-xl">
      Countryside Stewardship Applications 
      <span class="govuk-caption-l">Agile Farms Ltd</span>
    </h1>

    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m"></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Year</th>
          <th scope="col" class="govuk-table__header">App. Number</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Active</th>
          <th scope="col" class="govuk-table__header">Submit Date</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2024</td>
          <td class="govuk-table__cell">1639165</td>
          <td class="govuk-table__cell">Countryside Stewardship (MT)</td>
          <td class="govuk-table__cell">Yes</td>
          <td class="govuk-table__cell">11/01/2024</td>
          <td class="govuk-table__cell">Agreement Live</td>
          <td class="govuk-table__cell">
            <form action="#" method="get">
            <button type="submit" class="govuk-button govuk-button-custom govuk-!-margin-bottom-1" data-module="govuk-button">
              Prints Summary
            </button>
            </form>
            <form action="#" method="get">
              <button type="submit" class="govuk-button govuk-button-custom govuk-!-margin-bottom-0" data-module="govuk-button">
                Review Offer   
              </button>
              </form>
          </td>

        </tr>

      </tbody>
    </table>

  </div>
</div>






{% endblock %}
