{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <span class="govuk-caption-xl">Farming and countryside programme</span>
    <h1 class="govuk-heading-xl">
      Single front door prototypes
    </h1>

    

    <!-- <h2 class="govuk-heading-l">Exploring the to-be</h2> -->

    <!-- <p>Find our exploration for the to-be service.</p> -->

  </div>
  <div class="govuk-grid-column-full">

    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--l">Prototype versions</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Description</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="v6/index">Version&nbsp;6</a></h3>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Private Beta. <br>Round 1: <br>tested 16 to 20 December
          </td>
          <td class="govuk-table__cell">
            <p class="govuk-!-margin-bottom-1">Payments related changes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>home page redesign to incorporate a route into payments</li>
              <li>payments section
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                  <li>upcoming payments</li>
                  <li>past payments</li>
                  <li>individual payment details</li>
                </ul>
              </li>
              <li>notifications: 
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-margin-top-0">
                  <li>email (upcoming payment)</li>
                  <li>text message (action required to prevent a delay to a payment)</li>
                  <li>letter (action required to prevent a delay to a payment)</li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="to-be/v5/index">Version&nbsp;5</a></h3>
          </th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Round 8: 30th Sept - 4th Oct
          </td>
          <td class="govuk-table__cell">
            Running SFD and RPS simultaneously, and exploring your account and updating personal and business details
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="to-be/v4/index">Version&nbsp;4</a></h3></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Round 7: 31st July - 2nd Aug
          </td>
          <td class="govuk-table__cell">
            Alpaca: How the initial release might work
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="to-be/v3/index">Version&nbsp;3</a></h3></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Round 5: 30th Apr - 3rd May
          </td>
          <td class="govuk-table__cell">
            Iterating version 2 after usability testing
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="to-be/v2/index">Version&nbsp;2</a></h3></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Round 4: 17th - 19th Apr
          </td>
          <td class="govuk-table__cell">
            Integrating SFD, the animal health and welfare review and RPS
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="to-be/v1/index">Version&nbsp;1</a></h3></th>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green govuk-!-margin-bottom-1">
              Tested
            </strong><br>
            Round 2: 6th - 11th Mar
          </td>
          <td class="govuk-table__cell">
            Focus on messages, tasks and contact preferences
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header"><h3 class="govuk-heading-m"><a class="govuk-link--no-visited-state" href="to-be/exploration/index">Version&nbsp;0<br>(exploration)</a></h3></th>
          <td class="govuk-table__cell">
            &nbsp;
          </td>
          <td class="govuk-table__cell">
            Exploration of various areas including: Landing page, Your account concept and update details, Single front door as a webpage concept, Messages and Handling double log-in issue.
          </td>
        </tr>
      </tbody>
    </table>


  </div>

  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-margin-top-6">Existing</h2>
    <p class="govuk-body">
      View a replica of <a class="govuk-link--no-visited-state" href="v1/index">the existing Rural Payments Service</a>.
    </p>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

    <h2 class="govuk-heading-l">Other (archive?)</h2>
    <h3 class="govuk-heading-m">Components</h3>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/components/sub-header">Subheader</a></p>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/components/interruption-card">Interruption card</a></p>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/components/navigation-bar">Navigation bar</a></p>
    <h3 class="govuk-heading-m">Pages</h3>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/pages/mainstream-browse">Mainstream browse</a></p>
    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="to-be/pages/detailed-guide">Detailed guide</a></p>
  </div>

</div>

{% endblock %}
