{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      FCP farming front door prototypes
    </h1>

    <p class="govuk-body">This prototype is for the FCP farming front door team to explore designs.</p>

    <h2 class="govuk-heading-l">Version 1</h2>

    <p class="govuk-body">We will test the design of the existing Rural Payments portal initially.</p>

    <a href="sign-in" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
      Start v1
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
      </svg></a>

  </div>
</div>

{% endblock %}
