{% extends "layouts/AHWP-gov-brand.html" %}

{% block header %}
{{ govukHeader({
classes: "govuk-header--full-width-border",
rebrand: true
}) }}

{{ govukServiceNavigation({
serviceName: "Apply for funding to improve animal health and welfare",
serviceUrl: "/"
}) }}
{% endblock %}

{% block pageTitle %}
Sign in {{ serviceName }} Prototype
{% endblock %}
{% block beforeContent %}
{% include "_common/phase-banner-2.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
text: "Back",
href: "javascript:window.history.back()"
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">
            Check your details
        </h1>
        <h2 class="govuk-heading-m"> Business details</h2>


        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Business name
                </dt>
                <dd class="govuk-summary-list__value">
                    Agile Farm Ltd
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Single business identifier (SBI)
                </dt>
                <dd class="govuk-summary-list__value">
                    123456789
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Business address
                </dt>
                <dd class="govuk-summary-list__value">
                    10 Skirbeck way<br>
                    Maidstone<br>
                    SK22 1DL<br>
                    United Kingdom
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Business email address
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['businessEmail'] %} 
                    {{ data['businessEmail'] }} 
                    {% else %}
                    agilefarmsrus@gmail.com
                    {% endif %}
                </dd>
            </div>
        </dl>

        <h2 class="govuk-heading-m"> Personal details</h2>
        {{ govukSummaryList({
        rows: [
        {

        key: {
        text: "Full name"
        },
        value: {
        text: "Alfred Waldron"
        }
        }
        ,
        {

        key: {
        text: "Date of birth"
        },
        value: {
        text: "2 November 1970"
        }
        }
        ,
        {
        key: {
        text: "Customer reference number (CRN)"
        },
        value: {

        text: "1101996862"

        }
        }
        ,
        {

        key: {
        text: "Personal email address"
        },
        value: {
        text: "alfredwaldron@email.com"
        }
        }
        ]
        }) }}


        <!-- radios -->

        <div class="govuk-width-container">
            <form action="/iahw-correct-details-answer" method="post">
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                            <h3 class="govuk-fieldset__heading">
                                Are these details correct?
                            </h3>
                        </legend>
                        <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="correctDetails" name="correctDetails"
                                    type="radio" value="yes">
                                <label class="govuk-label govuk-radios__label" for="correctDetails">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="correctDetails-2" name="correctDetails"
                                    type="radio" value="no">
                                <label class="govuk-label govuk-radios__label" for="correctDetails-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                {{ govukButton({
                text: "Continue"
                }) }}



        </div>

    </div>

    {% endblock %}