{% extends "layouts/rps-logged-in.html" %}

{% set pageName="Home" %}

{% set htmlClasses = 'app-width-wide' %}

{%- block beforeContent -%}
<a href="rps-business-details" class="govuk-back-link">Back to Business details</a>
{% endblock beforeContent%}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
      Amend business details
      <span class="govuk-caption-l">Agile Farm Ltd</span>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="rps-business-details">
      <h2 class="govuk-heading-m">Business name and address</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="business-name">
          Business Name
        </label>
        <input class="govuk-input govuk-input--width-20" id="business-name" name="businessName" type="text"
          value="Agile Farm Ltd">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="business-postcode">
          Postcode
        </label>
        <input class="govuk-input govuk-input--width-20" id="business-postcode" name="businessName" type="text">
      </div>
      <p class="govuk-body">
        <a href="">Enter address manually</a>
      </p>

      <div class="govuk-inset-text">
        10 Skirbeck Way<br>
        Maidstone<br>
        SK22 1DL<br>
      </div>

      <h2 class="govuk-heading-m">
        Business contact details
      </h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="business-email">
          Email
        </label>
        <input class="govuk-input govuk-input--width-30" id="business-email" name="businessEmail" type="text" {% if
          data['businessEmail'] %} value="{{ data['businessEmail'] }}" {% else %}value="agilefarmsrus@gmail.com" {% endif %}>
      </div>

      <p class="govuk-body">
        Enter either a landline or mobile number
      </p>

      <div class="govuk-form-group">
        <label class="govuk-label" for="business-landline">
          Landline
        </label>
        <input class="govuk-input govuk-input--width-20" id="business-landline" name="buisinessLandline" type="text"
          value="01632 960000 ">
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label" for="business-mobile">
          Mobile
        </label>
        <input class="govuk-input govuk-input--width-20" id="business-mobile" name="businessMobile" type="text"
          value="07700 900 967">
      </div>

      <h2 class="govuk-heading-m">Reference numbers</h2>

      <div class="govuk-form-group">
        <label class="govuk-label" for="business-name">
          VAT registration number (if applicable)
        </label>
        <input class="govuk-input govuk-input--width-20" id="business-VAT" name="businessVAT" type="text">
      </div>

      <button type="submit" class="govuk-button" data-module="govuk-button">
        Save changes
      </button>
    </form>


  </div>
</div>

{% endblock %}