{% extends "layouts/AHWP-gov-brand.html" %}

{% block pageTitle %}
  Make or update a rural payments claim – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Home",
        href: "#"
      },
      {
        text: "Environment and countryside",
        href: "https://www.gov.uk/browse/environment-countryside"
      },
      {
        text: "Farming and land management",
        href: "https://www.gov.uk/browse/environment-countryside/farming-land-management"
      }
    ]
  }) }}

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Make or update a rural payments claim
      </h1>

      <p class="govuk-body">
        Sign in to make a rural payments claim or update your details. If you do not already have an account, you’ll need to register for one by calling the Rural Payments helpline.
      </p>

      <p class="govuk-body">
        You can use the service to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>apply for <a href="#">Countryside Stewardship grants</a></li>
        <li>apply for the <a href="#">Sustainable Farming Incentive (SFI)</a></li>
        <li>get a Single Business Identifier (SBI) number if you want to register as a cattle keeper, including keeping cattle as a hobby</li>
        <li>
          view your Basic Payment Scheme (BPS) entitlements and previous claims
        </li>
        <li>
          update your personal and business details
        </li>
        <li>
          register new land
        </li>
        <li>
          check and update digital maps of your registered land
        </li>
        <li>
          give someone permission to act on your behalf
        </li>
      </ul>

      <div class="govuk-inset-text">
        There’s a different way to apply for rural payments and grants if your farm is <a href="https://www.ruralpayments.org/">in Scotland</a>, <a href="https://www.gov.wales/rural-payments-wales-rpw-online">in Wales</a> or <a href="https://www2.dardni.gov.uk/gatewayweb/internet/login_1.aspx">in Northern Ireland</a>.
      </div>

      <h2 class="govuk-heading-m">
        Sign in to the service
      </h2>

      <div class="govuk-inset-text">
        The Rural Payments service may be unavailable because of planned maintenance and updates. You can <a href="https://www.gov.uk/guidance/rural-payments-service-check-for-maintenance-and-downtime">check for maintenance and downtime</a>.
      </div>

      {{ govukButton({
        text: "Start now",
        href: "start-rps-sign-in",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">
        Before you start
      </h2>

      <p class="govuk-body">
        You’ll need your Customer Reference Number (CRN). This is a 10 digit number and was emailed to you when you created your account.
      </p>

      <h2 class="govuk-heading-m">
        If you’re using the service for the first time
      </h2>

      <p class="govuk-body">
        Call the Rural Payments helpline to register for an account.
      </p>

      <p class="govuk-body">
        You’ll be given a CRN and a 6 digit security code which you can use to set up a password and sign in.
      </p>
      
      <p class="govuk-body">
        You can then <a href="#">finish creating your account online</a>.
      </p>      

      <p class="govuk-body">
        You’ll also need to register your business. You can do this either:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          on the phone at the same time as your get your CRN and 6 digit security code
        </li>
        <li>
          after signing in to the Rural Payments service
        </li>
      </ul>

      <p class="govuk-body">
        You’ll need to give the following information:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          name of the business
        </li>
        <li>
          address of the business 
        </li>
        <li>
          email address of the business
        </li>
        <li>
          type of business (for example, sole trader or partnership)
        </li>                
      </ul>
      
      <p class="govuk-body">
        Once you’ve registered your business, you’ll be sent the reference number for your business by post. For example, your Single Business Identifier (SBI) or Trader Registration Number (TRN).
      </p>

      <p class="govuk-body">
        If you need help registering your business, call the Rural Payments helpline.
      </p>

      <h2 class="govuk-heading-m">
        Register your bank account details
      </h2>
      
      <p class="govuk-body">
        If you want to claim rural payments for your business, contact the Rural Payments helpline to register your bank account details. Do not send your bank account details by email or post.
      </p>

      <p class="govuk-body">
        You’ll need to wait 24 hours after you register your business before you can register your bank account details.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

{% endblock %}
