{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% set govukRebrand = true %}

<!-- FOOTER -->
{% block footer %}

  {% set _customFooterContent %}

    {% if _showFooterLinks %}
    <ul class="govuk-footer__inline-list govuk-!-margin-bottom-8">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-contact">Contact us</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-privacy">Privacy</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-cookies">Cookies</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-accessibility">Accessibility statement</a>
      </li>
      <!-- <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-terms">Terms and conditions</a>
      </li> -->
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" rel="noreferrer noopener" target="_blank">Personal information charter</a>
      </li>
    </ul>
    {% endif %}

    {% if _showFooterMVPLinks %}
    <ul class="govuk-footer__inline-list govuk-!-margin-bottom-8">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-contact">Contact us</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-cookies">Cookies</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-accessibility">Accessibility statement</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://www.gov.uk/government/organisations/rural-payments-agency/about/personal-information-charter" rel="noreferrer noopener" target="_blank">Personal information charter</a>
      </li>
    </ul>
    {% endif %}

    {% if _showDefraIDFooterLinks %}
    <ul class="govuk-footer__inline-list govuk-!-margin-bottom-8">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://your-account.defra.gov.uk/content/help" rel="noreferrer noopener" target="_blank">Help</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://your-account.defra.gov.uk/content/privacy-notice" rel="noreferrer noopener" target="_blank">Privacy notice</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://your-account.defra.gov.uk/content/terms-and-conditions" rel="noreferrer noopener" target="_blank">Terms and conditions</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://your-account.defra.gov.uk/content/cookies" rel="noreferrer noopener" target="_blank">Cookies</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="https://your-account.defra.gov.uk/content/accessibility" rel="noreferrer noopener" target="_blank">Accessibility</a>
      </li>
    </ul>
    {% endif %}

    {% if _viewToggleLinks %}
      {{_viewToggleLinks|safe}}
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% if _showIntExtLinks %}
    <ul class="govuk-footer__inline-list govuk-!-margin-top-4">
      <li class="govuk-footer__inline-list-item">Internal/external:</li>
      <li class="govuk-footer__inline-list-item">
          {% if data.view == "ext" %}
          External
          {% else %}
          <a class="govuk-footer__link" href="?view=ext">External</a>
          {% endif %}
      </li>
      <li class="govuk-footer__inline-list-item">
        {% if data.view == "int" %}
        Internal
          {% else %}
          <a class="govuk-footer__link" href="?view=int">Internal</a>
          {% endif %}
      </li>
    </ul>
    {% endif %}

    {% if _showReleaseLinks %}
    <ul class="govuk-footer__inline-list govuk-!-margin-top-4">
      <li class="govuk-footer__inline-list-item">Release:</li>
      <li class="govuk-footer__inline-list-item">
          {% if data.release == "concept" %}
          Concept
          {% else %}
          <a class="govuk-footer__link" href="?release=concept">Concept</a>
          {% endif %}
      </li>
      <li class="govuk-footer__inline-list-item">
        {% if data.release == "b1" %}
        Buffalo 1.0 MVP
        {% else %}
        <a class="govuk-footer__link" href="?release=b1">Buffalo 1.0 MVP</a>
        {% endif %}
      </li>
    </ul>
    {% endif %}

    <ul class="govuk-footer__inline-list govuk-!-margin-top-4">
      {% if _designSpecData.id %}
      <li class="govuk-footer__inline-list-item">
        {{_designSpecData.id}}
      </li>
      {% endif %}
      {% if _showDesignSpec %}
      <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="javascript:toggleDrawer()" id="speclink">Design spec</a>
      </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="/manage-prototype">Manage your prototype</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data?r=t">Clear data</a>
      </li>
    </ul>
    
    <!-- items: [
      {
        href: "/manage-prototype",
        text: "Manage your prototype"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ], -->
      
  {% endset %}

  {{ govukFooter({
    meta: {
      items: [
      ],
      html: [
        _customFooterContent
      ],
      visuallyHiddenTitle: "Footer links"
    },
    rebrand : true
  }) }}
  
{% endblock %}
<!-- FOOTER END -->

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/jquery-3.7.1.js"></script>
  {% block pageScriptsAfter %}{% endblock %}
{% endblock %}


