{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
  
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

  {% if _showDesignSpec %}
    {% include "_common/design-spec.html" %}
  {% endif %}

  {% if _showEmailMeta %}
  <div class="govuk-width-container" style="padding-top:20px">
    <div class="govuk-grid-row" >
      <div class="govuk-grid-column-full">
        <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-1">
          Subject: {{_emailSubject}}
        </p>
        <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-1">
          From: Manage your land and farm businesses (support@defra.gov.uk)
        </p>
        <p class="govuk-body govuk-!-font-size-14 govuk-!-margin-bottom-4">
          To: You ({{data.user.email}})
        </p>
      </div>
    </div>
  </div>
  {% endif %}

  {% if _includeServiceNavigation == "true" %}
    {{ govukHeader({
      classes: "govuk-header--full-width-border"
    }) }}

    
    {{ govukServiceNavigation({
      serviceName: serviceName,
      serviceUrl: "#",
      navigation: [
        {
          href: "business-home",
          text: "Home",
          active: _homeServiceNavigationActive
        },
        {
          href: "business-payments",
          text: "Payments",
          active: _paymentsServiceNavigationActive
        }
      ]
    }) }}
  {% else %}
    {{super()}}
  {% endif %}

{% endblock %}


<!-- FOOTER -->
{% block footer %}

  {% set _customFooterContent %}

    {% if _showFooterLinks %}
    <ul class="govuk-footer__inline-list govuk-!-margin-bottom-8">
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-contact">Contact us</a>
      </li>

      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-privacy">Privacy</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-cookies">Cookies</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-accessibility">Accessibility statement</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-terms">Terms and conditions</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="misc-information">Personal information charter</a>
      </li>
    </ul>
    {% endif %}

    {% if _viewToggleLinks %}
      {{_viewToggleLinks|safe}}
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    {% if _showReleaseLinks %}
    <ul class="govuk-footer__inline-list govuk-!-margin-top-4">
      <li class="govuk-footer__inline-list-item">Release:</li>
      <li class="govuk-footer__inline-list-item">
          {% if data.release == "concept" %}
          Concept
          {% else %}
          <a class="govuk-footer__link" href="?release=concept">Concept</a>
          {% endif %}
      </li>
      <li class="govuk-footer__inline-list-item">
        {% if data.release == "b1" %}
        Buffalo 1.0 MVP
        {% else %}
        <a class="govuk-footer__link" href="?release=b1">Buffalo 1.0 MVP</a>
        {% endif %}
      </li>
    </ul>
    {% endif %}

    <ul class="govuk-footer__inline-list govuk-!-margin-top-4">
      {% if _designSpecData.id %}
      <li class="govuk-footer__inline-list-item">
        {{_designSpecData.id}}
      </li>
      {% endif %}
      {% if _showDesignSpec %}
      <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="javascript:toggleDrawer()" id="speclink">Design spec</a>
      </li>
      {% endif %}
      <li class="govuk-footer__inline-list-item">
          <a class="govuk-footer__link" href="/manage-prototype">Manage your prototype</a>
      </li>
      <li class="govuk-footer__inline-list-item">
        <a class="govuk-footer__link" href="/manage-prototype/clear-data?r=t">Clear data</a>
      </li>
    </ul>
    
    <!-- items: [
      {
        href: "/manage-prototype",
        text: "Manage your prototype"
      },
      {
        href: "/manage-prototype/clear-data",
        text: "Clear data"
      }
    ], -->
      
  {% endset %}

  {{ govukFooter({
    meta: {
      items: [
      ],
      html: [
        _customFooterContent
      ],
      visuallyHiddenTitle: "Footer links"
    }
  }) }}
  
{% endblock %}
<!-- FOOTER END -->

{% block scripts %}
  {{ super() }}
  <script src="/public/javascripts/jquery-3.7.1.js"></script>
  {% block pageScriptsAfter %}{% endblock %}
{% endblock %}
