{#
  For guidance on how to use layouts see:
  https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}
  
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}

{% block header %}

{% if _includeServiceNavigation == "true" %}
  {{ govukHeader({
    classes: "govuk-header--full-width-border"
  }) }}
  {{ govukServiceNavigation({
    serviceName: serviceName,
    serviceUrl: "#",
    navigation: [
      {
        href: "#",
        text: "Navigation item 1"
      }
    ]
  }) }}
{% else %}
  {{super()}}
{% endif %}

{% endblock %}
