{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      To-be prototypes
    </h1>


 
    <h2 class="govuk-heading-l">Versions</h2>

    <p class="govuk-body"><a href="v1/index">Version 1</a></p>
        
    <h2 class="govuk-heading-l">Components</h2>

    <p class="govuk-body"><a href="components/sub-header">Subheader</a></p>

    <h2 class="govuk-heading-l">Exploration</h2>

    <p class="govuk-body"><a href="landing-2">Landing page concept - secondary actions less prominent</a></p>

    <p class="govuk-body"><a href="messages-contextual">Messages per section</a></p>

    <p class="govuk-body"><a href="message-filters">Message history filters - by scheme and by year</a></p>

    <p class="govuk-body"><a href="landing-rps">Landing page concept - with RPS scheme hubs (Countryside Stewardship and Land)</a></p>




  </div>
</div>

{% endblock %}
