{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      To-be prototypes
    </h1>


 
    <h2 class="govuk-heading-l">Versions</h2>

    <p class="govuk-body"><a href="v1/index">Version 1</a></p>

    <p class="govuk-body"><a href="v2/index">Version 2</a></p>

        
    <h2 class="govuk-heading-l">Components</h2>

    <p class="govuk-body"><a href="components/sub-header">Subheader</a></p>

    <h2 class="govuk-heading-l">Exploration</h2>

    <h3 class="govuk-heading-m">Landing page</h3>

    <p class="govuk-body"><a href="landing-2">Panel links with secondary actions less prominent</a></p>

    <p class="govuk-body"><a href="landing-3">Cards with secondary actions less prominent</a></p>

    <p class="govuk-body"><a href="landing-find">Cards including signposting to Find tool</a></p>

    <p class="govuk-body"><a href="landing-rps">Cards with RPS scheme hubs (Countryside Stewardship and Land)</a></p>

    <p class="govuk-body"><a href="landing-4">Cards with status pulled through (exploring if there's any useful info we could pull from the schemes to display to the user)</a></p>



    <h3 class="govuk-heading-m">Messages</h3>

    <p class="govuk-body"><a href="messages-contextual">Messages per section</a></p>

    <p class="govuk-body"><a href="message-filters">Message history filters - by scheme and by year</a></p>

    <p class="govuk-body"><a href="message-no-filters">Message history with no filters</a></p>

  </div>
</div>

{% endblock %}
