{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{%- block beforeContent -%}
<a href="/index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <h1 class="govuk-heading-xl">
      To-be prototypes
    </h1>


 
    <h2 class="govuk-heading-l">Versions</h2>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="v1/index">Version 1 - future state (round 2)</a></p>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="v2/index">Version 2 - future state (round 4)</a></p>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="v3/index">Version 3 - future state (round 5)</a></p>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="v4/index">Version 4 - MVP - iteration 0 - Alpaca (round 7)</a></p>

    <!-- <p class="govuk-body"><a class="govuk-link--no-visited-state" href="v5/index">Version 5 - iteration 1 - Buffalo (round 8)</a></p> -->


    <!-- <h2 class="govuk-heading-l">MVP</h2>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="mvp-v1/index">MVP version 1</a></p> -->



    <h2 class="govuk-heading-l">Components</h2>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="components/sub-header">Subheader</a></p>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="components/interruption-card">Interruption card</a></p>

    <p class="govuk-body"><a class="govuk-link--no-visited-state" href="components/navigation-bar">Navigation bar</a></p>


    <h2 class="govuk-heading-l">Exploration</h2>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Landing page
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/mvp/landing">MVP version of landing page (only Animal health and welfare scheme integrated)</a></p>

          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/landing-2">Panel links with secondary actions less prominent</a></p>

          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/landing-3">Cards with secondary actions less prominent</a></p>
      
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/landing-find">Cards including signposting to Find tool</a></p>
      
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/landing-rps">Cards with RPS scheme hubs (Countryside Stewardship and Land)</a></p>
      
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/landing-4">Cards with status pulled through (exploring if there's any useful info we could pull from the schemes to display to the user)</a></p>
      
              </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Your account concept and update details
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/your-account">Your account concept</a></p>

          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/details/personal-details">View and update your personal details</a></p>

          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/details/business-details">View and update your business details</a></p>


              </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Single front door as a webpage concept
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/webpage/webpage-concept">GOV.UK Manage your land and farm businesses page</a></p>

              </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Messages
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/messages-contextual">Messages per section</a></p>

          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/message-filters">Message history filters - by scheme and by year</a></p>
      
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/message-no-filters">Message history with no filters</a></p>

        </div>
      </div>

      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Handling double log-in issue
            </span>
          </h2>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/upfront-task-select">User chooses a task and is then routed to the correct service</a></p>

          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/interruption-card">Interrupt user when they navigate to RPS</a></p>

          <p class="govuk-body"><a class="govuk-link--no-visited-state" href="exploration/banner-landing">Use a banner to tell users RPS is a separate service</a></p>


        </div>
      </div>

    </div>

  </div>
</div>

{% endblock %}
